<div class="full_box border_dashed">
    <!-- Tab view start -->
    <div class="form-group">
        <label class="control-label">
            &nbsp;
            <a class="info-container" title="{{element.helpText}}">
                <span class="info-icon material-icons">info_outline</span>
            </a>
            <div class="actions fl-right">
                <a href="javascript:void(0)" (click)="copy()">
                    <span class="menu-style-icon material-icons edit">content_copy</span>
                </a>
                <span class="saprator"></span>
                <a href="javascript:void(0)" (click)="delete()">
                    <span class="menu-style-icon material-icons">delete</span>
                </a>
            </div>
        </label>
        <!-- Tab Section -->
        <div class="tab-section-tabbed-panel">
            <div class="tab-bar tab-bar-com">
                <ul class="list-reset text-center">
                    <li class="firs" [class.active]="ind==element.activePanelIndex" *ngFor="let panel of element?.panels; let ind = index">
                        <a href="javascript:void(0)" (click)="selectPanel(ind);">{{panel.label}}</a>
                    </li>
                </ul>
                <button class="btn btn-primary btn-material fl-right" (click)="addTab()">
                    <span class="material-icons">add</span>
                </button>
            </div>
            <!-- Tab 1 -->
            <div id="tab1" class="tab-details tab-details-com" style="display: block;">
                <div class="panel-body">
                    <div class="panel_content" *ngIf="element.panels">
                        <div dnd-sortable-container [sortableData]="element.panels[element.activePanelIndex]?.componentList">
                            <div [class.selected]="component==selectedComponent" mwlResizable (onDropSuccess)="sortSuccess($event)" [enableGhostResize]="true"
                                [resizeEdges]="{bottom: true, right: true, top: true, left: true}" (resizeEnd)="onResizeEnd($event)"
                                class="input_box" [ngClass]="component.cssClass" dnd-sortable [sortableIndex]="$index" *ngFor="let component of element.panels[element.activePanelIndex]?.componentList;let $index=index">
                                <div [ngSwitch]="component.controlType">
                                    <alt-select [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'DROPDOWN'"></alt-select>
                                    <alt-multi-select [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'MULTI_SELECT'"></alt-multi-select>
                                    <alt-textarea [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'TEXTAREA'"></alt-textarea>
                                    <alt-textbox [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'TEXTFIELD'"></alt-textbox>
                                    <alt-date [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'DATE'"></alt-date>
                                    <alt-blank [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'BLANK'"></alt-blank>
                                    <alt-image [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'IMAGE'"></alt-image>
                                    <alt-label [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'LABEL'"></alt-label>
                                    <alt-panel (selectedComponentEvent)="selectComponent($event)" [selectedComponent]="selectedComponent" [order]="$index" [element]="component"
                                        (click)="$event.stopPropagation();selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'PANEL'"></alt-panel>
                                    <alt-tabbed-panel (selectedComponentEvent)="selectComponent($event)" [selectedComponent]="selectedComponent" [order]="$index"
                                        [element]="component" (click)="$event.stopPropagation();selectComponent(component);"
                                        (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'TAB_PANEL'"></alt-tabbed-panel>
                                    <alt-button [order]="$index" [element]="component" (click)="$event.stopPropagation();selectComponent($event,component)" (copyItem)="copyThisItem($event,order)"
                                        (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'BUTTON'"></alt-button>
                                </div>
                            </div>
                        </div>
                        <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" [dropZones]="['zone']" class="input_box">
                            <div class="form-group drop-here">
                                DROP HERE
                            </div>
                        </div>
                        <div class="group_btn btn-row-2 panel_btn">
                            <button type="button" *ngFor="let button of element.buttonList" class="btn" [class.btn-primary]="button.name=='Save'" [class.btn-white]="button.name=='Cancel'">{{button.label}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- \\ End 1  -->
        </div>
        <!-- \\ End Tab Section -->
        <div class="group_btn btn-row-2 mgn-t15">
            <button type="button" class="btn btn-white">Cancel</button>
            <button type="reset" class="btn btn-primary">Save</button>
        </div>
    </div>
    <!-- // Tab view end -->
</div>