<div class="alt-module-true popup-in-center" id="add_rule_popup" *ngIf="showPopup">
    <div class="cell">
    <div class="alt-modal attach-form-dialog rule_dailog">
        <div class="alt-modal-title">{{formName}} <span class="material-icons alt-modal-close"
                (click)="clearPopUp()">close</span></div>
        <div class="alt-modal-body">
            <div class="form_content clearfix">
                <!-- layout 3 with right panel start -->
                <div class="layout_4_col">
                    <div class="left_panel without_right_panel">

                        <!-- Section Border Panel start -->
                        <div class="border-panel111" *ngIf="form && !errorPage">
                            <form [formGroup]="form">
                                <ng-container *ngFor="let component of htmlComponents">
                                    <div class="input_box111" [ngClass]="component.cssClass"
                                        *ngIf="component.security?.viewable">
                                        <dynamic-component-loader (photoUploadEvent)="uploadInstanceLogoForm($event)"
                                            (submitFormsEvent)="submitForms($event)" [component]="component"
                                            [form]="form" [htmlComponents]="htmlComponents"></dynamic-component-loader>
                                    </div>
                                </ng-container>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>