.alt-module-true {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1005;
    /*display:none;*/
}
.alt-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1009;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.attach-form-dialog {
    width: 800px;
    min-height: 380px;
    margin-left: -400px;
    margin-top: -270px;

}

.alt-modal .alt-modal-title {
    background: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    display: block;
    text-align:left;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
}
.alt-modal-body {
    padding: 20px;
    max-height: 510px;
    overflow-x: hidden;
    overflow-y: auto;
}
.alt-modal-close {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 13px;
    width:20px;
    height:20px;
    cursor: pointer;
}

.attach-form-dialog  .toggle-element{
    background: #fff;
}

.rule_dailog{
    
}