<li class="checkbox-group-field form-field" [ngClass]="{'editing':editing}" type="checkbox-group" id="frmb-0-fld-3">
    <div class="field-actions">
        <a id="frmb-0-fld-3-edit" class="toggle-form btn icon-pencil" title="Edit" (click)="editing=!editing"></a>
        <a id="frmb-0-fld-3-copy" class="copy-button btn icon-copy" (click)="copy()" title="Copy">+</a>
        <a id="del_frmb-0-fld-3" class="del-button btn delete-confirm" (click)="delete()" title="Remove Element">×</a>
    </div>
    <label class="field-label">{{element.label}}</label>
    <div class="prev-holder" [hidden]="editing">
        <div class="fb-checkbox form-group field-checkbox-group-1498467180595-preview">
            <div class="checkbox-group">
                <div *ngFor="let child of element.options">
                    <input type="radio" (click)="updateRadioValues(child)" [value]="child.value" [name]="element.name">
                    <label for="checkbox-group-1498467180595-preview-0">{{child.label}}</label>
                </div>
            </div>
        </div>
    </div>
    <div id="frmb-0-fld-3-holder" [hidden]="!editing" class="frm-holder">
        <div class="form-elements">
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Id</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.id" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047" type="text">
                </div>
            </div>
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Name</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.name" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047" type="text">
                </div>
            </div>
            <div class="form-group label-wrap">
                <label for="label-frmb-0-fld-1">Label</label>
                <div class="input-wrap">
                    <input name="label" [(ngModel)]="element.label" placeholder="Label" class="fld-label form-control" id="label-frmb-0-fld-1" value="Radio Group" type="text">
                </div>
            </div>
            <div class="form-group field-options">
                <label class="false-label">Options</label>
                <div class="sortable-options-wrap">
                    <ol class="sortable-options ui-sortable">
                        <li class="ui-sortable-handle" *ngFor="let child of element.options; let ind = index">
                            <input type="text" placeholder="Id" [(ngModel)]="child.id">
                            <input type="text" placeholder="Name" [(ngModel)]="child.name">
                            <input type="text" placeholder="Label" [(ngModel)]="child.label">
                            <input type="text" placeholder="Value" [(ngModel)]="child.value">
                            <a class="remove btn" (click)="remove(ind)" title="Remove Element">×</a>
                        </li>
                    </ol>
                    <div class="option-actions"><a class="add add-opt" (click)="addOption()">Add Option +</a>
                    </div>
                </div>
            </div><a class="close-field">Close</a>
        </div>
    </div>
</li>