<div class="panel panel-open">
    <div class="panel-heading clearfix">
        <h2 class="panel-title fl-left">{{element.label}}</h2>
        <a class="info-container" title="{{element.helpText}}">
            <span class="info-icon material-icons">info_outline</span>
        </a>
        <div class="actions fl-right">
            <a href="javascript:void(0)" *ngIf="editMode" (click)="copy()">
                <span class="menu-style-icon material-icons edit">content_copy</span>
            </a>
            <span class="saprator"></span>
            <a href="javascript:void(0)" *ngIf="editMode" (click)="delete()">
                <span class="menu-style-icon material-icons">delete</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel_content">
            <div dnd-sortable-container [sortableData]="element?.componentList">
                <div [class.selected]="component==selectedComponent" mwlResizable (onDropSuccess)="sortSuccess($event)"
                    [enableGhostResize]="true" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                    (resizeEnd)="onResizeEnd($event)" class="input_box" [ngClass]="component.cssClass" dnd-sortable
                    [sortableIndex]="$index" *ngFor="let component of element?.componentList;let $index=index">
                    <div [ngSwitch]="component.controlType">
                        <alt-select [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'DROPDOWN'"></alt-select>
                        <alt-multi-select [order]="$index" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'MULTI_SELECT'"></alt-multi-select>
                        <alt-textarea [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'TEXTAREA'"></alt-textarea>
                        <alt-textbox [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'TEXTFIELD'"></alt-textbox>
                        <alt-date [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'DATE'"></alt-date>
                        <alt-blank [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'BLANK'"></alt-blank>
                        <alt-image [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'IMAGE'"></alt-image>
                        <alt-label [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'LABEL'"></alt-label>
                        <alt-panel (selectedComponentEvent)="selectComponent($event)" [editMode]="editMode"
                            [selectedComponent]="selectedComponent" [order]="$index" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'PANEL'"></alt-panel>
                        <alt-tabbed-panel (selectedComponentEvent)="selectComponent($event)"
                            [selectedComponent]="selectedComponent" [order]="$index" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'TAB_PANEL'"></alt-tabbed-panel>
                        <alt-button [order]="$index" [editMode]="editMode" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component);"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'BUTTON'" (settingsOpened)="openSettings($event)"></alt-button>
                        <alt-datatable [editMode]="editMode" [order]="$index" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component)"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            *ngSwitchCase="'DATATABLE'"></alt-datatable>
                        <alt-excel *ngSwitchCase="'EXCEL'" [editMode]="editMode" [order]="$index" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component)"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)">
                        </alt-excel>
                        <alt-attachments *ngSwitchCase="'ATTACHMENTS'" [editMode]="editMode" [order]="$index"
                            [element]="component" (click)="$event.stopPropagation();selectComponent(component)"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            (settingsOpened)="openSettings($event)">
                        </alt-attachments>
                        <alt-checkbox *ngSwitchCase="'CHECKBOX'" [editMode]="editMode" [order]="$index"
                            [element]="component" (click)="$event.stopPropagation();selectComponent(component)"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)">
                        </alt-checkbox>
                        <alt-link *ngSwitchCase="'LINK'" [editMode]="editMode" [order]="$index" [element]="component"
                            (click)="$event.stopPropagation();selectComponent(component)"
                            (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                            (settingsOpened)="openSettings($event)">
                        </alt-link>
                    </div>
                </div>
            </div>
            <div *ngIf="editMode" dnd-droppable (onDropSuccess)="transferDataSuccess($event)" [dropZones]="['zone']"
                class="input_box">
                <div class="form-group drop-here">
                    DROP HERE
                </div>
            </div>
            <!--<div class="group_btn btn-row-2 panel_btn">
                <button type="button" *ngFor="let button of element.buttonList" class="btn" [class.btn-primary]="button.name=='Save'" [class.btn-white]="button.name=='Cancel'">{{button.label}}</button>
            </div>-->
        </div>
    </div>
    <span class="instruction">{{element.instruction}}</span>
</div>