<div class="login-bg">
<!-- <img src="../../assets/images/bg-login.jpg" /> -->
</div>
<div class="login-page">
	<div class="section-login">
    	<div  class="section-logo section-client">
    		<div class="logo-worklife"><img src="../../assets/images/alt.png"  /></div>
            <div class="logo-client"><img src="../../assets/images/peoplestrong.png"  /></div>
        </div>
        <div class="login-form">
        	<div class="form-flied">
				<div class="lable-text">Username</div>
                <div class="input-item"><input type="text" [(ngModel)]="loginModal.userName" class="item"  /></div>            
            </div>
            <div class="form-flied">
				<div class="lable-text">Password <a href="javascript:void(0)" class="forgot">Forgot Password?</a></div>
                <div class="input-item"><input type="password" [(ngModel)]="loginModal.password" class="item"  /></div>            
            </div>
            <div class = "alert alert-danger" *ngIf="loginFailed">
                <!--<span class="label-failure">Login Failed</span>-->
                Login Failure
            </div>
            <div class="form-button text_center">
                <span class="signInBtnInt" (click)="submit()">
                    <a class="button button_block">Login</a>
                </span>
            </div>
        </div>
    </div>
    
</div>
<div class="section-footer">
    	<div class="footer-logo"><img src="../../assets/images/alt_logo.png"  /></div>
        <div class="copy-right">Powered by peopleStrong &copy; 2018 PeopleStrong HR Services Pvt Ltd.</div>
</div>