<div class="content with-fixed-sidebar" [class.without-fixed-sidebar]="true">

  <div class="response_message_top">
    <span class="label label-success">{{message}}</span>
  </div>

  <!--- create new form part start -->
  <div class="form_content clearfix new_form_create">
    <div class="layout_4_col">
      <div class="left_panel without_right_panel">
        <div class="border-panel">

          <div class="input_box layout_1_col">
            <div class="form-group">
              <label class="control-label"> Name</label>
              <input class="form-control ng-valid ng-dirty ng-touched" type="text" (keyup)="enterFormName($event)">
            </div>
          </div>

          <div class="input_box layout_1_col">
            <div class="form-group">
              <label class="control-label"> Type</label>
              <div class="radio">
                <span class="radio_label_inline">
                  <input id="NewFormID" name="FormType" value="1" type="radio" [checked]="true"
                    (change)="changeType($event)">
                  <label for="NewFormID">New Form</label>
                </span>
              </div>
              <div class="radio">
                <span class="radio_label_inline">
                  <input id="ExtensionFormID" name="FormType" value="2" type="radio" [checked]="false"
                    (change)="changeType($event)">
                  <label for="ExtensionFormID">Extension form</label>
                </span>
              </div>
            </div>
          </div>

          <div class="input_box layout_1_col" *ngIf="formType==2">
            <div class="form-group">
              <label class="control-label">Parent Form</label>
              <select class="form-control" (change)="selectParentForm($event)">
                <option value="0">Please select parent form</option>
                <option *ngFor="let form of forms" [value]="form.uiClassCode">
                  {{form.formName}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btns_bottom_left">
      <button class="btn btn-white" (click)="goBack()">Cancel</button>
      <button class="btn btn-primary" [disabled]="checkSubmit()" (click)="submit()">Next</button>
    </div>
  </div>
  <!--- create new form part end -->

</div>