
.star-rating {
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 79px;
}
.star-rating::before {
  font-family: FontAwesome;
  content: "\f005\f005\f005\f005\f005";
  letter-spacing: 3px;
  color: #ccc;
}
.star-rating span {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  padding-top: 20px;
}
.star-rating span::before {
  font-family: FontAwesome;
  content: "\f005\f005\f005\f005\f005";
  letter-spacing: 3px;
  color: #a8407f;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rating {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: text-bottom;
}
.star-rating {
  font-size: 14px;
}
