<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
<div class="star-rating" title="Rated {{inputWidth}} out of 5">
  <span [style.width]=width>

  </span>
</div>