<div class="content">
  
  <div class="main-title-row">
    <h1 class="main-title">Forms</h1>
  </div>
  <div class="home_builder_tab_container" *ngIf="appId">
      <ul class="home_builder_tab_menu">
          <li>
              <a href="javascript:void(0);" (click)="routeToModules()">Module</a>
          </li>
          <li>
              <a href="javascript:void(0);" (click)="routeToHomeBuilder()">Home Builder</a>
          </li>
          <li>
              <a class="active" href="javascript:void(0);" >Forms</a>
          </li>
      </ul>
  
  <div class="response_message_top">
    <span class="label label-success">{{message}}</span>
  </div>
  <div class="table_with_all clearfix">
    <div class="row">
      <div class="card-block card-3 search-block-section">
        <div class="card-block-inner card-bg-none">
          <div class="input-group search-block">
            <input type="text" (keyup)="filterForms($event)" class="form-control" id="searchMobileOne"
              placeholder="Search…" />
            <span class="input-group-btn">
              <button class="btn material-icons dp20" type="submit">search</button>
            </span>
          </div>
        </div>
      </div>
      <div class="card-block card-3 card-bulk-actions alt_one_form fr">
        <div class="card-block-inner card-bg-none clearfix">
          <div class="dropdown dropdown-outer-2 col-2 pull-right">

            <div class="content_popup fl-right">

              <button class="btn btn-primary fl-right add-click" routerLink="/form/new/{{appId}}">CREATE FORM</button>
              <!--<button class="btn btn-primary fl-right add-click" (click)="openCreateWindow()">CREATE FORM</button>-->
              <div class="add-style popup-small" *ngIf="createMode || editMode">
                <div class="popup-top clearfix">
                  <span class="material-icons close" (click)="cancel()">close</span>
                  <h2 class="title" *ngIf="createMode">CREATE FORM</h2>
                  <h2 class="title" *ngIf="editMode">EDIT FORM</h2>
                </div>
                <div class="popup-small-inner clearfix">
                  <div class="listing-popup-block vertical-scrollbox item_list"
                    style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;" tabindex="0">
                    <div class="content_description">
                      <div class="form-group row2 mgn-btm-0">

                        <div class="row">
                          <div class="col-md-6 input-field">
                            <label class="control-label clearfix">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="form.formName">
                          </div>
                          <div class="col-md-6 input-field">
                            <label class="control-label clearfix">Type</label>
                            <select [(ngModel)]="selectedType" class="form-control"
                              (ngModelChange)="typeChanged($event)">
                              <option [ngValue]=null>Select</option>
                              <option *ngFor="let formType of formTypes" [ngValue]="formType">{{formType.type}}</option>
                            </select>
                          </div>
                        </div>
                        <div *ngIf="selectedType?.type=='Org Custom Form' || selectedType?.type=='Org Custom Field'"
                          class="row">
                          <!--<div *ngIf="false" class="col-md-6 input-field">
                            <label class="control-label clearfix">Organisation</label>
                            <select [(ngModel)]="selectedOrganisation" class="form-control" (ngModelChange)="organisationChanged($event)">
                              <option [ngValue]=null>Select</option>
                              <option *ngFor="let organisation of organisations" [ngValue]="organisation">{{organisation.orgName}}</option>
                            </select>
                          </div> -->
                          <div *ngIf="selectedType?.type=='Org Custom Field'" class="col-md-6 input-field">
                            <label class="control-label clearfix">Form</label>
                            <select [(ngModel)]="selectedExternalForm" class="form-control"
                              (ngModelChange)="externelFormChanged($event)">
                              <option [ngValue]=null>Select</option>
                              <option *ngFor="let externalForm of externalForms" [ngValue]="externalForm.formId">
                                {{externalForm.formName}}</option>
                            </select>
                          </div>
                        </div>
                        <div *ngIf="selectedType?.type=='Org Custom Field'" class="checkbox label-light">
                          <input class="form-control" type="checkbox" [(ngModel)]="selectedCheckBox"
                            (change)="checkBoxChanged()">
                          <label for="mandatory" class="control-label gray-color">Do you want to enter new Field
                            Group</label>
                        </div>

                        <div *ngIf="selectedType?.type=='Org Custom Field'" class="row">
                          <div class="col-md-6 input-field">
                            <label class="control-label clearfix">Field Group</label>
                            <select *ngIf="!selectedCheckBox" [(ngModel)]="selectedFieldGroup" class="form-control">
                              <option [ngValue]=null>Select</option>
                              <option *ngFor="let formFieldGroup of formFieldGroups" [ngValue]="formFieldGroup">
                                {{formFieldGroup.fieldGroupName}}</option>
                            </select>
                            <input *ngIf="selectedCheckBox" type="text" class="form-control"
                              [(ngModel)]="selectedFieldGroup">
                          </div>
                        </div>
                        <div></div>
                        <div class="btn-row fl-right">
                          <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                          <button class="btn btn-primary width90" [disabled]="!form.formName.trim()"
                            (click)="submit()">OK</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- delete popup -->
              <div class="add-style popup-small" *ngIf="deleteMode">
                <div class="popup-top clearfix">
                  <span class="material-icons close" (click)="cancel()">close</span>
                  <h2 class="title">DELETE FORM</h2>
                </div>
                <div class="popup-small-inner clearfix">
                  <div class="listing-popup-block vertical-scrollbox item_list"
                    style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;" tabindex="0">
                    <div class="content_description">
                      <form>
                        <div class="form-group row2 mgn-btm-0">

                          <div class="row">
                            <div class="col-md-12 input-field">
                              <label class="control-label clearfix">Do you want to delete item with id {{form.id}}
                                ?</label>
                            </div>
                          </div>
                          <div class="btn-row fl-right">
                            <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                            <button class="btn btn-primary width90" (click)="submit()">OK</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- \\ End delete popup -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="document_table">
      <div class="table-download table-outer">
        <div class="table-responsive">
          <table class="table document-table mgn-b0 table_filter">
            <thead>
              <tr>
                <th class="table-cell-3 filter_th">
                  Form Name
                  <span (click)="sorting('formName')" class="clickFilter filter_icon"></span>
                </th>
                <th class="table-cell-3 filter_th">
                  Created By
                  <span (click)="sorting('createdBy')" class="clickFilter filter_icon"></span>
                </th>
                <th class="table-cell-3 filter_th">
                  Status
                  <span (click)="sorting('formState')" class="clickFilter filter_icon"></span>
                </th>
                <!--<th class="table-cell-6 filter_th">
                  Date
                  <span class="clickFilter filter_icon"></span>
                </th> -->
                <!--<th class="table-cell-6 filter_th">
                  Action
                </th>-->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let form of forms; let i = index">
                <td style="cursor: pointer" (click)="editForm(form.uiClassCode)" class="table-cell-3 font-bold">
                  {{form.formName}}
                </td>
                <td class="table-cell-3">
                  {{form.createdBy}}
                </td>
                <td class="table-cell-3">
                  {{form.formState}}
                </td>
                <!--<td class="table-cell-6">
                  25-01-19
                </td> -->
                <!--<td class="table-cell-6">
                  <a href='javascript:void(0);' class="icons-only" (click)="openEditFormWindow(form)">
                    <span class="menu-style-icon material-icons edit-icon13">edit</span>
                  </a>
                  <a href='javascript:void(0);' class="icons-only" (click)="openDeleteFormWindow(form)">
                    <span class="menu-style-icon material-icons">delete</span>
                  </a>
                </td>-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="right-sidebar">
  <div class="right-sidebar-inner">
    <div class="sidebar_top_space"></div>
    <div class="section-accordion mgn_t40">
      <div class="title-block accordion-title black-gray">
        <span class="material-icons icon dp22">restore</span>
        <h2 class="title">Related Information</h2>
        <span class="mdi mdi-chevron-down md24 fl-right"></span>
      </div>
      <div class="content-block accordion-content clearfix black-gray">
        <ul class="list-reset accordion-listing">
          <li class="accordion-item">
            <br>
            <br>
          </li>
          <li class="accordion-item">
            <br>
            <br>
          </li>
          <li class="accordion-item">
            <br>
            <br>
          </li>
          <li class="accordion-item">
            <br>
            <br>
          </li>
          <li class="accordion-item">
            <br>
            <br>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>-->