<div class="form-group">
    <label class="control-label">
        {{element.label}}
        <span *ngIf="element.required">*</span>
        <a class="info-container" title="{{element.helpText}}">
            <span class="info-icon material-icons">info_outline</span>
        </a>
        <div class="actions fl-right">
            <a href="javascript:void(0)" *ngIf="editMode" (click)="copy()">
                <span class="menu-style-icon material-icons edit">content_copy</span>
            </a>
            <span class="saprator"></span>
            <a href="javascript:void(0)" *ngIf="editMode" (click)="delete()">
                <span class="menu-style-icon material-icons">delete</span>
            </a>
        </div>
    </label>
    <input type="date" class="form-control" placeholder="{{element.placeholder}}" name="text-1498466719900-preview" id="text-1498466719900-preview" [(ngModel)]="element.value">
    <span class="instruction">{{element.instruction}}</span>
</div>