<li class="text-field form-field" [ngClass]="{'editing':editing}" type="text" id="frmb-0-fld-2">
    <div class="field-actions">
        <a id="frmb-0-fld-2-edit" class="toggle-form btn icon-pencil" (click)="editing=!editing" title="Edit"></a>
        <a id="frmb-0-fld-2-copy" class="copy-button btn icon-copy" (click)="copy()" title="Copy">+</a>
        <a id="del_frmb-0-fld-2" class="del-button btn delete-confirm" (click)="delete()" title="Remove Element">×</a>
    </div>
    <label class="field-label">{{element.label}}</label>
    <div class="prev-holder" [hidden]="editing">
        <div class="fb-text form-group field-text-1498466719900-preview">
            <label for="text-1498466719900-preview" class="fb-text-label">{{element.label}}</label>
            <input type="time" class="form-control" placeholder="{{element.placeholder}}" name="text-1498466719900-preview" id="text-1498466719900-preview" [(ngModel)]="element.value">
        </div>
    </div>
    <div id="frmb-0-fld-2-holder" [hidden]="!editing" class="frm-holder">
        <div class="form-elements">
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Id</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.id" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047" type="text">
                </div>
            </div>
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Name</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.name" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047" type="text">
                </div>
            </div>
            <div class="form-group label-wrap">
                <label for="label-frmb-0-fld-1">Label</label>
                <div class="input-wrap">
                    <input name="label" [(ngModel)]="element.label" placeholder="Label" class="fld-label form-control" id="label-frmb-0-fld-1" value="Radio Group" type="text">
                </div>
            </div>
            <a class="close-field">Close</a>
        </div>
    </div>
</li>