<div class="main-container">
    <div class="container-inner">
        <div class="content">
            <div class="main-title-row">
                <h1 class="main-title">Classes</h1>
            </div>

            <div class="alt_one_form" *ngIf="createMode || editMode">
                <ul class="item_list">
                    <li class="item_list_block step_open">
                        <div class="info_title">
                            Class Details
                        </div>
                        <div class="form_outer">
                            <div class="row">
                                <div class="form-group row2 mgn-btm-0">
                                    <div class="col-md-6 input-field">
                                        <label class="control-label clearfix">Name</label>
                                        <input type="text" name="name" class="form-control" [(ngModel)]="classCreateRequest.className" placeholder="Class Name" />
                                    </div>

                                    <div class="col-md-6 input-field">
                                        <label class="control-label">Status</label>
                                        <div class="dropdown-11 list-block">
                                            <select class="form-control" (change)="dropDownChange($event, classCreateRequest, 'status')">
                                                <option [selected]="classCreateRequest.status=='NONE'" value="NONE" selected>none</option>
                                                <option [selected]="classCreateRequest.status=='ACTIVE'" value="ACTIVE">active</option>
                                                <option [selected]="classCreateRequest.status=='INACTIVE'" value="INACTIVE">inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field">
                                        <label class="control-label">Instance Limiter</label>
                                        <div class="dropdown-11 list-block">
                                            <select class="form-control" (change)="dropDownChange($event, classCreateRequest, 'instanceLimiter')">
                                                <option [selected]="classCreateRequest.instanceLimiter=='NONE'" value="NONE">None</option>
                                                <option [selected]="classCreateRequest.instanceLimiter=='ORGANIZATION'" value="ORGANIZATION">Org</option>
                                                <option [selected]="classCreateRequest.instanceLimiter=='System'" value="SYSTEM">System</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-field">
                                        <label class="control-label">Type</label>
                                        <div class="checkbox label-light">
                                            <input class="form-control" type="checkbox" [(ngModel)]="classCreateRequest.systemType">
                                            <label for="mandatory" class="control-label gray-color">System Type</label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="item_list_block step_open">
                        <div class="info_title">
                            Attributes
                            <div class="content_popup fl-right">
                                <a href="javascript:void(0)" (click)="addAttribute()" class="clearAllFields add-click">Add Attribute</a>
                                <!-- Menu style -->
                                <div class="add-style popup-small" *ngIf="createAttributeMode || editAttributeMode" >
                                    <div class="popup-top clearfix">
                                        <span class="material-icons close" (click)="cancelAttribute()">close</span>
                                        <h2 *ngIf="createAttributeMode " class="title">CREATE ATTRIBUTE</h2>
                                        <h2 *ngIf=" editAttributeMode" class="title">EDIT ATTRIBUTE</h2>
                                    </div>
                                    <div class="popup-small-inner clearfix">
                                        <div class="listing-popup-block vertical-scrollbox" tabindex="0">
                                            <div class="content_description">
                                                <div class="form-group row2 mgn-btm-0">

                                                    <div class="row">
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Attribute Name</label>
                                                            <input type="text" class="form-control" name="name" [(ngModel)]="currentAttribute.attributeName" placeholder=""
                                                            />
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Data Type</label>
                                                            <div class="dropdown-11 list-block">
                                                                <select class="form-control" (change)="dropDownChange($event,currentAttribute, 'dataType')">
                                                                    <option [selected]="currentAttribute.dataType=='INTEGER'" value="INTEGER">integer</option>
                                                                    <option [selected]="currentAttribute.dataType=='DOUBLE'" value="DOUBLE">double</option>
                                                                    <option [selected]="currentAttribute.dataType=='FLOAT'" value="FLOAT">float</option>
                                                                    <option [selected]="currentAttribute.dataType=='BOOLEAN'" value="BOOLEAN">boolean</option>
                                                                    <option [selected]="currentAttribute.dataType=='TIMESTAMP'" value="TIMESTAMP">timestamp</option>
                                                                    <option [selected]="currentAttribute.dataType=='LONG'" value="LONG">long</option>
                                                                    <option [selected]="currentAttribute.dataType=='STRING'" value="STRING">string</option>
                                                                    <option [selected]="currentAttribute.dataType=='REFERENCE'" value="REFERENCE">reference</option>
                                                                    <option [selected]="currentAttribute.dataType=='REFERENCELIST'" value="REFERENCELIST">reference</option>
                                                                    <option [selected]="currentAttribute.dataType=='LIST'" value="LIST">list</option>
                                                                    <option [selected]="currentAttribute.dataType=='MAP'" value="MAP">map</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Reference Class Code</label>
                                                            <input type="text" class="form-control" name="referenceCode" [(ngModel)]="currentAttribute.referenceClassCode"
                                                                placeholder="" />
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Status</label>
                                                            <div class="dropdown-11 list-block">
                                                                <select class="form-control" (change)="dropDownChange($event,currentAttribute, 'status')">
                                                                    <option [selected]="currentAttribute.status=='NONE'" value="NONE" selected>none</option>
                                                                    <option [selected]="currentAttribute.status=='ACTIVE'" value="ACTIVE">active</option>
                                                                    <option [selected]="currentAttribute.status=='INACTIVE'" value="INACTIVE">inactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Type</label>
                                                            <div class="checkbox label-light">
                                                                <input type="checkbox" class="form-control" [(ngModel)]="currentAttribute.placeholderType">
                                                                <label for="PlaceholderTye" class="control-label gray-color">Placeholder Type</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Default Value</label>
                                                            <input type="text" class="form-control" name="defaultValue" [(ngModel)]="currentAttribute.defaultValue">
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Validator</label>
                                                            <input type="text" class="form-control" name="validator" [(ngModel)]="currentAttribute.validator">
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Unique</label>
                                                            <div class="checkbox label-light">
                                                                <input type="checkbox" class="form-control" [(ngModel)]="currentAttribute.unique">
                                                                <label for="unique" class="control-label gray-color">Unique</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Mandatory</label>
                                                            <div class="checkbox label-light">
                                                                <input type="checkbox" class="form-control" [(ngModel)]="currentAttribute.mandatory">
                                                                <label for="mandatory" class="control-label gray-color">Mandatory</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Search</label>
                                                            <div class="checkbox label-light">
                                                                <input type="checkbox" class="form-control" [(ngModel)]="currentAttribute.searchable">
                                                                <label for="searchable" class="control-label gray-color">Searchable</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Index</label>
                                                            <div class="checkbox label-light">
                                                                <input type="checkbox" class="form-control" [(ngModel)]="currentAttribute.indexable">
                                                                <label for="indexable" class="control-label gray-color">Indexable</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Unit</label>
                                                            <div class="checkbox label-light">
                                                                <input type="checkbox" class="form-control" [(ngModel)]="currentAttribute.displayUnit">
                                                                <label for="displayUnit" class="control-label gray-color">Display Unit</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Display Sequence</label>
                                                            <input type="text" class="form-control" name="displaySeq" [(ngModel)]="currentAttribute.displaySequence">
                                                        </div>
                                                        <div class="col-md-6 input-field">
                                                            <label class="control-label clearfix">Reference Class Meta</label>
                                                            <input type="text" class="form-control" name="refClassMeta" [(ngModel)]="currentAttribute.refClassMeta">
                                                        </div>
                                                    </div>
                                                    <div class="btn-row fl-right">
                                                        <button class="btn btn-white width90" (click)="cancelAttribute()">cancel</button>
                                                        <button *ngIf="createAttributeMode" class="btn btn-primary width90" (click)="createAttribute()">Create</button>
                                                        <button *ngIf="editAttributeMode" class="btn btn-primary width90" (click)="updateAttribute()">Update</button>                                                    
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- \\ End Menu style -->
                            </div>
                        </div>
                        <div class="form_outer">
                            <div class="row">

                                <div class="col-md-12">
                                    <!-- Table data section start -->
                                    <div class="document_table">
                                        <div class="table-download table-outer">
                                            <div class="table-responsive">
                                                <table class="table document-table mgn-b0 ">
                                                    <thead class="thead_border">
                                                        <tr>
                                                            <th class="table-cell-3">Attribute Name </th>
                                                            <th class="table-cell-3">Attribute Status</th>
                                                            <th class="table-cell-3">Data Type</th>
                                                            <th class="table-cell-6  option-cell">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbody_border">
                                                        <tr *ngFor="let attribute of classCreateRequest.attributes;let i = index;">
                                                            <td class="table-cell-3 font-bold">{{attribute.attributeName}}</td>
                                                            <td class="table-cell-3">{{attribute.status}}</td>
                                                            <td class="table-cell-3">{{attribute.dataType}}</td>
                                                            <td class="table-cell-6 option-cell" >
                                                                <a href="javascript:void(0)">
                                                                    <span class="menu-style-icon material-icons edit-icon13" (click)="editAttribute(attribute,i)" >edit</span>
                                                                </a>
                                                            </td>
                                                
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ Table data section end -->
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row-btn clearfix pull-right">
                            <button type="button" class="btn btn-white width90" (click)="cancel()">Cancel</button>
                            <button *ngIf="createMode" href="class.html" class="btn btn-primary width90" [disabled]="!classCreateRequest.className || classCreateRequest.attributes.length==0" (click)="SubmitCLass()">Create</button>
                            <button *ngIf="editMode" href="class.html" class="btn btn-primary width90" [disabled]="!classCreateRequest.className || classCreateRequest.attributes.length==0" (click)="updateClass()">Update</button>                       
                        </div>
                    </li>
                </ul>
            </div>


            <div class="table_with_all clearfix" *ngIf="!editMode && !createMode">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <div class="input-group search-block">
                                <input type="text" class="form-control" id="searchMobileOne" placeholder="Search…" />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block card-3 card-bulk-actions alt_one_form">
                        <div class="card-block-inner card-bg-none clearfix">
                            <div class="dropdown dropdown-outer-2 col-2 pull-right">

                                <div class="content_popup fl-right">

                                    <button class="btn btn-primary fl-right add-click" (click)="createClassMasterData()">CREATE CLASS</button>

                                    <div class="add-style popup-small" *ngIf="deleteMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 class="title">DELETE CLASS</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="vertical-scrollbox item_list" style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                    <form>
                                                        <div class="form-group row2 mgn-btm-0">

                                                            <div class="row">
                                                                <div class="col-md-12 input-field">
                                                                    <label class="control-label clearfix">Do you want to delete item with id {{classInstance.classCode}}
                                                                        ?
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="btn-row fl-right">
                                                                <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                                                                <button class="btn btn-primary width90" (click)="submit()">OK</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <alt-data-table (deleteEvent)="deleteItem($event)" (editEvent)="editItem($event)" (childListEvent)="childListRouter($event)"
                    [offset]=0 [limit]=10 order="ASC" type="CLASS" docId="{{docId}}"></alt-data-table> -->

                <!-- table start -->
                <div class="document_table">
                    <div class="table-download table-outer">
                        <div class="table-responsive">
                            <table class="table document-table mgn-b0 table_filter">
                                <thead>
                                    <tr>
                                        <th class="table-cell-3 filter_th">
                                            ID <span class="clickFilter filter_icon"></span>
                                        </th>
                                    
                                        <th  class="table-cell-3 filter_th">
                                            Name  <span class="clickFilter filter_icon"></span>
                                        </th>
                                        <!-- <th  class="table-cell-3 filter_th">
                                            Package Codes <span class="clickFilter filter_icon"></span>
                                        </th> -->
                                        <th class="table-cell-6 filter_th">
                                            Created On <span class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-6 filter_th">
                                            Created By <span class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-6 filter_th">
                                            Status <span class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-6 filter_th">
                                            Action
                                            <span class="filter_btn"></span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let classData of classMasterdata">
                                        <td class="table-cell-3">
                                            {{classData.classId}}
                                        </td>
                                        <td class="table-cell-3 font-bold" (click)="childListRouter(classData.className)" >
                                            {{classData.className}}
                                        </td>
                                        <!-- <td class="table-cell-3 font-bold">
                                            <a href="class.html">{{classData.packageCodes }}</a>
                                        </td> -->
                                        <td class="table-cell-3">
                                            {{classData.createdDate | dateFilter}}
                                        </td>
                                        <td class="table-cell-3">
                                            {{classData.createdBy}}
                                        </td>
                                        <td class="table-cell-6">
                                            {{classData.status}}
                                        </td>
                                        <td class="table-cell-6 option-cell">
                                            <a href='javascript:void(0);' class="icons-only">
                                                <span class="menu-style-icon material-icons edit-icon13 " (click)="editClass(classData.classId)">edit</span>
                                            </a>
                                            <!-- <a href='javascript:void(0);' class="icons-only" (click)="deleteItem(item)">
                                                <span class="menu-style-icon material-icons">delete</span>
                                            </a> -->
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- table end -->

            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-sidebar-inner">
                <!-- Section Calendar -->
                <div class="sidebar_top_space"></div>
                <!-- \\ End Section Calendar -->
                <!--  Section Sccordion  -->
                <div class="section-accordion mgn_t40">
                    <!--  Interviews Accordion -->
                    <div class="title-block accordion-title black-gray">
                        <span class="material-icons icon dp22">restore</span>
                        <h2 class="title">Related Information</h2>
                        <span class="mdi mdi-chevron-down md24 fl-right"></span>
                    </div>
                    <div class="content-block accordion-content clearfix black-gray">
                        <ul class="list-reset accordion-listing">
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                        </ul>
                    </div>
                    <!-- \\ End Interviews Accordion -->
                </div>
                <!-- \\ End Section Accordion  -->

            </div>
        </div>
    </div>
</div>