<div class="main-container">
    <div class="container-inner">
        <div class="content">
            <div class="main-title-row">
                <h1 class="main-title">Instances</h1>
            </div>

            <div class="table_with_all clearfix">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <div class="input-group search-block">
                                <input type="text" class="form-control" id="searchMobileOne" placeholder="Search…" />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block card-3 card-bulk-actions alt_one_form">
                        <div class="card-block-inner card-bg-none clearfix">
                            <div class="dropdown dropdown-outer-2 col-2 pull-right">

                                <div class="content_popup fl-right" >

                                    <button class="btn btn-primary fl-right add-click" (click)="createInstance()">CREATE INSTANCE</button>
                                    <div class="add-style popup-small" *ngIf="createMode || editMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 *ngIf="createMode" class="title">CREATE INSTANCE</h2>
                                            <h2 class="title" *ngIf="editMode">EDIT INSTANCE</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="listing-popup-block vertical-scrollbox item_list" style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                   
                                                        <div class="form-group row2 mgn-btm-0 vertical-scrollbox">
                                                                <div class="row">
                                                                        <div *ngIf="createMode" class="col-md-6 input-field">
                                                                            <label class="control-label clearfix">Select Class</label>
                                                                            <select [(ngModel)]="selectedType" class="form-control" (ngModelChange)="typeChanged($event)">
                                                                                    <option [ngValue]=null>Select</option>
                                                                                    <option *ngFor="let class of classesList;let i=index" [ngValue]="class">{{class.className}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                <div  class="row">
                                                                    <div *ngFor="let attribute of attributesList?.attributes vertical-scrollbox" class="col-md-6 input-field">
                                                                        <label class="control-label clearfix">{{attribute.attributeName}}</label>
                                                                        <input type="text" class="form-control" [(ngModel)]="instanceCreateRequest.attributes[attribute.attributeName]['value']" >
                                                                    </div>
                                                                </div>
                                                                      
                                            

                                                            <div class="btn-row fl-right">
                                                                <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                                                                <button *ngIf="createMode" class="btn btn-primary width90" (click)="submit()">Create</button>
                                                                <button *ngIf="editMode" class="btn btn-primary width90" (click)="updateInstance()">Update</button>
                                                            </div>
                                                        </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ End create and edit popup -->

                                    <!-- delete popup -->
                                    <div class="add-style popup-small" *ngIf="deleteMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 class="title">DELETE INSTANCE</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="listing-popup-block vertical-scrollbox item_list" style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                    <form>
                                                        <div class="form-group row2 mgn-btm-0">

                                                            <div class="row">
                                                                <div class="col-md-12 input-field">
                                                                    <label class="control-label clearfix">Do you want to delete item with id {{instance.id}} ?</label>
                                                                </div>
                                                            </div>
                                                            <div class="btn-row fl-right">
                                                                <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                                                                <button class="btn btn-primary width90" (click)="submit()">OK</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ End delete popup -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <alt-data-table (deleteEvent)="deleteItem($event)" (editEvent)="editItem($event)"
                    [offset]=0 [limit]=10 order="ASC" type="INSTANCE" metaType="CLASSMETA" docId="{{docId}}"></alt-data-table> -->
<!-- 
  table section start -->
  <div class="row desktop-only">
        <div class="card-pagination clearfix">
            <label class="pagination-text" for="showingTop">showing  to of records</label>
        </div>
    </div>
    
    <div class="document_table">
        <div class="table-download table-outer">
            <div class="table-responsive">
                <table class="table document-table mgn-b0 table_filter">
                    <thead>
                        <tr>
                            <th class="table-cell-3 filter_th">
                                ID <span class="clickFilter filter_icon"></span>
                            </th>
                            <th class="table-cell-3 filter_th">
                                Attributes <span class="clickFilter filter_icon"></span>
                            </th>
                            
                            <th  class="table-cell-3 filter_th">
                                Class name <span class="clickFilter filter_icon"></span>
                            </th>
                            <!-- <th  class="table-cell-3 filter_th">
                                Package Codes <span class="clickFilter filter_icon"></span>
                            </th> -->
                            <th class="table-cell-6 filter_th">
                                Created On <span class="clickFilter filter_icon"></span>
                            </th>
                            <th class="table-cell-6 filter_th">
                                Created By <span class="clickFilter filter_icon"></span>
                            </th>
                            <th class="table-cell-6 filter_th">
                                Status <span class="clickFilter filter_icon"></span>
                            </th>
                            <th class="table-cell-6 filter_th">
                                    Action <span class="clickFilter filter_icon"></span>
                                </th>
                            <!-- <th class="table-cell-6 pos_relative">
                                <span class="filter_btn"></span>
                            </th> -->
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let instance of instances">
                            <td class="table-cell-3">{{instance.instanceId}}</td>
    
                            <td class="table-cell-3 font-bold" >
                                <pre class="attributes_json">{{instance.attributes | json}}</pre>
                            </td>
                            <td class="table-cell-3 font-bold" >
                                {{instance.className}}
                            </td>
                            <!-- <td class="table-cell-3 font-bold" >
                                <a href="class.html">{{item.packageCodes | commaseparated}}</a>
                            </td> -->
                            <td class="table-cell-3">
                                {{instance.createdDate | dateFilter}}
                            </td>
                            <td class="table-cell-3">
                                {{instance.createdBy}}
                            </td>
                            <td class="table-cell-6">
                                {{instance.status}}
                            </td>
                            <td class="table-cell-6 option-cell">
                                <a href='javascript:void(0);' class="icons-only" (click)="editItem(instance)">
                                    <span class="menu-style-icon material-icons edit-icon13">edit</span>
                                </a>
                                <!-- <a href='javascript:void(0);' class="icons-only" (click)="deleteItem(item)">
                                    <span class="menu-style-icon material-icons">delete</span>
                                </a> -->
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <!--  Section Pagination-->
    <div class="desktop-only">
        <div class="section-pagination clearfix">
            <div class="card-pagination fl-left">
                <!-- <label class="pagination-text" for="PaginationTop" *ngIf="presentRecords==0">No records present</label>
                <label class="pagination-text" for="PaginationTop" *ngIf="presentRecords!=0">showing {{offset+1}} to {{offset+presentRecords}} of {{totalRecords}} records</label> -->
            </div>
            <ul class="pagination pull-right">
                <!-- <li class="page-item" (click)="getFirstPage()"><span>first</span></li>
                <li class="perview" (click)="getPreviousPage()"><a href='javascript:void(0);'><span class="mdi mdi-chevron-left md24"></span></a></li>
                <li class="nextview" (click)="getNextPage()"><a href='javascript:void(0);'><span class="mdi mdi-chevron-right md24"></span></a></li>
                <li class="page-item" (click)="getLastPage()"><span>last</span></li> -->
            </ul>
        </div>
    </div>
    

<!-- table section ends here -->

            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-sidebar-inner">
                <!-- Section Calendar -->
                <div class="sidebar_top_space"></div>
                <!-- \\ End Section Calendar -->
                <!--  Section Sccordion  -->
                <div class="section-accordion mgn_t40">
                    <!--  Interviews Accordion -->
                    <div class="title-block accordion-title black-gray">
                        <span class="material-icons icon dp22">restore</span>
                        <h2 class="title">Related Information</h2>
                        <span class="mdi mdi-chevron-down md24 fl-right"></span>
                    </div>
                    <div class="content-block accordion-content clearfix black-gray">
                        <ul class="list-reset accordion-listing">
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                        </ul>
                    </div>
                    <!-- \\ End Interviews Accordion -->
                </div>
                <!-- \\ End Section Accordion  -->

            </div>
        </div>
    </div>
</div>
