<div class="main-container">
    <div class="container-inner">
        <div class="content">
            <div class="main-title-row">
                <h1 class="main-title">Packages</h1>
            </div>

            <!-- need to remove this -->
            <div class="section-filter">
                <div class="section-filter-inner">
                    <ul class="list-reset clearfix">
                        <li class="filter-by-block">
                            <label class="filter-cell">
                                <span class="icon-filter filter-mobile"></span>
                                <span class="text-filter">filter by</span>
                                <span class="text-filter mobile-only">(3)</span>
                                <span class="mdi mdi-chevron-down md24 mobile-only"></span>
                            </label>
                            <div class="dropdown-block">
                                <div class="applied-outer mobile-applied">
                                    <span class="applied-text">e.n. santoshram [x]</span>
                                    <span class="applied-text">raghavendra bhalerao [x]</span>
                                    <span class="applied-text ">active [x]</span>
                                    <span class="applied-text">Delhi[x]</span>
                                    <span class="applied-text">poor[x]</span>
                                    <span class="applied-text ">job boards[x]</span>
                                    <span class="applied-text gray-color">clear all [x]</span>
                                </div>
                                <ul class="list-reset dropdown-filter-block">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">Package Name</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <div class="dropdown-8 dropdown-style">
                                            <div class="input-group search-block">
                                                <input type="text" class="form-control" id="Hiringsearch" placeholder="Search name or job code…" />
                                                <span class="input-group-btn">
                                                    <button class="btn material-icons dp20" type="submit">search</button>
                                                </span>
                                            </div>
                                            <ul class="list-reset vertical-scrollbox">
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Anshuman Srivastava</span>
                                                        <span class="job-code">210760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Mansi Segan</span>
                                                        <span class="job-code">2107602</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">mohhad ramid hamde hussain Muhammad Husain</span>
                                                        <span class="job-code">260760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                                        <span class="job-code">110760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                                        <span class="job-code">560760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                                        <span class="job-code">210760</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="text-dropdown">Parent Package code</span>
                                            <span class="mdi mdi-chevron-down md24"></span>
                                        </a>
                                        <div class="dropdown-8 dropdown-style">
                                            <div class="input-group search-block">
                                                <input type="text" class="form-control" id="RecruiterSearch" placeholder="Search name or job code…" />
                                                <span class="input-group-btn">
                                                    <button class="btn material-icons dp20" type="submit">search</button>
                                                </span>
                                            </div>
                                            <ul class="list-reset vertical-scrollbox">
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Rambir singh</span>
                                                        <span class="job-code">210760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Ravi</span>
                                                        <span class="job-code">2107602</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Hitesh</span>
                                                        <span class="job-code">260760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">shokat</span>
                                                        <span class="job-code">110760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                                        <span class="job-code">560760</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="name-cell text-nowrap-grad">Sharon Mercy</span>
                                                        <span class="job-code">210760</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sort-by-block">
                            <label class="filter-cell">
                                <span class="icon-filter sort-mobile"></span>
                                <span class="text-filter">sort by</span>
                                <span class="mdi mdi-chevron-down md24 mobile-only"></span>
                            </label>
                            <ul class="list-reset dropdown-block">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-dropdown">Creation Date</span>
                                        <span class="mdi mdi-chevron-down md24"></span>
                                    </a>
                                    <ul class="list-reset dropdown-1  dropdown-150 dropdown-style">
                                        <li>
                                            <a href="#">Created First to Last</a>
                                        </li>
                                        <li>
                                            <a href="#">Created Last to First</a>
                                        </li>
                                        <li>
                                            <a href="#">Modified First to Last</a>
                                        </li>
                                        <li>
                                            <a href="#">Modified Last to First</a>
                                        </li>
                                        <li>
                                            <a href="#">Alphabetically A to Z</a>
                                        </li>
                                        <li>
                                            <a href="#">Alphabetically Z to A</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="divider divider-sort">/</li>
                                <li class="dropdown-calendar margin-r5">
                                    <label class="sort-label" for="from"> from</label>
                                    <input class="input-item form-control" type="text" id="from" placeholder="DD MM YY" />
                                    <span class="material-icons cal-icon">today</span>
                                    <div class="section-calendar">
                                        <table class="table">
                                            <tr>
                                                <th class="prev">
                                                    <span class="mdi mdi-chevron-left"></span>
                                                </th>
                                                <th class="switch" colspan="5">July</th>
                                                <th class="next">
                                                    <span class="mdi mdi-chevron-right"></span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="dow">mon</th>
                                                <th class="dow">tue</th>
                                                <th class="dow">wed</th>
                                                <th class="dow">thu</th>
                                                <th class="dow">fri</th>
                                                <th class="dow disabled">sat</th>
                                                <th class="dow disabled ">sun</th>
                                            </tr>
                                            <tr>
                                                <td class="day old">1</td>
                                                <td class="day old">2</td>
                                                <td class="day">3</td>
                                                <td class="day active">4</td>
                                                <td class="day">5</td>
                                                <td class="day disabled">6</td>
                                                <td class="day disabled">7</td>
                                            </tr>
                                            <tr>
                                                <td class="day">8</td>
                                                <td class="day">9</td>
                                                <td class="day">10</td>
                                                <td class="day">11</td>
                                                <td class="day">12</td>
                                                <td class="day disabled">13</td>
                                                <td class="day disabled">14</td>
                                            </tr>
                                            <tr>
                                                <td class="day">15</td>
                                                <td class="day">16</td>
                                                <td class="day">17</td>
                                                <td class="day">18</td>
                                                <td class="day">19</td>
                                                <td class="day disabled">20</td>
                                                <td class="day disabled">21</td>
                                            </tr>
                                            <tr>
                                                <td class="day">22</td>
                                                <td class="day">23</td>
                                                <td class="day">24</td>
                                                <td class="day">25</td>
                                                <td class="day">26</td>
                                                <td class="day disabled">27</td>
                                                <td class="day disabled">28</td>
                                            </tr>
                                            <tr>
                                                <td class="day">29</td>
                                                <td class="day">30</td>
                                                <td class="day">31</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li class="dropdown-calendar margin-r5">
                                    <label class="sort-label" for="to">to</label>
                                    <input class="input-item form-control" type="text" id="to" placeholder="DD MM YY" />
                                    <span class="material-icons cal-icon">today</span>
                                    <div class="section-calendar">
                                        <table class="table">
                                            <tr>
                                                <th class="prev">
                                                    <span class="mdi mdi-chevron-left"></span>
                                                </th>
                                                <th class="switch" colspan="5">July</th>
                                                <th class="next">
                                                    <span class="mdi mdi-chevron-right"></span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="dow">mon</th>
                                                <th class="dow">tue</th>
                                                <th class="dow">wed</th>
                                                <th class="dow">thu</th>
                                                <th class="dow">fri</th>
                                                <th class="dow disabled">sat</th>
                                                <th class="dow disabled ">sun</th>
                                            </tr>
                                            <tr>
                                                <td class="day old">1</td>
                                                <td class="day old">2</td>
                                                <td class="day">3</td>
                                                <td class="day active">4</td>
                                                <td class="day">5</td>
                                                <td class="day disabled">6</td>
                                                <td class="day disabled">7</td>
                                            </tr>
                                            <tr>
                                                <td class="day">8</td>
                                                <td class="day">9</td>
                                                <td class="day">10</td>
                                                <td class="day">11</td>
                                                <td class="day">12</td>
                                                <td class="day disabled">13</td>
                                                <td class="day disabled">14</td>
                                            </tr>
                                            <tr>
                                                <td class="day">15</td>
                                                <td class="day">16</td>
                                                <td class="day">17</td>
                                                <td class="day">18</td>
                                                <td class="day">19</td>
                                                <td class="day disabled">20</td>
                                                <td class="day disabled">21</td>
                                            </tr>
                                            <tr>
                                                <td class="day">22</td>
                                                <td class="day">23</td>
                                                <td class="day">24</td>
                                                <td class="day">25</td>
                                                <td class="day">26</td>
                                                <td class="day disabled">27</td>
                                                <td class="day disabled">28</td>
                                            </tr>
                                            <tr>
                                                <td class="day">29</td>
                                                <td class="day">30</td>
                                                <td class="day">31</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="applied-filters-block">
                            <label class="filter-cell">APPLIED</label>
                            <div class="applied-outer">
                                <span class="applied-text">Instance [x]</span>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="toggle-jobs">
                    <a href="javascript:void(0)" class="toggle-element">hide filters
                        <span class="mdi mdi-chevron-up md24"></span>
                    </a>
                </div>
            </div>













            <div class="table_with_all clearfix">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <div class="input-group search-block">
                                <input type="text" class="form-control" id="searchMobileOne" placeholder="Search…" />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block card-3 card-bulk-actions alt_one_form">
                        <div class="card-block-inner card-bg-none clearfix">
                            <div class="dropdown dropdown-outer-2 col-2 pull-right">

                                <div class="content_popup fl-right">

                                    <button class="btn btn-primary fl-right add-click" (click)="createItem()">CREATE PACKAGE</button>
                                    <div class="add-style popup-small" *ngIf="createMode || editMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 class="title" *ngIf="createMode">CREATE PACKAGE</h2>
                                            <h2 class="title" *ngIf="editMode">EDIT PACKAGE</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="listing-popup-block vertical-scrollbox item_list" style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                    <form>
                                                        <div class="form-group row2 mgn-btm-0">

                                                            <div class="row">
                                                                <div class="col-md-6 input-field" *ngFor="let attribute of meta?.attributes">
                                                                    <label class="control-label clearfix">{{attribute.attributeName}}</label>
                                                                    <input type="text" class="form-control" name="{{attribute.attributeName}}" [(ngModel)]="packageInstance.attributes[attribute.attributeName]['value']">
                                                                </div>
                                                            </div>
                                                            <div class="btn-row fl-right">
                                                                <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                                                                <button class="btn btn-primary width90" (click)="submit()">OK</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ End create and edit popup -->

                                    <!-- delete popup -->
                                    <div class="add-style popup-small" *ngIf="deleteMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 class="title">DELETE PACKAGE</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="listing-popup-block vertical-scrollbox item_list" style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                    <form>
                                                        <div class="form-group row2 mgn-btm-0">

                                                            <div class="row">
                                                                <div class="col-md-12 input-field">
                                                                    <label class="control-label clearfix">Do you want to delete item with id {{packageInstance.id}}
                                                                        ?</label>
                                                                </div>
                                                            </div>
                                                            <div class="btn-row fl-right">
                                                                <button class="btn btn-white width90" (click)="cancel()">cancel</button>
                                                                <button class="btn btn-primary width90" (click)="submit()">OK</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ End delete popup -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <alt-data-table (deleteEvent)="deleteItem($event)" (editEvent)="editItem($event)" (childListEvent)="childListRouter($event)"
                    [offset]=0 [limit]=10 order="ASC" type="PACKAGE" metaType="PACKAGEMETA" docId="{{docId}}"></alt-data-table> -->

            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-sidebar-inner">
                <!-- Section Calendar -->
                <div class="sidebar_top_space"></div>
                <!-- \\ End Section Calendar -->
                <!--  Section Sccordion  -->
                <div class="section-accordion mgn_t40">
                    <!--  Interviews Accordion -->
                    <div class="title-block accordion-title black-gray">
                        <span class="material-icons icon dp22">restore</span>
                        <h2 class="title">Related Information</h2>
                        <span class="mdi mdi-chevron-down md24 fl-right"></span>
                    </div>
                    <div class="content-block accordion-content clearfix black-gray">
                        <ul class="list-reset accordion-listing">
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                        </ul>
                    </div>
                    <!-- \\ End Interviews Accordion -->
                </div>
                <!-- \\ End Section Accordion  -->

            </div>
        </div>
    </div>
</div>