.login-bg{
	z-index:1;
	position:fixed;
	width:100%;
	height:100%;
    background: url(../../assets/images/bg-Login1.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    top: 0;
    bottom: 0;
}
.login-bg img{
	width:100%;
	height:100%;
}
.login-page{
	padding:0px;
	width:330px;
	margin:0 auto;
	/*padding:50px 0 0 0;*/
    padding:70px 0 0 0;
	position:relative;
	z-index:2;
}
.section-login{
	background:#fff;
	border-radius:20px;
	padding:30px;
	min-height:265px;
	
}
.section-logo{
	margin-bottom:20px;
}
.logo-worklife{
	text-align:center;
	display:block;
}
.logo-client{
	display:none;
}
.section-client{
	width:100%;
	float:left;
	margin-bottom:50px;
}
.section-client .logo-client{
	max-width:190px;
	max-height:55px;
	float:right;
	border-left:solid 1px #e7e7e8;
	padding-left:10px;
	display:block;
}
.section-client .logo-client img {
	max-width:100%;
	max-height:55px;
}
.section-client .logo-worklife{
	float: left;
	width: 70px;
	margin-top:0px;
}
.section-client .logo-worklife img{
	max-width:68px;
	max-height:50px;
}
.form-flied{
	margin-bottom:15px;
}
.button_block {
	display:block !important;
}
.lable-text{
	font-weight:bold;
	margin-bottom:3px;
}
.item{
	width:96%;
	border:solid 1px #e7e7e8;
	padding:5px;
	color:#636466;
	border-radius:4px;
	height:36px;
	outline: none;
}
.forgot{
	float:right;
	display:block;
	color:#636466;
	font-size:11px;
	text-decoration:none;
}
.forgot:hover{
	text-decoration:underline;
}
.login-form .button{
	background:#58585a;
	border-radius:5px;
	color:#fff;
	border:solid 1px #58585a;
	font-size:13px;
	font-weight:bold;
	display:inline-block;
	padding:10px;
	text-decoration:none;
	margin:0 auto;
	text-align:center;
}
.text_center {
	text-align:center;
}
.login-form .button-blue {
    background: #6ca3d8;
    border: solid 1px #6ca3d8;
}
.button:hover{
	background:#58585a;
	color:#fff;
	border:solid 1px #58585a;
}
.button-blue{
	background:#6ca3d8;
	border:solid 1px #6ca3d8;
}
.section-footer{
	position:absolute;
	z-index:3;
	bottom:0px;
	text-align:center;
	width:100%;
	padding:10px 0;
}
.footer-logo{
	text-align:center;
	margin:10px 0;
}
.copy-right{
	color:#fff;
	font-size:10px;
}

.forgot-button .button{
	float:left;
	margin:0px 10px 0 0;
}
.or-text {
    text-align: center;
    display: block;
    text-transform: uppercase;
	font-weight:bold;
    padding:20px 0;
}
@media screen and (max-width: 767px){
.login-page {
	width:100%;
}
.section-client .logo-client {
    max-width: 170px;
}
.section-client .logo-client img {
    max-width: 170px;
    max-height: 55px;
}
.section-footer{
	position:relative;
	z-index:3;
	width:100%;
}	
}
@media screen and (max-width: 767px){
.login-page {
	width:320px;
}
}