.switch-app-holder {
	 display:inline-block; 
	position:relative;
	float:left;
	width:60px;
	height:75px;
	max-height:75px;
	margin-right:5px;
	padding:27px 20px;
	margin-left:-20px;
	/*transition: all 0.5s ease;*/
}
.switch-app-holder .switch-app-icon {
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../images/switch_altapp_icons/Mesh.png) no-repeat;
	cursor:pointer;
}
.switch-app-holder.open .switch-app-icon {
	background:url(../images/switch_altapp_icons/Mesh_active.png) no-repeat;
}
.switch-app-holder.open {
	background:#fff;
	box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.18);
	z-index: 999;
}
.switch-apps-dropdown:after {
    content:'';
    display:block;
    width:60px;
    height:10px;
    background:#fff;
    position:absolute;
    top:0;
    left:0px;
    margin-top:-5px;
    z-index:4;
}
.switch-apps-dropdown {
    /*display:none;*/
    position:absolute;
    top:100%;
    left:0px;
    width:232px;
    background:#fff;
    border-radius:6px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
    border-top-left-radius:0px;
    z-index:3;	
    padding:20px 20px 10px 20px;
	transition: all 0.5s ease;
	margin-bottom: 15px;
}
.switch-app-holder.open .switch-apps-dropdown {
	display:block;
}
.dropapp-title-outer {
	display:block;
	margin-bottom:10px;
	position:relative;
}
.dropapp-title-outer .dropapp-title-inner {
	display:inline-flex;
    align-items:center;
    font-size:14px;
    color:#4282be;
    font-family:'DIN Medium';
}
.dropapp-title-inner .altapps-icon {
	width:27px;
	height:23px;
	display:inline-block;
	margin-right:10px;
	background:url(../images/switch_altapp_icons/alt_small.png) no-repeat;
}
.dropapp-title-inner .partnerapp-icon {
	width:27px;
	height:23px;
	display:inline-block;
	margin-right:10px;
	background:url(../images/switch_altapp_icons/ic_partner.svg) no-repeat;
}
.switch-apps {
    margin:0px;
    margin-left:-10px;
    margin-right:-10px;
    padding:0px;
    list-style:none;
}
.switch-apps li {
    display:block;
    padding:10px;
    float:left;
}
.switch-apps li a {
    width: 86px;
    height: 86px;
    display:flex;
    align-items:top;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.3);
}
.switchapps_inner {
    display:block;
    width:100%;
}
.switchapps_inner .apps_iconholder {
    width:86px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.switchapps_inner .apps_iconholder img {
    max-height:47px;
    max-width:90%;
}
.app_text {
    text-align:center;
    color:#494949;
    padding:0 5px;
    width:86px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-family:'DIN Medium';
    font-size:11px;
}
.switch-apps li a:hover, .switch-apps li a.active {
    background-color: #fff;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.7);
}
.switch-apps li a img {
    border:none;
    margin:0 auto;
}
.drop-more-row {
    display:block;
    padding:10px 28px 5px;
    text-align:right;
    text-transform:uppercase;
}
.drop-more-row .btn-link {
    font-size:12px;
    font-family:'DIN Medium';
}

/********** landing page css ************/
/*.col-5 {
	width:20%;
}
.card-sm-inner {
    background-color: #fff;
    border-radius: 6px;
    margin: 20px;
    margin: 15px 15px;
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}*/
/*.apps_icon-holder {
	align-items:center;
	display:flex;
	height:150px;	
	justify-content:center;
}*/
/*.app-list .card-sm-inner {
	height:200px;
}*/
.app-hover-view {
	display:flex;
	position:absolute;
	z-index:2;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background:rgba(0, 0, 0, 0.3);
	align-items:center;
	justify-content:center;
	opacity:0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.app-list .card-sm-inner:hover .app-hover-view {
	opacity:1
}
.app-hover-view a {
	clear:both;
}
.apphover-view-inner {
	display:inline-block;
	width:130px;
}
.apphover-view-inner a {
	display:inline-block;
}
.apphover-view-inner a + a {
	margin-top:10px;
}
	
/*.app-name {
	padding:0 10px;
	font-size:16px;
	font-family:'DIN Medium';
	color:#494949;
	display:flex;
	align-items:center;
	justify-content:center;
	height:50px;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background:#eee;
	border-top:solid 1px #ccc;
*/}
.card-category:after, .card-category:before {
	content:'';
	display:table;
	clear:both;
	visibility:hidden;
	
}
.card-category {
	display:block;
	padding: 6px 0 10px 1px;
	margin:10px 20px 11px;
	font-family:'DIN Bold';
	font-size:17px;
	color: #666;
	letter-spacing: 0.80px;
	border-bottom: solid 1px #ccc;
}
/*.app-list .card-sm-inner:hover {
	background-color: #eee;
}*/
.webapps-icon {
	display:inline-block;
	float:left;
	width:25px;
	height:25px;
	margin-right:10px;
	background:url(../images/app-icons/web.png) no-repeat;
}
.mobileapps-icon {
	display:inline-block;
	float:left;
	width:25px;
	height:25px;
	margin-right:10px;
	background:url(../images/app-icons/mob.png) no-repeat;
}

/******************* apps list start *******************/
.section-card{
	margin-bottom:30px;
	margin-left:-15px;
	margin-right:-15px;
}
.app-list{
	width: 875px;
	margin: 0 auto;
}
.card-block {
    float: left;
    line-height: 14px;
}
.col-5 {
    /*width: 160px;*/
}
.app-list .card-sm-inner {
	width: 125px;
    height: 125px;
    cursor: pointer;
}
.mob_app_list.app-list .card-sm-inner {
    cursor: auto
}
.card-sm-inner {
    background-color: #F8F8F8;
    border-radius: 6px;
    margin: 10px 10px;
    position: relative;
    display: block;
    /*overflow: hidden;*/
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}
.apps_icon-holder {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 90px;
	width: 125px;

}
.apps_icon-holder .portal_logo {
	max-height: 70px;
	max-width: 90%;
    margin: 5px 0 auto;
}
.app-name {
    padding: 0 8px;
    font-size: 13px;
    font-family: 'DIN Medium';
    color: #494949;
    line-height: 16px;
    text-align: center;
}
/******************* apps list end *******************/
.module-true.open{
    opacity: 0.6;
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transition: opacity 3s ease-out;
    z-index: 1;
}

.mob_app_list .card-sm-inner{
    background: #fff;
}
.ios_android_part{
    margin: 35px 0 0 14px;
    float: left;
}
.ios_android_part a{
    float: left;
    margin: 0 4px;
}


@media screen and (max-width:767px) {
	.switch-app-holder {
    display: inline-block;
    position: relative;
    float: right;
    width: 60px;
    height:34px;
    max-height: 75px;
    margin-right: 0px;
    padding: 0px 20px;
    margin-left: -10px;
    transition: all 0.5s ease;

}


}