<div class="content with-fixed-sidebar without-fixed-sidebar">
    <div class="response_message_fixed">
        <span class="label label-success">{{message}}</span>
    </div>

    <app-form-popup (clearPopup)="clearPopup($event)" (popUpMessageEvent)="setPopupMessage($event)"
        [formPopupId]="formPopupId" [instanceId]="instanceId" [deleteCall]="deleteCall"
        [sysUserWorkflowHistoryId]="sysUserWorkflowHistoryId" [assignedRoleIds]="assignedRoleIds"></app-form-popup>

    <div class="form_content clearfix">
        <!-- layout 3 with right panel start -->
        <div class="layout_4_col">
            <div class="left_panel without_right_panel">

                <!-- Section Border Panel start -->
                <div class="border-panel111" *ngIf="form && !errorPage">
                    <form [formGroup]="form">
                        <ng-container *ngFor="let component of htmlComponents">
                            <div class="input_box111" [ngClass]="component.cssClass"
                                *ngIf="component.security?.viewable">

                                <dynamic-component-loader (deleteDataTableRow)="openFormInDeleteMode($event)"
                                    (editDataTableRow)="openFormInEditingMode($event)"
                                    (addDatatableRow)="openFormDialog($event)"
                                    (photoUploadEvent)="uploadInstanceLogoForm($event)"
                                    (submitFormsEvent)="submitForms($event)" [component]="component" [form]="form"
                                    [htmlComponents]="htmlComponents" (dataTableUploaded)="reloadMenu()"
                                    (navigation)="navigate($event)" (excelUploadEvent)="uploadExcelForm($event)"
                                    (attachmentUploadEvent)="uploadAttachmentForm($event)">
                                </dynamic-component-loader>
                            </div>
                        </ng-container>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>