<li class="checkbox-group-field form-field" [ngClass]="{'editing':editing}" type="checkbox-group" id="frmb-0-fld-3">
    <div class="field-actions">
        <a id="frmb-0-fld-3-edit" class="toggle-form btn icon-pencil" title="Edit" (click)="editing=!editing"></a>
        <a id="frmb-0-fld-3-copy" class="copy-button btn icon-copy" (click)="copy()" title="Copy">+</a>
        <a id="del_frmb-0-fld-3" class="del-button btn delete-confirm" (click)="delete()" title="Remove Element">×</a>
    </div>
    <label class="field-label">{{element.label}}</label>
    <div class="prev-holder" [hidden]="editing">
        <div class="fb-checkbox form-group field-checkbox-group-1498467180595-preview">
            <div class="checkbox-group">
                <div *ngFor="let option of element.options">
                    <input value="option-1" type="checkbox" [(ngModel)]="option.selected" class="checkbox-group" name="checkbox-group-1498467180595-preview[]"
                        id="checkbox-group-1498467180595-preview-0" checked="">
                    <label for="checkbox-group-1498467180595-preview-0">Tick if you agree</label>
                </div>
            </div>
        </div>
    </div>
    <div id="frmb-0-fld-3-holder" [hidden]="!editing" class="frm-holder">
        <div class="form-elements">
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Id</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.id" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047"
                        type="text">
                </div>
            </div>
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Name</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.name" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047"
                        type="text">
                </div>
            </div>
            <div class="form-group label-wrap">
                <label for="label-frmb-0-fld-1">Label</label>
                <div class="input-wrap">
                    <input name="label" [(ngModel)]="element.label" placeholder="Label" class="fld-label form-control" id="label-frmb-0-fld-1"
                        value="Radio Group" type="text">
                </div>
            </div>
            <a class="close-field">Close</a>
        </div>
    </div>
</li>