<main role="main">
  <alt-carousel *ngIf="banners && banners.length>0" [editable]="false" [images]="banners"></alt-carousel>
  <div class="clear">
  </div>
  <section>
    <div class="container banner" *ngFor="let application of applications">
      <!-- <div class="banner-title">
        <h3>{{application.category.categoryName}}
          <a routerLink="/category/{{application.category.categoryId}}">View all</a>
        </h3>
      </div> -->

      <div class="row space-45 apps_list_block">
        <div class="col-sm-6 apps_block" *ngFor="let subcategory of application.subCategories">
          <div *ngIf="subcategory.subCategory.subCategoryName=='Default';else elseContent">
          </div>
          <ng-template #elseContent>
            <div>
              <div class="row">
                <div class="col-sm apps_block_title">
                  <h3>{{subcategory.subCategory.subCategoryName}}
                    <a class="hide-only-mobile" routerLink="/category/{{application.category.categoryId}}/subcategory/{{subcategory.subCategory.subCategoryId}}">More...</a>
                  </h3>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-6 col-space-45" *ngFor="let item of subcategory.apps| slice:0:2, let i=index">
                  <div class="appstore-slider-item">
                    <ul class="appstore-thumb-info">
                      <li class="appTitle"><a href="javascript:void(0)" routerLink="{{item.appId}}" title="{{item.appName}}">{{item.appName}}</a>
                        <span class="appTitle-owner" title="{{item.company}}">{{item.company}}</span>
                      </li>
                      <li class="rating">
                        <app-star-rating [rating]="item.rating"></app-star-rating>
                      </li>
                    </ul>
                    <a class="thumb" routerLink="{{item.appId}}">
                      <img src="{{item.previewBanner}}">
                      <div class="app_thumb_hover">
                        <p class="thumb_hover_des">{{item.shortDescription}}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <a class="view_more show-only-mobile" href="javascript:void(0)" routerLink="/category/{{application.category.categoryId}}/subcategory/{{subcategory.subCategory.subCategoryId}}">More</a>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- <div *ngIf="application.subCategories[0].subCategory.subCategoryName!='Default';else elseContent">
        </div>
        <ng-template #elseContent class="appstore-slider-item unselectable">
          <div class="row">
            <div class="col-sm-3 col-space-45" *ngFor="let item of application.subCategories[0].apps| slice:0:4, let i=index">
              <ul class="appstore-thumb-info">
                <li class="appTitle"><a href="javascript:void(0)" routerLink="{{item.appId}}">{{item.appName}}</a>
                  <span class="appTitle-owner">{{item.company}}</span>
                </li>
                <li class="rating">
                  <app-star-rating [rating]="item.rating"></app-star-rating>
                </li>
              </ul>
              <a class="thumb" routerLink="{{item.appId}}">
                <img src="{{item.previewBanner}}">
                <div class="app_thumb_hover">
                  <p class="thumb_hover_des">{{item.shortDescription}}</p>
                </div>
              </a>
            </div>
          </div>
        </ng-template> -->
      </div>
    </div>
  </section>
  <section class="banner future_alliances">
      <div class="container">
          <div class="banner-title ">
              <h3>Future Alliances</h3>
          </div>

          <div class="future_alliances_content">
              <ul>
                  <li><img src="../../assets/images/upcoming_partner_1.png" alt="" title=""></li>
                  <li><img src="../../assets/images/upcoming_partner_2.png" alt="" title=""></li>
                  <li><img src="../../assets/images/upcoming_partner_3.png" alt="" title=""></li>
                  <li><img src="../../assets/images/upcoming_partner_4.png" alt="" title=""></li>
                  <li><img src="../../assets/images/upcoming_partner_5.png" alt="" title=""></li>
              </ul>
          </div>
          </div>

  </section>


</main>
