<div class="content with-fixed-sidebar" [class.without-fixed-sidebar]="!showSettingsPanel">
    <div class="response_message_fixed">
        <span class="label label-success">{{message}}</span>
        <span class="label label-failure">{{errMessage}}</span>
    </div>


    <!--
    <a routerLink="/form/new" class="btn btn-white back_btn "> <img src="assets/images/svg/back_icon.svg"></a>
    -->


    <div class="form_content clearfix">
        <!-- layout 3 with right panel start -->
        <div class="layout_4_col">
            <div class="left_panel without_right_panel">

                <!-- Section Border Panel start -->
                <div class="border-panel">
                    <div *ngIf="showRuleDialog">
                        <!-- Add Rule popup start -->
                        <div class="alt-module-true" id="add_rule_popup">
                            <div class="alt-modal attach-form-dialog rule_dailog">

                                <div class="alt-modal-title">Add Rule :
                                    <!--
                                        <mat-label>{{selectedComponent.controlType}}</mat-label>
                                        <mat-form-field>
                                            <mat-label>Events</mat-label>
                                            <mat-select [(ngModel)]="ruleEvent">
                                                <mat-option *ngFor="let event of selectedComponent.events" [value]="event">
                                                {{event}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-label>Component Name</mat-label> :  {{selectedComponent.name}}
                                    -->
                                    <span class="material-icons alt-modal-close"
                                        (click)="showRuleDialog=false">close</span>
                                </div>


                                <div class="alt-modal-title rule_tab_title">
                                    <div class="pop_head_form">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Component Type: </label>
                                                <p class="field_value">{{selectedComponent.controlType}}</p>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Component Name: </label>
                                                <p class="field_value">{{selectedComponent.name}}</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Event: </label>
                                                <mat-form-field class="form-control">
                                                    <mat-label>Events</mat-label>
                                                    <mat-select [(ngModel)]="ruleEvent">
                                                        <mat-option *ngFor="let event of selectedComponent.events"
                                                            [value]="event">
                                                            {{event}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="rule_tab_head">
                                            <ul>
                                                <li class="rule_tab active"><a href="#rule_tab_1">Add Rule</a></li>
                                                <li class="rule_tab"><a href="#rule_tab_2">Backend</a></li>
                                                <li class="rule_tab"><a href="#rule_tab_3">Test Rule</a></li>
                                            </ul>
                                        </div>-->

                                </div>

                                <div class="alt-modal-body">
                                    <mat-tab-group>
                                        <mat-tab label="Rule UI">
                                            <div class="rule_fields">
                                                <ul id="new_rule_1" *ngFor="let rule of rulePopup">
                                                    <li>
                                                        <label class="control-label">Rule Name:</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder=""
                                                                [(ngModel)]="rule.ruleName" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label class="control-label">Rule Type:</label>
                                                        <div class="form-group">
                                                            <select id="rule_type_1" class="form-control"
                                                                [(ngModel)]="rule.ruleType">
                                                                <option value="VALIDATION">Validation</option>
                                                                <option value="TRANSACTION">Transaction</option>
                                                            </select>

                                                        </div>
                                                    </li>

                                                    <div id="case_fields_1" class="case_fields"
                                                        *ngFor="let case of rule.cases;let index = index;">
                                                        <li>
                                                            <label class="control-label">Case Name:</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder=""
                                                                    name="casename-{{index+1}}" value="C{{index+1}}"
                                                                    [(ngModel)]="case.caseName" />
                                                                <p class="rule_text" hidden name="casename-{{index+1}}"
                                                                    [(ngModel)]="case.caseName">C{{index+1}}</p>
                                                            </div>
                                                        </li>

                                                        <li *ngIf="rule.ruleType == 'TRANSACTION'">
                                                            <label class="control-label">Assign to:</label>
                                                            <div class="form-group">
                                                                <select class="form-control" name="assignTo-{{index}}"
                                                                    [(ngModel)]="case.assignToAttribute">
                                                                    <option value="null">-- Select --</option>
                                                                    <option
                                                                        *ngFor="let attributeName of this?.attributeNames">
                                                                        {{attributeName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <label class="control-label">Attribute 1:</label>
                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    name="firstAttribute-{{index}}"
                                                                    [(ngModel)]="case.firstInput">
                                                                    <option value="null">-- Select --</option>
                                                                    <option
                                                                        *ngFor="let attributeName of this?.attributeNames">
                                                                        {{attributeName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label class="control-label">Condition:</label>
                                                            <div class="form-group">
                                                                <select *ngIf="rule.ruleType == 'VALIDATION'"
                                                                    class="form-control"
                                                                    name="validationCondition-{{index}}"
                                                                    [(ngModel)]="case.validationType">
                                                                    <option value="EQUALS">Equals </option>
                                                                    <option value="GREATER_THAN">Greater Than </option>
                                                                    <option value="LESS_THAN">Less Than </option>
                                                                </select>
                                                                <select *ngIf="rule.ruleType == 'TRANSACTION'"
                                                                    class="form-control"
                                                                    name="transactionCondition-{{index}}"
                                                                    [(ngModel)]="case.validationType">
                                                                    <option value="ADD">Add </option>
                                                                    <option value="SUBTRACT">Subtract </option>
                                                                    <option value="CONCAT">Concat </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label class="control-label">Attribute 2:</label>
                                                            <div class="form-group">
                                                                <select class="form-control rule_half_input fl"
                                                                    name="secondAttribute-{{index}}"
                                                                    [(ngModel)]="case.secondAttribute">
                                                                    <option value="null">-- Select --</option>
                                                                    <option
                                                                        *ngFor="let attributeName of this?.attributeNames">
                                                                        {{attributeName}}</option>
                                                                </select>
                                                                <span class="rule_mid_text">Or</span>
                                                                <input
                                                                    [attr.disabled]="case.secondAttribute ? 'disabled' : null"
                                                                    type="text" class="form-control rule_half_input fr"
                                                                    placeholder="" name="secondValue-{{index}}"
                                                                    [(ngModel)]="case.secondValue" />
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label class="control-label">Failure Message:</label>
                                                            <div class="form-group">
                                                                <textarea class="form-control"
                                                                    name="firstAttribute-{{index}}"
                                                                    [(ngModel)]="case.failureMessage"></textarea>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="new_case_add">
                                                        <a id="case_add_2" class="case_add" (click)="addCase(rule)">
                                                            <span class="material-icons">add</span> Add Case</a>
                                                    </div>
                                                </ul>
                                                <!--div class="new_rule_add">
                                                    
                                                    <a id="rule_add_2" class="rule_add" (click)="addRule()"><span class="material-icons" >add</span> Add Rule</a>
                                                </div-->


                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Rule Editor">
                                            <div class="rule_tab_content_part">
                                                <textarea class="form-control" [(ngModel)]="scriptData"
                                                    placeholder=""></textarea>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Test Rule">
                                            <div class="rule_tab_content_part">
                                                Content 3
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                    <div class="row-btn clearfix rule_dailog_footer">
                                        <button type="button" class="btn btn-white width90"
                                            (click)="showRuleDialog=false">Cancel</button>
                                        <button type="button" class="btn btn-primary width90"
                                            (click)="saveRules()">Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Add Rule popup end -->
                    </div>

                    <!-- Add Mail popup start -->
                    <div *ngIf="showMailDialog">
                        <div class="alt-module-true" id="add_mail_popup">
                            <div class="alt-modal attach-form-dialog rule_dailog mail_dailog">
                                <div class="alt-modal-title">Create New Mail <span (click)="resetMailFields()"
                                        class="material-icons alt-modal-close">close</span></div>
                                <div class="alt-modal-body">
                                    <div class="rule_fields mail_fields">
                                        <ul>
                                            <li>
                                                <label class="control-label">From:</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder=""
                                                        [(ngModel)]="envelope.from" />
                                                </div>
                                            </li>
                                            <li>
                                                <label class="control-label">To:</label>
                                                <div class="form-group">
                                                    <!--<input (keyup)="onToStart($event)" type="email" class="form-control" placeholder="" />-->
                                                    <form class="example-form">
                                                        <mat-form-field class="example-full-width form-control">
                                                            <input type="text" placeholder="" [(ngModel)]="to"
                                                                aria-label="Assignee" matInput [formControl]="myControl"
                                                                [matAutocomplete]="auto">
                                                            <mat-autocomplete #auto="matAutocomplete"
                                                                [displayWith]="displayFn">
                                                                <mat-option
                                                                    *ngFor="let option of filteredOptions | async"
                                                                    [value]="option">
                                                                    {{option.roleName}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </form>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="control-label">Cc:</label>
                                                <div class="form-group">
                                                    <form class="example-form">
                                                        <mat-form-field class="example-full-width form-control">
                                                            <input type="text" placeholder="" [(ngModel)]="cc"
                                                                aria-label="Assignee" matInput
                                                                [formControl]="myControlCc" [matAutocomplete]="auto">
                                                            <mat-autocomplete #auto="matAutocomplete"
                                                                [displayWith]="displayFn">
                                                                <mat-option
                                                                    *ngFor="let option of filteredOptionsCc | async"
                                                                    [value]="option">
                                                                    {{option.roleName}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </form>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="control-label">Bcc:</label>
                                                <div class="form-group">
                                                    <!--<input type="email" class="form-control" placeholder="" />-->
                                                    <form class="example-form">
                                                        <mat-form-field class="example-full-width form-control">
                                                            <input type="text" placeholder="" [(ngModel)]="bcc"
                                                                aria-label="Assignee" matInput
                                                                [formControl]="myControlBcc" [matAutocomplete]="auto">
                                                            <mat-autocomplete #auto="matAutocomplete"
                                                                [displayWith]="displayFn">
                                                                <mat-option
                                                                    *ngFor="let option of filteredOptionsBcc | async"
                                                                    [value]="option">
                                                                    {{option.roleName}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </form>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="control-label">Subject:</label>
                                                <div class="form-group">
                                                    <input type="text" [(ngModel)]="envelope.subject"
                                                        class="form-control" placeholder="" />
                                                </div>
                                            </li>
                                            <li>
                                                <label class="control-label">Body:</label>
                                                <div class="form-group">
                                                    <textarea [(ngModel)]="envelope.body" class="form-control"
                                                        style="height:170px;"></textarea>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="row-btn clearfix rule_dailog_footer">
                                            <button type="button" (click)="resetMailFields()"
                                                class="btn btn-white width90">Cancel</button>
                                            <button type="button" (click)="saveMail()"
                                                class="btn btn-primary width90">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Mail popup end -->

                    <!-- settings popup start-->
                    <div *ngIf="showSettings">
                        <div class="alt-module-true" id="add_rule_popup">
                            <div class="alt-modal attach-form-dialog rule_dailog">

                                <div class="alt-modal-title">Settings :
                                    <span class="material-icons alt-modal-close"
                                        (click)="showSettings=false;">close</span>
                                </div>

                                <div class="alt-modal-title rule_tab_title">
                                    <div class="pop_head_form">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Component Type: </label>
                                                <p class="field_value">{{selectedComponent.controlType}}</p>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label class="control-label">Component Name: </label>
                                                <p class="field_value">{{selectedComponent.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="alt-modal-body">
                                    <mat-tab-group *ngIf="selectedComponent.controlType=='ATTACHMENTS'">
                                        <mat-tab label="GENERAL">
                                            <div class="rule_fields">
                                                <ul>
                                                    <li>
                                                        <label class="control-label">Total file size (MB):</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder=""
                                                                [(ngModel)]="selectedComponent.totalFileSizeLimitMB" />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                    <mat-tab-group *ngIf="selectedComponent.controlType=='BUTTON'">
                                        <mat-tab label="Navigation">
                                            <div class="rule_fields">
                                                <ul>
                                                    <li>
                                                        <label class="control-label">Select Target Form:</label>
                                                        <div class="form-group">
                                                            <select class="form-control"
                                                                [(ngModel)]="selectedComponent.navigation.formId"
                                                                (change)="changeTargetForm($event.currentTarget.value)">

                                                                <option value="null"
                                                                    [selected]="selectedComponent.navigation.formId==null">
                                                                    Select</option>
                                                                <ng-container *ngFor="let form of forms">
                                                                    <option value="{{form.uiClassCode}}"
                                                                        [selected]="selectedComponent.navigation.formId==form.uiClassCode">
                                                                        {{form.formName}}
                                                                    </option>
                                                                </ng-container>

                                                            </select>

                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label class="control-label">Select Source Component :</label>
                                                        <div class="form-group">
                                                            <select class="form-control"
                                                                [(ngModel)]="selectedComponent.navigation.sourceComponentName">

                                                                <ng-container
                                                                    *ngFor="let component of flattenHtmlComponents(formEntityModel.componentList)">
                                                                    <option *ngIf="component.controlType=='DROPDOWN'"
                                                                        value="{{component.name}}"
                                                                        [selected]="selectedComponent.navigation.sourceComponentName==component.name">
                                                                        {{component.label}}
                                                                    </option>
                                                                </ng-container>

                                                            </select>

                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label class="control-label">Select Target Component :</label>
                                                        <div class="form-group">
                                                            <select class="form-control"
                                                                [(ngModel)]="selectedComponent.navigation.targetComponentName">

                                                                <ng-container
                                                                    *ngFor="let component of flattenHtmlComponents(targetFormEntityModel?.componentList)">
                                                                    <option *ngIf="component.controlType=='DROPDOWN'"
                                                                        value="{{component.name}}"
                                                                        [selected]="selectedComponent.navigation.targetComponentName==component.name">
                                                                        {{component.label}}
                                                                    </option>
                                                                </ng-container>

                                                            </select>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                    <mat-tab-group *ngIf="selectedComponent.controlType=='LINK'">
                                        <mat-tab label="General">
                                            <div class="rule_fields">
                                                <ul>
                                                    <li>
                                                        <label class="control-label">Link Name:</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder=""
                                                                [(ngModel)]="selectedComponent.linkName" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label class="control-label">Link Url:</label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder=""
                                                                [(ngModel)]="selectedComponent.linkUrl" />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                    <div class="row-btn clearfix rule_dailog_footer">
                                        <button type="button" class="btn btn-white width90"
                                            (click)="showSettings=false;">Cancel</button>
                                        <button *ngIf="editMode" type="button" class="btn btn-primary width90"
                                            (click)="saveSettings()">Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- settings popup end -->

                    <div dnd-sortable-container [sortableData]="formEntityModel?.componentList">
                        <div [class.selected]="component==selectedComponent" mwlResizable
                            (onDropSuccess)="sortSuccess($event)" [enableGhostResize]="true"
                            [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                            (resizeEnd)="onResizeEnd($event)" class="input_box" [ngClass]="component.cssClass"
                            dnd-sortable [sortableIndex]="$index"
                            *ngFor="let component of formEntityModel?.componentList;let $index=index">
                            <div [ngSwitch]="component.controlType">
                                <alt-select [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'DROPDOWN'"></alt-select>
                                <alt-multi-select [order]="$index" [element]="component"
                                    (click)="selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'MULTI_SELECT'">
                                </alt-multi-select>
                                <alt-textarea [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'TEXTAREA'">
                                </alt-textarea>
                                <alt-textbox [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'TEXTFIELD'">
                                </alt-textbox>
                                <alt-panel (selectedComponentEvent)="selectComponent($event)"
                                    [selectedComponent]="selectedComponent" [editMode]="editMode" [order]="$index"
                                    [element]="component" (click)="selectComponent(component);"
                                    (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                                    *ngSwitchCase="'PANEL'" (settingsOpened)="openSettings($event)"></alt-panel>
                                <alt-tabbed-panel (selectedComponentEvent)="selectComponent($event)"
                                    [selectedComponent]="selectedComponent" [order]="$index" [element]="component"
                                    (click)="selectComponent(component);" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'TAB_PANEL'">
                                </alt-tabbed-panel>
                                <alt-button [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component)" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'BUTTON'"
                                    (settingsOpened)="openSettings($event)"></alt-button>
                                <alt-datatable [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component)" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'DATATABLE'">
                                </alt-datatable>
                                <alt-date [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component)" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'DATE'"></alt-date>
                                <alt-blank [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component)" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'BLANK'"></alt-blank>
                                <alt-image [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component)" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'IMAGE'"></alt-image>
                                <alt-label [editMode]="editMode" [order]="$index" [element]="component"
                                    (click)="selectComponent(component)" (copyItem)="copyThisItem($event,order)"
                                    (deleteItem)="deleteThisItem($event,order)" *ngSwitchCase="'LABEL'"></alt-label>
                                <alt-excel *ngSwitchCase="'EXCEL'" [editMode]="editMode" [order]="$index"
                                    [element]="component" (click)="selectComponent(component)"
                                    (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)">
                                </alt-excel>
                                <alt-attachments *ngSwitchCase="'ATTACHMENTS'" [editMode]="editMode" [order]="$index"
                                    [element]="component" (click)="selectComponent(component)"
                                    (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                                    (settingsOpened)="openSettings($event)">
                                </alt-attachments>
                                <alt-checkbox *ngSwitchCase="'CHECKBOX'" [editMode]="editMode" [order]="$index"
                                    [element]="component" (click)="selectComponent(component)"
                                    (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)">
                                </alt-checkbox>
                                <alt-link *ngSwitchCase="'LINK'" [editMode]="editMode" [order]="$index"
                                    [element]="component" (click)="selectComponent(component)"
                                    (copyItem)="copyThisItem($event,order)" (deleteItem)="deleteThisItem($event,order)"
                                    (settingsOpened)="openSettings($event)">
                                </alt-link>
                            </div>
                        </div>
                        <div *ngIf="editMode" dnd-droppable (onDropSuccess)="transferDataSuccess($event)"
                            [dropZones]="['zone']" class="input_box">
                            <!-- Drop Here start -->
                            <div class="form-group drop-here">
                                DROP HERE
                            </div>
                            <!-- // Drop Here end -->
                        </div>
                    </div>
                </div>
                <!-- \\ Section Border Panel end -->

            </div>
        </div>
        <div class="btns_bottom_left">
            <button *ngIf="isFormDraft" class="btn btn-white" (click)="goBack()">Back</button>
            <button type="submit" class="btn btn-primary" *ngIf="isFormDraft" (click)="submit(false)">Save</button>
            <button type="submit" class="btn btn-default" *ngIf="isFormDraft" (click)="publish()">Publish</button>
            <button type="submitMeta" class="btn btn-primary" *ngIf="isFormPublished" (click)="submitMeta()">Push To
                Admin</button>
            <!--<button type="reset" class="btn btn-white" *ngIf="isFormPublished && editMode" (click)="enableEditMode(false)">Cancel</button>-->
            <button type="submitMeta" class="btn btn-default" *ngIf="isFormPublished" (click)="submit()">edit</button>
        </div>
        <!-- \\ layout 3 with right panel end -->
    </div>

</div>
<div class="right-sidebar fixed-sidebar" [class.right-sidebar-hide]="!showSettingsPanel">
    <div class="sidebar_arrow" [class.without-sidebar-arrow]="!showSettingsPanel">
        <div class="hide_controls" *ngIf="showSettingsPanel" (click)="showSettingsPanel=false">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="hide_sidebar_text">Hide Controls</span>
        </div>
        <div class="show_controls" *ngIf="!showSettingsPanel" (click)="showSettingsPanel=true">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="hide_sidebar_text">Show Controls</span>
        </div>

    </div>
    <div class="right-sidebar-inner" *ngIf="showSettingsPanel">
        <div class="sidebar_top_space"></div>

        <settings-panel [selectedComponent]="selectedComponent" [formEntityModel]="formEntityModel"
            [uiClassCode]="uiClassCode" [editMode]="editMode" [appId]="formEntityModel.appid" [commListOp]="commListOp"
            (deleteRuleEvent)="deleteRule($event)" (editRuleEvent)="editRule($event)" (addRuleEvent)="addRule()"
            (addMailEvent)="addNewMail()" (editMailEvent)="editMail($event)" (enableTaskode)="taskCodeSwitched($event)"
            (deleteMailEvent)="deleteMail($event)">
        </settings-panel>
    </div>
</div>