.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .dialogdemoBasicUsage #popupContainer {
    position: relative; }
  
  .dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }
  
  .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }
  
  .dialogdemoBasicUsage button {
    width: 200px; }
  
  .dialogdemoBasicUsage div#status {
    color: #c60008; }
  
  .dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0; }