    <div class="layout-main">
    	<div class="site-width">
	     	<div class="main-container">
            	<div class="container-inner">
                    <!-- Section content -->
                    <div class="content">
                        <!-- Section filter --> 

						<div class="section-card clearfix"> 
                        	<!-- <div *ngFor="let application of applications">-->
                        	<div class="card-category clearfix">Web Apps</div>  
                       		
                           	
                        	 
                        	<div class="app-list clearfix"> 
	                        	<div *ngFor="let application of webAppsMap">
	                                <div   *ngFor="let app of application.apps">
	                        	        <div class="card-block col-5">
	                            	    <div class="card-sm-inner">
												<div class="default_app_icon {{app.isDefault?'active':''}}" *ngIf="application.category!=null && (application.category.categoryName=='Alt' || application.category.categoryName=='Partner')" 
												(click)="toggleDefaultApp($event, app)" id="default_app_icon_{{app.appCode}}">
													<div class="tooltip_default_app" *ngIf="!app.isDefault">
														<span class="arrow_down"></span>
														Set as default
													</div> 
													<div class="tooltip_default_app" *ngIf="app.isDefault">
														<span class="arrow_down"></span>
														 Remove default
													</div>                                    
												</div>
	                                        <!-- <a href="{{app.appUrl}}" target="_blank">-->
	                                	        <div class="apps_icon-holder" (click)="callApp(app.appUrl, app.identifier, app.appType, app.appCode, false)">
	                                                <img class="portal_logo" src="{{app.appLogo}}" />
	                                            </div>
	                                       <!--   </a> -->
	                                    <div class="app-name">{{app.appName}}</div>
	                                    </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                           	<div class="card-category clearfix">Mobile Apps</div>  
                       		<div class="app-list mob_app_list clearfix"> 
	                        	<div *ngFor="let application of mobileAppsMap">
	                        		<div  *ngFor="let app of application.apps">
                       	       			<div class="card-block col-5" *ngIf="app.andriodUrl || app.iosUrl">
	                           	    		<div class="card-sm-inner">
	                                       	<!-- <a href="{{app.appUrl}}" target="_blank">-->
	                               	        	<div class="apps_icon-holder">
	                                               	<img class="portal_logo" src="{{app.appLogo}}" />
	                                           	</div>
	                                      			<!--   </a> -->
	                                   			<div class="app-name">{{app.appName}}</div>
											</div>
												  
											<div class="ios_android_part" >
												<a href="{{app.andriodUrl}}" target="_blank" *ngIf="app.andriodUrl"><img src="assets/images/app-icons/google-play.png" ></a>
											
												<a href="{{app.iosUrl}}" target="_blank" *ngIf="app.iosUrl"><img src="assets/images/app-icons/app-store.png"></a>
											</div>
	                                   	</div>
	                                 </div>
                               	</div>
                           	</div>
                     	<!-- </div>-->
                     <!-- \\ End Section Card-->  
                    </div>
                    <!-- \\ End Section Content -->
                </div>
            </div>
		 </div>
    </div>

