<main role="main" class="pad_0">

  <section class="banner-main">

    <ngb-carousel>
      <ng-template ngbSlide>
          <div class="background-img alt"><img src="" alt=""></div>
        <div class="banner-text-block">
          <div class="banner-text-title-2">alt one </div>
          <div class="banner-text-title-1">India's first HR App store</div>
          <div class="banner-hashtag">#SimplifyingWorklife</div>
        </div>
      </ng-template>
      <!-- <ng-template ngbSlide>
          <div class="background-img"><img src="" alt=""></div>
        <div class="banner-text-block partner_text">
          <div class="banner-text-title-1">Partner with us at</div>
          <div class="banner-text-title-2">alt one store</div>
          <div class="banner-subtext">
            <b>Join the Alt One Universe</b> &amp; reach India's largest connected employee base.</div>
          <a routerLink="/partner" class="btn btn-primary btn-block">Become a Partner</a>
        </div>
      </ng-template> -->
    </ngb-carousel>
  </section>

  <!-- ***************** section top banner close ***************** -->
<!--
  <section class="marketplace_text">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>With Alt One, businesses get the power and freedom to choose from variety of available apps as per their business
            needs in a single click, without having to worry about technical compatibility; unwrapping the connected world,
            where interoperability and ease of use are the only rules! Alt One is the answer to this unique need of CHROs.</p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ***************** section after banner blue bg text close ***************** -->

  <section class="section-marketplace section-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 border-right">
          <div class="marketplace-inner">
            <div class="title">for your employees</div>
            <div class="title-sub">Discover awesome HR apps,
              <br/>all in one place</div>
            <a routerLink="/apps" class="explore-apps-btn btn btn-primary btn-block">explore apps</a>
          </div>
        </div>
        <div class="col-sm-6 border-left">
          <div class="marketplace-inner">
            <div class="title">for solution providers</div>
            <div class="title-sub">Present your apps to over
              <br/>600,000 employees</div>
            <a routerLink="/partner" class="partner-with-btn btn btn-dark btn-block">Partner with us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***************** section FOR YOUR EMPLOYEES and SOLUTION PROVIDERS part close ***************** -->

  <!-- <section class="section-categories">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 categories_menu_home">
          <h3>Categories</h3>
          <ul *ngIf="categories">
            <li [class.active]="selectedCategory == category" *ngFor="let category of categories" (click)="selectCategory(category)">
              <a href="javascript:void(0)" class="cat_name">{{category.categoryName}}</a>
            </li>
          </ul>
        </div>

        <div id="cat-1" class="col-sm categories_items_home open_cat">
          <div class="row">
            <ng-container *ngFor="let app of apps;let i = index">

              <div class="col-sm-12 col-md" *ngIf="i<3">
                <div class="appstore-slider-item">
                  <ul class="appstore-thumb-info">
                    <li class="appTitle">
                      <a href="javascript:void(0)" routerLink="/apps/{{app.appId}}"> {{app.appName}}</a>
                      <span class="appTitle-owner">{{app.company}}</span>
                    </li>
                    <app-star-rating [rating]="app.rating"></app-star-rating>
                  </ul>
                  <a class="thumb" href="javascript:void(0)" routerLink="/apps/{{app.appId}}">
                    <h1></h1>
                    <img src="{{app.previewBanner}}">
                    <div class="app_thumb_hover">
                      <p class="thumb_hover_des">{{app.description}}</p>
                    </div>
                  </a>
                </div>
              </div>
            </ng-container>

            <div class="w-100"></div>
            <div class="col-12" *ngIf="selectedCategory">
              <a class="view_more" href="javascript:void(0)" routerLink="/category/{{selectedCategory.categoryId}}">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> -->

  <section class="section section-categories">
    <div class="container">
        <div class="categories_list_home">
            <h3 class="title">Categories</h3>
            <ul>
                <li>
                    <a routerLink="/apps">
                        <img class="cat_icon" src="../../assets/images/svg/ic_culture.svg" alt="" title="">
                    </a>
                    <p>Culture</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_engagement.svg" alt="" title="">
                    </a>
                    <p>Engagement</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_health&wellness.svg" alt="" title="">
                    </a>
                    <p>Health & Wellness</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_productivity.svg" alt="" title="">
                    </a>
                    <p>Productivity</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_recruitment&onboarding.svg" alt="" title="">
                    </a>
                    <p>Recruitment & Onboarding</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_rewards&benefits.svg" alt="" title="">
                    </a>
                    <p>Reward & Benefits</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_time&money.svg" alt="" title="">
                    </a>
                    <p>Time & Money</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_travel.svg" alt="" title="">
                    </a>
                    <p>Travel</p>
                </li>
                <li>
                  <a routerLink="/apps">
                        <img class="cat_icon" src="assets/images/svg/ic_women.svg" alt="" title="">
                    </a>
                    <p>Women</p>
                </li>
            </ul>
        </div>

    </div>
</section>

  <section class="banner-main">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/slider_img001.jpg" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slider_img002.jpg" alt="Random second slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/slider_img003.jpg" alt="Random second slide">
      </ng-template>
    </ngb-carousel>
  </section>

  <section class="testimonials">
    <div class="container">
      <h2 class="main-title">Testimonials</h2>
      <ngb-carousel>
          <ng-template ngbSlide>
              <div class="carousel-caption testimonial_text">
                <span class="testimonial_text_center">"Alt One empowers businesses to provide a connected worklife for a born-free workforce. With this the hassle of working with multiple systems goes away and we are able to provide a unified experience"</span>
              </div>
            </ng-template>
        <ng-template ngbSlide>
          <div class="carousel-caption testimonial_text">
            <span class="testimonial_text_center">"The fondest wish of an HR leader today is a connected, productive and engaged workforce and Alt One is answer
              to the same."</span>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="carousel-caption testimonial_text">
            <span class="testimonial_text_center">"For a born-free workforce, Alt One is state -of- art on your touch connected worklife management suite of solutions;
              without the hassle of logging in with password(s) into multiple systems."</span>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="carousel-caption testimonial_text">
            <span class="testimonial_text_center">"A recent survey on our users brought out an interesting fact that 60-70% of time employees feel disconnected
              in their worklife due to multiple processes and systems. Alt One is the connect we have been waiting for so
              long."</span>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </section>
  <!-- ***************** section testimonials close ***************** -->
</main>
