<main role="main">
  <div class="container" *ngIf="response">
      <div class="page_title">
          <h3>{{response.subCategory.subCategoryName}}</h3>
      </div>

      <div class="row partner_apps_list" *ngIf="draggable" dnd-sortable-container [sortableData]="response.apps">
              <div dnd-sortable (mousedown)="initializeStartingIndex($index)" [sortableIndex]="$index" (onDropSuccess)="bannerSortSuccess($index)" *ngFor="let app of response.apps;let $index=index" class="col-sm-3 col-space-45">
                <div class="appstore-slider-item">
                  <ul class="appstore-thumb-info">
                      <li class="appTitle"><a href="javascript:void(0)" routerLink="/apps/{{app.appId}}">{{app.appName}}</a><span class="appTitle-owner">{{app.company}}</span></li>
                      <li class="rating">
                          <app-star-rating [rating]="app.rating"></app-star-rating>
                      </li>
                  </ul>
                  <a class="thumb" routerLink="/apps/{{app.appId}}"><img src="{{app.previewBanner}}" ></a>
                </div>
            </div>
      </div>
      
      <div class="row partner_apps_list" *ngIf="!draggable">
        <div *ngFor="let app of response.apps;let $index=index" class="col-sm-3 col-space-45">
          <div class="appstore-slider-item">
            <ul class="appstore-thumb-info">
                <li class="appTitle"><a href="javascript:void(0)" routerLink="/apps/{{app.appId}}">{{app.appName}}</a><span class="appTitle-owner">{{app.company}}</span></li>
                <li class="rating">
                    <app-star-rating [rating]="app.rating"></app-star-rating>
                </li>
            </ul>
            <a class="thumb" routerLink="/apps/{{app.appId}}"><img src="{{app.previewBanner}}" ></a>
          </div>
      </div>
</div>

  </div>
</main>
