<!-- Section Main Templet -->
<!--<div class="layout-main layout-right-sidebar">
  <div class="site-width">
      <div class="main-container">
          <div class="container-inner">-->
<!-- Section content -->
<div class="content without-fixed-sidebar">
    <!-- <div class="main-title-row">
        <h1 class="main-title"></h1>
    </div> -->




    <!--  Section Card-->
    <div class="section-card clearfix" *ngIf="application">
        <div class="tp-wrapper">
        <!-- Card Block -->
        <div class="card-block card-flip text-center card-4">
            <!-- Flip Card Front -->
            <div class="front card-flip-block">
                <div class="card-block-inner alt-card-inner profile_card clearfix">
                    <!--<div class="card-flip-top clearfix">
                              <h3 class="profile_title">Welcome<br> {{application.employeeInfo.employeeName}}</h3>
                          </div>

                          <div class="welcome_profileImg">
                                  <img [src]="application.employeeInfo.photoPath" alt="my profile" class="profile_img" />
                          </div>

                          <div class="card-flip-bottom">
                              <span class="welcome_date">{{myDate}}</span>
                          </div> -->

                    <div class="profile_top_bg"></div>
                    <div class="card_profile_pic">
                        <img [src]="application.employeeInfo.photoPath" alt="">
                    </div>
                    <div class="home_profile_content">
                        <h3>
                            <span>Welcome</span>
                            <br>{{application.employeeInfo.employeeName}}</h3>
                        <p class="mob_mail">{{application.employeeInfo.mobile}}
                            <br>{{application.employeeInfo.email}}</p>
                        <p class="home_date">{{myDate}}</p>
                    </div>
                </div>
            </div>
            <!-- \\ End Flip Card Front -->
        </div>

        <ng-container *ngFor="let prefilledCard of homeCardsPrefilled">
            <!-- Card Block -->
            <div class="card-block card-flip card-4 add_card_details">
                <!-- Flip Card Front -->
                <div class="front card-flip-block">
                    <div class="card-block-inner alt-card-inner clearfix auto_scroll">
                        <div class="clearfix">
                            <span class="icon_sheet LeaveStatus_icon"></span>
                        </div>
                        <div class="title_outer">
                            <h3 class="card_title">{{prefilledCard.title}}</h3>
                        </div>
                        <div *ngIf="prefilledCard.showImage" class="card_dynamic_img">
                            <img [src]="prefilledCard.image">
                        </div>
                        <div class="card_dynamic_text">
                            {{prefilledCard.description}}
                        </div>

                    </div>
                </div>
                <!-- \\ End Flip Card Front -->
                <!--  Flip Card Back -->
                <div hidden=false class="back card-flip-details">
                    <div class="card-block-inner alt-card-inner clearfix">
                        <div class="card-flip-details-inner alt-white-gradient-bottom">
                        </div>
                    </div>
                </div>
                <!-- \\ End Flip Card Back -->
            </div>
            <!-- \\ End Card Block -->
        </ng-container>

        <!-- \\End Card Block -->

        <!-- Card Block -->
        <!--div class="card-block card-flip card-4"-->
        <!-- Flip Card Front -->
        <!--div class="front card-flip-block">
                      <div class="card-block-inner alt-card-inner clearfix">
                         <div class="clearfix">
                              <span class="icon_sheet LeaveStatus_icon"></span>
                          </div>
                          <div class="title_outer">
                              <h3 class="card_title">Asset Policy</h3>
                          </div>
                          <div class="policy_text">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                          </div>
                      </div>
                  </div-->
        <!-- \\ End Flip Card Front -->

        <!--/div-->
        <!-- \\ End Card Block -->

        <!-- Card Block -->
        <ng-container *ngFor="let card of cards">
            <div class="card-block card-flip card-4" *ngIf="card && card.appliedWorkflowCard.appliedTaskCount >0">
                <!-- Flip Card Front -->
                <div class="front card-flip-block" [ngClass]="getCardFlipStatus(card)?'front-1':'front-2'">
                    <div class="card-block-inner alt-card-inner clearfix">
                        <div class="clearfix">
                            <span class="icon_sheet LeaveStatus_icon"></span>
                        </div>
                        <div class="title_outer">
                            <h3 class="card_title">{{card.appliedWorkflowCard.appliedTaskCount}}
                                <br />{{card.formName}}
                                <br />Applied</h3>
                        </div>
                        <div class="row my-asset-table">
                            <div class="table-layout fixed-layout bordered text-center vertical-middle">
                                <div class="table-row">
                                    <div class="table-cell border-left-0"
                                        *ngFor="let taskGroup of card.appliedWorkflowCard.appliedTaskGroups">
                                        <span class="count-size">{{taskGroup.count}}</span>
                                        <div class="din-regular">{{taskGroup.status}}</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card-flip-bottom">
                            <a href="javascript:void(0)" class="btn2 btn-white flip-btn"
                                (click)="changeFlipStatusForFlip(card)">flip for details</a>
                        </div>
                    </div>
                </div>
                <!-- \\ End Flip Card Front -->

                <!--  Flip Card Back -->
                <div class="back card-flip-details" [ngClass]="getCardFlipStatus(card)?'back-1':'back-2'" >
                    <div class="card-block-inner alt-card-inner clearfix">
                        <div class="card-flip-details-inner alt-white-gradient-bottom">
                            <ul class="list-reset alt-card-row card-listing vertical-middle">
                                <li *ngFor="let task of  card.appliedWorkflowCard.appliedTasks">
                                    <div class="table-layout padding-tb">
                                        <div class="table-cell width-40">
                                            <img [src]="task.photoPath" class="img-circle img-shadow img-30" alt="">
                                        </div>
                                        <div class="table-cell">
                                            <div class="listing_title graydark-color">{{task.actorName}}</div>
                                            <div class="din-Medium">{{task.stageName}}</div>
                                            <div class="din-Medium">{{task.startDate}}</div>
                                        </div>
                                        <div class="table-cell text-right vertical-bottom">
                                            <div>{{task.statusMessage}}</div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="card-flip-bottom">
                            <a href="javascript:void(0)" class="btn2 btn-gray fl-left unflip-btn"
                                (click)="changeFlipStatusForFlip(card)">Back</a>
                            <!--a href="javascript:void(0)" class="btn2 btn-default fl-right">View All</a-->
                        </div>
                    </div>
                </div>
                <!-- \\ End Flip Card Back -->
            </div>

            <!-- \\ End Card Block -->

            <!-- Card Block -->
            <div class="card-block card-flip card-4" *ngIf="card && card.approvalWorkflowCard.approvalTaskCount >0">
                <!-- Flip Card Front -->
                <div class="front card-flip-block"  [ngClass]="getCardFlipStatus(card)?'front-1':'front-2'">
                    <div class="card-block-inner alt-card-inner clearfix">
                        <div class="clearfix">
                            <span class="icon_sheet_sm Transfers_icon"></span>
                        </div>
                        <div class="title_outer">
                            <h3 class="card_title">{{card.approvalWorkflowCard.approvalTaskCount}}
                                <br />{{card.formName}}
                                <br />Approvals</h3>
                        </div>
                        <div class="employees plus-more asset_approval">
                            <img [src]="task.photoPath" alt=""
                                *ngFor="let task of card.approvalWorkflowCard.approvalTasks" />
                        </div>

                        <div class="card-flip-bottom">
                            <a href="javascript:void(0)" class="btn2 btn-white flip-btn"
                                (click)="changeFlipStatusForFlip(card)">flip for details</a>
                        </div>
                    </div>
                </div>
                <!-- \\ End Flip Card Front -->
                <!--  Flip Card Back -->
                <div class="back card-flip-details"  [ngClass]="getCardFlipStatus(card)?'back-1':'back-2'">
                    <div class="card-block-inner alt-card-inner clearfix">
                        <div class="card-flip-details-inner alt-white-gradient-bottom">
                            <ul class="list-reset alt-card-row card-listing vertical-middle">
                                <li *ngFor="let task of card.approvalWorkflowCard.approvalTasks">
                                    <div class="table-layout padding-tb">
                                        <div class="table-cell width-40">
                                            <img [src]="task.photoPath" class="img-circle img-shadow img-30" alt="">
                                        </div>
                                        <div class="table-cell">
                                            <div class="listing_title graydark-color">{{task.employeeName}}</div>
                                            <div class="din-Medium">{{task.stageName}}</div>
                                            <div class="din-Medium">{{task.startDate}}</div>
                                        </div>
                                        <div class="table-cell text-right vertical-bottom">
                                            <div>{{task.statusMessage}}</div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="card-flip-bottom">
                            <a href="javascript:void(0)" class="btn2 btn-gray fl-left unflip-btn"
                                (click)="changeFlipStatusForFlip(card)">Back</a>
                            <a href="javascript:void(0)" class="btn2 btn-default fl-right" (click)="openTasks.emit()">View All</a>
                        </div>
                    </div>
                </div>
                <!-- \\ End Flip Card Back -->
            </div>
        </ng-container>
        <!-- \\ End Card Block -->


    </div>

    </div>
    <!-- \\ End Section Card-->





</div>
<!-- \\ End Section Content -->

<!--</div>
      </div>
  </div>
</div>-->
<!-- \\ End Section Main Templet -->