<li class="textarea-field form-field" [ngClass]="{'editing':editing}" type="textarea" id="frmb-0-fld-3">
    <div class="field-actions">
        <a id="frmb-0-fld-3-edit" class="toggle-form btn icon-pencil" (click)="editing=!editing" title="Edit"></a>
        <a id="frmb-0-fld-3-copy" class="copy-button btn icon-copy" (click)="copy()" title="Copy">+</a>
        <a id="del_frmb-0-fld-3" class="del-button btn delete-confirm" (click)="delete()" title="Remove Element">×</a>
    </div>
    <label class="field-label">{{element.label}}</label>
    <div class="prev-holder" [hidden]="editing">
        <div class="fb-undefined form-group field-textarea-1498466649606-preview">
            <label for="textarea-1498466649606-preview" class="fb-textarea-label">{{element.label}}</label>
            <span><b>{{element.min}}</b></span>
            <span style="float: right"><b>{{element.max}}</b></span>
            <br><br>
            <input id="slider" type="range" min="{{element.min}}" max="{{element.max}}" step="1"  [(ngModel)]="element.value">
            <br>
            <input id="rangeValue" type="text" size="2"  [(ngModel)]="element.value">
        </div>
    </div>
    <div id="frmb-0-fld-3-holder" [hidden]="!editing" class="frm-holder">
        <div class="form-elements">
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Id</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.id" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047" type="text">
                </div>
            </div>
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-1">Name</label>
                <div class="input-wrap">
                    <input name="name" [(ngModel)]="element.name" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-1" value="radio-group-1498467128047" type="text">
                </div>
            </div>
            <div class="form-group label-wrap">
                <label for="label-frmb-0-fld-1">Label</label>
                <div class="input-wrap">
                    <input name="label" [(ngModel)]="element.label" placeholder="Label" class="fld-label form-control" id="label-frmb-0-fld-1" value="Radio Group" type="text">
                </div>
            </div>
            <div class="form-group placeholder-wrap">
                <label for="placeholder-frmb-0-fld-3">Placeholder</label>
                <div class="input-wrap">
                    <input name="placeholder" [(ngModel)]="element.placeholder" class="fld-placeholder form-control" id="placeholder-frmb-0-fld-3" value="" type="text">
                </div>
            </div>
            <div class="form-group rows-wrap">
                <label for="rows-frmb-0-fld-3">Min Value</label>
                <div class="input-wrap">
                    <input type="number" [(ngModel)]="element.min" name="min" min="0" class="fld-rows form-control" id="rows-frmb-0-fld-3">
                </div>
            </div>
            <div class="form-group rows-wrap">
                <label for="rows-frmb-0-fld-3">Max Value</label>
                <div class="input-wrap">
                    <input type="number" [(ngModel)]="element.max" name="max" min="0" class="fld-rows form-control" id="rows-frmb-0-fld-3">
                </div>
            </div>
            <div class="form-group rows-wrap">
                <label for="rows-frmb-0-fld-3">Selected Value</label>
                <div class="input-wrap">
                    <input type="number" [(ngModel)]="element.value" name="value" min="0" class="fld-rows form-control" id="rows-frmb-0-fld-3">
                </div>
            </div>
            <a class="close-field">Close</a>
        </div>
    </div>
</li>