/************ loading page css start ************/
@-webkit-keyframes placeHolderShimmer{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
}
@keyframes placeHolderShimmer{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
}
.loading-line {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right,  #eeeeee 8%,#dddddd 18%,#eeeeee 33%);
	-webkit-background-size: 800px 104px;
	background-size: 800px 104px;
	height:8px;
	position: relative;
}
.width-5{width: 5%;}
.width-10{width: 10%;}
.width-15{width: 15%;}
.width-20{width: 20%;}
.width-25{width: 25%;}
.width-30{width: 30%;}
.width-35{width: 35%;}
.width-40{width: 40%;}
.width-45{width: 45%;}
.width-50{width: 50%;}
.width-55{width: 55%;}
.width-60{width: 60%;}
.width-65{width: 65%;}
.width-70{width: 70%;}
.width-75{width: 75%;}
.width-80{width: 80%;}
.width-85{width: 85%;}
.width-90{width: 90%;}
.width-95{width: 95%;}
.width-100{width: 100%;}



.width-200px{width: 200px;}
.width-175px{width: 175px;}
.width-150px{width: 150px;}
.width-125px{width: 125px;}
.width-100px{width: 100px;}
.width-80px{width: 80px;}
.width-50px{width: 50px;}
.width-5px{width: 5px;}


.width-18{width: 18px;}

.height-100{height: 100%;}
.height-24{height: 24px;}
.height-16{height: 16px;}

.mgn-t8{margin-top: 8px;}
.mgn-t6{margin-top: 6px;}
.mgn-t5{margin-top: 5px;}
.mgn-t4{margin-top: 4px;}

.mgn-b8{margin-bottom: 8px !important;}
.mgn-b6{margin-bottom: 6px !important;}
.mgn-b4{margin-bottom: 4px !important;}

.border-white{border-color: #fff !important;}
.border-gray{border-color: #e3e3e3 !important;}

.loading-title{
    margin: 6px 0 0 0;
}
.loading-job-details-left{
    margin: 3px 10px 6px 0;
}
.btn .loading-line{
    margin: 4px 0 0 0;
}
.job-stages .loading-line{
    margin: 6.5px 5px;
}
.tab-bar-com .loading-line{
    margin: 6px auto;
}
.panel-heading .loading-line{
    margin: 8px 0 0;
}
.panel-heading .left{
    width: 200px;
    float: left;
}
.panel-heading .right{
    width: 16px;
    float: right;
}
.panel-col .loading-line{
    margin: 3px 0;
}
.skill-row .loading-line{
    margin: 4px 0 2px;
}
.skill-1{
    width: 115px;
}
.skill-2{
    width: 70px;
}
.description .loading-line{
    margin: 2px 0 8px;
}
.workflow-block .loading-line{
    margin: 8px auto 0px;
}
.candidate-detail-title .loading-line{
    margin: 6px 12px 0 0;
}
.social-block-footer .loading-line{
    margin-top: 2px;
}
.candidate-detail-bottom .loading-line{
    margin: 5px 0 8px 0px;
}
.circle-35{
    margin: 0px 0 8px 0px !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.load-center{
    margin-left: auto;
    margin-right: auto;
}
.load-feedback .loading-line{
    margin: 3px 0 0 0;
}
.star-rating-lg .loading-line{
    margin: 8px 3px 0 0;
    width: 15px;
    float: left;
}
.main-title-row .title.loading-line{
    margin: 6px 0 3px 0;
}
.main-title-row .main-title.loading-line{
    margin: 6px 0 3px 0;
}

.main-title-right .loading-line{
    margin: 12px 0 0 0;
}
.crown.loading-line{
    border-radius: 50%;
}
.card-flip-middle .loading-line{
    margin: 0 0 10px 0;
}
.card-flip-middle ul li.loading-line{
    margin: 0;
}
.start-here .loading-line{
    margin: 6px auto 0;
    width: 150px;
}
.applied-filters-block .text-filter.loading-line{
    margin-top: 8px;
}
.section-filter ul li.loading-line{
    margin: 8px 5px 0 0;
}

.card-block .checkbox.loading-line{
    margin: 5px 0 0 0;
    padding: 0;
    height: 14px;
    width: 14px;
    border-radius: 2px;
}
.card-block .job-option.loading-line{
    float: right;
    width: 5px;
    height: 24px;
    margin: 0;
}

/************ loading page css end ************/