<main role="main">
    <div class="container">
        <div class="page_title">
            <h3>Update App</h3>
        </div>
        <span *ngIf="message" class="label label-success">{{message.message}}</span>


        <form>
            <div class="add_new_app">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>App Title</label>
                            <input name="appTitle" [(ngModel)]="app.appName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>

                                Category</label>
                            <select [(ngModel)]="app.categoryId" name="category" (ngModelChange)="categoryChanged($event)" type="text" class="form-control">
                                <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>
                                Sub Category
                            </label>
                            <select [(ngModel)]="app.subCategory" name="app.subCategory" name="subCategory" type="text" class="form-control">
                                <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory.categoryId">{{subCategory.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>Company Name</label>
                            <input name="company" [(ngModel)]="app.company" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>Website URL</label>
                            <input name="websiteUrl" [(ngModel)]="app.websiteUrl" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>Video/Tutorial URL</label>
                            <input [(ngModel)]="app.videoUrl" name="videoUrl" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>App URL</label>
                            <input [(ngModel)]="app.appUrl" name="appUrl" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="inputContainer focused">
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputContainer focused">
                            <label>Short Description</label>
                            <textarea name="shortDescription" [(ngModel)]="app.shortDescription" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="inputContainer focused">
                            <label>Description</label>
                            <textarea [(ngModel)]="app.description" name="description" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <!-- images upload -->
                <div class="row">
                    <!-- <img style="width:1030px; height:300px" src="{{app.headerCoverImage}}" /> -->
                    <div class="col-sm-6" *ngIf="app.headerCoverImage">
                        <p class="small_heading">HeaderCover Image</p>
                        <div class="add_img app_cover_img">
                            <img src="{{app.headerCoverImage}}" alt="" title="">
                            <div class="remove_img">
                                <i class="material-icons" (click)="app.headerCoverImage=''">close</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="!app.headerCoverImage">
                        <label class="headerCoverImage">
                            <p class="small_heading">HeaderCover Image</p>
                            <div class="add_img app_cover_img">
                                <input style="display: none;" type="file" id="headerCoverImage" (change)="fileChange('headerCoverImage',$event)" placeholder="Upload file"
                                    accept=".jpeg,.png,.bmp,.jpg">
                                <i class="material-icons">add_circle</i>
                                <p>1030 x 300 Pixels</p>
                            </div>
                        </label>
                    </div>
                    <!-- <img style="width:120px; height:120px" src="{{app.appLogo}}" /> -->
                    <div class="col-sm-6" *ngIf="app.appLogo">
                        <p class="small_heading">App Icon</p>
                        <div class="add_img app_icon">
                            <img src="{{app.appLogo}}" alt="" title="">
                            <div class="remove_img">
                                <i class="material-icons" (click)="app.appLogo=''">close</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="!app.appLogo">
                        <label for="appLogo">
                            <p class="small_heading">App Icon</p>
                            <div class="add_img app_icon">
                                <input style="display: none;" type="file" id="appLogo" (change)="fileChange('appLogo',$event)" placeholder="Upload file"
                                    accept=".jpeg,.png,.bmp,.jpg">
                                <i class="material-icons">add_circle</i>
                                <p>120 x 120
                                    <br>Pixels</p>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <!-- <img style="width:240px; height:144px" src="{{app.previewBanner}}" /> -->
                    <div class="col-sm-12" *ngIf="app.previewBanner">
                        <p class="small_heading">Preview Banner</p>
                        <div class="add_img app_cover_img">
                            <img src="{{app.previewBanner}}" alt="" title="">
                            <div class="remove_img">
                                <i class="material-icons" (click)="app.previewBanner=''">close</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="!app.previewBanner">
                        <label for="previewBanner">
                            <p class="small_heading">Preview Banner</p>
                            <div class="add_img app_cover_img">
                                <input style="display: none;" type="file" id="previewBanner" (change)="fileChange('previewBanner',$event)" placeholder="Upload file"
                                    accept=".jpeg,.png,.bmp,.jpg">
                                <i class="material-icons">add_circle</i>
                                <p>240 x 144 Pixels</p>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <!-- <ng-container *ngFor="let screenshot of app.screenshots">
                  <img style="width:600px; height:450px" src="{{screenshot}}" />
                </ng-container> -->
                    <div class="col-sm-12">
                        <p class="small_heading">App Snapshots</p>
                        <div class="snapshot_img" *ngFor="let screenshot of app.screenShots; let i=index">
                            <img src="{{screenshot}}" alt="" title="">
                            <div class="remove_img">
                                <i class="material-icons" (click)="removeScreenshot(i)">close</i>
                            </div>
                        </div>
                        <div class="add_img app_snapshots">
                            <label for="screenShots">
                                <input style="display: none;" type="file" multiple id="screenShots" (change)="fileChange('screenShots',$event)" placeholder="Upload file"
                                    accept=".jpeg,.png,.bmp,.jpg">
                                <i class="material-icons">add_circle</i>
                                <p>600 x 450
                                    <br>Pixels</p>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 text-right btn_group">
                        <button class="btn btn-default btn_gray" type="button" routerLink="/adminUser/apps">Cancel</button>
                        <button class="btn btn-default btn-primary" type="button" (click)="updateApp()" [disabled]="!app.appName || !app.appUrl || !app.categoryId">Update</button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</main>
