<!-- table start -->
<div class="form-group">
    <label class="control-label">
        {{element.label}}
        <span *ngIf="element.required">*</span>
        <a class="info-container" title="{{element.helpText}}">
            <span class="info-icon material-icons">info_outline</span>
        </a>
        <div class="actions fl-right">
            <a href="javascript:void(0)" *ngIf="editMode" (click)="copy()">
                <span class="menu-style-icon material-icons edit">content_copy</span>
            </a>
            <span class="saprator"></span>
            <a href="javascript:void(0)" *ngIf="editMode" (click)="delete()">
                <span class="menu-style-icon material-icons">delete</span>
            </a>
        </div>
    </label>
    <div class="document_table">
        <div class="table-download table-outer">
            <div class="table-responsive">
                <table class="table document-table mgn-b0 table_filter">
                    <thead>
                        <tr>
                            <th class="table-cell-3 filter_th" *ngFor="let column of element.headers">
                                {{column}} <span class="clickFilter filter_icon"></span>
                            </th>

                            <th class="table-cell-6 filter_th option-cell">
                                Action

                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="table-cell-3" *ngFor="let column of element.headers">

                            </td>
                            <td class="table-cell-6 option-cell">
                                <a href='javascript:void(0);' class="icons-only">
                                    <span class="menu-style-icon material-icons edit-icon13">edit</span>
                                </a>
                                <a href='javascript:void(0);' class="icons-only">
                                    <span class="menu-style-icon material-icons">delete</span>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- table end -->