<main role="main">

  <!-- Media Popup start -->
  <div class="hide-only-mobile alt-module-true signIn open_media_popup" *ngIf="displayFrame">
    <a href="javascript:void(0)" class="alt-modal-close" (click)="closeViewer()">
      <span class="material-icons">clear</span>
    </a>
    <span class="arrow-left">
      <img src="assets/images/chevron_active_left.png" (click)="showPrev()">
    </span>
    <span class="arrow-right">
      <img src="assets/images/chevron_active_right.png" (click)="showNext()">
    </span>
    <div class="alt-modal">
      <div class="media-container" *ngIf="!viewedImage">
        <img src="assets/images/appshot_worklife_3.png">
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe  *ngIf="viewedImage" [src]='viewedImage|safe' frameborder="0" gesture="media" allow="encrypted-media"
        scrolling="no" ></iframe>
      </div>
    </div>
  </div>
  <!-- media Popup end -->

  <!-- get started Popup start -->

  <div *ngIf="showListPopUp">
    <div class="alt-module-true popUp_Sign_in">
      <div class="alt-modal sign-in-popup wish-dialog large_popup">
        <div class="alt-modal-body">
          <div class="table-layout margin-bottom-20 vertical-middle">
            <div class="table-cell width-60px">
              <div class="app-store-popup-title">
                <span class="popup-title">Share Details</span>
                <span>
                  <label *ngIf="errorMessage">Error occured</label>
                </span>
                <img src="assets/images/one_store_logo.png" alt="Alt App store logo" />
              </div>
              <a href="javascript:void(0)" (click)="closeModal_getStarted()" class="alt-modal-close">
                <span class="material-icons">clear</span>
              </a>
            </div>
          </div>
          <form name="loginform" novalidate #enquiry="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label class="">Organization Name
                    <span class="madatory_star">*</span>
                  </label>
                  <input name="orgName" #orgName="ngModel" [(ngModel)]="userEnquiryDetails.organizationName" required type="text" class="form-control">
                  <span class="error_msg" *ngIf="orgName?.touched && !orgName?.valid">Organization Name can't be blank</span>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>Number of Employees</label>
                  <input name="empcount" [(ngModel)]="userEnquiryDetails.employeeCount" type="number" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>First Name
                    <span class="madatory_star">*</span>
                  </label>
                  <input name="firstName" #firstName="ngModel" [(ngModel)]="userEnquiryDetails.firstName" required type="text" class="form-control">
                  <span class="error_msg" *ngIf="firstName?.touched && !firstName?.valid">First Name can't be blank</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>Last Name</label>
                  <input name="lastName" [(ngModel)]="userEnquiryDetails.lastName" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>Email
                    <span class="madatory_star">*</span>
                  </label>
                  <input name="email" #email="ngModel" [(ngModel)]="userEnquiryDetails.email" required email type="email" class="form-control">
                  <span class="error_msg" *ngIf="email?.touched && !email?.value && !email?.valid">Email can't be blank</span>
                  <span class="error_msg" *ngIf="email?.touched && email?.value && !email?.valid">Email id is not correct</span>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>Mobile
                    <span class="madatory_star">*</span>
                  </label>
                  <input name="mobile" #mobile="ngModel" [(ngModel)]="userEnquiryDetails.mobileNumber" required type="number" class="form-control">
                  <span class="error_msg" *ngIf="mobile?.touched && !mobile?.valid">Mobile can't be blank</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>How did you hear about alt Marketplace</label>
                  <input name="howdidyouheartext" [(ngModel)]="userEnquiryDetails.howDidYouHearText" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="inputContainer focused">
                  <label>Referred By</label>
                  <input name="referredBy" [(ngModel)]="userEnquiryDetails.referredBy" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12 text-right">
                <div class="inputContainer btn_group">
                  <button class="btn btn-default btn_gray" type="button" (click)="closeModal_getStarted()">Cancel</button>
                  <button class="btn btn-default btn-primary" [disabled]="enquiry.invalid" required type="button" (click)="sendUserEnquiryDetails()">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- get started Popup end-->
  <div class="container">
    <div class="row main-container">
      <div class="col main-content">

        <section class="banner-main">
          <div class="container">
            <div class="row">
              <div class="banner-title app-info-title full-width">
                <h3>App Info</h3>
              </div>
              <img src="{{appInfo?.headerCoverImage}}" alt="banner" />
            </div>
          </div>
        </section>

        <!-- ***************** banner close ************ -->


        <section class="app-content-holder">

          <div class="app-info-detail">
            <div class="row">
              <div class="col-sm-3 app-thumb-block ">
                <div class="app-image">
                  <img src="{{appInfo?.appLogo}}" alt="banner" />
                </div>
              </div>
              <div class="col-sm-5 app-detail-block">
                <ul class="appstore-thumb-info">
                  <li class="appTitle">{{appInfo?.appName}}
                    <span class="appTitle-owner">{{appInfo?.company}}</span>
                  </li>
                  <li *ngIf="appInfo?.rating" class="rating">
                    <app-star-rating [rating]="appInfo?.rating"></app-star-rating>
                  </li>
                </ul>
                <button (click)="showModal_getStarted(appInfo?.appName)" class="btn btn-primary">{{(appInfo?.appName=='Great Place To Work') ? 'Register' : 'Get Started'}}</button>
                <span *ngIf="successMessage">
                  <label>User Enquiry Details mailed and saved successfully</label>
                </span>

              </div>
              <div class="col-sm-4 app-wishlist-block">
                <span class="wishlist">
                  <img src="assets/images/add_to_wishlist.png">add to wishlist</span>
              </div>
            </div>



          </div>

          <section class="app-info-slider" *ngIf="appInfo">

            <div class="row app-info-slider-container slides-wrapper" ng2-carouselamos [items]="appInfo?.screenShots" [width]="" [$prev]="prev"
              [$next]="next" [$item]="item">
              <ng-template #prev>
                <div class="arrow-left">
                  <img src="assets/images/chevron_active_left.png" id="left">
                </div>

              </ng-template>

              <ng-template #next>
                <div class="arrow-right">
                  <img src="assets/images/chevron_active_right.png" id="right">
                </div>
              </ng-template>
              <ng-template #item let-item let-i="index">
                <div  *ngIf="videoUrlFlag;else elseContent">

                <div class="col-12 col-sm-6" *ngIf="i!=0" (click)="openViewer(i)">
                  <a class="thumb" href="javascript:void(0)">
                    <img src="{{item}}">
                  </a>
                </div>
                <div    *ngIf="i==0" (click)="openViewer(i)">
                  <a class="thumb video-container embed-responsive embed-responsive-16by9" href="javascript:void(0)">
                    <iframe class="app_info_video"  [src]="item|safe" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
                  </a>
                </div>
                </div>
                <ng-template #elseContent class="appstore-slider-item unselectable">
                  <div class="col-12 col-sm-6" *ngIf="i!=0" (click)="openViewer(i)">
                  <a class="thumb" href="javascript:void(0)">
                    <img src="{{item}}">
                  </a>
                  </div>
                </ng-template>
              </ng-template>
            </div>
          </section>

          <pre *ngIf="showLess" class="app-text-info">{{appInfo?.description | slice:0:400}}</pre>
          <pre *ngIf="!showLess" class="app-text-info">{{appInfo?.description}}</pre>
          <!-- <a class="app-text-info-link" href="#">Read More</a> -->
          <div class="hide-only-mobile text-right">
            <a href="javascript:void(0)" (click)="showLess=!showLess">
              <span *ngIf="!showLess" class="app-text-info-link">Read Less
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
              <span *ngIf="showLess" class="app-text-info-link">Read More
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </span>
            </a>
          </div>

        </section>
      </div>

      <div class="col right-side-bar ">

        <div class="banner-title app-info-title full-width">
          <h3>other apps</h3>
        </div>

        <div class="other-apps">
          <div class="">

            <div *ngFor="let application of apps | slice:0:4">
              <div *ngIf="application?.appId != appInfo?.appId">
                <ul class="other-apps-list">

                  <li class="">
                    <span class="appTitle" title="{{application?.appName}}">
                      <a>{{application?.appName}}</a>
                    </span>
                    <span class="appTitle-owner appOwner" title="{{application?.company}}">{{application?.company}}</span>
                    <span class="rating">
                      <app-star-rating [rating]="application?.rating"></app-star-rating>
                    </span>
                    <a class="thumb appContentSnap" (click)="changeApp(application.appId)">
                      <img src="{{application.previewBanner}}">
                      <div class="app_thumb_hover">
                        <p class="thumb_hover_des">{{application.shortDescription}}</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <a class="app-text-info-link float-right" routerLink="/category/{{appInfo?.categoryId}}">view more
          </a>

        </div>
      </div>
    </div>
  </div>
</main>
