<section class="banner view-apps eidt_banner">
    <div class="container">
        <div class="row appstore_banner">
            <div [@carousel]='state' class="col appstore_banner_images">
                <ng-container *ngIf="mainImage.type=='INTERNAL'">
                    <a href="{{mainImage.link}}" href="javascript:void(0);">
                        <img src="{{mainImage.imageBanner}}" alt="" title="">
                    </a>
                </ng-container>
                <ng-container *ngIf="mainImage.type=='EXTERNAL'">
                    <a href="{{mainImage.link}}" target="_blank" href="javascript:void(0);">
                        <img src="{{mainImage.imageBanner}}" alt="" title="">
                    </a>
                </ng-container>
            </div>
            <div class="col appstore_banner_thumb">
                <div class="thumb_inner">
                    <a [@carousel]='state' href="{{images[topImageIndex].link}}" target="_blank" href="javascript:void(0);">
                        <img src="{{images[topImageIndex].imageThumbnail}}" alt="" title="">
                    </a>
                    <a [@carousel]='state' href="{{images[downImageIndex].link}}" target="_blank" href="javascript:void(0);">
                        <img src="{{images[downImageIndex].imageThumbnail}}" alt="" title="">
                    </a>
                    <div class="up_arrow" (click)="change(mainImageIndex-1)">
                        <img src="assets/images/ic_up.svg" alt="" title="">
                    </div>
                    <div class="down_arrow" (click)="change(mainImageIndex+1)">
                        <img src="assets/images/ic_down.svg" alt="" title="">
                    </div>
                </div>
            </div>
            <div *ngIf="editable" class="appstore_edit_slider"  ><a  (click)="showBannerList()"><i class="material-icons">edit</i> Edit Slider</a></div>
        </div>
    </div>
</section>
