<div [formGroup]="form" [ngSwitch]="component.controlType">

    <div *ngSwitchCase="'DATATABLE'">

        <!-- table start -->
        <ng-container>
            <div class="form-group">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <label class="control-label">
                                {{component.label}}
                            </label>
                            <div class="input-group search-block">
                                <input type="text" class="form-control" id="tableSearchInput" placeholder="Search…"
                                    [(ngModel)]="filterText" [ngModelOptions]="{standalone: true}"
                                    (input)="filter($event)">
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="table_top_btn fl-right">
                        <a *ngIf="historyData && component.security.editable"
                            class="info-container btn btn-primary fl-right add-click"
                            (click)="addRow(component.formPopup)" title="Add new">
                            <span class="add-icon icon-add">add</span>
                        </a>
                        <a class="info-container btn btn-primary fl-right add-click" (click)="downloadFile(component)"
                            title="Download data">
                            <span class="add-icon icon-download">get_app</span>
                        </a>
                        <input id="template-upload_{{component.id}}" type="file" style="display: none;"
                            (change)="uploadDataTable($event,component)">
                        <a *ngIf="component.security.editable" class="info-container btn btn-primary fl-right add-click"
                            (click)="selectFileForUploadDataTable(component)" title="Upload data">
                            <span class="add-icon icon-upload">vertical_align_top</span>
                        </a>
                        <a *ngIf="component.security.editable" class="info-container btn btn-primary fl-right "
                            (click)="downloadDataTable(component)" title="Download template">
                            <span class="add-icon icon-download-report">vertical_align_bottom</span>
                        </a>
                    </div>

                </div>

                <div class="section-card grid_view clearfix" *ngIf="component.cardView">
                    <ng-container *ngFor="let instanceid of component.filteredData">
                        <!-- Card Block -->
                        <div class="card-block card-4">
                            <div class="card-block-inner alt-card-inner profile_card clearfix">
                                <div class="card_actions_icons">
                                    <a>
                                        <span *ngIf="historyData" class="material-icons edit_icon fl"
                                            (click)="editRow(instanceid.instanceId,component.formPopup)">edit</span>
                                    </a>
                                    <a>
                                        <span *ngIf="historyData" class="material-icons fl"
                                            (click)="deleteRow(instanceid.instanceId,component.formPopup)">delete</span>
                                    </a>

                                    <div class="module_action fl">
                                        <a *ngIf="component.navigationButtons && component.navigationButtons.length > 0"
                                            class="module-action-click"
                                            (click)="activeInstanceForNavigationMenu=instanceid.instanceId">
                                            <span class="menu-style-icon material-icons">more_horiz</span>
                                        </a>
                                        <!---->
                                        <div *ngIf="activeInstanceForNavigationMenu==instanceid.instanceId"
                                            class="menu-style menu-style-3 module-action-style">
                                            <ul class="list-reset dropdown-menu">
                                                <li (click)="navigate(navigationButton.navigation,instanceid)"
                                                    *ngFor="let navigationButton of component.navigationButtons">
                                                    <a class="blue_link attach_form_click">{{navigationButton.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid_img_name">
                                    <img class="grid_user_img" [src]=pickCardViewPhoto(instanceid.instanceId)>
                                    <div class="img_right_content">
                                        <h3>{{getValues(instanceid)[0]}}</h3>
                                        <p>{{getValues(instanceid)[1]}}</p>
                                    </div>
                                </div>
                                <div class="grid_details_container">
                                    <div class="grid_details"
                                        *ngFor="let column of component.headers  | slice:0; let i = index;">
                                        <div class="grid_details_inner">
                                            <p class="grid_label">{{column}}</p>
                                            <p class="grid_content">{{getValues(instanceid)[i]}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \\End Card Block -->
                    </ng-container>
                </div>

                <!-- New Table data section start -->
                <div class="altone-tables" *ngIf="!component.cardView">
                    <div class="thead">
                        <div class="th" *ngFor="let column of component.headers">
                            <label>
                                {{column}}
                                <span class="sorter-icon" title="Sorting" (click)="sortColumn(component,column)"></span>
                            </label>
                            <!--input type="text" class="table_search"-->
                        </div>

                        <div *ngIf="component.security.editable || (component.navigationButtons && component.navigationButtons.length > 0)"
                            class="th action-w95">
                            <label>
                                Action
                            </label>
                        </div>
                    </div>

                    <div class="tr" *ngFor="let instanceid of component.filteredData">

                        <div class="td m-position-col one" *ngFor="let cell of getValues(instanceid);index as i">
                            <ng-container
                                *ngIf="!displayedExcelColumns.includes(i) && cell && cell!='null' && !cell.includes('filePath') && cell!='true' && cell!='false' && !cell.includes('linkName')">
                                <ng-container>{{cell}}</ng-container>
                            </ng-container>
                            <ng-container *ngIf="cell && (cell=='true'||cell=='false')">
                                <input type="checkbox" disabled [checked]="cell=='true'">
                            </ng-container>
                            <ng-container *ngIf="displayedExcelColumns.includes(i)">
                                <a href="javascript:void(0);"
                                    (click)="saveFileAs(cell,'download.xlsx')">{{getFileName(cell)}}</a>
                            </ng-container>
                            <ng-container *ngIf="cell && cell.includes('filePath')">
                                <ng-container *ngFor="let file of parseJSON(cell),index as i">
                                    <a *ngIf="file.fileName && file.fileName!=''" href="javascript:void(0);"
                                        (click)="saveFileAs(file.filePath,file.fileName)">{{file.fileName}}</a>
                                    &nbsp;({{getFileSize(file.fileSizeBytes)}})
                                    <ng-container *ngIf="i<parseJSON(cell).length-1">&nbsp;,</ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="cell && cell.includes('linkName')">
                                <a [href]="parseJSON(cell).linkUrl" target="_blank">{{parseJSON(cell).linkName}}</a>
                            </ng-container>
                        </div>
                        <div *ngIf="component.security.editable || (component.navigationButtons && component.navigationButtons.length > 0)"
                            class="td m-position-col two rltv">
                            <div class="fr">
                                <a class="module-action-click">
                                    <span *ngIf="historyData && component.security.editable"
                                        class="table_action_icons menu-style-icon material-icons edit_icon fl"
                                        (click)="editRow(instanceid.instanceId,component.formPopup)">edit</span>
                                </a>
                                <a class="module-action-click">
                                    <span *ngIf="historyData && component.security.editable"
                                        class="table_action_icons menu-style-icon material-icons fl"
                                        (click)="deleteRow(instanceid.instanceId,component.formPopup)">delete</span>
                                </a>

                                <a class="module-action-click"
                                    *ngIf="component.navigationButtons && component.navigationButtons.length > 0"
                                    class="module-action-click"
                                    (click)="activeInstanceForNavigationMenu=instanceid.instanceId">
                                    <span class="menu-style-icon material-icons">more_horiz</span>
                                </a>
                                <!---->
                                <div *ngIf="activeInstanceForNavigationMenu==instanceid.instanceId"
                                    class="menu-style menu-style-3 module-action-style">
                                    <ul class="list-reset dropdown-menu">
                                        <li (click)="navigate(navigationButton.navigation,instanceid)"
                                            *ngFor="let navigationButton of component.navigationButtons">
                                            <a class="blue_link attach_form_click">{{navigationButton.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- \\ New Table data section end -->
            </div>
        </ng-container>

        <!-- table end -->

    </div>

    <!-- TEXTFIELD -->
    <div class="form-group" *ngSwitchCase="'TEXTFIELD'">
        <label [attr.for]="component.key" class="control-label">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>
        </label>
        <input type="text" class="form-control" [(formControlName)]="component.id" [id]="component.id"
            [name]="component.name" [type]="component.inputType" placeholder="{{component.placeholder}}"
            [attr.disabled]="component.security.editable?null:true">
        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- TEXTAREA -->
    <div class="form-group" *ngSwitchCase="'TEXTAREA'">
        <label [attr.for]="component.key" class="control-label">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>
        </label>
        <textarea type="textarea" class="form-control" [(formControlName)]="component.id" [id]="component.id"
            placeholder="{{component.placeholder}}" [attr.disabled]="component.security.editable?null:true"></textarea>
        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- DATE -->
    <div class="form-group" *ngSwitchCase="'DATE'">
        <label [attr.for]="component.key" class="control-label">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>
        </label>
        <input type="date" class="form-control" [(formControlName)]="component.id" [id]="component.id"
            [name]="component.name" placeholder="{{component.placeholder}}"
            (change)="dateChangedEvent(component,$event)" [attr.disabled]="component.security.editable?null:true">
        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- IMAGE -->
    <div class="form-group" *ngSwitchCase="'IMAGE'">
        <label [attr.for]="component.key" class="control-label" [attr.disabled]="component.security.editable?null:true">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>
        </label>
        <label for="file-upload_{{component.id}}" class="custom-file-upload">Upload Image</label>
        <input id="file-upload_{{component.id}}" type="file" (change)="uploadInstanceLogo($event,component)"
            class="default_upload" placeholder="{{component.placeholder}}"
            [attr.disabled]="component.security.editable?null:true" />

        <img class="user_uploaded_img" [src]="component.value==''?'../assets/images/noimage.png':component.value">

        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- LABEL -->
    <div class="form-group" *ngSwitchCase="'LABEL'">
        <label [attr.for]="component.key" class="control-label">
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>
            <div class="actions fl-right">
            </div>
        </label>
        <h2 class="label_heading fl-left">{{component.label}}</h2>
        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- BLANK -->
    <div class="form-group" *ngSwitchCase="'BLANK'">
        <div class="blank-field">&nbsp;
            <br>&nbsp;</div>
    </div>

    <!-- DROPDOWN -->
    <div class="form-group" *ngSwitchCase="'DROPDOWN'">
        <label [attr.for]="component.key" class="control-label">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>

        </label>
        <select class="form-control" [formControlName]="component.id" [id]="component.id" [name]="component.name"
            [attr.disabled]="component.security.editable?null:true"
            (change)="processFilter($event);processOwner($event);dropDownChangedEvent(component,$event);">
            <option *ngFor="let opt of component.filteredOptions" [value]="opt.value">{{opt.label}}</option>
        </select>
        <mat-form-field *ngIf="false" class="form-control">
            <input type="text" matInput [formControlName]="component.id" [id]="component.id" [name]="component.name"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOptionsFn.bind(this)"
                (optionSelected)="processFilter($event,form);processOwner($event);dropDownChangedEvent(component,$event);">
                <mat-option *ngFor="let option of filteredSelectOptions | async" [value]="option.value">
                    {{option.label}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- MULTISELECT -->
    <div class="form-group" *ngSwitchCase="'MULTI_SELECT'">
        <label [attr.for]="component.key" class="control-label">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>

        </label>
        <select class="form-control multiselect" (change)="processSelection($event,component)" multiple
            [attr.disabled]="component.security.editable?null:true">
            <option>Select</option>
            <option *ngFor="let option of component.options" [value]="option.value"
                [selected]="determineSelection(component,option)">{{option.label}}</option>
        </select>
        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- PANEL -->
    <div class="form-group" *ngSwitchCase="'PANEL'">
        <div class="panel-full">
            <div class="panel panel-open">
                <div class="panel-heading clearfix">
                    <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom"
                        title="" data-original-title="Help text Help text ">
                        <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
                    </a>
                    <h2 class="panel-title fl-left text-capitalize">{{component.label}}</h2>
                    <div class="actions fl-right">
                    </div>
                </div>
                <div class="panel-body">

                    <div class="panel_content">

                        <div class="full_box custom-wrap">
                            <form [formGroup]="form.controls[component.id]">
                                <ng-container *ngFor="let childComponent of component.componentList">
                                    <div class="input_box"
                                        [ngClass]="[childComponent.cssClass,childComponent.controlType=='BLANK'?'m-empty-cell':'']"
                                        *ngIf="childComponent.security?.viewable">

                                        <dynamic-component-loader [component]="childComponent"
                                            [form]="form.controls[component.id]" [htmlComponents]="htmlComponents"
                                            (deleteDataTableRow)="openFormInDeleteMode($event)"
                                            (editDataTableRow)="openFormInEditingMode($event)"
                                            (addDatatableRow)="openFormDialog($event)"
                                            (photoUploadEvent)="uploadInstanceLogoForm($event)"
                                            (submitFormsEvent)="submitForms($event)"
                                            (dataTableUploaded)="dataTableUploaded.emit()"
                                            (navigation)="navigation.emit($event)"
                                            (excelUploadEvent)="uploadExcel($event.event,$event.component)"
                                            (attachmentUploadEvent)="uploadAttachment($event.event,$event.component)">
                                        </dynamic-component-loader>
                                    </div>
                                </ng-container>
                            </form>
                            <!--form [formGroup]="form.controls[component.id]">
                                <div *ngFor="let childComponent of component.componentList" class="input_box"
                                    [ngClass]="childComponent.cssClass">
                                    <dynamic-component-loader (submitFormsEvent)="submitForms($event)"
                                        [component]="childComponent" [form]="form.controls[component.id]"
                                        [htmlComponents]="component.componentList"></dynamic-component-loader>
                                </div>
                            </form-->
                        </div>

                    </div>

                    <!--div class="group_btn btn-row-2 panel_btn">
                        <button type="button" class="btn btn-white">Cancel</button>
                        <button type="submit" class="btn btn-primary"
                            (click)="submitForms(component.componentList, form.controls[component.id])">Submit</button>
                    </div-->

                </div>
                <span class="instruction">{{component.instruction}}</span>
            </div>
        </div>
    </div>

    <!-- TABBEDPANEL -->
    <div class="full_box border_dashed" *ngSwitchCase="'TAB_PANEL'">
        <div class="form-group">
            <label class="control-label">
                <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom"
                    title="" data-original-title="Help text Help text ">
                    <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
                </a>
                &nbsp;
                <div class="actions fl-right">
                </div>
            </label>
            <!-- Tab Section -->
            <div class="tab-section-tabbed-panel">
                <div class="tab-bar tab-bar-com">
                    <ul class="list-reset text-center">
                        <ng-container *ngFor="let panel of component.panels; let ind = index">
                            <li class="first" [class.active]="ind==component.activePanelIndex">
                                <a href="javascript:void(0);"
                                    (click)="component.activePanelIndex=ind;">{{panel.label}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <!-- Tab 1 -->
                <form [formGroup]="form.controls[component.id]">
                    <ng-container *ngFor="let panel of component.panels; let ind=index">
                        <div *ngIf="ind==component.activePanelIndex" class="tab-details tab-details-com"
                            style="display: block;">
                            <form [formGroup]="form.controls[component.id].controls[panel.id]">
                                <div *ngFor="let childComponent of panel.componentList" class="input_box"
                                    [ngClass]="childComponent.cssClass">
                                    <dynamic-component-loader (submitFormsEvent)="submitForms($event)"
                                        [component]="childComponent"
                                        [form]="form.controls[component.id].controls[panel.id]"
                                        [htmlComponents]="panel.componentList"></dynamic-component-loader>
                                </div>
                            </form>
                        </div>
                    </ng-container>
                </form>
            </div>
            <!-- \\ End Tab Section -->
            <div class="group_btn btn-row-2 mgn-t15">
                <button type="button" class="btn btn-white">Cancel</button>
                <button type="reset" class="btn btn-primary"
                    (click)="submitForms(component.panels[component.activePanelIndex].componentList,form.controls[component.id].controls[component.panels[component.activePanelIndex].id])">Save</button>
            </div>
            <span class="instruction">{{component.instruction}}</span>
        </div>
    </div>

    <!-- BUTTON -->
    <div class="form-group" *ngSwitchCase="'BUTTON'">
        <label class="control-label">&nbsp;</label>
        <button class="btn btn-primary" [id]="component.id" [name]="component.name"
            (click)="buttonClickEvent(component,$event);buttonClicked(component);submitForms(htmlComponents, form)"
            [disabled]="!form.valid || !component.security.editable">{{component.label}}</button>
    </div>

    <!-- EXCEL -->
    <div class="form-group" *ngSwitchCase="'EXCEL'">
        <label [attr.for]="component.key" class="control-label" [attr.disabled]="component.security.editable?null:true">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>

            <div class="actions fl-right">
            </div>
        </label>
        <label *ngIf="!component.dataFileName" for="file-upload_{{component.id}}" class="custom-file-upload">Upload
            File</label>
        <label *ngIf="component.dataFileName && component.dataFileName!=''" for="file-upload_{{component.id}}"
            class="custom-file-upload">Update
            File</label>
        <input id="file-upload_{{component.id}}" type="file" (change)="uploadExcel($event,component)"
            class="default_upload" placeholder="{{component.placeholder}}"
            [attr.disabled]="component.security.editable?null:true" (click)="resetValue($event)" />

        <a *ngIf="component.dataFileName && component.dataFileName!=''" href="javascript:void(0);"
            (click)="saveFileAs(component.dataFilePath,component.dataFileName)">{{component.dataFileName}}</a>

        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- ATTACHMENTS -->
    <div class="form-group" *ngSwitchCase="'ATTACHMENTS'">
        <label [attr.for]="component.key" class="control-label" [attr.disabled]="component.security.editable?null:true">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>
        </label>

        <ng-container *ngFor="let file of component.files,index as i">
            <a *ngIf="file.fileName && file.fileName!=''" href="javascript:void(0);"
                (click)="saveFileAs(file.filePath,file.fileName)">{{file.fileName}}</a>
            &nbsp;({{getFileSize(file.fileSizeBytes)}})
            <a *ngIf="component.security.editable" href="javascript:void(0);"
                (click)="removeAttachment(component.files,i)">[X]</a>
            <ng-container *ngIf="i<component.files.length-1">&nbsp;,</ng-container>
        </ng-container>

        <label *ngIf="component.security.editable" for="file-upload_{{component.id}}" class="custom-file-upload">Attach
            File</label>
        <input *ngIf="component.security.editable" id="file-upload_{{component.id}}" type="file"
            (change)="uploadAttachment($event,component)" class="default_upload" placeholder="{{component.placeholder}}"
            [attr.disabled]="component.security.editable?null:true" (click)="resetValue($event)" />

        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- LINK -->
    <div class="form-group" *ngSwitchCase="'LINK'">
        <label [attr.for]="component.key" class="control-label" [attr.disabled]="component.security.editable?null:true">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>
        </label>

        <a [href]="component.linkUrl" target="_blank">{{component.linkName}}</a>

        <span class="instruction">{{component.instruction}}</span>
    </div>

    <!-- CHECKBOX -->
    <div class="form-group" *ngSwitchCase="'CHECKBOX'">
        <label [attr.for]="component.key" class="control-label" [attr.disabled]="component.security.editable?null:true">
            {{component.label}}
            <span *ngIf="component.required">*</span>
            <a *ngIf="component.helpText" class="info-container" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Help text Help text ">
                <span class="info-icon material-icons" title="{{component.helpText}}">info_outline</span>
            </a>
        </label>

        <input type="checkbox" [(formControlName)]="component.id" [id]="component.id" [name]="component.name"
            [attr.disabled]="component.security.editable?null:true">

        <span class="instruction">{{component.instruction}}</span>
    </div>
</div>