<div class="content without-fixed-sidebar">
    <div class="main-title-row">
        <h2 class="main-title">My Tasks</h2>
    </div>

    <div class="table-outer-row">
        <div class="altone-tables">
            <div class="thead">
                <div class="th">
                    <label>Task Code</label>
                </div>
                <div class="th">
                    <label>Employee Name</label>
                </div>
                <div class="th">
                    <label>Stage</label>
                </div>
                <div class="th">
                    <label>Status</label>
                </div>
            </div>

            <div class="tr" *ngFor="let task of tasks">
                <div class="td w-50"><a href="javascript:void(0)" (click)="openTask(task)">{{task.resignationCode}}</a>
                </div>
                <div class="td w-50">{{task.employeeName}}</div>
                <div class="td w-50">{{task.stageName}}</div>
                <div class="td w-50">{{task.statusMessage}}</div>
            </div>
        </div>
    </div>
</div>