<!-- Section content -->
<div class="content without-fixed-sidebar">
    <div class="logout_container">
        <div class="logout_messege">You have been logged out successfully.</div>
        <a (click)="close()"class="login_again">click to close</a>
    </div>
</div>
<!-- \\ End Section Content -->