<main role="main">
  <div class="alt-module-true admin_home_banner_upload admin_home_banner" *ngIf="bannerCreatePopup">
    <div class="alt-modal partner_profile_completion_popup">
      <div class="alt-modal-header">
        <h3>Upload banner and link</h3>
        <a href="javascript:void(0)" (click)="closeCreateBannerPopup()" class="alt-modal-close">
          <span class="material-icons">clear</span>
        </a>
      </div>
      <div class="alt-modal-body">
        <div class="create_partner_profile ">

          <div class="row company_detail_input">

            <div class="col-md-8 " *ngIf="!banner.imageBanner">
              <label for="imageBanner" class="personal_detail_row company_details clearfix">
                <div class="user_pic banner_img">
                  <div class="upload_user_pic">
                    <div class="upload_user_pic_inner">
                      <i class="material-icons">add_circle</i>
                    </div>
                    <span class="upload_helper">Banner (1030 x 300 Pixels)</span>
                    <input style="display: none;" type="file" id="imageBanner" (change)="fileChange('imageBanner',$event)" placeholder="Upload file"
                      accept="image/*">
                  </div>
                </div>
              </label>
            </div>
            <div class="col-md-8 " *ngIf="banner.imageBanner">
              <label for="imageBanner" class="personal_detail_row company_details clearfix">
                <div class="user_pic banner_img">
                  <div class="admin_banner_pic">
                    <img src="{{banner.imageBanner}}" alt="" title="">
                    <div class="remove_img">
                      <i class="material-icons" (click)="banner.imageBanner=''">close</i>
                    </div>
                  </div>
                </div>
              </label>
            </div>

            <div class="col-md-4" *ngIf="!banner.imageThumbnail">
              <label for="imageThumbnail" class="personal_detail_row company_details clearfix">
                <div class="user_pic thumb_img">
                  <div class="upload_user_pic">
                    <div class="upload_user_pic_inner">
                      <i class="material-icons">add_circle</i>
                    </div>
                    <span class="upload_helper">Thumb (240 x 144 Pixels)</span>
                    <input style="display: none;" type="file" id="imageThumbnail" (change)="fileChange('imageThumbnail',$event)" placeholder="Upload Image"
                      accept="images/*">
                  </div>
                </div>
              </label>
            </div>
            <div class="col-md-4" *ngIf="banner.imageThumbnail">
              <label for="imageThumbnail" class="personal_detail_row company_details clearfix">
                <div class="user_pic thumb_img">
                  <div class="admin_banner_pic">
                    <img src="{{banner.imageThumbnail}}" alt="" title="">
                    <div class="remove_img">
                      <i class="material-icons" (click)="banner.imageThumbnail=''">close</i>
                    </div>
                  </div>
                </div>
              </label>
            </div>





          </div>
          <div class="row company_detail_input">

            <div class="col-md-8 ">
              <div class="inputContainer focused">
                <label>Enter Link</label>
                <input name="" [(ngModel)]="banner.link" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="inputContainer focused">
                <label>Target</label>
                <select [(ngModel)]="banner.type" name="" type="text" class="form-control custom-select">
                  <option *ngFor="let option of typeOption" [ngValue]="option">
                    {{option}}
                  </option>
                </select>
              </div>
            </div>
            <span *ngIf="message.message" class="alert alert-success contact_msg">
              <label>{{message.message}}</label>
            </span>
          </div>
        </div>
      </div>

      <div class="profile_popup_btn_group fixed-bottom">
        <div class="col-sm-12 text-right btn_group">
          <button class="btn btn-default btn_gray" type="button" (click)="closeBannerPopup()">Cancel</button>
          <button class="btn btn-default btn-primary" type="button" (click)="createBanner()">
            <ng-container *ngIf="!bannerPopUpEditMode">Submit </ng-container>
            <ng-container *ngIf="bannerPopUpEditMode">Update</ng-container>
          </button>
        </div>
      </div>

    </div>
  </div>

  <alt-carousel [editable]="true" (showBannerListEvent)="showBannerListFunction()" *ngIf="banners && banners.length>0 && !showBannerList"
    [images]="banners"></alt-carousel>

  <!-- ***************** banner end ************ -->

  <!-- ***************** add new banner start ************ -->
  <section class="cat_list_container banner_add_new" *ngIf="showBannerList">
    <div class="container">
      <div class="row appstore_added_banners" dnd-sortable-container [sortableData]="banners">
        <div class="col-sm-4">
          <div class="add_img add_img_click" (click)="openCreateBannerPopup()">
            <p class="add_new_banner_text">+ add new banner</p>
            <p>1030 x 300 Pixels</p>
          </div>
        </div>
        <div dnd-sortable (mousedown)="initializeStartingIndex($index)" [sortableIndex]="$index" (onDropSuccess)="bannerSortSuccess($index)"
          class="col-sm-4" *ngFor="let banner of banners;let $index=index">
          <div class="add_img">
            <img src="{{banner.imageBanner}}" alt="" title="">
            <div class="remove_img">
              <i class="material-icons">close</i>
              <i class="material-icons edit_icon" (click)="openUpdateBannerPopup(banner);">edit</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***************** add new banner end ************ -->
  <!-- ***************** Add new category start ************ -->
  <section class="cat_list_container add_cat_container">
    <div class="container">
      <div class="banner-title">
        <h3>App category
          <i class="material-icons cat_edit_icon">edit</i>
          <a class="menu-click">
            <i class="material-icons">more_horiz</i>
          </a>
          <div class="menu-style">
            <span class="material-icons close">close</span>
            <ul class="list-reset dropdown-menu">
              <li>
                <a href="#">Add Sub-category</a>
              </li>
              <li>
                <a href="#">Delete Category</a>
              </li>
              <li>
                <a href="#">Inactive</a>
              </li>
            </ul>
          </div>
        </h3>
      </div>

      <div class="row partner_apps_list">
        <div class="col-sm-3">
          <div class="appstore-slider-item">
            <ul class="appstore-thumb-info">
              <li class="appTitle">App Title
                <span class="appTitle-owner">Organiztion Name</span>
              </li>
              <li class="rating">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
              </li>
            </ul>
            <a class="add_thumb" href="add-new-app.html">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****************  Add new category end ************ -->

  <!-- *****************  Partner apps start ************ -->
  <section class="cat_list_container">
    <div class="container">
      <div *ngFor="let categoryRes of categoryListResponse,let i=index">
        <section class="cat_list_container add_category_click">
          <div class="container">
            <div class="add_category_line">
              <a>Click here to add a new app category</a>
            </div>
          </div>
        </section>

        <div class="row space-45 apps_list_block" dnd-sortable-container [sortableData]="categoryRes.subCategories">
          <div class="col-sm-6 apps_block" dnd-sortable (mousedown)="initializeStartingIndexSubCategory(j)" [sortableIndex]="j" (onDropSuccess)="subcategorySortSuccess(categoryRes, j, i)" *ngFor="let subCategoryRes of categoryRes.subCategories,let j=index">
            <div class="row">
              <div class="col-sm apps_block_title" *ngIf="subCategoryRes.subCategory.subCategoryName!='Default'">
                <h3>{{subCategoryRes.subCategory.subCategoryName}}
                  <a class="menu-click" (click)="showSubCatPopUp($event,i,j)">
                    <i class="material-icons">more_horiz</i>
                  </a>
                  <div *ngIf="checkSubCategoryPopUp(i,j)" class="menu-style">
                    <span (click)="closeEditPopUp('SubCategory')" class="material-icons close">close</span>
                    <ul class="list-reset dropdown-menu">
                      <li>
                        <a (click)="createAppPopUp(subCategoryRes.subCategory.subCategoryName,
                                                    subCategoryRes.subCategory.subCategoryId,
                                                    categoryRes.category.categoryName,
                                                    categoryRes.category.categoryId
                                                    )">Add App</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Delete Sub-category</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Inactive</a>
                      </li>
                    </ul>
                  </div>
                </h3>
              </div>
              <div class="w-100"></div>
              <ng-container *ngIf="subCategoryRes.subCategory.subCategoryName=='Default'">
                <div class="col-sm-3 col-space-45" *ngFor="let app of subCategoryRes.apps | slice:0:4;let k =index ">
                  <div class="appstore-slider-item">
                    <a class="menu-click" (click)="showAppPopUp($event,i,j,k)">
                      <i class="material-icons">more_vert</i>
                    </a>
                    <div *ngIf="checkAppPopUp(i,j,k)" class="menu-style">
                      <span (click)="closeEditPopUp('App')" class="material-icons close">close</span>
                      <ul class="list-reset dropdown-menu">
                        <li>
                          <a href="javascript:void(0)" routerLink="{{app.appId}}">Edit/Update</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Remove</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Hold</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Setting</a>
                        </li>
                      </ul>
                    </div>
                    <ul class="appstore-thumb-info">
                      <li class="appTitle">
                        <a href="javascript:void(0)" routerLink="/apps/{{app.appId}}">{{app.appName}}</a>
                        <span class="appTitle-owner">{{app.company}}</span>
                      </li>
                      <li class="rating">
                        <app-star-rating [rating]="app.rating"></app-star-rating>
                      </li>
                    </ul>
                    <a class="thumb" href="javascript:void(0)" routerLink="/apps/{{app.appId}}">
                      <img src="{{app.previewBanner}}">
                    </a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="subCategoryRes.subCategory.subCategoryName!='Default'">
                <div class="col-sm-6 col-space-45" *ngFor="let app of subCategoryRes.apps | slice:0:2;let k =index ">
                  <div class="appstore-slider-item">
                    <a class="menu-click" (click)="showAppPopUp($event,i,j,k)">
                      <i class="material-icons">more_vert</i>
                    </a>
                    <div *ngIf="checkAppPopUp(i,j,k)" class="menu-style">
                      <span (click)="closeEditPopUp('App')" class="material-icons close">close</span>
                      <ul class="list-reset dropdown-menu">
                        <li>
                          <a href="javascript:void(0)" routerLink="{{app.appId}}">Edit/Update</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Remove</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Hold</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Setting</a>
                        </li>
                      </ul>
                    </div>
                    <ul class="appstore-thumb-info">
                      <li class="appTitle">
                        <a href="javascript:void(0)" routerLink="/apps/{{app.appId}}">{{app.appName}}</a>
                        <span class="appTitle-owner">{{app.company}}</span>
                      </li>
                      <li class="rating">
                        <app-star-rating [rating]="app.rating"></app-star-rating>
                      </li>
                    </ul>
                    <a class="thumb" routerLink="/apps/{{app.appId}}" href="javascript:void(0)">
                      <img src="{{app.previewBanner}}">
                    </a>
                  </div>
                </div>
              </ng-container>
              <div class="col-12 more_apps" routerLink="/admin/category/{{categoryRes.category.categoryId}}/subcategory/{{
                subCategoryRes.subCategory.subCategoryId}}">
                <a class="view_more" href="javascript:void(0)">More...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****************  Partner apps end ************ -->

  <!-- ***************** click here to add a new app category part start ************ -->
  <section class="cat_list_container add_category_click">
    <div class="container">
      <div class="add_category_line">
        <a>Click here to add a new app category</a>
      </div>
    </div>
  </section>
  <!-- ***************** click here to add a new app category part end ************ -->

  <!-- ***************** Add new category start ************ -->
  <section class="cat_list_container add_cat_container">
    <div class="container">
      <div class="banner-title">
        <h3>App category
          <i class="material-icons cat_edit_icon">edit</i>
          <a class="menu-click">
            <i class="material-icons">more_horiz</i>
          </a>
          <div class="menu-style">
            <span class="material-icons close">close</span>
            <ul class="list-reset dropdown-menu">
              <li>
                <a href="#">Add Sub-category</a>
              </li>
              <li>
                <a href="#">Delete Category</a>
              </li>
              <li>
                <a href="#">Inactive</a>
              </li>
            </ul>
          </div>
        </h3>
      </div>

      <div class="row partner_apps_list">
        <div class="col-sm-3">
          <div class="appstore-slider-item">
            <ul class="appstore-thumb-info">
              <li class="appTitle">App Title
                <span class="appTitle-owner">Organiztion Name</span>
              </li>
              <li class="rating">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
              </li>
            </ul>
            <a class="add_thumb" href="add-new-app.html">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****************  Add new category end ************ -->

</main>
<div *ngIf="showCreatePopUp" class="alt-module-true signIn popUp_Sign_in">
  <div class="alt-modal sign-in-popup">
    <div class="alt-modal-body">
      <form (ngSubmit)="onSubmit()">
        <div>
          <div class="row">
            <div class="col-sm-6">
              <div class="inputContainer focused">
                <label>App Title</label>
                <input name="appTitle" (focus)="getAppTitleFocused=true" (blur)="getAppTitleFocused=false" [(ngModel)]="app.appName" type="text"
                  class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="inputContainer focused">
                <label>Category
                </label>
                <input name="categoryName" disabled (focus)="getCategoryNameFocused=true" (blur)="getCategoryNameFocused=false;null" [(ngModel)]="app.categoryName"
                  type="text" class="form-control">

                <!--select [(ngModel)]="app.categoryId" name="category" (ngModelChange)="categoryChanged($event)" type="text" class="form-control">
                                    <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.categoryName}}</option>
                                </select-->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="inputContainer focused">
                <label>Sub Category
                </label>
                <input name="subCategoryName" disabled (focus)="getSubCategoryNameFocused=true" (blur)="getSubCategoryNameFocused=false;null"
                  [(ngModel)]="subCategoryName" type="text" class="form-control">
                <!--select [(ngModel)]="app.subCategory" name="app.subCategory" name="subCategory" type="text" class="form-control">
                                    <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory.categoryId">{{subCategory.categoryName}}</option>
                                </select-->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="inputContainer focused">
                <label>Company Name</label>
                <input name="companyName" (focus)="getCompanyNameFocused=true" (blur)="getCompanyNameFocused=false;null" [(ngModel)]="app.company"
                  type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="inputContainer focused">
                <label>Website URL</label>
                <input name="websiteUrl" (focus)="getWebsiteUrlFocused=true" (blur)="getWebsiteUrlFocused=false;null" [(ngModel)]="app.websiteUrl"
                  type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="inputContainer focused">
                <label>Video/Tutorial URL</label>
                <input (focus)="getVideoUrlFocused=true" (blur)="getVideoUrlFocused=false;null" [(ngModel)]="app.videoUrl" name="videoUrl"
                  type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="inputContainer focused">
                <label>App URL</label>
                <input [(ngModel)]="app.appUrl" name="appUrl" (focus)="getAppUrlFocused=true" (blur)="getAppUrlFocused=false;null" type="text"
                  class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="inputContainer focused">
                <label>Short Description</label>
                <textarea name="shortDescription" [(ngModel)]="app.shortDescription" (focus)="getShortDescriptionFocused=true" (blur)="getShortDescriptionFocused=false;null"
                  type="text" class="form-control"></textarea>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="inputContainer focused">
                <label>Description</label>
                <textarea [(ngModel)]="app.description" name="description" (focus)="getDescriptionFocused=true" (blur)="getDescriptionFocused=false;null"
                  type="text" class="form-control"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-right btn_group">
              <button class="btn btn-default btn_gray" (click)="showCreatePopUp=false" type="button">Cancel</button>
              <button class="btn btn-default btn-primary" type="button" (click)="submit()">Submit</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
