<li class="paragraph-field form-field" [ngClass]="{'editing':editing}" type="paragraph" id="frmb-0-fld-2">
    <div class="field-actions">
        <a id="frmb-0-fld-2-edit" class="toggle-form btn icon-pencil" (click)="editing=!editing" title="Edit"></a>
        <a id="frmb-0-fld-2-copy" class="copy-button btn icon-copy" title="Copy">+</a>
        <a id="del_frmb-0-fld-2" class="del-button btn delete-confirm" (click)="delete()" title="Remove Element">×</a>
    </div>
    <label class="field-label">Paragraph</label><span class="required-asterisk"> *</span>
    <div class="prev-holder" [hidden]="editing">
        <div class="fb-p form-group field-undefined-preview">
            <p type="p" class="paragraph" name="undefined-preview" id="undefined-preview">Paragraph</p>
        </div>
    </div>
    <div id="frmb-0-fld-2-holder" [hidden]="!editing" class="frm-holder">
        <div class="form-elements">
            <div class="form-group label-wrap">
                <label for="label-frmb-0-fld-2">Content</label>
                <div class="input-wrap">
                    <textarea name="label" placeholder="Label" class="fld-label form-control" id="label-frmb-0-fld-2">Paragraph</textarea>
                </div>
            </div>
            <div class="form-group subtype-wrap">
                <label for="subtype-frmb-0-fld-2">Type</label>
                <div class="input-wrap">
                    <select id="subtype-frmb-0-fld-2" name="subtype" class="fld-subtype form-control">
                        <option value="p">p</option>
                        <option value="address">address</option>
                        <option value="blockquote">blockquote</option>
                        <option value="canvas">canvas</option>
                        <option value="output">output</option>
                    </select>
                </div>
            </div>
            <div class="form-group className-wrap">
                <label for="className-frmb-0-fld-2">Class</label>
                <div class="input-wrap">
                    <input name="className" placeholder="space separated classes" class="fld-className form-control" id="className-frmb-0-fld-2" value="paragraph" type="text">
                </div>
            </div>
            <div class="form-group access-wrap">
                <label for="access-frmb-0-fld-2">Access</label>
                <div class="input-wrap">
                    <input type="checkbox" class="fld-access" name="access" value="true" id="access-frmb-0-fld-2">
                    <label for="access-frmb-0-fld-2">Limit access to one or more of the following roles:</label>
                    <div class="available-roles">
                        <input type="checkbox" name="roles[]" value="1" id="fld-frmb-0-fld-2-roles-1" class="roles-field">
                        <label for="fld-frmb-0-fld-2-roles-1">Administrator</label>
                        <br>
                    </div>
                </div>
            </div><a class="close-field">Close</a>
        </div>
    </div>
</li>