<div class="module-true  {{overlay?'open':'none'}}">
</div>
<!-- Site Header start -->
<header class="site-header">
    <form id="altAppForm" method="post" target="_blank">
        <input type="hidden" id="accessToken" name="accessToken" value="" />
        <input type="hidden" id="refreshToken" name="refreshToken" value="" />
    </form>
    <form id="partnerAppForm" method="post" target="_blank">
        <input type="hidden" id="CustomerIdentifier" name="CustomerIdentifier" value="" />
        <input type="hidden" id="AccessToken" name="AccessToken" value="" />
        <input type="hidden" id="CallbackURL" name="CallbackURL" value="" />
        <input type="hidden" id="Timestamp" name="Timestamp" value="" />
    </form>

    <form id="altAppFormCreator" method="get" target="_blank">
        <input type="hidden" id="accessTokenn" name="accessToken" value="" />
        <input type="hidden" id="refreshTokenn" name="refreshToken" value="" />
        <input type="hidden" id="url" name="url" value="" />
        <input type="hidden" id="orgId" name="orgId" value="" />
        <input type="hidden" id="tenantId" name="tenantId" value="" />
    </form>
    <div class="site-width">
        <div *ngIf="checkIfLogoutPage()" class="site-header-inner clearfix">
            <div class="header-container" [class]=getResponsiveClass()>

                <div *ngIf="false" class="switch-app-holder {{switchApps?'open':'none'}}">
                    <span class="switch-app-icon material-icons" (click)="showSwicher()">apps</span>
                    <div class="switch-apps-dropdown" (appOutClick)="meshDropHide()">
                        <div class="dropapp-title-outer">
                            <div class="dropapp-title-inner">
                                My Apps
                            </div>
                        </div>
                        <ul class="switch-apps">
                            <div *ngFor="let mesh of meshModels;">
                                <li *ngIf="mesh.webEnabled">
                                    <a href="#" class="">
                                        <div class="switchapps_inner"
                                            (click)="callApp(mesh.webURL, mesh.identifier, mesh.appType)">
                                            <div class="apps_iconholder">
                                                <img src="{{mesh.appIconImage}}" alt="{{mesh.appName}}" />
                                            </div>
                                            <div class="app_text">{{mesh.appName}}</div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <button (click)="changeResponsiveClass()" class="button-mobile-menu">
                    <span class="mdi md24 mdi-menu"></span>
                </button>
                <a href="javascript:void(0)" (click)="home=true;tasksVisible=false;" class="site-logo">
                    <img [src]=photoUrl() />
                    <span class="top_app_name">{{application.appName}}</span>
                </a>
                <div class="back-overlay">
                    <nav class="navigation alt-navigation">
                        <ul class="list-reset bar-navigation desktop-only">
                            <li class="nav-mobile">
                                <div class="search-form clearfix">
                                    <!-- <form action="method">
                                    <label for="searchMobile" class="sr-only">Search mobile</label>
                                    <button class="search-btn material-icons" type="submit" value="Search Btton">search</button>
                                    <input type="text" class="form-control" id="searchMobile" placeholder="Search" />
                                </form> -->
                                </div>
                            </li>

                            <li class="active">
                                <a ref="javascript:void(0)" (click)="home=true;tasksVisible=false;"
                                    class="fl-left">Home</a>
                            </li>
                            <li class="alt-dropdown" *ngFor="let module of application?.modules;let i=index">
                                <div >
                                    <a (click)="openForm(module?.form)" [ngClass]="module.active?'active':''"
                                        href="javascript:void(0)" *ngIf="module.permitted">
                                        <span class="fl-left">{{module.name}}</span>
                                    </a>
                                    <div class="alt-dropdown-menu" *ngIf="module?.menus.length!=0 && module.permitted">
                                        <div class="dropdown-scroller-top">
                                            <span class="material-icons menu-scroll-down">arrow_drop_up</span>
                                        </div>
                                        <div class="alt-menu-scroller">
                                            <ul class="list-reset alt-sub-menu">
                                                <li (click)="home=false;openForm(menu?.form);module.active=true;responsiveClass = 'header-container';"
                                                    *ngFor="let menu of module.menus">
                                                    <a *ngIf="menu.permitted" href="javascript:void(0)"
                                                        title="{{menu.name}}">{{menu.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-scroller-bottom">
                                            <span class="material-icons menu-scroll-up">arrow_drop_down</span>
                                        </div>
                                    </div>

                                </div>
                                <!--div *ngIf="i>=6">
                            <li class="alt-dropdown moreModules">
                                <a href="javascript:void(0)" title="More">
                                    <span class="material-icons dp36">more_horiz</span>
                                </a>
                                <div class="alt-dropdown-menu">
                                    <ul class="list-reset alt-sub-menu">
                                        <li>
                                            <a href="javascript:void(0)">Leave</a>
                                            <div class="alt-more-side-submenu">
                                                <div class="alt-menu-scroller">
                                                    <div class="alt-submenu-outer">
                                                        <ul class="list-reset alt-sub-menu">
                                                            <li>
                                                                <a href="javascript:void(0)">New Leave Request</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)">New Leave Request</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Leave</a>
                                            <div class="alt-more-side-submenu">
                                                <div class="alt-menu-scroller">
                                                    <div class="alt-submenu-outer">
                                                        <ul class="list-reset alt-sub-menu">
                                                            <li>
                                                                <a href="javascript:void(0)">New Leave Request</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)">New Leave Request</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                </div-->
                </li>
                </ul>
                <ul class="list-reset bar-navigation mobile-only">
                    <li class="nav-mobile">
                        <div class="search-form clearfix">
                            <!-- <form action="method">
                                        <label for="searchMobile" class="sr-only">Search mobile</label>
                                        <button class="search-btn material-icons" type="submit" value="Search Btton">search</button>
                                        <input type="text" class="form-control" id="searchMobile" placeholder="Search" />
                                    </form> -->
                        </div>
                    </li>
                    <li class="active">
                        <a ref="javascript:void(0)" (click)="home=true" class="fl-left">Home</a>
                    </li>
                    <li class="alt-dropdown" *ngFor="let module of application?.modules">
                        <div>
                            <a (click)="openForm(module?.form)" [ngClass]="module.active?'active':''"
                                href="javascript:void(0)" *ngIf="module.permitted">
                                <span class="fl-left">{{module.name}}</span>
                            </a>
                            <div class="alt-dropdown-menu" *ngIf="module?.menus.length!=0 && module.permitted">
                                <div class="dropdown-scroller-top">
                                    <span class="material-icons menu-scroll-down">arrow_drop_up</span>
                                </div>
                                <div class="alt-menu-scroller">
                                    <ul class="list-reset alt-sub-menu">
                                        <li (click)="home=false;openForm(menu?.form);module.active=true;responsiveClass = 'header-container';"
                                            *ngFor="let menu of module.menus">
                                            <a *ngIf="menu.permitted" href="javascript:void(0)"
                                                title="{{menu.name}}">{{menu.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-scroller-bottom">
                                    <span class="material-icons menu-scroll-up">arrow_drop_down</span>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

                </nav>
            </div>
        </div>

        <div class="header-right">
            <img class="header_profile_pic" [src]=getProfilePic() />
            <a class="top_right_icons task" href="javascript:void(0)" (click)="openTasks()">
                <span class="dp22 material-icons">content_paste</span>
                <span _ngcontent-c1="" class="my_task_counter"
                    *ngIf="userWorkflowInfo?.tasks?.length>0">{{userWorkflowInfo?.tasks?.length}}</span>
                <br>Tasks</a>
            <a class="top_right_icons logout" href="javascript:void(0)" (click)="logoutUser()">
                <span class="dp22 material-icons">power_settings_new</span>
                <br>Logout</a>
        </div>
    </div>
    </div>
</header>
<!-- \\ End Site Header -->

<!-- Section Main Template -->
<div class="layout-main layout-right-sidebar">
    <div class="site-width">
        <div class="main-container">
            <div class="container-inner" *ngIf="home && !tasksVisible">
                <app-home [application]="application" (tasksFetchedEvent)="refreshHome($event)"
                    (openTasks)="home=false;tasksVisible=true;"></app-home>
            </div>
            <div class="container-inner" [hidden]="home || tasksVisible">
                <my-form (taskCompleted)="home=true;tasksVisible=false;"
                    [assignedRoleIds]="application.employeeInfo.assignedRoleIds"
                    (dataTableUploaded)="openForm(activeMenuForm)" (navigation)="navigate($event)">
                </my-form>
            </div>
            <div class="container-inner" *ngIf="tasksVisible">
                <my-tasks [tasks]="userWorkflowInfo.tasks" (taskOpenedEvent)="openTask($event)"></my-tasks>
            </div>
        </div>
    </div>
</div>