<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <ul class="nav">
                    <li class="nav-item">
                        <a target="_blank" href="https://www.peoplestrong.com/about-us/" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item" routerLink="contact">
                        <a href="javascript:void(0)" class="nav-link">contact us</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link">privacy policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">terms and conditions</a>
                    </li> -->
                </ul>
                <div class="copyright">&copy; 2018 Altone store
                    <br/>Powered by PeopleStrong HR Services Pvt. Ltd.</div>

            </div>
            <div class="col-4">
                <div class="socialIcons">
                    <a target="_blank" href="https://www.linkedin.com/company/peoplestrong-hr-services">
                        <i class="fa fa-linkedin "></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/peoplestrong">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/peoplestrong">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://plus.google.com/+peoplestrong">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCH4fGz-BOwzPP0-C04GgoOA">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
