<div class="section-accordion">

    <div class="tab_controls_widtets">

        <div class="tabs_heading">
            <a class="controls_click" [class.active]="showControls"
                (click)="showControls=true;showSettings=false;">Fields</a>
            <a class="widgets_click" [class.active]="showSettings"
                (click)="showControls=false;showSettings=true">Settings</a>
        </div>

        <div class="tab_controls" *ngIf="showControls">
            <ul class="sub-tabs-head">
                <li class="sub-tab" [class.active]="showInputControls && showQuickPresets"
                    (click)="showInputControls=true; showQuickPresets=true">
                    <a>All</a>
                </li>
                <li class="sub-tab" [class.active]="!showInputControls && showQuickPresets"
                    (click)="showInputControls=false; showQuickPresets=true">
                    <a>Quick Presets</a>
                </li>
                <li class="sub-tab" [class.active]="showInputControls && !showQuickPresets"
                    (click)="showInputControls=true; showQuickPresets=false">
                    <a>Inputs</a>
                </li>
            </ul>
            <!-- form controls start -->
            <div *ngIf="showQuickPresets" class="content-block accordion-content clearfix">
                <h3 class="sidebar_heading">Quick presets</h3>
                <ul class="list-reset controls-listing">
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true"
                        [dragData]="{ component: 'ATTACHMENTS' }">
                        <span class="controls-icon image-upload-icon"></span> Attachments</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="button">
                        <span class="controls-icon text-field-icon"></span> Button</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="blank">
                        <span class="controls-icon text-field-icon"></span> Blank Field</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true"
                        [dragData]="{ component: 'CHECKBOX' }">
                        <span class="controls-icon image-upload-icon"></span> Checkbox</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="date">
                        <span class="controls-icon date-field-icon"></span> Date Field</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="{ component: 'EXCEL' }">
                        <span class="controls-icon image-upload-icon"></span> Excel Upload</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="image">
                        <span class="controls-icon image-upload-icon"></span> Image Upload</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="label">
                        <span class="controls-icon label-icon"></span> Label</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="{ component: 'LINK' }">
                        <span class="controls-icon image-upload-icon"></span> Link</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="multiSelect">
                        <span class="controls-icon select-icon"></span> Multiselect</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="panel">
                        <span class="controls-icon panel-icon"></span> Panel</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="dropDown">
                        <span class="controls-icon select-icon"></span> Select</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="table">
                        <span class="controls-icon table-icon"></span> Table</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="textarea">
                        <span class="controls-icon textarea-icon"></span> Text Area</li>
                    <li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="textField">
                        <span class="controls-icon text-field-icon"></span> Text Field</li>
                    <!--<li dnd-draggable [dropZones]="['zone']" [dragEnabled]="true" [dragData]="tabPanel">
                        <span class="controls-icon tabbed-Panel-icon"></span> Tabbed Panel</li>
                    <li dnd-draggable [dragEnabled]="true" [dragData]="card">
                        <span class="controls-icon card-icon"></span> Card</li>
                    <li dnd-draggable [dragEnabled]="true" [dragData]="accordian">
                        <span class="controls-icon accordian-icon"></span> Accordian</li>
                    <li dnd-draggable [dragEnabled]="true" [dragData]="chart">
                        <span class="controls-icon charts-icon"></span> Chart</li>-->
                    <!--<li dnd-draggable [dragEnabled]="true" [dragData]="radioGroup">
                        <span class="controls-icon radio-group-icon"></span> Radio Button</li>
                    <li dnd-draggable [dragEnabled]="true" [dragData]="file"> 
                        <span class="controls-icon file-upload-icon"></span> File Upload</li>
                    <li dnd-draggable [dragEnabled]="true" [dragData]="note">
                        <span class="controls-icon paragraph-icon"></span> Note Text</li>
                    <li dnd-draggable [dragEnabled]="true" [dragData]="blank">
                        <span class="controls-icon text-field-icon"></span> Blank Field</li>-->
                </ul>
            </div>

            <div class="content-block accordion-content clearfix">
                <ul class="list-reset controls-listing" *ngIf="showInputControls && !showQuickPresets">
                    Enable TaskCode : <input type="checkbox" [(ngModel)]="taskCodeSwitch" (click)="taskCodeRequired()"
                        [disabled]="getTaskCodeSwitch()" />
                </ul>
            </div>

            <ul class="list-reset setting-listing clearfix">
                <li>
                    <div class="form-group" *ngIf="showInputControls && !showQuickPresets">
                        <label class="control-label">Instance Owner</label>
                        <div class="dropdown-11 list-block">
                            <select class="form-control" (change)="selectInstanceOwner($event)">
                                <option value="current_employee">Current Employee</option>
                                <ng-container *ngFor="let formComponent of this.formEntityModel.componentList">
                                    <option *ngIf="'DROPDOWN' == formComponent.controlType" [value]="formComponent.id"
                                        [selected]="checkOwnerSelection(formComponent)">
                                        {{formComponent.label}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- \\ form controls end -->
        </div>

        <div class="tab_widgets" *ngIf="showSettings && selectedComponent">
            <ul class="sub-tabs-head"
                *ngIf="selectedComponent.controlType!='PANEL' && selectedComponent.controlType!='TAB_PANEL'">
                <li (click)="frontendTab=true;ruleTab=false;filterTab=false;mailTab=false;"
                    [class.active]="frontendTab && !ruleTab && !filterTab && !mailTab" class="sub-tab active">
                    <a href="javascript:void(0)">UI</a>
                </li>
                <li (click)="updateFormComponentsForBackend()"
                    [class.active]="!frontendTab && !ruleTab && !filterTab && !mailTab" class="sub-tab"><a
                        href="javascript:void(0)">Backend</a></li>
                <li *ngIf="selectedComponent.controlType=='TEXTFIELD' || selectedComponent.controlType=='DATATABLE' || selectedComponent.controlType=='DROPDOWN' || selectedComponent.controlType=='MULTI_SELECT'"
                    (click)="updateFormComponentsForFilter()"
                    [class.active]="!frontendTab && !ruleTab && filterTab && !mailTab" class="sub-tab"><a
                        href="javascript:void(0)">Filter</a></li>

                <li *ngIf="selectedComponent.controlType=='BUTTON' || selectedComponent.controlType=='TEXTFIELD' || selectedComponent.controlType=='DATE' || selectedComponent.controlType == 'DROPDOWN' || selectedComponent.controlType == 'LABEL'"
                    (click)="ruleTab=true;frontendTab=false;filterTab=false;mailTab=false;"
                    [class.active]="ruleTab && !frontendTab && !filterTab" class="sub-tab"><a
                        href="javascript:void(0)">Rule</a></li>

                <li *ngIf="selectedComponent.controlType=='BUTTON'"
                    (click)="frontendTab=false;ruleTab=false;filterTab=false;mailTab=true;"
                    [class.active]="!frontendTab && !ruleTab && !filterTab && mailTab" class="sub-tab"><a
                        href="javascript:void(0)">Mail</a></li>


            </ul>
            <!-- Widgets start -->
            <div class="content-block accordion-content clearfix">
                <div *ngIf="frontendTab" class="sub-tab-content open_tab" id="sub-tab1">
                    <ul class="list-reset setting-listing clearfix">
                        <li *ngIf="selectedComponent.controlType!='TAB_PANEL'">
                            <div class="form-group" *ngIf="!(selectedComponent.controlType=='BLANK')">
                                <label class="control-label">Field Label</label> <input type="text"
                                    [(ngModel)]="selectedComponent.label"
                                    (change)="selectedComponent.name=selectedComponent.label;updateFormComponentLabel();"
                                    type="text" class="form-control" placeholder="TextField" />
                            </div>
                        </li>
                        <li *ngIf="selectedComponent.controlType=='TAB_PANEL'">
                            <div class="form-group">
                                <label class="control-label">Tab Labels</label>
                                <div *ngFor="let panel of selectedComponent.panels">
                                    <input type="text" [(ngModel)]="panel.label" type="text" class="form-control"
                                        placeholder="TextField" />
                                    <br>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group" *ngIf="selectedComponent.controlType == 'TEXTFIELD'">
                                <label class="control-label">Field Value</label>
                                <input type="text" [(ngModel)]="selectedComponent.placeholder" class="form-control"
                                    placeholder="TextField" />
                            </div>
                        </li>
                        <li>
                            <div class="form-group"
                                *ngIf="selectedComponent.controlType != 'TEXTFIELD' && showAddValue && showValues">
                                <a class="control-label add_new_value" (click)="addValue()">
                                    <span class="material-icons">add</span> Add Value
                                </a>
                            </div>
                        </li>
                        <div *ngIf="showOption && showValues">
                            <div *ngFor="let option of options; let i = index; trackBy:trackByFn">
                                <li class="new_field_li">
                                    <div class="form-group">
                                        <label class="control-label">Field Value
                                            <span class="material-icons remove_new_field_icon"
                                                (click)="removeValue(i)">close</span>
                                        </label>
                                        <input type="text" class="form-control" placeholder=""
                                            (change)="addValueToArr($event,option,i)" [(ngModel)]="option.value" />
                                    </div>
                                </li>
                            </div>
                            <li>
                                <div class="form-group" *ngIf="selectedComponent.controlType == 'DROPDOWN'">
                                    <a class="control-label add_new_value" (click)="addValue()">
                                        <span class="material-icons">add</span> Add Value
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="form-group" *ngIf="selectedComponent.controlType == 'DATATABLE'">
                                    <div class="checkbox">
                                        <input [(ngModel)]="selectedComponent.cardView" (click)=tableListingControl(1)
                                            type="checkbox">
                                        <label for="cardview" class="control-label">Card view</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group" *ngIf="selectedComponent.controlType == 'DATATABLE'">
                                    <div class="checkbox">
                                        <input [(ngModel)]="selectedComponent.listView" (click)=tableListingControl(2)
                                            type="checkbox">
                                        <label for="listview" class="control-label">List view</label>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <li>
                            <div class="form-group">
                                <label class="control-label">Instructions</label>
                                <input type="text" [(ngModel)]="selectedComponent.instruction" class="form-control"
                                    placeholder="" />
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="control-label">Help Text</label>
                                <input type="text" [(ngModel)]="selectedComponent.helpText" class="form-control"
                                    placeholder="" />
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="control-label">Select Layout</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.cssClass"
                                        (change)="submit()">
                                        <option [selected]="selectedComponent.cssClass=='layout_1_col'"
                                            value="layout_1_col">Quarter</option>
                                        <option *ngIf="selectedComponent.controlType=='BUTTON'" value="layout_1by8_col">
                                            OneEighth</option>
                                        <option value="layout_2_col">Half</option>
                                        <option value="layout_3_col">Three Quarters</option>
                                        <option value="layout_4_col">Full</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input [(ngModel)]="selectedComponent.required" type="checkbox">
                                    <label for="mandatory" class="control-label">Mandatory</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input [(ngModel)]="selectedComponent.validationsOnly" type="checkbox">
                                    <label for="validationonly" class="control-label">Validation Only</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="!frontendTab && !ruleTab && selectedComponent.controlType!='PANEL' && selectedComponent.controlType!='TAB_PANEL'"
                    class="sub-tab-content" id="sub-tab2">

                    <ul class="list-reset setting-listing clearfix">
                        <li *ngIf="selectedComponent.controlType=='TEXTFIELD'">
                            <h3 class="sidebar_heading clearfix">Field DataType</h3>
                            <div class="form-group">
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.dataType"
                                        (ngModelChange)="gettestdatatype($event)">
                                        <option>INTEGER</option>
                                        <option>FLOAT</option>
                                        <option>DOUBLE</option>
                                        <option>STRING</option>
                                        <option>DOUBLE</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-reset setting-listing clearfix" *ngIf="!filterTab && !mailTab">
                        <h3 class="sidebar_heading clearfix">Read</h3>
                        <li
                            *ngIf="selectedComponent.controlType=='MULTI_SELECT' || selectedComponent.controlType=='DROPDOWN' || selectedComponent.controlType=='TEXTFIELD'">
                            <div class="form-group">
                                <label class="control-label">Attribute Type</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.dbClassType"
                                        (ngModelChange)="getClassesForRead($event)">
                                        <option>Select</option>
                                        <option [disabled]="selectedComponent.controlType=='TEXTFIELD'">Local</option>
                                        <option>Global</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="form-group">
                                <label class="control-label">Class</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.dbClassRead"
                                        (ngModelChange)="getAttributesForRead($event)">
                                        <option *ngFor="let altClass of classes" [ngValue]="altClass.id">
                                            {{altClass.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group" *ngIf="selectedComponent.controlType=='DATATABLE'">
                                <div class="backend_table_heading"
                                    *ngFor="let attribute of attributesCheckBox;let index = index;">
                                    <div class="backend_heading_up_down">
                                        <span class="material-icons fl" title="Move Up"
                                            (click)=moveUp(index)>arrow_upward</span>
                                        <span class="material-icons fl" title="Move Down"
                                            (click)=moveDown(index)>arrow_downward</span>
                                    </div>
                                    <div class="backend_heading_edit">
                                        <div class="checkbox ">
                                            <input class="" id="attribute-1" value="attribute-1" type="checkbox"
                                                [(ngModel)]="attribute.checked" (change)=setDisplayedColumn($event)>
                                            <label class="control-label">{{attribute.value}}</label>
                                        </div>
                                        <input type="text" [(ngModel)]="attribute.label"
                                            (input)="setDisplayedColumn($event)" class="form-control" />
                                    </div>
                                </div>
                            </div>


                        </li>
                        <li *ngIf="selectedComponent.controlType=='DATATABLE'">
                            <div class="form-group">
                                <label class="control-label">History Settings</label>
                                <div class="checkbox">
                                    <input class="" id="history-1" [(ngModel)]="selectedComponent.historyEnabled"
                                        type="checkbox" (change)="enableInstanceSpecificHistory()">
                                    <label for="history-1" class="control-label">Is history table</label>
                                    <ng-container *ngIf="selectedComponent.historyEnabled">
                                        <input class="" id="history-2"
                                            [(ngModel)]="selectedComponent.instanceSpecificHistory" type="checkbox">
                                        <label for="history-2" class="control-label">Is history instance
                                            specific</label>
                                    </ng-container>
                                </div>
                            </div>
                        </li>

                        <li *ngIf="selectedComponent.controlType=='DATATABLE'">
                            <div class="form-group">
                                <label class="control-label">Add/Edit Form </label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" (change)="selectAddEditForm(selectedComponent,$event)">
                                        <option *ngFor="let form of forms" [value]="form.uiClassCode"
                                            [selected]="selectedComponent.formPopup==form.uiClassCode">
                                            {{form.formName}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--div class="form-group">
                                <div class="checkbox add_edit_delete">
                                    <input class="" id="Add" value="option1" type="checkbox">
                                    <label for="Add" class="control-label">Add</label>
                                </div>
                                <div class="checkbox add_edit_delete">
                                    <input class="" id="Edit" value="option2" type="checkbox">
                                    <label for="Edit" class="control-label">Edit</label>
                                </div>
                                <div class="checkbox add_edit_delete">
                                    <input class="" id="Delete" value="option3" type="checkbox">
                                    <label for="Delete" class="control-label">Delete</label>
                                </div>
                            </div-->
                        </li>

                        <li>
                            <div class="form-group" *ngIf="selectedComponent.controlType=='DATATABLE'">
                                <label class="control-label">Match Owner</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" (change)="selectMatchOwner(selectedComponent,$event)">
                                        <option value="current_employee"
                                            [selected]="selectedComponent.matchOwnerId=='current_employee'">Current
                                            Employee</option>
                                        <option value="reporting_employee"
                                            [selected]="selectedComponent.matchOwnerId=='reporting_employee'">Reporting
                                            Employees</option>
                                        <option value="all_employee" [selected]="selectedComponent.matchOwnerId=='all'">
                                            All Employees</option>
                                        <ng-container *ngFor=" let formComponent of
                                            this.formEntityModel.componentList">
                                            <option *ngIf="'DROPDOWN' == formComponent.controlType"
                                                [value]="formComponent.id"
                                                [selected]="checkMatchSelection(selectedComponent,formComponent)">
                                                {{formComponent.label}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li *ngIf="!(selectedComponent.controlType=='DATATABLE')">
                            <div class="form-group">
                                <label class="control-label">Attribute</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.dbAttrRead">
                                        <option selected>select</option>
                                        <option *ngFor="let attribute of classAttributesRead?.attributes"
                                            [ngValue]="attribute">{{attribute}}</option>
                                    </select>
                                </div>
                            </div>
                        </li>

                    </ul>


                    <ul class="list-reset setting-listing clearfix" *ngIf="filterTab">

                        <li *ngIf="!(selectedComponent.controlType=='TEXTFIELD')">
                            <div class="form-group">
                                <label class="control-label">Select Component field:</label>
                            </div>
                        </li>
                        <li *ngIf="!(selectedComponent.controlType=='TEXTFIELD')">

                            <div class="form-group">

                                <br />
                                <label class="control-label">Class</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" disabled="true"
                                        [(ngModel)]="selectedComponent.dbClassRead" (ngModelChange)="aa($event)">
                                        <option *ngFor="let altClass of classes" [ngValue]="altClass.id">
                                            {{altClass.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </li>


                        <li
                            *ngIf="(selectedComponent.controlType=='DATATABLE') && !(selectedComponent.controlType=='TEXTFIELD')">
                            <div class="form-group">
                                <label class="control-label">Attribute</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.filters[0].filterField">
                                        <option selected>select</option>
                                        <option *ngFor="let attribute of attributesCheckBox"
                                            [ngValue]="attribute.value">{{attribute.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li
                            *ngIf="!(selectedComponent.controlType=='DATATABLE') && !(selectedComponent.controlType=='TEXTFIELD')">
                            <div class="form-group">
                                <label class="control-label">Attribute</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.filters[0].filterField">
                                        <option selected>select</option>
                                        <option *ngFor="let attribute of classAttributesRead?.attributes"
                                            [ngValue]="attribute">{{attribute}}</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                        </li>


                        <li>
                            <div class="form-group">
                                <label class="control-label">Select Filter Source field:</label>
                            </div>
                        </li>

                        <li>

                            <div class="form-group">

                                <br />
                                <label class="control-label">Components</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control"
                                        [(ngModel)]="selectedComponent.filters[0].filterSourceComponentId"
                                        (ngModelChange)="onSelectedFilterSourceComp($event)">
                                        <option *ngIf="!(selectedComponent.controlType=='TEXTFIELD')" value=null
                                            selected>select</option>
                                        <option *ngIf="selectedComponent.controlType=='TEXTFIELD'" value="current_user">
                                            Current User</option>
                                        <option *ngFor="let formComponent of flatHtmlComponents"
                                            [ngValue]="formComponent.id">{{formComponent.label}}</option>
                                    </select>

                                </div>



                            </div>
                        </li>
                        <li
                            *ngIf="!(selectedComponent.controlType=='TEXTFIELD') && filterSourceComponentSelected!=null && filterSourceComponentSelected.controlType=='DROPDOWN'">
                            <div class="form-group">
                                <label class="control-label">Class :
                                    {{filterSourceComponentSelected.dbClassName}}</label>

                            </div>
                        </li>
                        <li *ngIf="selectedComponent.filters[0].filterSourceComponentId">
                            <div class="form-group">
                                <label class="control-label">Attribute</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control"
                                        [(ngModel)]="selectedComponent.filters[0].filterSourceField">
                                        <option selected value=null>select</option>
                                        <option
                                            *ngIf="selectedComponent.filters[0].filterSourceComponentId=='current_user'"
                                            value="employee_id">EmployeeId</option>
                                        <ng-container
                                            *ngIf="selectedComponent.filters[0].filterSourceComponentId!='current_user'">
                                            <option *ngFor="let attribute of filterSourceAttributes?.attributes"
                                                [ngValue]="attribute">{{attribute}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </li>

                    </ul>



                    <!--h3 class="sidebar_heading clearfix">Write</h3>
                    <ul class="list-reset setting-listing clearfix">
                        <li>
                            <div class="form-group">
                                <label class="control-label">Class</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.dbClassWrite" (ngModelChange)="getAttributesForWrite($event)">
                                        <option selected>select</option>
                                        <option *ngFor="let altClass of classes" [ngValue]="altClass.id">{{altClass.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="control-label">Attribute</label>
                                <div class="dropdown-11 list-block">
                                    <select class="form-control" [(ngModel)]="selectedComponent.dbAttrWrite">
                                        <option selected>select</option>
                                        <option *ngFor="let attribute of classAttributesWrite?.attributes" [ngValue]="attribute">{{attribute}}</option>

                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul-->
                </div>

                <!--Rule Widget-->
                <div *ngIf="ruleTab && !frontendTab" class="sub-tab-content" id="sub-tab4">
                    <div class="add_rule_btn">
                        <button (click)="createRule($event)" type="button" class="">
                            <span class="material-icons">add</span> Add New Rule </button>
                    </div>
                    <div class="rule_list">
                        <ul>
                            <li id="open_rule_1" *ngFor="let rule of selectedComponent.ruleObjects">
                                {{rule.ruleName}}
                                <span class="material-icons rule_delete_icon" (click)="deleteRule(rule)">delete</span>
                                <span class="material-icons rule_edit_icon" (click)="editRule(rule)">edit</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--Rule Widget end-->

                <!--Mail Widget start-->
                <div *ngIf="selectedComponent.controlType=='BUTTON' && !filterTab && !ruleTab && mailTab"
                    class="sub-tab-content" id="sub-tab3">
                    <div class="add_mail_btn">
                        <button (click)="createNewMail($event)" type="button" class=""><span
                                class="material-icons">add</span> Create New Mail </button>
                    </div>
                    <div class="rule_list mail_list">
                        <ul>
                            <li id="open_rule_1" *ngFor="let comm of commListOp">
                                {{comm.subject}}
                                <span class="material-icons mail_delete_icon" (click)="deleteMail(comm)">delete</span>
                                <span class="material-icons mail_edit_icon" (click)="editMail(comm)">edit</span>
                            </li>

                        </ul>
                        <!--<ul>
                            <li>
                                Mail Template one
                                <span class="material-icons mail_delete_icon">delete</span>
                                <span class="material-icons mail_edit_icon">edit</span>
                            </li>
                            <li>
                                Mail Template two
                                <span class="material-icons mail_delete_icon">delete</span>
                                <span class="material-icons mail_edit_icon">edit</span>
                            </li>
                        </ul>-->
                    </div>
                </div>
                <!--Mail Widget end-->

            </div>
            <!-- \\ Widgets end -->
        </div>

    </div>

</div>