<div class="main-container">
    <div class="container-inner">
        <div class="content">
            <div class="main-title-row">
                <h1 class="main-title">{{app?.appName}}</h1>
            </div>
            <div class="response_message_top">
                <span class="label label-success">{{message}}</span>
            </div>

            <div class="home_builder_tab_container app_modules_container">
                <ul class="home_builder_tab_menu">
                    <li>
                        <a class="active" href="javascript:void(0);">Module</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" (click)="routeToHomeBuilder()">Home Builder</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"  (click)="routeToFormList()">Forms</a>
                    </li>
                </ul>

                <div class="table_with_all clearfix">
                    <div class="row">
                        <div class="card-block card-3 search-block-section">
                            <div class="card-block-inner card-bg-none">
                                <div class="input-group search-block">
                                    <input type="text" class="form-control" id="searchMobileOne"
                                        placeholder="Search Module" />
                                    <span class="input-group-btn">
                                        <button class="btn material-icons dp20" type="submit">search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-block card-3 card-bulk-actions alt_one_form fr">
                            <div class="card-block-inner card-bg-none clearfix">
                                <div class="dropdown dropdown-outer-2 col-2 pull-right">
                                    <div class="content_popup fl-right">
                                        <!--<a [href]="previewurl" target="_blank">   -->
                                        <button class="btn btn-primary fl-right add-click"
                                            (click)="getPreview()">Preview</button>
                                        <!-- </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Table data section start -->
                    <div class="document_table emp_lifecycle_table app_modules_table">
                        <div class="table-download table-outer pad-0">
                            <div class="table-responsive">
                                <table class="table document-table mgn-b0 table_filter">
                                    <thead>
                                        <tr>
                                            <th class="table-cell-3 filter_th">
                                                Module
                                                <span class="clickFilter filter_icon"></span>
                                            </th>
                                            <th class="table-cell-3 filter_th">
                                                Menu
                                                <span class="clickFilter filter_icon"></span>
                                            </th>
                                            <th class="table-cell-3 filter_th">
                                                Form
                                                <span class="clickFilter filter_icon"></span>
                                            </th>
                                            <th class="table-cell-3 filter_th">
                                                Roles
                                                <span class="clickFilter filter_icon"></span>
                                            </th>
                                            <th class="table-cell-6 filter_th">
                                                Landing Page<span class="clickFilter filter_icon"></span>
                                            </th>
                                            <th class="table-cell-6 option-cell pos_relative">
                                                Action
                                                <!--<span class="filter_btn"></span>-->
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <!-- modules list present -->
                                        <tr *ngFor="let module of app?.modules;let i = index">
                                            <td class="table-cell-3 module_name">
                                                <img class="module_move" src="../assets/images/move_icon.png" alt="Move"
                                                    title="Move">

                                                <span (click)="edithisfield(i,-1,-1)" *ngIf="editableModuleIndex!=i">
                                                    <span class="material-icons">keyboard_arrow_up</span>
                                                    {{module.name}}
                                                </span>
                                                <input type="text" *ngIf="editableModuleIndex==i"
                                                    [(ngModel)]="module.name" class="module_input"
                                                    placeholder="Enter Module Name">
                                                <div class="attach-form-module" *ngIf="!module.form">
                                                    <a class="blue_link attach_form_click"
                                                        (click)="openModuleAttachPopUp(i, module)">Attach
                                                        Form</a>
                                                </div>
                                                <div class="attach-form-module" *ngIf="module.form">
                                                    <a class="blue_link attach_form_click"
                                                        (click)="openModuleAttachPopUp(i, module)">{{module.form.formName}}</a>
                                                </div>


                                            </td>
                                            <td colspan="5" class="pad-0">
                                                <table class="table document-table mgn-0">

                                                    <tr *ngFor="let menu of module.menus;let j=index">

                                                        <td (click)="edithisfield(-1,j,i)"
                                                            class="table-cell-3">
                                                            <span
                                                                *ngIf="editableMenuIndex!=j || editableMenuModuleIndex!=i">{{menu.name}}</span>
                                                            <input type="text" [(ngModel)]="menu.name"
                                                                class="module_input"
                                                                *ngIf="editableMenuIndex==j && editableMenuModuleIndex==i"
                                                                placeholder="Enter Menu Name">
                                                        </td>

                                                        <td class="table-cell-3">
                                                            <a class="blue_link attach_form_click"
                                                                (click)="createNewForm(i,j,menu)">{{menu.form?menu.form.formName:'Create Form'}}</a>
                                                        </td>

                                                        <td *ngIf="menu.form && menu.form.formSecurityId"
                                                            class="table-cell-3">
                                                            <ng-container *ngIf="menu.form.assignedRoles.length > 0">
                                                                <ng-container
                                                                    *ngFor="let assignedRole of menu.form.assignedRoles,let index_role = index">
                                                                    {{assignedRole.roleName}}
                                                                    <ng-container
                                                                        *ngIf="index_role < menu.form.assignedRoles.length - 1">
                                                                        ,</ng-container>
                                                                </ng-container>
                                                            </ng-container>
                                                            <ng-container *ngIf="menu.form.assignedRoles.length == 0">
                                                                No roles assigned
                                                            </ng-container>
                                                            <a class="blue_link attach_form_click"
                                                                (click)="openRolesPopup(menu.form)">Change</a>
                                                        </td>
                                                        <td *ngIf="menu.form && !menu.form.formSecurityId"
                                                            class="table-cell-3">
                                                            Push form before assigning roles
                                                        </td>
                                                        <td *ngIf="!menu.form" class="table-cell-3">
                                                            Attach form before assigning roles
                                                        </td>
                                                        <td class="table-cell-6">
                                                            <input type="checkbox" name="isHome" [(ngModel)]="menu.landingPage" (change)="uncheckOtherHome(menu)" >
                                                        </td>

                                                        <td class="table-cell-6 option-cell">
                                                            <div class="module_action">
                                                                <a href="javascript:void(0)"
                                                                    class="module-action-click">
                                                                    <span (click)="enableModuleClickPopup(j,i)"
                                                                        class="menu-style-icon material-icons">more_horiz</span>
                                                                </a>
                                                                <!-- Menu style -->
                                                                <div *ngIf="popupMenuIndex==j&&popupMenuModuleIndex==i"
                                                                    class="menu-style menu-style-3 module-action-style">
                                                                    <ul class="list-reset dropdown-menu">
                                                                        <li>
                                                                            <a href="javascript:void(0)" class="blue_link attach_form_click"
                                                                                (click)="deleteMenu(module, i, j)">Delete</a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="blue_link attach_form_click"
                                                                (click)="openMenuAttachPopUp(i,j,menu)">Attach Form</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <!-- \\ End Menu style -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="table-cell-3 insert_options" colspan="4">
                                                            <!--a class="blue_link click_add_menu_group">
                                                                <span
                                                                    class="material-icons insert_icon">add_circle_outline</span>
                                                                Insert Menu Group
                                                            </a-->
                                                            <a class="blue_link click_add_menu"
                                                                (click)="insertMenu(module, i)">
                                                                <span
                                                                    class="material-icons insert_icon">add_circle_outline</span>
                                                                Insert Menu
                                                            </a>
                                                        </td>
                                                    </tr>


                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="6" class="module_row">
                                                <a href="javascript:void(0)" class="blue_link" (click)="insertModule()">
                                                    <span class="material-icons insert_icon">add_circle_outline</span>
                                                    Add
                                                    Module
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="group_btn btn-row-2 app_modules_buttons">
                                    <button (click)="cancel()" type="button" class="btn btn-white">Cancel</button>
                                    <button (click)="submit()" type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- \\ Table data section end -->

                </div>
            </div>


        </div>
        <!--
        <div class="right-sidebar">
            <div class="right-sidebar-inner">
                <div class="sidebar_top_space"></div>
                <div class="section-accordion mgn_t40">
                    <div class="title-block accordion-title black-gray">
                        <span class="material-icons icon dp22">restore</span>
                        <h2 class="title">Related Information</h2>
                        <span class="mdi mdi-chevron-down md24 fl-right"></span>
                    </div>
                    <div class="content-block accordion-content clearfix black-gray">
                        <ul class="list-reset accordion-listing">
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>-->
    </div>
</div>

<!-- attach form popup start -->
<div *ngIf="showListPopUp">
    <div class="alt-modal attach-form-dialog">

        <div class="alt-modal-title">Select Form
            <span class="material-icons alt-modal-close" (click)="closeFormListPopUp()">close</span>
        </div>

        <div class="alt-modal-body">
            <!-- Section filter -->
            <!-- \\ End Section filter -->

            <div class="table_with_all clearfix">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <div class="input-group search-block">
                                <input (keyup)="filterForms($event)" type="text" class="form-control"
                                    id="searchMobileOne" placeholder="Search Forms …" />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="selected-form-list" *ngIf="selectedModule?.form">
                        {{selectedModule?.form?.formName}}<span (click)="removeSelectedModule()">[X]</span> </div>
                    <div class="selected-form-list" *ngIf="selectedMenu?.form"> {{selectedMenu?.form?.formName}} <span
                            (click)="removeSelectedMenu()">[X]</span></div>

                </div>

                <!--  Table data section start -->
                <div class="document_table">
                    <div class="table-download table-outer">
                        <div class="table-responsive">
                            <table class="table document-table mgn-b0 table_filter">
                                <thead>
                                    <tr>

                                        <th class="table-cell-3 filter_th">
                                            Form Name
                                            <span class="clickFilter filter_icon"></span>
                                            <input *ngIf="false" type="text" placeholder="">
                                        </th>
                                        <th class="table-cell-3 filter_th">
                                            Created by
                                            <span class="clickFilter filter_icon"></span>
                                            <input *ngIf="false" type="text" placeholder="">
                                        </th>
                                        <th class="table-cell-3 filter_th">
                                            Status
                                            <span class="clickFilter filter_icon"></span>
                                            <input *ngIf="false" ng- type="text" placeholder="">
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let form of filteredForms"
                                        [class.selected-form]="form?.formName==selectedModule?.form?.formName || form?.formName==selectedMenu?.form?.formName"
                                        (click)="selectForm(form)">
                                        <td class="table-cell-3 font-bold"> {{form.formName}}</td>
                                        <td class="table-cell-3"> {{form.createdBy}}</td>
                                        <td class="table-cell-3"> {{form.formState}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- \\ Table data section end -->

            </div>

        </div>
        <div class="row-btn clearfix alt-modal-footer">
            <button type="button" class="btn btn-white width90" (click)="closeFormListPopUp()">Cancel</button>
            <button type="button" class="btn btn-primary width90" (click)="attachForm()">Attach</button>
        </div>

    </div>
</div>
<!-- attach form popup end -->

<!-- assign roles popup start -->
<div *ngIf="showRolesPopup">
    <div class="alt-modal attach-form-dialog">

        <div class="alt-modal-title">Assign Roles
            <span class="material-icons alt-modal-close" (click)="closeRolesPopup()">close</span>
        </div>

        <div class="alt-modal-body">

            <div class="table_with_all clearfix">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <div class="input-group search-block">
                                <input (keyup)="filterRoles($event)" type="text" class="form-control"
                                    id="searchMobileOne" placeholder="Search Roles … " />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>

                <!--  Table data section start -->
                <div class="document_table">
                    <div class="table-download table-outer">
                        <div class="table-responsive">
                            <table class="table document-table mgn-b0 table_filter">
                                <thead>
                                    <tr>

                                        <th class="table-cell-3 filter_th">
                                            Role Name
                                            <span class="clickFilter filter_icon"></span>
                                            <input *ngIf="false" type="text" placeholder="">
                                        </th>
                                        <th class="table-cell-3 filter_th">
                                            Select
                                            <span class="clickFilter filter_icon"></span>
                                            <input *ngIf="false" type="text" placeholder="">
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let role of filteredRoles">
                                        <td class="table-cell-3 font-bold">{{role.roleName}}</td>
                                        <td class="table-cell-3"><input type="checkbox"
                                                [checked]="determineSelection(selectedForm.assignedRoles,role)"
                                                (click)="processRoleCheckbox(role,$event)" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- \\ Table data section end -->

            </div>

        </div>

        <div class="row-btn clearfix alt-modal-footer">
            <button type="button" class="btn btn-white width90" (click)="closeRolesPopup()">Cancel</button>
        </div>

    </div>
</div>
<!-- assign roles popup end -->