<div *ngIf="create" class="alt-module-true signIn popUp_Sign_in">
    <div class="alt-modal sign-in-popup">
        <div class="alt-modal-body">
            <form (ngSubmit)="onSubmit()">
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputContainer focused">
                                <label>App Title</label>
                                <input name="appTitle" (focus)="getAppTitleFocused=true" (blur)="getAppTitleFocused=false" [(ngModel)]="app.appName" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputContainer focused">
                                <label>Category
                                </label>
                                <select [(ngModel)]="app.categoryId" name="category" (ngModelChange)="categoryChanged($event)" type="text" class="form-control">
                                    <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.categoryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputContainer focused">
                                <label>Sub Category
                                </label>
                                <select [(ngModel)]="app.subCategory" name="app.subCategory" name="subCategory" type="text" class="form-control">
                                    <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory.subCategoryId">{{subCategory.subCategoryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputContainer focused">
                                <label>Company Name</label>
                                <input name="companyName" (focus)="getCompanyNameFocused=true" (blur)="getCompanyNameFocused=false;null" [(ngModel)]="app.company"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputContainer focused">
                                <label>Website URL</label>
                                <input name="websiteUrl" (focus)="getWebsiteUrlFocused=true" (blur)="getWebsiteUrlFocused=false;null" [(ngModel)]="app.websiteUrl"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputContainer focused">
                                <label>Video/Tutorial URL</label>
                                <input (focus)="getVideoUrlFocused=true" (blur)="getVideoUrlFocused=false;null" [(ngModel)]="app.videoUrl" name="videoUrl"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="inputContainer focused">
                                <label>App URL</label>
                                <input [(ngModel)]="app.appUrl" name="appUrl" (focus)="getAppUrlFocused=true" (blur)="getAppUrlFocused=false;null" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="inputContainer focused">
                                <label>Short Description</label>
                                <textarea name="shortDescription" [(ngModel)]="app.shortDescription" (focus)="getShortDescriptionFocused=true" (blur)="getShortDescriptionFocused=false;null"
                                    type="text" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="inputContainer focused">
                                <label>Description</label>
                                <textarea [(ngModel)]="app.description" name="description" (focus)="getDescriptionFocused=true" (blur)="getDescriptionFocused=false;null"
                                    type="text" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-right btn_group">
                            <button class="btn btn-default btn_gray" (click)="create=false" type="button">Cancel</button>
                            <button class="btn btn-default btn-primary" type="button" [disabled]="!app.appName || !app.appUrl || !app.categoryId" (click)="submit()">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<main role="main">
    <div class="container">
        <div class="page_title">
            <h3>Partner Apps</h3>
        </div>

        <div class="row partner_apps_list">
            <div *ngFor="let app of apps;let i=index" class="col-sm-3 col-space-45">
                <div class="appstore-slider-item">
                    <a class="menu-click" (click)="showEditPop($event, i)">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <div *ngIf="showEditPopUp && i==indexPopUp " class="menu-style">
                        <span (click)="closeEditPopUp()" class="material-icons close">close</span>
                        <ul class="list-reset dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" routerLink="{{app.appId}}">Edit/Update</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Hold</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Setting</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="appstore-thumb-info">
                        <li class="appTitle">
                            <a href="javascript:void(0)" routerLink="/apps/{{app.appId}}">{{app.appName}}</a>
                            <span class="appTitle-owner">{{app.company}}</span>
                        </li>
                        <li class="rating">
                            <app-star-rating [rating]="app.rating"></app-star-rating>
                        </li>
                    </ul>
                    <a class="thumb" routerLink="/apps/{{app.appId}}" href="javascript:void(0)">
                        <img src="{{app.previewBanner}}">
                        <div class="app_thumb_hover">
                            <p class="thumb_hover_des">{{app.shortDescription}}</p>
                        </div>
                    </a>
                </div>
            </div>




            <div class="col-sm-3 col-space-45">
                <div class="appstore-slider-item">
                    <ul class="appstore-thumb-info">
                        <li class="appTitle">Add new app
                        </li>
                        <li>
                            <h1>&nbsp;</h1>
                        </li>
                    </ul>
                    <a class="add_thumb" (click)="initializeCreate()">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>