<main role="main" class="pad_0">
    <section class="banner-main">
        <div class="background-img"><img src="" alt=""></div>
        <div class="banner-text-block partner_text">
            <div class="banner-text-title-1">Partner with us at</div>
            <div class="banner-text-title-2">alt one store</div>
            <div class="banner-subtext">
                <b>Join the Alt One Universe</b> &amp; reach India's largest connected employee base.</div>
            <a href="javascript:void(0)" class="btn btn-primary btn-block">Become a Partner</a>
        </div>
    </section>
    <!-- ***************** section top banner close ***************** -->



    <section class="section it-works">
        <div class="container">
            <h2 class="title">it works really easy</h2>
            <div class="row justify-content-md-center">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/ic_create_apps.png" alt="Card Icon">
                        <div class="card-body">
                            <h4 class="card-title">Create Apps</h4>
                            <p class="card-text">Use our resources to introduce your admin team to hundreds of APIs. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/ic_launch_apps.png" alt="Card Icon">
                        <div class="card-body">
                            <h4 class="card-title">Launch Apps</h4>
                            <p class="card-text">We'll work with you to list your app so you can reach our 600,000+ clients.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/ic_set_security.png" alt="Card Icon">
                        <div class="card-body">
                            <h4 class="card-title">Set Security</h4>
                            <p class="card-text">Assign access levels to members of your organization.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***************** section it works really easy close ***************** -->


    <section class="section-marketplace">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="marketplace-inner">
                            <div class="title">WHY Alt One?</div>
                            <p class="why_alt_text">Alt One brings to you a connected world, which can help in empowering your employees and business users for better productivity and impact. India's first integrated HR ecosystem for business applications, it reaches out to over 600K employees from over 200+ corporates. Join us to experience its power.
                            </p>
                            <a href="javascript:void(0)" routerLink="/apps" class="btn btn-purple btn-block">explore apps</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***************** section WHY Alt One close ***************** -->

    <section class="banner-main testimonials partner-feedback">
        <div class="container">
            <h2 class="main-title">Testimonials</h2>
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="carousel-caption testimonial_text">
                        <span class="testimonial_text_center">"Alt One empowers businesses to provide a connected worklife for a born-free workforce. With this the hassle of working with multiple systems goes away and we are able to provide a unified experience"</span>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="carousel-caption testimonial_text">
                        <span class="testimonial_text_center">"The fondest wish of an HR leader today is a connected, productive and engaged workforce and Alt
                            One is answer to the same."</span>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="carousel-caption testimonial_text">
                        <span class="testimonial_text_center">"For a born-free workforce, Alt One is state -of- art on your touch connected worklife management
                            suite of solutions; without the hassle of logging in with password(s) into multiple systems."</span>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="carousel-caption testimonial_text">
                        <span class="testimonial_text_center">"A recent survey on our users brought out an interesting fact that 60-70% of time employees feel disconnected
                            in their worklife due to multiple processes and systems. Alt One is the connect we have been
                            waiting for so long."</span>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </section>
    <!-- ***************** section testimonials close ***************** -->
</main>
