.mgn-r0{margin-right:0 !important;}



.doc-container{
	margin:0 -10px 20px -10px;
}

.doc-outer {
	width:20%;
	padding:10px;
	display:block;
	float:left;
}
.doc-inner {
	position:relative;
	display:block;
	background:#fff;
	border:solid 1px #ccc;
	border-radius:4px;
	/*height:140px;*/
}

.doc-page-title{
	padding-bottom:27px !important;
}
.view-icons{
	float:right;
}
.list-view{
	background:url(../images/list-inactive.png) no-repeat;
	width:40px;
	height:40px;
	float:left;
	margin:0 0 5px 5px;
}
.thumb-view{
	background:url(../images/thumb-inactive.png) no-repeat;
	width:40px;
	height:40px;
	float:left;
	margin:0 0 5px 5px;
}
.list-view.active{
	background:url(../images/list-active.png) no-repeat;
}
.thumb-view.active{
	background:url(../images/thumb-active.png) no-repeat;
}

.doc-content{
	width:100%;
	height:107px;
	padding:8px;
	vertical-align:middle;
	display:table-cell;
}
.doc-name{
	padding:0;
	margin:0;
	max-height:70px;
	color:#666;
	font-weight:bold;
	overflow:hidden;
}
.doc-size{
	display:block;
	color:#aaa;
}
.doc-bottom{
	background:#f5f5f5;
	border-top:solid 1px #ccc;
	width:100%;
	padding:5px 0;
	border-radius:0 0 4px 4px;
	color:#a8407f;
}
.doc-bottom .doc-icon{
	width:20px;
	margin:0 3px 0 5px;
}
.doc-corner{
	background:#e3e3e3 url(../images/sides.png) right bottom no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	right:-1px;
	bottom:-1px;
}


.right-sidebar-inner{
	padding:10px;
	color:#fff;
}
.right-sidebar-inner .sidebar-title{
	display:block;
	padding:10px 0;
	margin:0 0 8px 0;
	font-size:16px;
	color:#fff;
	border-bottom:solid 1px #fff;
}
.right-sidebar-inner ul{
	list-style:none;
	padding:0;
	margin:0;
}
.right-sidebar-inner ul li{
	list-style:none;
	padding:4px 0;
	font-size:14px;
}
.right-sidebar-inner ul li a{
	color:#fff;
}

.search-without-bg{
	background:none !important;
	border:solid 1px #aeaeae;
}
.list-view-doc-icon{
	float:left;
	display:none;
}


.list-view-container{
	background:#fff;
	border-radius:5px;
	margin:5px 0px 20px 0px;
	padding:20px;
}
.list-view-container .doc-outer{
	width:50%;
	padding:0 0 5px;
	clear:both;
}
.list-view-container .doc-inner{
	border:none;
	border-bottom:dashed 1px #ccc;
	border-radius:0px;
	padding:0 0 6px;
}
.list-view-container .doc-bottom{
	display:none;
}
.list-view-container .doc-content{
	height:auto;
	padding:0 0 0 10px;
}
.list-view-container .list-view-doc-icon{
	float:left;
	display:block;
}
.list-view-container .list-view-doc-icon img{
	width:36px;
}

.list-view-container .doc-outer:last-child{
	padding-bottom:0;
}