.search-block-section .card-block-inner, .card-bulk-actions .card-block-inner {
    margin-top: 0px;
    margin-bottom: 13px;
    border-radius: 0px;
	height:inherit;
	padding:0px;
}
.jobs-listing .card-block-inner {
	padding:0px;
}
.jobs-listing .card-block-inner .card-row.card-name-row {
	height: 105px;
	border-bottom:none;
}
.text-nowrap-block {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    min-height: inherit;
    line-height: 16px;
}
.text-nowrap-block::before {
    position: absolute;
    right: 0;
    width: 15%;
    height: 17px;
    content: '';
    z-index: 10;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}
.card-block-inner .card-row.card-name-row .title.text-ellipsis {
	width:98%;
}
.active-indicator {
	width: 8px;
	display:inline-block;
	height: 8px;
	background-color: #73b12a;
	border-radius:50%;
}
.busy-indicator {
	width: 8px;
	display:inline-block;
	height: 8px;
	background-color: #e71c09;
	border-radius:50%;
	position:relative;
}
.busy-indicator:before {
	content:"";
	position:absolute;
	width:4px;
	height:2px;
	top:3px;
	left:2px;
	background:#fff;	
}
.card-block-inner .card-row.card-name-row .active-indicator, .card-block-inner .card-row.card-name-row .busy-indicator, .employee-card .card-row.card-name-row .online-on-altmsg {
	margin-right:5px;
}
.card-block-inner .card-row.card-name-row .image-block {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    background: #e3e3e3;
    margin-right: 10px;
    overflow:inherit;
	position:relative;
}
.card-block-inner .card-row.card-name-row .image-block .emp-profile-img {
	width:50px;
	height:50px;
	border-radius:50%;
}
.card-block-inner .card-row.card-name-row .image-block .crown {
	width:20px;
	height:20px;
	display:block;
	background:#a8407f;
	position:absolute;
	right:auto;
	left:-5px;
	top:0px;
	margin-top:-5px;
	border-radius:50%;
}
.profile-graph-cell {
	padding:10px;
}
.padding-10 {
	padding:10px;
}
.crown {
	padding:3px;
}
.crown .material-icons {
	color:#fff;
	font-size:14px;
}
.empstatus-right-text {
	text-transform:capitalize;
}
.alt-red-bg {
	background-color: #e71d09;
	color:#fff;
}
.alt-green-bg {
	background-color: #73b12a;
	color:#fff;
}
.alt-orange-bg {
	background-color:#f0a520;
	color:#fff;
}
.card-block-inner.employee-card {
	height:326px;
	max-height:326px;
}
.online-on-altmsg {
	display:inline-block;
	width:21px;
	height:21px;
	float:left;
	background: url(../images/alt_msg.png) no-repeat;
	background-size: 21px 21px;
}
.info-icon {
	display:inline-block;
	width:16px;
	height:16px;
	background: url(../images/worklife-svg/info.svg) no-repeat;
	background-size: 16px 16px;
}
.employee-card .info-icon {
	margin-top:4px;
}
.employee-online {
	line-height:21px;
	margin-top:3px;
}
.employee-card .din-bold {
	color:#494949;
}