/* =============== Media Queries ================ */
@media screen and (max-width:1279px) {
	 .site-header-inner{
		padding-left:44.5px;
		padding-right:44.5px;
	 }
	 .layout-main{
		padding-top:0px;
	 }
	 .main-container{
		padding-left:24.5px;
		padding-right:24.5px;
	 }
	 .layout-right-sidebar .main-container{
	 	display:block;
	 }
	 .header-container{
		margin-left:0px;
		margin-right:67px;
	 }
	 .layout-right-sidebar .content{
	 	padding:8px 0 0 0px;
		width:100%;
		display:block;
	 }
	 .layout-right-sidebar .container-inner{
	 	padding-right:20px;
		padding-left:20px;
	 }
	 .right-sidebar{
	 	display:none;
	 }
	 .header-right{		
		right:17.5px;
		top:14px;
		width:auto;
		margin:0px;
	}
	.header-right-inner{
		box-shadow:none;
		padding:0px;
		background:none;
		height:auto;
	}
	.header-right-inner .profile-block{
		padding-top:23px;
		padding-left:10px;
		width:70px;
		height:75px;
		padding-right:15px;
		position:absolute;
		top:-15px;
		right:12.5px;
	}
	.header-right-inner .profile-img{
		width:30px;
		height:30px;
	}
	.profile-img img{
		height:100%;
		width:100%;
	}
	.header-right-inner .crown{
		width:20px;
		height:20px;
		top:28px;
		right:15px;
		margin:0px;
	}
	.header-right-inner .crown img{
		width:20px;
		height:20px;
	}
	.header-right-inner .profile-block .crown.material-icons{
		padding-top:0px;
		font-size:12px;
		text-align:center;
	}
	.options-block{
		display:none;
	}
	.show-open .header-right-inner .profile-block{
		background:#fff;
		box-shadow: 0 -16px 16px 0 rgba(0, 0, 0, 0.18);
	}
	.more-options{
		position:absolute;
		right:12.5px;
		top:61px;
		width:240px;		
		-webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
		z-index:-1;
	}
	.more-options li a{
		font-size:14px;
		padding-top:15px;
		padding-bottom:14px;
		height:45px;
	}
	.title-row{
		padding-right:1px;
	}
	.card-4{
		width:33.3333%
	}
	.title-row .dropdown-block .text-dropdown{
		width:93px;
	}
	.popup-section{
		left:45px;
	}
	.search-card-block{
		margin:0px -44px 7px -45px;
	} 
 	.title-live .main-title{
		width: 83%;	
	}
	.title-live .dropdown-block {
		width: 17%;
	}
}
@media screen and (max-width:1023px) {
    .button-mobile-menu,
	.mobile-only {
		display:inline-block;
	}
	.bar-navigation li.nav-mobile{
		display:block;
	}
	.button-mobile-menu {
	  	position: relative;
	  	float: left;
	  	padding:0px;
	  	margin-right:10px;
	  	background-color: transparent;
	  	background-image: none;
	  	border:none;
		margin-left:-3px;
	}
	.button-mobile-menu .md24{
		color:#494949;
		margin-right:6px;
	}
	.desktop-only { 
		display: none;
	}    
	.show-module .module-true{
		display:none;
	}
	.menu-open .module-true{
		display:block;
	}	
	.site-header{
		height:75px;
		position:fixed;
		z-index:9999;		
	}
	.back_home .fa-chevron-left{
		margin-right:10px;
		font-size:inherit;
	}
	.site-header-inner {
		padding:0 34px;		
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
	}
	.header-container{
		padding-top:30px;
		margin-left:0px;
		margin-right:0;
	}
	.layout-main{
		padding-top:75px;
	}
	.main-container{
		padding-left:34px;
		padding-right:34px;
	}
	.layout-right-sidebar .container-inner{
		padding-right:0px;
		padding-left:0px;
	}
	.content{
		padding-top:15px;
		padding-right:0px;
		padding-left:0px;
		width:100%;
	}
	.content-inner, .container-inner{
		padding:0px;
	}
	.title-row{
		border-bottom:none;
	 	padding-right:0px; 
	}
	.title-row .main-title{
		width:77%;
		margin:0px;
	}
	.title-row .dropdown-block .text-dropdown{
		width:97px;
	}
	.right-sidebar{
		display:none;
	}
	.creat-job-btn-outer{
		background-color:#eaeaea;
		float:none;
		position:absolute;
		top:0px;
		padding:40px 0;
		text-align:center;
		width:100%;
	}
	.menu-open .navigation{
		left:0px;
	}
	.navigation{
		position:fixed;
		z-index:-1;
		bottom:0;
		top:55px;
		width:240px;
		left:-240px;
		background-color:#fff;
		padding-top:120px;
		-webkit-transition: all 0.3s ease-out;
        		transition: all 0.3s ease-out;
		-webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
				box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
	}
	.bar-navigation li a{
		font-family:'DIN Regular';
		text-transform:capitalize;
		font-size:14px;
		line-height:17px;
		padding:16px 15px;
		display:block;
		color:#777777;
		float:none;
	}
	.bar-navigation li a .fl-left{
		float:none;
	}
	.navigation .bar-navigation > li > a:hover,
	.navigation .bar-navigation > li > a:focus {
		background-color:transparent;
		color:#777777;
	}
	.navigation > .bar-navigation .active > a,
	.navigation > .bar-navigation .active > a:hover,
	.navigation > .bar-navigation .active > a:focus {
		background-color:transparent;
		color:#777777;
		box-shadow:none;
		font-family:'DIN Bold';
	}
	.bar-navigation .open .mdi-chevron-down:before{
		content: "\F143";
	}
	.navigation .dropdown-menu{
		position:inherit;
		width:100%;
		box-shadow:0 0 0;
		border:none;
		float:none;
		background-color:transparent;
	}
	.navigation .dropdown-menu li{
		float:none;
	}
	.navigation .dropdown-menu li a{
		padding:14px 0px 14px 49px;	
		font-family:'DIN Regular';
	}
	.bar-navigation li.open a,
	.bar-navigation li.open a:focus ,
	.bar-navigation li.open a:active,
	.bar-navigation li.open a.active{
		background-color:#f5f5f5;	
		color:#494949;			
		-webkit-box-shadow:0px 0px 0px;
				box-shadow:0px 0px 0px;				
	}	
	.navigation .dropdown-menu{
		border-radius:0px;
		background-color:#f5f5f5;
		-webkit-box-shadow:0px 0px 0px;
				box-shadow:0px 0px 0px;
	}
	.navigation .bar-navigation .dropdown-menu li:hover a, 
	.navigation .bar-navigation .dropdown-menu li:focus a ,
	.navigation .bar-navigation .dropdown-menu li:active a ,
	.navigation .bar-navigation .dropdown-menu li.active a{
		background-color:#f5f5f5;
		color:#494949;
	}
	.navigation .dropdown-menu li:last-child a{
		border-radius:0px;
	}
	.navigation .menu-icon{
		margin-right:15px;
		width:18px;
		float:left;
		display:inline-block;
		height: 15px;
		line-height: 15px;
		color:#aeaeae;
	}
	.navigation .mdi-chevron-down{
		float:right;
		margin-top:3px;
	}
	.bar-navigation{
		float:none;
	}
	.bar-navigation li{
		display:block;
		float:none;
	}
	.nav-mobile .search-form{
		height:45px;
		border-radius:5px;
		background-color:#f5f5f5;
		padding:5px 19px;
		margin-left:15px;
		margin-right:15px;
		margin-top:20px;
		margin-bottom:7px;
	}
	.nav-mobile .form-control{
		border:0px;
		float:left;
		width:150px;
		padding:0px;
		height:35px;
	}
	.nav-mobile .search-form .search-btn{
		float:right;
		font-size:20px;
		margin:8px 0 0 0;
	}
	.nav-mobile .notification{
		position:inherit;
		margin-left:2px;
		float:right;
	}
	.powered-by-alt{
		background:url(../images/alt-recruit_white.png) 0 0 no-repeat;
		width:45px;
		height:65px;
		display:block;
		font-size:0px;
		margin-top:20px;
		margin-left:42px;
	}
	.notification-block{
		display:none;
	}	
	.title-row .dropdown-block{
		width:23%;
	}

	.card-flip-block .profile-block{
		float:none;
		margin-top:0px;
		margin-left:2px;
		width:110px;
		position:relative;
	}
	.card-flip-block .profile-img{
		width:110px;
		height:110px;	
	}
	.jobs-listing .row{
		margin-left:-20px;
		margin-right:-20px;
	}
	/*============== all jobs ================  */	
	.layout-right-sidebar .content{
		padding:16px 0 0 0px;
	}
	.section-filter{
		margin-bottom:8px;
		margin-left:-34px;
		margin-right:-34px;
	}
	.section-filter .main-title{
		padding:0 0 0 34px;
		margin-bottom:12px;
		border-bottom:none;
	}
	.filter-cell{
		height:45px;
		width:50%;
		display:block;
		text-align:center;
		padding-top:14px;
		margin-bottom:0px;
		cursor:pointer;
		border-right:solid 2px #e9e9e9;
		background-color:#fff;	
		letter-spacing: 0.5px;
		vertical-align:top;
	}
	.filter-cell .icon-filter{
		display:inline-block;
	}
	.filter-cell .fa-2x{
		margin-left:5px;
	}
	.filter-cell .text-filter{
		vertical-align:top;
		line-height:14px;
		padding-top:2px;
		display:inline-block;
	}
	.filter-cell .text-filter.mobile-only{
		color:#a8407f;
	}
 	.mobile-applied{
		padding-left:19px;
		padding-bottom:15px;
		padding-top:15px;
		display:block;
		border-bottom:solid 2px #e3e3e3;
	}
	.section-filter-inner{
		padding:0px;
	}
	.filter-open .dropdown-block{
		display:block!important;
	}
	.section-filter .filter-by-block,
	.section-filter .sort-by-block{
		width:100%;	
		position:relative;		
	}

	.filter-by-block .dropdown-block{
		top:45px;
		border-top:solid 1px #e3e3e3;
	}
	.section-filter .dropdown-block{
		position:absolute;
		width:100%;
		left:0px;
		background-color:#fff;
		z-index:100;
		display:none;
	}
	.filter-by-block .dropdown-style{
		top:0px;		
		left:inherit;
		right:0px;
		width:60%;
	}
	.sort-by-block .dropdown-style{
		top:0px;		
		left:inherit;
		right:0px;
		width:100%;
		position:relative;
	}
	.dropdown-7 .mdi{
		display:inline-block;
	}
	.section-filter .dropdown{
		width:100%;
		margin:0px;
		position:static;
		float:none;
	}
	.section-filter .dropdown-button .text-dropdown{
		padding-right:0px;
	}
    .section-filter .dropdown-button{
		float:none;
		display:block;
		border-radius:0px;
		padding:10px 0 11px 19px;
		background-color:#f5f5f5;
		border:none;
		width:40%;
		color: #777777;
		text-transform:capitalize;
	}
	.section-filter .dropdown-style li a{
		padding-top: 10px;
		padding-bottom:11px;
		width:auto;
		float:none;
	}
	.sub-dropdown-7{
		position:inherit;
		padding-left:35px;
		width:auto;
	}
	.dropdown-7 .sub-dropdown-7 li{
		padding-top:6px;
		padding-bottom:9px;
	}
	.section-filter .dropdown-button .mdi-chevron-down{
		display:none;
	}
	.section-filter .dropdown-block .active .dropdown-button{
		color: #777777;
		border:none;
		background-color:#fff;
		font-family: 'DIN Bold'; 
	}
	.section-filter .dropdown-block .open .dropdown-button{
		font-family: 'DIN Bold';
		background-color:transparent;
		border-radius:0;
		-webkit-box-shadow: 0 0 0;
				box-shadow: 0 0 0;				
	}
	.section-filter .open .dropdown-style{
		box-shadow:0 0px 0px;
		border-radius:0px;
		padding-top:0px;
		background-color:#fff;
	}
   .dropdown-8 .search-block{
		background-color:#f5f5f5;
	}
	.dropdown-8 .vertical-scrollbox{
		height:auto;
	}
	.dropdown-8 li .text-nowrap-grad:before{
		background-color: #fff;
		background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff, #fff);
		background: linear-gradient(left, rgba(255, 255, 255, 0), #fff,  #fff);
	}
	.add-new-fillter{
		margin:0px;
		background-color:#f5f5f5;
		width:40%;
	}	
	.arrow-doted-outer{
		border:0px;
		border-radius:0;
		background-color:transparent;
		width:100%;
		padding:13px 0 13px 19px;
		height:inherit;
	}
	.add-new-fillter .arrow-doted,
	.add-new-fillter .arrow-doted-cover{
		display:none;
	}
	.arrow-doted-inner{
		text-align:left;
		height:auto;
		line-height:inherit;
		margin-left:0px;
		text-transform:capitalize;
	}
	.arrow-doted-inner .fa{
		font-size:12px;
		padding-right:5px;
	}	
	.applied-filters-block{
		padding:0px;
		display:none;
	}
	.sort-by-block .filter-cell{
		border-right:none;
		position: absolute;
		top: -48px;
		right: 0px;
	}
	.dropdown-2 .radio{
		padding-left:24px;
	}
	.sort-by-block .dropdown-block{
		display:none;
	}
	.sort-by-block .dropdown{
		border-top:solid 1px #e3e3e3;
		float:none;
	}
	.section-filter .sort-by-block .dropdown-button{
		background-color:transparent;
	}
	.sort-by-block .dropdown .dropdown-button{
		width:100%;
		float:none;
		border:none;
	}
	.sort-by-block .divider{
		display:none;
	}
	.section-filter .dropdown-calendar{
		width:50%;
		border-radius:0px;
		padding:17px 0 15px 30px;
		background-color:#f5f5f5;
		border:0px;
	}
	.sort-by-block  .dropdown-2{
		display:block;
	}
	.section-filter .sort-by-block .dropdown-2{
		box-shadow:0 0px 0px;
		border-radius:0px;
		padding-top:10px;
		background-color:#fff;
	}
	.cal-icon{
		float:left;
	}
	.dropdown-calendar:last-child{
		border:none;
	}
	.filter-by-block, .sort-by-block ,.applied-filters-block{
		margin-bottom:0px;
	}
	.toggle-jobs{
		display:none;
	}
	.card-bulk-actions .dropdown .dropdown-button{
		width:100%;
	}
	.search-block-section .card-block-inner,
	.card-bulk-actions .card-block-inner{
		margin-bottom:0px;
		border-radius:0px;
	}
	.select-all-btn-inner{
		background-color:#f5f5f5;
		border-color:#f5f5f5;
	}
	.margin-r5{
		margin-right:0px;
	}
	.card-block{
		width:50%;
	}
	.card-pagination{
		padding-left:10px;
	}
	.row {
		margin-left:-0px;
		margin-right:-0px;
	}	
	/* =============== Job details Page ================ */
	.filtered-top-block{
		width:100%;
		padding-top:30px;
	}
	.filtered-top-inner{
		width:100%;
		float:none;
	}
	.section-job-details{
		padding:50px 10px 0px 10px;
	}
	.job-details-inner{
		width:100%;
		float:none;
		padding-right:0px;
	}
	.job-details-inner .job-details-left, 
	.job-details-inner .job-details-right{
		width:100%;
		float:left;
	}
	.job-details-inner .job-details-left {
		border-right:none;
	}
	.job-details-btn{
		width:100%;
		padding-top:10px;
	}
	.job-stages .table-data-ul li{
		width:20%;
		float:left;
		display:block;
		border-bottom:1px solid #e3e3e3;
		border-right-width:1px;
	}
	.job-stages{
		margin:10px;
	}
	.job-details-right .table-data{
		width:inherit;
		float:inherit;
		border-top-width:2px;
		padding:inherit;
	}
	.job-details-right .table-data-ul li.last-border{
		border-right:none;
	}
	.genie-chat-btn,
	.top-btn{
		right:15px;
	}	
	.module-calendar .module-true{
		display:none;
	}
	.sort-by-block .section-calendar{
		left:0px;
	}
	.section-filter .calendar-active{
		box-shadow: 0 0 0;
	}
	.dropdown-calendar .section-calendar{
		width:360px;
		top:49px;
		border-radius:0px;
	}
	.dropdown-calendar .section-calendar{
		box-shadow:0 0px 0px;
		padding-bottom:8px;
	}
	.dropdown-calendar .section-calendar .table{
		width:100%;
	}
	.dropdown-calendar .section-calendar .prev{
		padding-left:5px!important;
	}
	.dropdown-calendar .section-calendar .next{
		padding-right:5px!important;
	}
	.dropdown-calendar .section-calendar .table tr td.active{
		font-family:'DIN Bold';
		color:#494949;
	}
	.dropdown-calendar .section-calendar .dow{
		padding-bottom:2px!important;
	}
	.dropdown-calendar .section-calendar .table tr th{
	  padding:6px 5px 2px 5px;
	}
	.dropdown-calendar .section-calendar .table tr td{
	  padding:13px 10px;
	}
	/*============== popup ================  */
	.popup-section{
		z-index:10000;
		max-width:700px;
		left:50%;
		margin-left:-350px;
	}
	.popup-top{
		padding-bottom:5px;
	}
	.open-text{
		width:200px;
	}
	.popup-row .delete-icon{
		margin-left:0px;
	}
	.popup-top .listing-inline{
		float:left;
		width:70%;
	}
	.popup-title-row{
		padding-bottom:6px;
	}
	.popup-title-row .title{
		font-size:18px;
	}
	.popup-top-description{
		padding-top:5px;
		border-top:solid 2px #e3e3e3;
	}
	.popup-openings{
		position:static;
	}
	.popup-cell-1{
		width:100%;
	}
	.popup-cell-2,
	.popup-cell-3,
	.popup-cell-4{
		width:33.33%
	}
	.popup-cell-1 .popup-cell-inner{
		margin:0 0 10px 0;
	}
	.popup-cell-2 .popup-cell-inner{
		width:98%;
	}
	.popup-add-filter .label-text{
		width:172px;
	}
	.search-card-block{
		margin:-16px -34px 7px -34px;
	}
	.title-live{
		margin-bottom:15px;
	}
	.live-feed-block .chats-accordion-summary{
		width:95%;
		padding-right:0px;
	}
	.live-feed-summary{
		width:100%;
	}
	.time-bock{
		float:left;
	}
	/*********** create candidate1 ****************/
	.section_halfPluse, .section_halfLess {
		width:100%; padding:0px;
	}
	.title-row .main-title2{ 
		margin-right:0px;
	}
	.title-row.title-row2 {
		border-bottom:none;
	}
	.scrollOuterPadding {
		display:none;
	}
	 .item_list > li .form-group {
		margin-bottom:0px;
	 }
	.item_list > li .form-group .form-control, .item_list > li .form-group .dropdown-11 {
		margin-bottom:15px;
	 }
	 #slider-range {
		 margin-bottom:30px;
	 }
     
}

@media screen and (max-width: 767px) {	
	.site-header{
		height:56px;
	}
	.layout-main{
		padding-top:56px;
	}
	.site-header-inner{
		height:56px;
		padding-left:15px;
		padding-right:15px;
	}
	.header-container{
		padding-top:22px;
	}
	.main-container{
		padding-left:15px;
		padding-right:15px;
	}
	.header-right-inner .crown{
		top:20px;
	}
	.section-filter .main-title{
		padding:0 0 0 15px;
	}
	.section-card{
		margin-left:-15px;
		margin-right:-15px;
	}
	.card-block{
		width:100%;
	}
	.card-block-inner{
		margin:15px;
	}
	.title-row {
		border-bottom: solid 2px #c3c3c3;
		margin-bottom:0px;
	}
	.title-row .main-title{
		width:100%;
		padding-top:0px;
		border:none;
	}
	.title-row .dropdown-block{
		width:100%;
		margin-bottom:10px;
	}
	.title-row .dropdown-block .dropdown{
		 margin:0;
		 width:100%;
	}
	.title-row .dropdown-button{
		width:100%;
	}
	.header-right-inner .profile-block{
		padding-top:15px;
		padding-left:10px;
		width:70px;
		height:56px;
		padding-right:15px;
		top:-15px;
		right:-15px;
	}
	.show-open .more-options{
		right:0;
	}
	.more-options{
		position:fixed;
		top:55px;
		right:-240px;
		display:block;
	}
	.search-block-section .card-block-inner{
		margin:0 0 10px 0;	
	}
	.card-bulk-actions .card-block-inner{
		margin:0;	
	}
	.card-bulk-actions{
		float:none;
	}
	.section-filter{
		margin-left:-15px;
		margin-right:-15px;
	}
	.jobs-listing .row{
		margin-left:0;
		margin-right:0;
	}

	/*================login====================*/
	.login-page{
		width:300px;		
		padding-top:56px;
	}
	.section-login-inner{
		background:url(../images/svg/login_shape_mobile.svg) 0 0 no-repeat;
		width:300px;
		height:490px;
	} 
	.section-login{	
		padding:37px 45px 45px 45px;
		width:100%;	
	}
	.section-logo{
		min-height:80px;
		margin-bottom:10px;
	}
	.login-page .form-flied{
		margin-bottom:10px;
	}
	.login-page .remember-row{
		margin-top:16px;
		margin-bottom:19px;
	}
	.have-text{
		display:block;
	}
	.remember-row .link{
		width:63px;
		margin-top:0px;
	}
	.logo-ps{
		width:50px;
		padding:15px 0 14px 0;	
		margin-right:20px;	
	}
	.logo-ps img{
		width:50px;
		height:58px;
	}
	.logo-client{
		width:130px;
		padding:8px 0 14px 15px;
		min-height:80px;
	}
	.logo-client img{
		width:130px;
		height:53px;
	}
	.copy-right span{
		display:block;
	}
	.login-page .social-block,
	.login-page .or-text{
		display:none;
	}
	.login-section-footer{
		padding-top:10px;
	}
	.login-account{
		margin-top:20px;
		margin-bottom:0px;
	}
	.login-footer-logo{
		margin-bottom:11px;
	}
	.forgot-details{
		padding-top:15px;
		padding-bottom:15px;
	}
	.section-genie{
		right:5px;
	}
	/*============== popup ================  */
	.popup-section{
		z-index:10000;
		max-width:330px;
		left:50%;
		margin-left:-165px;
	}
	.popup-cell-inner .desktop-only{
		display:none;
	}
	.open-text{
		width:76px;
	}
	.popup-cell-2 .dropdown-calendar{
		padding-right:5px;
	}
	.popup-cell-2 .dropdown-calendar .input-item{
		width:74%;
	}
	.popup-cell-2 .popup-cell-inner{
		width:96%;
	}
	.popup-row .delete-icon{
		margin-left:0px;
	}
	.popup-inner{
		max-height:280px;
	}
	.popup-add-filter .popup-cell-3{
		width:100%;
	}
	.popup-add-filter .label-text{
		width:260px;
	}
	 .mrg-lf-20{
		margin:-10px 15px 0 15px;
	 }
	 .filter-one .sort-by-block .filter-cell{
		position:relative;
		width:100%;
		top:0px;
	}
	.filter-one .sort-by-block .dropdown-block{
		top:45px;
	}
	.search-card-block{
		margin:-15px -15px 7px -15px;
	}
	.live-feed-block .chats-accordion-summary{
		width:86%;
	}
	.title-live{
		margin-bottom:10px;
	}
	.item_list > li .form-group {
		margin-bottom:0px;
	 }
	 .item_list > li .form-group .form-control, .item_list > li .form-group .dropdown-11 {
		margin-bottom:15px;
	 }
	 #slider-range {
		 margin-bottom:30px;
	 }
	 .title_right_fields {
	 	position: relative;
	 	margin: 10px 0 0 0;
	 	padding:0px; 
	 	width: 100%;
	 }
	 .startDateEndDate {
	 	margin-bottom: 15px;
	 }
	 .startDateEndDate {
	 	width: 100% !important;
	 }
	 .last_login_info {
	 	display: none;
	 }

 } 
 
 
 
 
@media screen and (max-width: 413px) {
	.site-width {
		max-width:100%;
    }
 
	.profile-block{
		margin-left:5px;
	}
	

    
}
