<div class="module-true" (click)="hideMesh()"></div>
<header class="site-header">
		<form id="altAppForm" method="post">
			<input type="hidden" id="accessToken" name="accessToken" value=""/>
			<input type="hidden" id="refreshToken" name="refreshToken" value=""/>
			<input type="hidden" id="source" name="source" value="AltHome"/>
		</form>
		<form id="partnerAppForm" method="post">	
			<input type="hidden" id="CustomerIdentifier" name="CustomerIdentifier" value=""/>
			<input type="hidden" id="AccessToken" name="AccessToken" value=""/>
			<input type="hidden" id="CallbackURL" name="CallbackURL" value=""/>
			<input type="hidden" id="Timestamp" name="Timestamp" value=""/>
		</form>
		
		<form id="altAppFormCreator" method="get">
			<input type="hidden" id="accessTokenn" name="accessToken" value=""/>
			<input type="hidden" id="refreshTokenn" name="refreshToken" value=""/>
			<input type="hidden" id="url" name="url" value=""/>
			<input type="hidden" id="orgId" name="orgId" value=""/>
			<input type="hidden" id="tenantId" name="tenantId" value=""/>
		</form>
	
       <div class="site-width">
            <div class="site-header-inner clearfix">
                <div class="header-container">
                
                <div class="switch-app-holder">
                	<span class="switch-app-icon" (click)="showMeshPopUp($event)" ></span>
                    <div *ngIf="showMesh" class="switch-apps-dropdown">
                            <div _ngcontent-c1="" class="dropapp-title-outer">
                                    <div _ngcontent-c1="" class="dropapp-title-inner">
                                      My Apps
                                    </div>
                                  </div>
                    	<ul class="switch-apps">
                            <div *ngFor="let application of applications">
                                <div *ngFor="let app of application.apps">
                                    <li *ngIf="app.webEnabled">
                                        <a>

                            	            <div class="switchapps_inner" (click)="hideMesh();callApp(app.appUrl, app.identifier, app.appType, app.appCode)">
                                    	            <div class="apps_iconholder">
                                                        <img src="{{app.meshAppLogo}}"/>
                                                    </div>
                                                <div class="app_text">{{app.appName}}</div>
                                            </div>
                                        </a>

                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>

                <button title="mobile menu" class="button-mobile-menu">
                    <span class="mdi md24 mdi-menu"></span>
                </button>

                <a href="index.html" class="site-logo desktop-only">
                <div class="logo_outer">
                    <img src="../../../assets/images/PeopleStrong-logo.png" alt="Alt One" />
                </div>
                </a>
            </div>
            <div class="header-right">
                <img class="header_profile_pic" src="../../../assets/images/default_img.png"/>
                <a class="top_right_icons bell" href="#"><img src="../../../assets/images/ic-bell.png"></a>
                <a class="top_right_icons setting" href="#"><img src="../../../assets/images/ic-settings.png"></a>
                <i class="material-icons more-click" (click)="showProfileLogoutPopup($event)">keyboard_arrow_right</i>
                <ul class="more-options list-reset" *ngIf="showProfileLogout">
                    <li><a href="#"><span class="dp22 material-icons">person</span>My profile</a></li>
                    <li><a href="javascript:void(0);" (click)="logout()"><span class="dp22 material-icons" >power_settings_new</span>Logout</a></li>
                </ul>
            </div>
            <!--
               <div class="header-right">
                    <div class="header-right-inner clearfix">
                        <div class="profile-block">
                            <div class="profile-img"><img src="../../../assets/images/profile_main.jpg" alt="my profile" /></div>
                            <span class="crown"><img src="../../../assets/images/svg/badgets/group_21.svg" alt="my profile" /></span>
                        </div>
                        <div class="options-block">
                            <div class="icon-top-block">
                                <a href="#" class="task">
                                    <span class="notification">191</span>
                                    <span class="material-icons dp18">assignment</span>
                                    <span class="font8">Tasks</span>
                                </a>
                            </div>
                            <div class="icon-top-block fl-right">
                                <a href="javascript:void(0)" class="quick-links">
                                    <span class="mdi mdi-link-variant mdi20"></span>
                                    <span class="font8">Quick Links</span>
                                </a>
                            </div>
                            <div class="icon-top-block">
                                <a href="#">
                                    <span class="material-icons dp20 margin-none">file_download</span>
                                    <span class="font8">downloads</span>
                                </a>
                            </div>
                            <div class="icon-top-block more-click fl-right"  (click)="toggleLogout()">
                                    <span class="material-icons dp22 margin-none">more_horiz</span>
                                    <span class="font8">more</span>
                            </div>
                        </div>
                        
                    </div>
                    <ul *ngIf="showLogout" class="more-options list-reset">
                     
                        <li><a href="#"><span class="dp22 material-icons">person</span>My profile</a></li>
                        <li><a href="#"><span class="dp22 material-icons">star</span>my team</a></li>
                        <li><a href="#"><span class="dp22 material-icons">link</span>my referrals</a></li>
                        <li><a href="#"><span class="dp22 material-icons">swap_horizontal</span>Switch <span class="mdi mdi-chevron-down md24 fl-right"></span></a>
                        	<ul class="list-reset sub-options">
                            	<li><a href="#">alt One</a></li>
                                <li><a href="#">alt Two</a></li>
                                <li><a href="#">alt Three</a></li>
                            </ul>
                        </li>
                        <li (click)="logout()" ><a href="javascript:void(0)"><span class="dp22 material-icons">power_settings_new</span>Logout</a></li>                       
                    </ul>
                </div>
            -->
            </div>
            </div>
    </header>
