<div class="main-container">
    <div class="container-inner">
        <div class="content">
            <div class="main-title-row">
                <h1 class="main-title">Apps</h1>
            </div>

            <div class="table_with_all clearfix">
                <div class="row">
                    <div class="card-block card-3 search-block-section">
                        <div class="card-block-inner card-bg-none">
                            <div class="input-group search-block">
                                <input type="text" (keyup)="filterApps($event)" class="form-control"
                                    id="searchMobileOne" placeholder="Search…" />
                                <span class="input-group-btn">
                                    <button class="btn material-icons dp20" type="submit">search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block card-3 card-bulk-actions alt_one_form fr">
                        <div class="card-block-inner card-bg-none clearfix">
                            <div class="dropdown dropdown-outer-2 col-2 pull-right">

                                <div class="content_popup fl-right">

                                    <button class="btn btn-primary fl-right add-click"
                                        (click)="openCreateAppWindow()">CREATE APP</button>
                                    <!-- create and edit popup -->
                                    <div class="add-style popup-small" *ngIf="createMode || editMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 class="title" *ngIf="createMode">CREATE APP</h2>
                                            <h2 class="title" *ngIf="editMode">EDIT APP</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="listing-popup-block vertical-scrollbox item_list"
                                                style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                    <div class="form-group row2 mgn-btm-0">

                                                        <div class="row">
                                                            <div class="col-md-6 input-field">
                                                                <label class="control-label clearfix">Name</label>
                                                                <input type="text" class="form-control"
                                                                    [(ngModel)]="app.appName">
                                                            </div>
                                                            <div class="col-md-6 input-field">
                                                                <label class="control-label clearfix">Code</label>
                                                                <input type="text" [disabled]=ifEdit()
                                                                    class="form-control" [(ngModel)]="app.appCode">
                                                            </div>
                                                            <div>
                                                                <label for="file-upload"
                                                                    class="custom-file-upload">Upload Logo</label>
                                                                <input id="file-upload" type="file"
                                                                    (change)="uploadAppLogo('thumbnail',$event)"
                                                                    class="default_upload" [(ngModel)]="app.appLogoUrl"/>
                                                            </div>
                                                        </div>

                                                        <div class="btn-row fl-right">
                                                            <button class="btn btn-white width90"
                                                                (click)="cancel()">cancel</button>
                                                            <button class="btn btn-primary width90"
                                                                [disabled]="!app.appName.trim() || !app.appCode.trim()"
                                                                (click)="submit()">OK</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ End create and edit popup -->

                                    <!-- delete popup -->
                                    <div class="add-style popup-small" *ngIf="deleteMode">
                                        <div class="popup-top clearfix">
                                            <span class="material-icons close" (click)="cancel()">close</span>
                                            <h2 class="title">DELETE APP</h2>
                                        </div>
                                        <div class="popup-small-inner clearfix">
                                            <div class="listing-popup-block vertical-scrollbox item_list"
                                                style="width: 263px; padding-right: 7px; outline: medium none; overflow: hidden;"
                                                tabindex="0">
                                                <div class="content_description">
                                                    <form>
                                                        <div class="form-group row2 mgn-btm-0">

                                                            <div class="row">
                                                                <div class="col-md-12 input-field">
                                                                    <label class="control-label clearfix">Do you want to
                                                                        delete item with id {{app.appId}} ?
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="btn-row fl-right">
                                                                <button class="btn btn-white width90"
                                                                    (click)="cancel()">cancel</button>
                                                                <button class="btn btn-primary width90"
                                                                    (click)="submit()">OK</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- \\ End delete popup -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="document_table">
                    <div class="table-download table-outer">
                        <div class="table-responsive">
                            <table class="table document-table mgn-b0 table_filter">
                                <thead>
                                    <tr>
                                        <th class="table-cell-3 filter_th">
                                            ID
                                            <span (click)="sorting('appId')" class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-3 filter_th">
                                            APP NAME
                                            <span (click)="sorting('appName')" class="clickFilter filter_icon"></span>
                                        </th>

                                        <th class="table-cell-6 filter_th">
                                            Created On
                                            <span (click)="sorting('createdDate')"
                                                class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-6 filter_th">
                                            Created By
                                            <span (click)="sorting('createdBy')" class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-6 filter_th">
                                            Status
                                            <span (click)="sorting('status')" class="clickFilter filter_icon"></span>
                                        </th>
                                        <th class="table-cell-6 filter_th">
                                            Action
                                            <span class="clickFilter filter_icon"></span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let app of apps">
                                        <td class="table-cell-3 font-bold" *ngIf="!meta">
                                            {{app.appId}}
                                        </td>
                                        <td style="cursor: pointer" class="table-cell-3 font-bold"
                                            (click)="routeToModules(app)" *ngIf="!meta">
                                            {{app.appName | removeQuotes}}
                                        </td>
                                        <!--<td class="table-cell-3 font-bold" *ngIf="!meta">
                                            {{app.appCode}}
                                        </td>-->
                                        <td class="table-cell-3">
                                            {{app.createdDate | dateFilter}}
                                        </td>
                                        <td class="table-cell-3">
                                            {{app.createdBy}}
                                        </td>
                                        <td class="table-cell-6">
                                            {{app.status}}
                                        </td>
                                        <td class="table-cell-6 option-cell">
                                            <a href='javascript:void(0);' class="icons-only"
                                                (click)="openEditAppWindow(app)">
                                                <span class="menu-style-icon material-icons edit-icon13">edit</span>
                                            </a>
                                            <!--<a href='javascript:void(0);' class="icons-only" (click)="openDeleteAppWindow(app)">
                                                <span class="menu-style-icon material-icons">delete</span>
                                            </a>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="right-sidebar">
            <div class="right-sidebar-inner">
                <div class="sidebar_top_space"></div>
                <div class="section-accordion mgn_t40">
                    <div class="title-block accordion-title black-gray">
                        <span class="material-icons icon dp22">restore</span>
                        <h2 class="title">Related Information</h2>
                        <span class="mdi mdi-chevron-down md24 fl-right"></span>
                    </div>
                    <div class="content-block accordion-content clearfix black-gray">
                        <ul class="list-reset accordion-listing">
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                            <li class="accordion-item">
                                <br>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>