<div class="form-group">
  <label class="control-label">
    {{element.label}}
    <div class="actions fl-right">
      <a href="javascript:void(0)" *ngIf="editMode" (click)="copy()">
        <span class="menu-style-icon material-icons edit">content_copy</span>
      </a>
      <span class="saprator"></span>
      <a href="javascript:void(0)" *ngIf="editMode" (click)="delete()">
        <span class="menu-style-icon material-icons">delete</span>
      </a>
    </div>
  </label>
  <a href="javascript:void(0);" class="attachment"><span class="material-icons">reorder</span></a>
  <span class="instruction">{{element.instruction}}</span>
</div>