<div class="form-group">
  <label class="control-label">

    <div class="actions fl-right">
      <a href="javascript:void(0);" (click)="openSettings(element)"><span
          class="menu-style-icon material-icons">settings</span></a>
      <span class="saprator" *ngIf="editMode"></span>
      <a href="javascript:void(0);" *ngIf="editMode" (click)="copy()"><span
          class="menu-style-icon material-icons edit">content_copy</span></a>
      <span class="saprator" *ngIf="editMode"></span>
      <a href="javascript:void(0);" *ngIf="editMode" (click)="delete()"><span
          class="menu-style-icon material-icons">delete</span></a>
    </div>
  </label>
  <button type="submit" class="btn btn-primary">{{element.label}}</button>
</div>