<div class="form-group">
    <label class="control-label">
        {{element.label}}
        <span *ngIf="element.required">*</span>
        <a class="info-container" title="{{element.helpText}}">
            <span class="info-icon material-icons">info_outline</span>
        </a>
        <div class="actions fl-right">
            <a href="javascript:void(0)" *ngIf="editMode" (click)="copy()">
                <span class="menu-style-icon material-icons edit">content_copy</span>
            </a>
            <span class="saprator"></span>
            <a href="javascript:void(0)" *ngIf="editMode" (click)="delete()">
                <span class="menu-style-icon material-icons">1delete</span>
            </a>
        </div>
    </label>
    <textarea  type="textarea" class="form-control" placeholder="Text Area" 
    [(ngModel)]="element.placeholder" ></textarea>
    <span class="instruction">{{element.instruction}}</span>
</div>