<header class="site-header">
    <div class="site-width">
        <div *ngIf="checkIfLogoutPage()" class="site-header-inner clearfix">
                <div class="switch-app-holder {{switchApps?'open':'none'}}">
                      <span class="switch-app-icon material-icons" (click)="showSwicher()">apps</span>
                        <div  class="switch-apps-dropdown" (appOutClick)="meshDropHide()" >
                            <div class="dropapp-title-outer">
                                <div class="dropapp-title-inner">
                                    My Apps
                                </div>
                            </div>
                            <ul class="switch-apps">
                                <div *ngFor="let mesh of meshModels;">
                                    <li *ngIf="mesh.appCode!='CSTAPDF'">
                                        <a href="#" class="">
                                            <div class="switchapps_inner" (click)="callApp(mesh.webURL, mesh.identifier, mesh.appType)">
                                                <div class="apps_iconholder"><img src="{{mesh.appIconImage}}" alt="{{mesh.appName}}" /></div>
                                                <div class="app_text">{{mesh.appName}}</div>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                
            <div [class]=getResponsiveClass()>
                    
                <button (click)="changeResponsiveClass()" class="button-mobile-menu">
                    <span class="mdi md24 mdi-menu"></span>
                </button>
                    
                <a href="javascript:void(0)" (click)=callHome() class="site-logo desktop-only">
                    <img [src]=loadLogo() />
                </a>
                <a class="back_home mobile-only" href="index.html" title="back to source">Home</a>

                <nav class="navigation">
                    <ul class="list-reset bar-navigation">
                        <li class="nav-mobile">
                            <div class="search-form clearfix">
                                <form action="method">
                                    <label for="searchMobile" class="sr-only">Search mobile</label>
                                    <button class="search-btn material-icons" type="submit" value="Search Btton">search</button>
                                    <input type="text" class="form-control" id="searchMobile" placeholder="Search" />
                                </form>
                            </div>
                        </li>
                         <li>
                            <a (click)=callHome()>Home</a>
                        </li>
                        <!--li>
                            <a routerLink="master-data/package">Package</a>
                        </li> -->
                        <!--li>
                            <a routerLink="master-data/class">Class</a>
                        </li>
                        <li>
                                <a routerLink="master-data/instance/-1">Instance</a>
                            </li-->
                        <li>
                            <a routerLink="application/app">Apps</a>
                        </li>
                        <!--li>
                            <a routerLink="form">Forms</a>
                        </li-->
                        <!--<li>
                            <button class="btn btn-primary create_app_header">CREATE APP</button>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <img class="header_profile_pic" [src]=profilePhotoUrl()/>
                <a class="top_right_icons logout" href="javascript:void(0)" (click)="logoutUser()"><span class="dp22 material-icons">power_settings_new</span><br>Logout</a>
                <!--
                <i class="material-icons more-click" (click)="toggleMenu()">keyboard_arrow_right</i>
                <ul class="more-options list-reset" *ngIf="logOutMenu">
                    <li><a href="javascript:void(0)" (click)="logoutUser()" ><span class="dp22 material-icons">power_settings_new</span>Logout</a></li>
                </ul>
                -->
            </div>
        </div>
    </div>
</header>

<div class="layout-main layout-right-sidebar">
    <div class="site-width">
        <router-outlet></router-outlet>
    </div>
</div>
