<!-- Login Popup start -->
<div *ngIf="showLogin" class="alt-module-true signIn popUp_Sign_in">
  <div class="alt-modal sign-in-popup">

    <div class="alt-modal-body">
      <div class="table-layout margin-bottom-20 vertical-middle">
        <div class="table-cell width-60px">
          <div class="app-store-popup-title">
            <span class="popup-title">Partner Login</span>
            <img src="assets/images/one_store_logo.png" alt="Alt App store logo" />
          </div>
          <a href="javascript:void(0)" (click)="hideLoginPopUp()" class="alt-modal-close">
            <span class="material-icons">clear</span>
          </a>
        </div>

      </div>
      <div name="loginform">
        <div class="inputContainer focused">

          <label>Email or Mobile number</label>
          <input type="text" [(ngModel)]="loginModal.userName" name="email" class="form-control">
        </div>
        <div class="inputContainer focused">
          <label>Enter Your Passsword</label>
          <input type="password" (keyup.enter)="submit()" [(ngModel)]="loginModal.password" class="form-control">
        </div>
        <div class = "alert alert-danger" *ngIf="loginFailed">
            <!--<span class="label-failure">Login Failed</span>-->
            Login Failure
        </div>
        <div class="form-check rememberMe">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">Remember Me</label>
        </div>
        <div class="forgot-signIn-container">
          <span class="forgotPass">
            <a href="#">Forgot Your User ID/Password?</a>
          </span>
          <span class="signInBtnInt" (click)="submit()">
            <a href="javascript:void(0)" class="btn btn-primary">sign in</a>
          </span>
        </div>
      </div>
    </div>
    <!-- <div class="create-new-acc">
      <button type="button" class="btn btn-default createBtnHover ">become a partner</button>
    </div> -->
  </div>
</div>
<!-- Login Popup end-->
<header>
  <nav class="navbar fixed-top navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/one_store_logo.png" alt="logo" />
      </a>

      <button (click)="showHeader=!showHeader" class="navbar-toggler alt-marketplace-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </button>
      <ul *ngIf="loggedInStatus && isPartnerPage" class="form-inline mt-md-0 after_login_block show-only-mobile-tab">
        <li>
          <div class="user_profile_img">
            <img src="assets/images/profile.png" alt="user image" />
          </div>
        </li>
        <li class="more_option_nav">
          <a href="javascript:void(0)" class="more_icons">
            <span class="material-icons">more_horiz</span>
          </a>
          <ul class="more_options">
            <li (click)="logout()">
              <a href="javascript:void(0)">SignOut</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarCollapse" [class.show]="showHeader">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" (click)="showHeader=!showHeader" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" (click)="showHeader=!showHeader" routerLinkActive="active">
            <a class="nav-link" routerLink="/apps">Apps</a>
          </li>
          <li class="nav-item" (click)="showHeader=!showHeader" routerLinkActive="active">
            <a class="nav-link" routerLink="/partner">Partner with us</a>
          </li>
          <li class="nav-item" (click)="showHeader=!showHeader" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Contact us</a>
          </li>
        </ul>
        <ul *ngIf="loggedInStatus && isPartnerPage" class="form-inline mt-2 mt-md-0 after_login_block hide-only-mobile-tab">
          <li>
            <div class="user_profile_img">
              <img src="assets/images/profile.png" alt="user image" />
            </div>
          </li>
          <li class="more_option_nav">
            <a href="javascript:void(0)" class="more_icons">
              <span class="material-icons">more_horiz</span>
            </a>
            <ul class="more_options">
              <li (click)="logout()">
                <a href="javascript:void(0)">SignOut</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <div *ngIf="!loggedInStatus && isPartnerPage">
            <button (click)="showLoginPopUp();" class="sign-in-btn btn btn-primary my-2 my-sm-0" type="button">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>