<li class="file-field form-field" [ngClass]="{'editing':editing}" type="file" id="frmb-0-fld-21">
    <div class="field-actions">
        <a id="frmb-0-fld-21-edit" (click)="editing=!editing" class="toggle-form btn icon-pencil" title="Edit"></a>
        <a id="frmb-0-fld-21-copy" class="copy-button btn icon-copy" title="Copy">+</a>
        <a id="del_frmb-0-fld-21" class="del-button btn delete-confirm" (click)="delete()" title="Remove Element">×</a>
    </div>
    <label class="field-label">File Upload</label><span class="required-asterisk"> *</span>
    <div class="prev-holder" [hidden]="editing">
        <div class="fb-file form-group field-file-1498466520378-preview">
            <label for="file-1498466520378-preview" class="fb-file-label">File Upload </label>
            <input type="file" class="form-control" name="file-1498466520378-preview" id="file-1498466520378-preview">
        </div>
    </div>
    <div id="frmb-0-fld-21-holder" [hidden]="!editing" class="frm-holder">
        <div class="form-elements">
            <div class="form-group required-wrap">
                <label for="required-frmb-0-fld-21">Required</label>
                <div class="input-wrap">
                    <input type="checkbox" class="fld-required" name="required" value="true" id="required-frmb-0-fld-21"> </div>
            </div>
            <div class="form-group label-wrap">
                <label for="label-frmb-0-fld-21">Label</label>
                <div class="input-wrap">
                    <input name="label" placeholder="Label" class="fld-label form-control" id="label-frmb-0-fld-21" value="File Upload" type="text">
                </div>
            </div>
            <div class="form-group description-wrap">
                <label for="description-frmb-0-fld-21">Help Text</label>
                <div class="input-wrap">
                    <input name="description" placeholder="" class="fld-description form-control" id="description-frmb-0-fld-21" value="" type="text">
                </div>
            </div>
            <div class="form-group className-wrap">
                <label for="className-frmb-0-fld-21">Class</label>
                <div class="input-wrap">
                    <input name="className" placeholder="space separated classes" class="fld-className form-control" id="className-frmb-0-fld-21" value="form-control" type="text">
                </div>
            </div>
            <div class="form-group name-wrap">
                <label for="name-frmb-0-fld-21">Name</label>
                <div class="input-wrap">
                    <input name="name" placeholder="" class="fld-name form-control" id="name-frmb-0-fld-21" value="file-1498466520378" type="text">
                </div>
            </div>
            <div class="form-group multiple-wrap">
                <label for="multiple-frmb-0-fld-21">Multiple Files</label>
                <div class="input-wrap">
                    <input type="checkbox" class="fld-multiple" name="multiple" value="true" id="multiple-frmb-0-fld-21">
                    <label for="multiple-frmb-0-fld-21">Allow users to upload multiple files</label>
                </div>
            </div>
            <div class="form-group access-wrap">
                <label for="access-frmb-0-fld-21">Access</label>
                <div class="input-wrap">
                    <input type="checkbox" class="fld-access" name="access" value="true" id="access-frmb-0-fld-21">
                    <label for="access-frmb-0-fld-21">Limit access to one or more of the following roles:</label>
                    <div class="available-roles">
                        <input type="checkbox" name="roles[]" value="1" id="fld-frmb-0-fld-21-roles-1" class="roles-field">
                        <label for="fld-frmb-0-fld-21-roles-1">Administrator</label>
                        <br>
                    </div>
                </div>
            </div><a class="close-field">Close</a>
        </div>
    </div>
</li>