@media screen and (max-width:1279px) {
    .banner-text-block{max-width:460px;top:23%;}
    .banner-text-title-1{font-size: 40px;line-height: 50px;}
    .banner-hashtag{font-size: 30px;line-height: 40px;}
    .banner-subtext{font-size: 25px;line-height: 28px;}
    .banner-text-block .btn{margin-top:10px;}
    .partner-page-carousel .banner-text-block .btn{margin-top:10px;}
    .app-info-slider .thumb{width:auto;height: auto;}
    .background-img{height:360px;}
    .add_new_app{margin-bottom: 40px;}
    .show-only-desktop{display: none;}
    .alt-modal{padding: 30px 20px;max-width:90%;max-height:90%;}
    .partner_profile_completion_popup .create_partner_profile{padding-left: 30px;}
    .profile_popup_btn_group{padding-right: 30px;}

    .banner-text-block.partner_text{top:18%;}
    .banner-text-block.partner_text .banner-text-title-1{font-size: 35px;line-height: 50px;}
    .ng2-carouselamos-wrapper {width: 100% !important;}

    .app-image{height: 140px; width: 140px; padding: 30px;}


    /*.sign-in-popup{left:17%;}*/
    /*.popUp_getStarted .sign-in-popup{left:7%;}*/
    /*.app-image{height:90px;width:90px;padding:16px 20px;}*/
    /*.app-image img{width:50px;height:55px;}*/
    /*.open_media_popup{display: none !important;}*/
    /*.search_outer{border: none;}*/
    /* .profile_popup_btn_group{position: relative;}*/

}



@media screen and (max-width:1023px) {
    .search_outer{width:200px;}
    .right-side-bar{display: none;}
    .banner-text-block{max-width:340px;top:18%;left:20%;}
    .home_banner .banner-text-block{top:17%;}
    .banner-text-title-1{font-size: 28px;line-height:15px;}
    .banner-text-title-2{font-size: 45px;}
    .banner-hashtag{font-size: 20px;line-height: 40px;}
    .socialIcons{min-width:215px;}
    /*.quick-links{max-width:520px;}*/
    .categories_items_home .row .col-md{padding-left: 15px;}
    .banner-subtext{font-size: 18px;line-height: 20px;}
    .banner-text-block .btn{margin-top:2px; max-width: 210px; }
    .partner-page-carousel img,.landing-page-carousel img{min-height: 250px;}
    .app-image{height:140px;width:140px;padding:28px 35px;}
    .app-image img{width:70px;height:82px;}
    .background-img{height:250px;}
    .banner-text-block .btn{font-size: 16px;}
    .search_outer{width:135px;}
    .navbar-nav .nav-item .nav-link{padding: 5px 7px;}
    .after_login_block li .user_profile_img img{width:30px;height:30px;}
    .navbar-brand{min-width: 75px;}
    .navbar-expand-md > .container{padding: 0;}
    .partner_profile_completion_popup{padding: 0;}
    .appstore_added_banners .add_img_click{padding: 26px 0}
    .banner{padding-bottom: 30px;}
    .user_pic{float: none;margin: 55px auto 0;}
    .section_details{float: none;}

    .banner-text-block.partner_text{top:18%;}
    .banner-text-block.partner_text .banner-text-title-1{font-size: 28px;line-height:15px;}
    .banner-text-block.partner_text .banner-text-title-2{font-size: 45px;}
    .carousel-indicators{bottom: 0;}
    .banner.view-apps{padding-bottom: 40px;}

    .categories_list_home ul li{width: 24%;}
    .after_login_block li + li{padding-left: 0;}
    .more_options{right: 20px;}
    .app-detail-block{padding-top: 38px;}
    .future_alliances_content ul li{padding: 0px 13px; width: 17.5%;}

    /*.sign-in-popup{left:17%;}*/
    /*.popUp_getStarted .sign-in-popup{left:8%;right:8%;width:auto;}*/
    /*.partner_profile_completion_popup .alt-modal-body{max-height: 90%;}*/

}



@media screen and (max-width: 767px) {
    body{padding: 53px 0 128px;}
    main{padding: 0;}
    .popUp_getStarted .inputContainer.btn_group{margin-top:35px;}
    .popUp_getStarted .alt-modal{padding:30px 20px;}
    .double-child:last-child{margin-top:25px;}
    .main-content{padding: 0 15px;}
    .main-container{padding-top: 25px; padding-bottom: 25px; }
    .fog{display: none;}
    .app-image{height:120px;width:120px;padding:24px 30px;}
    .app-image img{width:60px;height:70px;}
    .footer .nav .nav-link{padding-right: 15px;font-size: 11px;}
    /*.quick-links{max-width: 430px;}*/
    .categories_menu_home{max-width: none;min-height: 0;background-size: cover;}
    .socialIcons{min-width:180px;}
    .socialIcons a + a{margin-left:0;}
    .banner-subtext{font-size: 15px;}
    .categories_items_home .row .col-md{padding-left: 100px;}
    .banner-text-block{max-width:350px;left:19%;top:17%;}
    .home_banner .banner-text-block{max-width:360px;}
    .banner-text-title-2{line-height: 60px;font-size: 35px;}
    .banner-text-title-1{line-height: 30px; }
    .socialIcons a{height:30px;width:30px;}
    .socialIcons a > i{padding-top: 7px;}
    .open_media_popup .owl-carousel .owl-item img{height: 150px;}
    .open_media_popup .video-container{height: 150px;}
    .alt-modal{padding: 30px 20px;max-width:90%;max-height:90%;}
    .background-img{height:220px;}
    .partner-page-carousel .banner-text-block .btn{margin-top:5px;}
    .navbar-brand{position: absolute;top: 3px;left: 45px;}
    .add_new_app{margin-bottom: 20px;}
    .show-only-mobile-tab{display: block;}
    .hide-only-mobile-tab{display: none !important;}
    .search_outer{margin:20px 10px;width:auto;}
    .after_login_block.show-only-mobile-tab{display: flex;}
    .user_pic{float: none;margin: 55px auto 0;}
    .section_details{float: none;}
    .personal_detail_input{margin-bottom: 50px;}
    .company_details .user_pic{width:230px;}
    .partner_profile_completion_popup{padding: 0;}
    .admin_home_banner .company_details .user_pic.banner_img{float: none;}
    .admin_home_banner .partner_profile_completion_popup .user_pic{margin: 0 auto;}
    .partner_profile_completion_popup .company_detail_input{margin-bottom: 0;}
    .appstore_edit_slider a{margin: 80px 0 0 0;}

    .banner-text-block.partner_text{top:12%;}
    .banner-text-block.partner_text .banner-text-title-1{line-height: 30px; }
    .banner-text-block.partner_text .banner-text-title-2{line-height: 40px;font-size: 35px;}

    .categories_list_home ul li{width: 32%; padding: 20px 0;}

    /*.sign-in-popup{overflow:auto;top:75px;left:10%;width:95%;left:3%;}*/
    /*.popUp_getStarted .sign-in-popup{left:7%;width:auto;}*/
    /*.categories_menu_home ul li{width:32%;display: inline-block;}*/
    /*.open_media_popup .alt-modal{width:300px;height:200px;}*/
    /*.open_media_popup .alt-modal{top:300px;}*/
    /*.partner_profile_completion_popup .create_partner_profile{padding: 20px;}*/
    /*	.partner_profile_completion_popup .fixed-bottom .btn_group{width:auto;}*/
    /*.partner_profile_completion_popup .alt-modal-body {
    max-height: 250px;
    }*/
    /*.partner_profile_completion_popup .fixed-bottom .btn_group{width:90%;}*/

}



/*@media screen and (max-width: 480px) */
@media screen and (max-width: 575px) {
    body{padding: 53px 0 215px;}
    .show-only-tab{display: none;}
    .double-child [class*=col]:first-child{margin-bottom: 55px;}
    .banner-text-block{top:20%;}
    .banner-title{padding-top: 0;}
    .banner-text-title-1,.banner-text-title-2{font-size: 14px;line-height: inherit;}
    .banner-hashtag{line-height: inherit;font-size: 14px;padding-top: 0;}
    .socialIcons{max-width:50px;padding-top: 0;min-width:0;margin-left: 20px;}
    .banner-subtext{font-size: 9px;width:160px;line-height: inherit;display: none;}
    .banner-title:first-child{padding-top: 10px;}
    .owl-item {height: 135px; }
    .popUp_Sign_up .sign-in-popup .alt-modal-body{padding:40px 15px 30px 15px;}
    .popup-title{font-size: 21px;}
    .forgot-signIn-container span{width:auto;}
    .forgotPass a{font-size: 12px;}
    .create-new-acc button{width: auto;}
    .banner-text-block{max-width:170px;}
    .marketplace_text p{font-size: 14px;line-height: 20px;}
    .section-marketplace .title{font-size: 14px;}
    .section-marketplace .title-sub{font-size: 14px;line-height: 20px;}
    .section-marketplace .marketplace-inner .btn {height: 40px;line-height: 20px;font-size: 14px;max-width: 170px;}
    .testimonials .main-title,.testimonial_text{font-size: 14px;}
    .categories_items_home .row .col-md{padding-left: 15px;}
    .categories_menu_home ul li a{padding: 10px;font-size: 14px;text-align: center;}
    .categories_menu_home h3{padding: 10px;font-size: 20px;}
    .categories_items_home .view_more,.apps_block .view_more,.row.space-45 .view_more,.row.partner_apps_list .view_more {margin: 0 auto 40px;text-align: center;display: inherit;float: none;border: 1px solid;border-radius: 4px;padding:10px 20px;width:240px;}
    .more_apps .view_more{margin-top: 0px !important;margin-bottom: 40px !important}
    .testimonials{padding: 20px 0;}
    .section-marketplace{padding:15px 0;}
    .marketplace_text{padding: 15px 0;}
    .carousel-indicators{bottom:-10px;}
    .footer .nav .nav-link{padding-right: 15px;}
    .banner{padding-bottom: 10px;}
    .appstore-slider-item{width:245px;margin: 0 auto;display: block;}
    .testimonials .main-title{padding:0;line-height: 10px;}
    .footer .nav{max-width:160px;}
    .banner-text-block .btn{font-size: 9px;width:145px;}
    .testimonial_text_center{font-size: 12px;line-height: 15px;top:50%;}
    .testimonial_text{height: 120px;}
    .testimonials .carousel.slide{min-height:135px;}
    .landing-page-carousel img{min-height: 125px;}
    .landing-page-carousel .banner-text-title-2{font-size: 20px;}
    .landing-page-carousel .banner-text-title-1{font-size:13px;}
    .banner-text-block{top:17%;left:20%;}
    .socialIcons a + a{margin-left: 0;}
    .categories_menu_home ul li{width:32%;display: inline-block;}
    .why_alt_text{font-size: 14px;padding: 10px;line-height: 20px;}
    .it-works .title{font-size: 14px;}
    .it-works .card .card-title{font-size: 16px;}
    .it-works .card .card-body{padding:0;}
    .card-text{font-size: 14px;}
    .partner-page-carousel .banner-text-title-2{font-size: 15px;}
    .border-right::after,.border-left::after{content:none;}
    .categories_menu_home ul{padding: 0 5px;}
    .show-only-mobile{display: inline-block;}
    .hide-only-mobile{display: none !important;}
    .app-info-detail .appstore-thumb-info li{text-align: center !important;}
    .app-detail-block{text-align: center;padding-top: 20px;}
    .app-wishlist-block{text-align: center;padding-top:20px;}
    .arrow-left,.arrow-right{display: none;}
    .app-info-slider .thumb{width:100%;height:100%;}
    .app-info-slider{padding-top: 30px;}
    .navbar-brand{position: absolute;top: 3px;left: 38px;}
    .navbar{padding-left: 7px;}
    .create-new-acc .createBtnHover{width:180px;font-size: 13px;}
    .more-mobile{display: block;}
    .partner-page-carousel img{min-height: 125px;}
    .marketplace-inner{padding:10px 0;}
    .alt-modal{padding: 30px 20px;max-width:90%;max-height:90%;}
    .open_media_popup .owl-carousel .owl-item img{height: 150px;}
    .open_media_popup .video-container{height: 150px;}
    .background-img{height:120px;}
    .app-image{margin: 0 auto;display: block;}
    .app-thumb-block{width: 100%;}
    .popUp_Sign_in .sign-in-popup .alt-modal-body{padding: 40px 20px 30px;}
    .signInBtnInt {float: none;text-align: center;margin-top: 30px;display: block;}
    .after_login_block{width:70px;margin: 0!important;}
    .create_partner_profile{padding: 30px 30px 50px 30px;}
    .create_partner_profile .btn{font-size: 12px;padding: 10px;}
    .company_detail_input{margin-bottom: 35px;}
    .create_partner_profile .btn_group{text-align: center!important;}
    .partner_profile_completion_popup{padding: 0;}
    .partner_profile_completion_popup .btn_group .btn{padding: 10px 15px;font-size: 12px;}
    .appstore_edit_slider a{margin: 30px 0 0 0;}

    .alt-modal-body .btn{margin-bottom:10px;width:100%;}

    .add_new_app .row{
        margin: 40px -15px 0 -15px;
    }
    .add_new_app.edit_new_app .row{
        margin: 30px -15px 0 -15px;
    }
    .add_new_app{
        padding: 0 10px 50px 10px;
    }

    .banner-text-title-2{font-size: 20px;}
    .banner-text-block.partner_text{top:20%;}
    .banner-text-block.partner_text .banner-text-title-1{font-size:13px; line-height: 13px;}
    .banner-text-block.partner_text .banner-text-title-2{font-size: 15px; line-height: 20px;}

    .categories_list_home ul li{width: 49%; padding: 20px 0;}
    .it-works .card .card-img-top {max-width: 55px; max-height: 55px;}
    .footer .nav .nav-item{
        width: 100%;
    }
    .future_alliances_content ul li{padding: 0px 10px; width: 30.5%; margin: 1.5% 1%;}

    /*.sign-in-popup{width:96%;left:0;margin: 2%;top:14.5%;bottom:14.5%;overflow: auto;}*/
    /*.partner-page-carousel .banner-text-block .btn{margin-top: 10px;}*/
    /*.app-detail-block .rating{margin: 5px 0;}*/
    /*	.navbar-nav .nav-item .nav-link{margin: 5px 7px;}*/
    /*.popUp_getStarted .btn.btn-default.btn_gray{padding: 10px;}
    .popUp_getStarted .btn.btn-default.btn-primary{padding: 10px;}*/
    /*.open_media_popup .alt-modal{width:300px;height:200px;}*/
    /*.open_media_popup .alt-modal{top:100px;}*/
    /*.add_new_app .col-sm-12.btn_group{text-align: center !important;}*/
    /*.search_outer .material-icons{left:20px;}*/

}



@media screen and (max-width: 320px) {
    .banner-title h3{font-size: 14px;}
    .banner-title a{font-size: 10px;}
    .banner{padding-bottom: 20px;}
    .alt-modal-body .btn+.btn{margin-bottom: 0;}
    .partner_profile_completion_popup .alt-modal-body{max-height: 350px;}
    .appstore_edit_slider a{margin: 30px 0 0 0;}
   .future_alliances_content ul li{padding: 0px 5px; width: 30%;}


    /*.sign-in-popup{top:55px;bottom:10px;}*/
    /*.banner-text-block .btn{font-size: 10px;margin-top: 0;width:130px;padding: 5px 0;}*/
    /*.open_media_popup .alt-modal{top:150px;}*/
    /*.popUp_getStarted .btn.btn-default.btn_gray,.popUp_getStarted .btn.btn-default.btn-primary{padding: 5px;font-size: 11px;}*/

}






/*
@media screen and (max-width:1026px) {
    .search_outer{width:200px;}
}
*/

/*
@media screen and (max-width: 575px) {
    .show-only-tab{display: none;}
    .double-child [class*=col]:first-child{margin-bottom: 55px;}
}
*/

/*
@media screen and (max-width: 480px) {
    .alt-modal-body .btn{margin-bottom:10px;width:100%;}
}
*/
