@import url("./bootstrap.min.css");
@import url("./materialdesignicons.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");

/* =================================== Fonts Face =================================== */
/* Fonts */
@font-face {
    font-family:'DIN Bold';
    src: url('../fonts/DIN-Bold.eot');
	src: url('../fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DIN-Bold.woff2') format('woff2'),
		url('../fonts/DIN-Bold.woff') format('woff'),
		url('../fonts/DIN-Bold.svg#DIN-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0008-02DC;
}
@font-face {
    font-family:'DIN Regular';
    src: url('../fonts/DIN-Regular.eot');
	src: url('../fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DIN-Regular.woff2') format('woff2'),
		url('../fonts/DIN-Regular.woff') format('woff'),
		url('../fonts/DIN-Regular.svg#DIN-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
@font-face {
    font-family:'DIN Medium';
    src: url('../fonts/DIN-Medium.eot');
	src: url('../fonts/DIN-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DIN-Medium.woff2') format('woff2'),
		url('../fonts/DIN-Medium.woff') format('woff'),
		url('../fonts/DIN-Medium.svg#DIN-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
@font-face {
    font-family:'DIN Light';
    src: url('../fonts/DIN-Light.eot');
	src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DIN-Light.woff2') format('woff2'),
		url('../fonts/DIN-Light.woff') format('woff'),
		url('../fonts/DIN-Light.svg#DIN-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
.din-bold{
	font-family: 'DIN Bold';
}
.din-regular{
	font-family: 'DIN Regular';
}
.din-Medium{
	font-family: 'DIN Medium';
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    font-weight:normal;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;

}
h3 {
    font-size: 18px;

}
h4 {
    font-size: 16px;

}
h5 {
    font-size: 14px;
    font-family: 'DIN Bold';
}
p{
	line-height:20px;
	color:#494949;
}
a {
    color:#a8a8a8;
    text-decoration:none;
    transition: all 0.75s ease;
    outline: 0 none;
}
a:hover ,a:focus ,a:active {
    color:#777777;
    text-decoration:none;

}
.nav-link {
	color:#959595;
	text-transform:uppercase;
	font-family:'DIN Regular';
}
.active a {
	color:#a8407f;
	font-family: 'DIN Medium'
}
textarea{
    min-height: 77px;
}
.btn{
    cursor: pointer;
    transition: all 0.75s ease;
}
/* ====================================== Common Styles ====================================== */
/* === List Reset == */
.list-reset {
    list-style:none;
    margin:0px;
    padding:0px;
}
.container {
    max-width: 1280px;
}
.navbar-nav .nav-item .nav-link {
	padding:5px 20px;
}
.navbar-brand {
	min-width:110px;
}
nav {
	background:#fff;
	box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	z-index:3;
}
input,select{font-family: "Din Regular";}
.btn {
	text-transform:uppercase;
	font-family:'DIN Medium';
	font-size:12.5px;
	padding:10px 25px;
}
.btn-primary {
    color: #fff;
    background-color: #a8407f;
    border-color: #a8407f;
}
.btn-primary:hover {
    color: #fff;
    background-color: #a8407f;
    border-color: #a8407f;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a8407f;
    border-color: #a8407f;
    box-shadow: 0 0 0 .2rem rgba(221,66,160,.5);
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(221,66,160,.5);
	color:#fff;
}
.btn-dark, .btn-dark:hover {
    color: #fff;
    background-color: #777;
    border-color: #777;
}
.btn-dark:not([disabled]):not(.disabled).active, .btn-dark:not([disabled]):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #777;
    border-color: #777;
    box-shadow: 0 0 0 .2rem rgba(0,0,0,.2);
}
.btn-dark.focus, .btn-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(0,0,0,.2);
	color:#fff;
}
.btn-alt.focus, .btn-alt:focus {
	color:#fff;
}
.btn-alt, .btn-alt:hover {
	color: #fff;
    background-color: #5f92d1;
    border-color: #5f92d1;
}
.btn-purple.focus, .btn-purple:focus {
	box-shadow: 0 0 0 .2rem rgba(221,66,160,.3);
	color:#fff;
}
.btn-purple, .btn-purple:hover {
	color: #fff;
    background-color: #e2226f;
    border-color: #e2226f;
}
.banner {
	position:relative;
	padding-bottom: 55px;
}
.banner.partner-page-carousel{padding-bottom: 0;}
.banner img {
	width:100%;
	height: 100%;
	/*border-radius: 4px;*/
}

.banner-main {
	position:relative;
}
.banner-main img {
	width:100%;
	height: 100%;
	border-radius: 4px;
}

.banner-text-block {
	position:absolute;
	top:15%;
	left:20%;
}
.banner-text-title-1 {
	font-size: 50px;
	font-family: 'DIN Medium';
  /* color: #800152; */
  color: #fff;
	line-height:60px;
}
.banner-text-title-2 {
	font-size: 60px;
	text-transform: capitalize;
	font-family: 'DIN Medium';
  /* color: #800152; */
  color: #fff;
	line-height:80px;
}
.banner-hashtag {
	font-size: 36px;
	font-family: 'DIN Light';
  /* color: #575757; */
  color: #fff;
	line-height:40px;
	padding-top:10px;
}
.banner-subtext {
	font-size: 30px;
	font-family: 'DIN Light';
	color: #202020;
	max-width:550px;
	line-height:36px;
}
.banner-text-block .btn {
	max-width:250px;
	font-size:18px;
	margin-top:20px;
}
.text-padding {
	padding:20px 0;
}
.section {
	padding:20px 0;
}
.section-marketplace {
	text-align:center;
    padding: 30px 0;
}
.section-marketplace .title-sub {
	padding:5px 0px 10px;
	font-size:24px;
	font-weight:lighter;
	font-family:'DIN Light';
	line-height:30px;
	color:#777;
}
.marketplace-inner {
	padding:20px 10px;
	text-align:center;
}
.border-right, .border-left {
	position:relative;
}
.border-right:after {
	content:'';
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:1px;
	background:#fff;
}
.border-left:after {
	content:'';
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:1px;
	background:#c2c2c2;
}
.section-marketplace .marketplace-inner .btn {
	height:50px;
	line-height:27px;
	border-radius:30px;
	font-size:18px;
	max-width:380px;
	display:inline-block;
}
.title{
	color: #a8407f;
	font-size: 20px;
	font-family: 'DIN Medium';
	text-transform: uppercase;
}
.main-title{
	font-size:36px;
	color:#800152;
    letter-spacing: 0.8px;
	font-family:'DIN Light';
}

.title-sub{
	font-size: 18px;
	color: #878787;
}
.title-small{
	font-size:12px;
	text-transform:capitalize;
	margin:0px;
	line-height:14px;
}
.link{
	text-decoration:none;
	color:#6da4d8;
}
.link:hover{
	text-decoration:underline;
	color:#6da4d8;
}
.title .link{
	color:#494949;
}
.title .link:hover{
	text-decoration:underline;
	color:#494949;
}
.carousel-indicators li {
	background:#c6c6c6;
	width:8px;
	height:8px;
	border-radius:50%;
}
.carousel-indicators li.active {
	background:#a8407f;
}
.slogan-blog {
	padding:30px 0 0;
}
.card-block, .it-works, .customer-counting-block {
	text-align:center;
}
.card-block .main-title {
	padding:20px 0;
}
.card-block .card, .it-works .card, .customer-counting-block .card {
	text-align:center;
	align-items: center;
	padding:20px 0;
	background:none;
	border:none;
}
.card-title {
	color:#a8407f;
}
.customer-counting-block .card {
	padding:20px;
}

.customer-counting-block .card .card-title {
	font-size:50px;
	line-height:80px;
	font-family: 'DIN Medium';
}
.customer-counting-block .title {
	font-size:30px;
	margin:30px 0;
}
.customer-counting-block .title .large-size {
	font-size:50px;
}
.customer-counting-block .card .card-text {
	font-size:16px;
}
.it-works .title {
	padding:20px 0;
	font-size: 24px;
}
.it-works .card {
	padding:20px;
}
.it-works .card .card-title {
	font-size:24px;
	color:#a8407f;
	line-height:30px;
	font-weight:normal;
}
.card-block .card .card-title {
	font-size:24px;
	color:#800152;
	font-family:'DIN Light';
}
.card-block .card .card-subtitle {
	font-size:14px;
	color:#777;
	font-family: 'DIN Regular'
}
.card-block .card .card-img-top {
	width:100px;
	height:100px;
	border-radius:50%;
}
.it-works .card .card-img-top {
	max-width:75px;
	max-height:75px;
}
.card-block .card .card-text {
	font-size:14px;
	font-family: 'DIN Light';
	color: #444;
}
.card-text {
	color:#777;
	font-size:16px;
	font-family: 'DIN Light';
}
.footer {
	background:#494949;
	padding:20px 0;
	color:#ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .nav .nav-link {
	color:#eee;
	font-size:12px;
	padding-left:0px;
	padding-right:30px;
}
.footer .nav {
	margin-bottom:20px;
}
.copyright {
	color:#ccc;
	font-size:12px;
	text-transform:uppercase;
	font-family:'DIN Light';
}
.socialIcons {
    text-align: right;
    padding-top: 16px;
    float: right;
}
.socialIcons a {
	display:inline-block;
	margin-bottom:5px;
	height: 36px;
	width:36px;
	border:1px solid;
	border-radius: 50%;
}
.socialIcons a + a {
	margin-left: 5px;
}
.socialIcons a>i{
	padding-top: 10px;
	 display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialIcons a:hover {color:#fff;}
.show-only-tab{display: block;}
.show-only-desktop{display: block;}
.show-only-mobile-tab{display: none;}
/*************** alt app page css ************/
.carousel-control-next-icon, .carousel-control-prev-icon {
	width:17px;
	height:31px;
}
.carousel-control-next-icon {
	background:url(../images/chevron-right.png) no-repeat;
}
.carousel-control-prev-icon {
	background:url(../images/chevron-left.png) no-repeat;
}
/* .carousel-control-next, .carousel-control-prev {
	width:17px;
	background:none;
    opacity:1;
    display: none;
}
.carousel-control-next {
	right:-25px;
}
.carousel-control-prev {
	left:-25px;
} */
.thumbnail-slide .carousel-inner {
	display:flex;
}
.thumbnail-slide .carousel-item {
	width:300px;
	min-width:300px;
	max-width:300px;
	display:inline-block;
}
.appNewlyLaunch {
	color:#a8407f;
	text-transform: uppercase;
    font-size: 10px;
    font-family: 'DIN Medium';
    display: block;
}
.appTitle {
	font-size: 18px;
	color:#494949;
	font-family: 'DIN Light';
	line-height: 18px;
}
.appTitle a{
	font-size: 18px;
	color:#494949;
	font-family: 'DIN Light';
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
}
.appTitle a:hover{
	color:#a8407f;
}
.appOwner{color:#777;
}
.rating .material-icons{
	display: inline-block;
	font-size:13px;
	width:9px;
}
.rating .material-icons.filled {
	color:#a8407f;
}
.rating .material-icons.done {
	border-radius: 50%;
	background-color: #a8407f;
	color: #fff;
	height: 14px;
	width: 14px;
	font-size: 9px;
	text-align: center;
	float: right;
	margin-top: 5px;
	padding-top: 2px;}
.rating .material-icons.filled {
	color:#a8407f;
}
.appstore-thumb-info span {
	display: block;
}
.appstore-thumb-info li {
	display: block !important;
	text-align: left !important;
}
.appstore-thumb-info{
	padding: 0;
	margin: 0;
}
.banner-title{
	border-bottom: 1px solid #b2b2b2;
	margin-bottom: 5px;
	padding-bottom: 5px;
    position: relative;
}
.banner-title a{
	float: right;
	font-size: 14px;
	color: #a8407f;
}
.banner-title h3{
	font-family: 'DIN Medium';
	color: #555;
	text-transform: uppercase;
	margin-bottom: 0;
}
.banner-text-block .btn{
color:#fff;
background-color: #800152;
border-color: #800152;
}
.banner-text-block .btn:hover{
color:#800152;
background-color: #fff;
}
.sign-in-btn:hover{
color:#a8407f;
background-color: #fff;
}
.partner-with-btn:hover{color:#777;background-color: #fff;}
.explore-apps-btn:hover{color:#a8407f; background-color:#fff; }
.section-marketplace .marketplace-inner .btn.btn-purple:hover{
color:#e2226f;
background-color: #fff;
}
.section-marketplace .marketplace-inner .btn.btn-alt:hover{
color:#5f92d1;
background-color: #fff;
}
.footer .nav .nav-link:hover{
	text-decoration: underline;
}
.appTitle-owner{
	font-family: 'DIN Light';
    font-size: 12px;
    color:#777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
}

.footer-alt{
	background-color: #fff;
}
.copyright-alt{
	font-family: 'DIN Light';
	color:#494949;
	font-size: 12px;
}

.owl-prev {
    width: auto !important;
    height: auto !important;
    position: absolute;
    top: 55%;
    left: -40px;
    display: block!important;
    border:0px solid black;
}

.owl-next {
    width: auto !important;
    height: auto !important;
    position: absolute;
    top: 55%;
    right: -40px;
    display: block!important;
    border:0px solid black;
}
.appstore-slider-item {
	height:230px;
	display: table-cell;
	vertical-align: bottom;
}
.owl-carousel .owl-item img{
	height: auto;
}
.owl-appstore .owl-item {margin-right: 90px;width:240px !important;}
.owl-appstore .owl-item:last-child{margin-right: 0;}
.owl-app-info .owl-item:last-child{margin-right: 0;}
.owl-theme .owl-nav [class*=owl-]:hover{
	background-color: transparent;
}
.owl-prev{top:42%;}
.owl-next{top:42%;}
.owl-app-info-popup .owl-item {height:100%;width:100%;}
.alt-module-true {
    background:rgba(227, 227, 227, 0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1031;
    display: block;
}
.alt-module-true.signIn {background: rgba(000, 000, 000, 0.5);position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 1031;display: block}
.alt-module-true.signIn .alt-modal-close .material-icons{color:#aeaeae;}
.wish-dialog {margin-top:-220px;width: 500px;margin-left: -250px;}
.alt-modal {position: fixed;top: 50%;z-index: 1009;background: #fff;border-radius: 6px;box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);}
.alt-modal-close {display: inline-block;padding: 2px;position: absolute;right: 8px;top: 8px;}
.open_media_popup .alt-modal-close{top:8px;}
.alt-module-true.signIn .alt-modal-close .material-icons{color:#aeaeae;}
.sign-in-popup .alt-modal-body {padding:40px 60px 30px;}
.popUp_Sign_up .sign-in-popup .alt-modal-body {padding:40px 60px 0;}
.alt-modal-body {
    padding:20px;
}
.popUp_getStarted .alt-modal {padding:40px 60px 30px;}
.popUp_getStarted .alt-modal-body {padding:40px 15px 30px 15px;}
.popUp_getStarted .inputContainer.btn_group{margin-top: 50px;}

.vertical-middle, .vertical-middle .table-cell {vertical-align: middle;}
.table-layout {display:table;width:100%;border-collapse: collapse;}
.table-cell {display:table-cell;}
.alt-module-true {background: rgba(000, 000, 000, 0.5);position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 1031;display: block;}
.alt-module-true.signIn .alt-modal-close .material-icons{color:#aeaeae;}
.signIn .form-control,.signIn .form-control:focus,.signIn .form-control:active{padding:0;box-shadow:none;border:none;border-bottom: 1px solid #ccc;margin-bottom: 10px;border-radius: 0;background: none; }
.inputContainer label {/*font-size:14px;*/color:#757575;font-family:'DIN Regular';top: 5px;-webkit-order: 1;-ms-flex-order: 1;order: 1;pointer-events: none;-webkit-font-smoothing: antialiased;padding:0;z-index: 1;-webkit-transform: translate3d(0,28px,0) scale(1);transform: translate3d(0,28px,0) scale(1);transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .25s;transition: transform cubic-bezier(.25,.8,.25,1) .25s;-webkit-transform-origin: left top;transform-origin: left top;}
.inputContainer {position: relative;margin-bottom: 15px;}
.inputContainer.focused label{-webkit-transform: translate3d(0,15px,0) scale(.85);transform: translate3d(0,15px,0) scale(.85);color:#a8407f;}
.signIn .rememberMe label {color:#a8407f;font-family: 'DIN Light';font-size: 14px;}
.forgot-signIn-container span{width: 48%;}
.popup-title{font-size: 30px;font-family: 'DIN Light';color:#a8407f;}
.app-store-popup-title img{float: right;}
.rememberMe{margin-top: 30px;color: #a8407f;font-size: 14px;font-family: "DIN Light";}
.forgot-signIn-container{margin-top: 10px;}
.forgotPass a{color:#a8407f;font-size: 14px;font-family: 'DIN Light'}
.signInBtnInt {float:right;text-align: right;}
.signInBtnInt .btn{color: #fff;}
.create-new-acc{padding:30px;border-top:1px solid #ccc;text-align: center;}
.popUp_Sign_up .create-new-acc{border:none;}
.create-new-acc .createBtnHover {width:50%;color: #a8407f;background-color: #fff;border: 2px solid;font-size:100%;}
/*.create-new-acc .btn-default:hover{background-color: #a8407f;font-family:'Din Regular';color: #fff;}*/
.sign-in-popup{width:600px;left:370px;top:150px;}
.navbar-toggler i{color: #ccc;font-size: 21px;}
.alt-marketplace-toggler{margin-top: 5px;padding: 0;outline: none!important;}
.thumb{display: block;/*padding-left: 1px;*/ position: relative; border-radius: 5px; overflow: hidden;margin: 2px 0 0 0;}
.dark-background{background-color: #efefef;}
.banner-title.app-info-title h3{text-transform: capitalize;}
.app-image{
	height:160px;
	width:160px;
	display: table-cell;
	align-items: center;
	text-align: center;
	background-color: #f6f6f6;
	border-radius: 20px;
	box-shadow:  1.9px 0.6px 2px 0 rgba(0, 0, 0, 0.1);
	padding: 40px;
	/*display: inline-block;*/
}
.app-image img {width:80px;height:80px;}
.app-detail-block .appTitle{font-size: 24px; font-family: 'DIN Light'; line-height: 26px;}
.app-detail-block .appTitle-owner{font-size: 14px; font-family: 'DIN Light';margin-top: 5px;}
.app-detail-block .rating{margin: 5px 0;}
.app-detail-block .rating .material-icons{font-size: 18px;width:14px;}
.app-detail-block{padding-top:48px;}
.wishlist img {margin-right: 10px;}
.wishlist{font-size: 12px;font-family: 'DIN Medium'; color:#a8407f;text-transform: uppercase;}
.app-wishlist-block{padding-top:48px;text-align: right;/*margin-left: 15px;*/}
.app-text-info {font-size: 14px; font-family: 'DIN Regular';color:#757575;padding-top: 30px;margin-bottom: 25px;}
.app-text-info-link{color:#a8407f;font-size: 14px;font-family: 'DIN Medium';text-transform: uppercase;}
.full-width{width:100%!important;}
.app-info-title{margin-bottom: 20px;}
.other-apps li{list-style-type: none;margin-bottom: 35px;}
.other-apps .appTitle,.other-apps .appOwner,.other-apps .rating{display: block;}
.rating .material-icons {color:#c8c8c8; }
.right-side-bar{max-width:270px;/*padding: 0;*/ margin-left: 25px;}
.app-content-holder{padding:0 30px 30px 30px;background-color: #fff;margin-top: -20px;margin-bottom: 20px;}
.app-info-slider .appstore-slider-item{height: auto;}
.app-info-slider{padding-top: 70px;}
.appstore-slider-item img{/*border-radius: 4px;*/box-shadow: 0.7px 0.7px 4px 0 rgba(0, 0, 0, 0.18);}
.owl-carousel .owl-stage-outer{padding-bottom: 3px;}
.main-container{/*padding: 35px 40px;*/ padding-top: 35px; padding-bottom: 35px; }
.main-content{overflow: hidden;}
.other-apps-list{padding: 0;}
.other-apps{/*padding: 16px;padding-top: 0;*/}
.other-apps-list .appTitle{color:#494949;font-size: 18px;font-family: 'DIN Light';}
.other-apps-list .appOwner{line-height: 18px;font-family: 'Din Light';}
.fog{height: 100%;
width: 70px;
background-color: #fff;
position: absolute;
right: 16px;
z-index: 3;
opacity: 0.8;}
.top-apps .appstore-slider-item{width:240px;}
.top-apps-title-container{padding: 50px 0 10px 0;}
.top-apps-title-container .title{font-size: 30px;}
.partner-feedback{background-color: #6DA6D9;}
.partner-feedback .main-title{font-size: 36px;font-family: 'DIN Light';text-transform: uppercase;padding-top:40px;}

.partner-feedback .main-title,.card-block.partner-feedback  .card .card-title,.card-block.partner-feedback .card .card-subtitle,.card-block.partner-feedback .card .card-text{color:#fff;}
.card-block.partner-feedback .card .card-text{font-size: 18px;}
.card-block.partner-feedback .card{padding-bottom: 30px;}
.section-marketplace .title{font-size: 24px;color: #800052;}
.section-marketplace .card-text{font-size: 16px;font-family: 'DIN Light';}
.more_options{
	background-color: #fff;
    border-radius: 0 0 6px 6px;
    border: none;
    padding: 10px;
    -webkit-box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    position:absolute;
    top:45px;
    right:30px;
    display: none;
}
.more_option_nav:hover .more_options{display: block;z-index:1000;}
.more_options li {list-style-type: none;}

/******** AFTER LOGIN CODE BY RAMBIR*********/
 .after_login_block {
	margin:0px;
	padding:0px;
	list-style:none;
}
.after_login_block li {
	display:inline-block;
}
.after_login_block li + li {
	padding-left:20px;
}
.after_login_block li .user_profile_img, .after_login_block li .user_profile_img img {
	width:39px;
	height:39px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
.search_outer {
	position:relative;
	width:230px;
	border-bottom:solid 1px #dfdfdf;
}
.search_outer input {
	/*width:100%;*/
	width:90%;
	display:block;
	text-transform:uppercase;
	color:#959595;
	height:30px;
	border:none;

}
.search_outer .material-icons {
	position:absolute;
	right:-4px;
	top:1px;
	font-size:28px;
	color:#ccc;
}
.notifications .fa {
	font-size:22px;
	color:#999;
}
.notifications .badge {
	display:inline-block;
	position:relative;
	text-align:center;
	min-width:27px;
	font-size:10px;
	height:17px;
	line-height:17px;
	border-radius:8px;
	vertical-align:middle;
	font-weight:normal;
	padding:0px;
	background-color: #ee3e80;
	color:#fff;
	z-index:2;
	margin-left:-15px;
	margin-top:-22px;
}
.more_icons .material-icons {
	font-size:28px;
	color:#999;
}
.arrow-left{height:30px;width:17px;display:block; position: absolute;top:50%;left:0;}
.arrow-right{height:30px;width:17px;display:block; position: absolute;top:50%;right:0;}
.appstore-slider-item.menu-active .menu-style{display: block;}
.appstore-slider-item.menu-active .menu-style.closed{display: none;}
.edit_new_app .inputContainer label{-webkit-transform: translate3d(0,15px,0) scale(.85);transform: translate3d(0,15px,0) scale(.85);color:#a8407f;}
.add_img.app_cover_img img,.add_img.app_icon img,.add_img.app_snapshots img{width:100%;border-radius: 5px;height:100%;}
.add_img.app_cover_img.with-img,.add_img.app_icon.with-img,.add_img.app_snapshots.with-img{padding: 0;}
.add_img.app_snapshots.edit-only{margin: 5px 5px 5px 0;}

.add_img .remove_img{border-radius: 5px;}
.app-info-slider img{width:100%;}
.app-info-slider-container{position: relative;}
.alt-modal{top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);left:0;right:0;margin:0 auto;overflow: auto;}
.navbar-collapse .sign-in-btn{margin: 10px 0px 0;}
.sign-in-btn-container{padding: 5px 20px;}


/******** AFTER LOGIN CODE BY RAMBIR END*********/
html{
    min-height: 100%;
    position: relative;
}

body{
    background: #EFEFEF !important;
    font-family:'DIN Regular';
    font-size: 14px;
    color: #757575;
    padding:59px 0 130px;
}
main{
    /*min-height: 475px;*/
}
p{
    margin: 0;
}
.page_title{
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 15px;
    padding: 35px 0 7px 0;
}
.page_title h3{
    color: #555;
    margin-bottom: 0;
    text-transform: capitalize;
}
.page_title a{
	float: right;
	font-size: 14px;
	color: #a8407f;
}

.partner_apps_list{
    margin: 0 -45px;
}
.partner_apps_list .col-sm-3{
    /*padding: 15px 45px 35px 45px;*/
}

.partner_apps_list .thumb img{
    width: 100%;
    /*border-radius: 5px;*/
}
.partner_apps_list .appstore-slider-item{
    display: block;
    position: relative;
    height: auto;
}
.add_thumb{
    width: 100%;
    padding: 50px 0;
    border-radius: 5px;
    border: dashed 1px #777;
    display: block;
    text-align: center;
    cursor: pointer;
}
.add_thumb .material-icons{
    font-size: 50px;
    line-height: 50px;
    color: #494949;
}
.menu-click{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.menu-click .material-icons{
    font-size: 24px;
    color: #B5B5B5;
    width: 15px;
}
.menu-style{
    padding-top:26px;
    padding-bottom:10px;
    position: absolute;
    top:0;
    right:0;
    z-index: 1000;
    background-color: #fff;
    border-radius:5px;
    /* display:none; */
    -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
    font-family: 'DIN Regular';
}
.close{
    font-size:24px;
    position:absolute;
    right:5px;
    top:10px;
    z-index:100;
    cursor:pointer;
    color:#777777;
    height:15px;
    line-height:15px;
}
.menu-style .dropdown-menu{
    width:100%;
    position:static;
    display:block;
    background-color:#fff;
    -webkit-box-shadow:0 0 0;
    box-shadow:0 0 0;
    border-radius: 0;
    border: none;
}
.dropdown-menu > li > a{
    display: block;
    padding: 5px 15px 5px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #777 !important;
    white-space: nowrap;
    text-transform: capitalize;
    float: left !important;
    font-family: 'DIN Regular';
    font-size: 14px;
}
.dropdown-menu > li > a:hover{
    color: #000 !important;
}

.add_new_app{
    background: #fff;
    border-radius: 5px;
    padding: 15px 50px 60px 50px;
    margin: 0 0 50px 0;
}
.add_new_app select{text-indent: -1px;}
.add_new_app .inputContainer{
    margin-top: 10px;
}
.inputContainer .form-control, .inputContainer .form-control:focus, .inputContainer .form-control:active{
    padding:0;
    box-shadow:none;
    border:none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size:14px;
}

.add_new_app .row,.edit_new_app .row{
    margin: 40px -30px 0 -30px;
}
.add_new_app .row:first-child{
    margin-top: 0px;
}
.add_new_app .row .col-sm-4, .add_new_app .row .col-sm-6, .add_new_app .row .col-sm-8, .add_new_app .row .col-sm-12{
    padding: 0px 30px 0 30px;
}
.small_heading{
    margin: 0 0 5px 0;
    color: #757575;
}
.add_img{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background: #E3E3E3;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.add_img .material-icons{
    font-size: 46px;
    line-height: 50px;
    color: #fff;
}
.add_img p{
    font-size: 10px;
    line-height: 12px;
    color: #555;
}
.app_cover_img{
    width: 240px;
    padding: 22px 0;
}
.app_icon{
    width: 110px;
    height: 110px;
    padding: 8px 0;
}
.app_snapshots{
    width: 157px;
    height: 117px;
    padding: 18px 0;
    float: left;
}
.snapshot_img {
    float: left;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.snapshot_img:first-child{margin-left: 0;}

.snapshot_img img{
    width: 157px;
    height: 117px;
}
.remove_img{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
.add_img:hover .remove_img, .snapshot_img:hover .remove_img{
    opacity: 1;
}
.remove_img .material-icons{
    float: right;
    color: #fff;
    cursor: pointer;
    margin: 1px 1px 0px 0;
}

.wish-dialog.large_popup{
    width: 900px;
    /*margin-top: -270px;
    margin-left: -450px;*/
}
.wish-dialog.large_popup .row{
    margin: 0px -30px 0 -30px;
}
.wish-dialog.large_popup .row .col-sm-6, .wish-dialog.large_popup .row .col-sm-12{
    padding: 0px 30px 0px 30px;
}
.btn_group .btn+.btn{
    margin: 0 0 0 7px;
}
.wish-dialog.large_popup .btn_group{
    margin-top: 50px;
}
.btn_gray{
    background: #9A9A9A;
    color: #fff;
}
.section.it-works{background-color: #fff;}
.banner.view-apps{padding-bottom: 60px;}
.why_alt_text{
	font-family: 'DIN Light';
    font-size:24px;
	color: #777;
    line-height: 30px;
    padding: 25px 20px 40px;
    margin: 0 auto;
}
.marketplace_text{
    background: #6DA5D8;
    padding: 45px 0px;
}
.marketplace_text p{
	font-family: 'DIN Light';
    font-size:24px;
	color: #fff;
    line-height: 30px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    max-width: 930px;
}
.testimonials{
    padding: 50px 0;
}
.testimonials .main-title{
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'DIN Medium';
    font-size: 24px;
    line-height: 30px;
}
.testimonials .carousel.slide{
    min-height: 250px;
}
.testimonial_text{
    font-size:24px;
	color: #757575;
    line-height: 30px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    /* text-transform: uppercase; */
    max-width: 930px;
    height:175px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
.testimonial_text_center{position: absolute;width:100%;top:50%;left:50%;transform:translate(-50%,-50%);}
.partner-feedback .testimonial_text{color: #fff;}

.section-categories{
    padding: 0;
}
.categories_menu_home{
    /*background: #6DA2D6;*/
    background: url(../images/categories_menu_bg.jpg) no-repeat;
    color: #fff;
    padding: 0 0 30px 0;
    max-width: 258px;
    min-height: 345px;
}
.categories_menu_home h3{
    padding: 30px 30px 45px;
    margin: 0;
    font-size: 26px;
}
.categories_menu_home ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.categories_menu_home ul li{
    list-style: none;
}
.categories_menu_home ul li a{
    padding: 15px 30px;
    margin: 1px 0;
    display: block;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.categories_menu_home ul li a:hover{
    background: #fff;
    color: #800152 !important;
}
.categories_menu_home ul li.active a{
    background: #fff;
    color: #800152;
}
.categories_menu_line{
    position: absolute;
    bottom: 0;
    height: 20px;
    max-width: 100%;
}
.categories_items_home{
    margin: 50px 0 0 0px;
}
.categories_items_home .thumb img{
    max-width: 100%;
    width: 100%;
}
.categories_items_home .row .col-md{
    padding-left: 85px;
}
.categories_items_home .view_more{
    float: right;
    margin: 30px 0 32px;
    color: #800052;
}
.categories_items_home .view_more:hover{
    color: #a8407f;
}

.categories_items_home .appTitle a{
    font-family: 'DIN Medium';
    color: #800052;
}
.categories_items_home .appTitle a:hover{
    color: #a8407f;
}

.app_thumb_hover{
    background: rgba(255,255,255,0.95);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 15px 15px 15px;
    overflow: hidden;
    font-family: 'DIN Light';
    transition: all 0.5s ease;
    opacity: 0;
}
.thumb:hover .app_thumb_hover{
    opacity: 1;
}
.app_thumb_hover h5{
    font-family: 'DIN Medium';
    color: #757575;
    margin: 0;
}
.app_thumb_hover .thumb_hover_comName{
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 7px 0;
}
.app_thumb_hover .thumb_hover_des{
    font-size: 12px;
    line-height: 16px;
}
.apps_block{
    margin-bottom: 2px;
}



select{
    height: 25px !important;
    color: #757575 !important;
}
.remove_img .material-icons{font-size: 20px;line-height: inherit;}

.edit_new_app .app_icon{
    background: none;
}
.edit_new_app .app_cover_img{
    padding: 0;
}
.appstore_banner{
  position: relative;
}
.appstore_banner img{
    height: auto;
}
.appstore_banner_images{
    padding-right: 0;
}

.appstore_banner_images img{
    border-radius: 0 0 0 5px;
}
.appstore_banner_thumb{
    max-width: 259px;
    padding-left: 0;
    margin-top: -2px;
}
.appstore_banner_thumb .thumb_inner{
    border-radius: 0 0 5px 0;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.down_arrow{
    bottom: 0px;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    display: none;
}
.down_arrow img{
    width: 20px;
}
.up_arrow{
    top: 0px;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    display: none;
}
.up_arrow img{
    width: 20px;
}
.appContentSnap img{
    border-radius: 5px;
}

.categories_items_home{
    display: none;
}
.categories_items_home.open_cat{
    display: block;
}
.clear{
    clear: both;
}




.space-45{
    margin: 0 -45px;
}
.space-45 .col-sm{
    padding: 15px 45px 35px 45px;
}
.space-45 .col-sm .row{
    margin: 0 -45px;
}
.col-space-45{
    padding: 15px 45px 35px 45px;
}

.space-45 .thumb img{
    width: 100%;
    /*border-radius: 5px;*/
}
.space-45 .appstore-slider-item{
    display: block;
    position: relative;
    height: auto;
}
.apps_block_title{
    padding-top: 8px !important;
    padding-bottom: 0 !important;
}
.apps_block_title h3{
    /*background: #BAD1F4;
    border-radius: 4px;
    padding: 5px 7px 5px 10px;
    margin: 8px 0 5px 0;
    font-family: 'DIN Regular';
    position: relative;
    */
    background: none;
    border-radius: 0px;
    padding: 5px 0px 5px 0px;
    margin: 8px 0 5px 0;
    font-family: 'DIN Regular';
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    color: #555;
}
.apps_block_title h3 a{
    float: right;
    font-size: 13px;
    color: #a8407f;
    line-height: 22px;
    text-transform: capitalize;
}
.apps_block_title h3 a .material-icons{
    line-height: 22px;
    width: 22px;
    margin: 0 7px 0 0;
    color: #a8407f;
}
.section-white{
    background: #fff;
}





  /******* Akhil MEDIA Popup Code START*****/

.open_media_popup .alt-modal-body{background: #333;padding:40px;border-radius: 10px;}
.open_media_popup .alt-modal{/*left:373px;top:200px;*/border-radius: 0px;background:none;border:none;box-shadow: none;}
.open_media_popup .arrow-left{left:15px;}
.open_media_popup .arrow-right{right:15px;}
.media-container{text-align:  center;}

.app-info-slider-container{overflow: hidden;}
.app-info-slider-container .arrow-left,.app-info-slider-container .arrow-right{z-index: 1;}

.video-container iframe{pointer-events: none;}
.app-info-slider .thumb{height:300px;width:432px; box-shadow: 0.7px 0.7px 4px 0 rgba(0, 0, 0, 0.18); cursor: pointer; text-align: center
; background: #f1f1f1;}
.open_media_popup .media-container{height:450px;width:600px; overflow: hidden;}
.media-container img{width:100%;height: 100%}
.alt-module-true.signIn.open_media_popup{background: rgba(000, 000, 000, 0.8);}
  /******* Akhil MEDIA Popup Code End*****/

.show-only-mobile{display: none;margin:0 3px;width:100%;}
.app-info-slider .show-only-mobile{text-align: center;}
.app-info-slider .show-only-mobile .app-text-info-link{float:none;border: 1px solid;padding: 5px 10px;border-radius:4px;}
.app-thumb-block{text-align: center;position:relative;padding:0 15px;/*max-width:190px;*/}



.apps_block_title.more-mobile h3{background-color: transparent;padding: 0;margin: 0;}
.space-45 .col-sm.apps_block_title.more-mobile{padding:0 35px 15px 15px !important;margin-bottom: 20px;}
.more-mobile{display: none;}
.apps_block .view_more,.row.space-45 .view_more{ float: right; margin: 30px 0 32px;color: #800052;}
.popup_large{width:900px;}

.app-content-holder .app-info-slider .carousel-item {width:400px;height:300px;}
.open_media_popup .alt-modal{

			width: 600px;
		/*	height: 400px;
			position: relative;
			margin: 0 auto;
			left: auto;
			top:150px;*/
		}
.open_media_popup .video-container{height: 450px;}
.open_media_popup .owl-prev{left:-350px;}
.open_media_popup .owl-next{right:-350px;}
.alt-modal .inputContainer label,.alt-modal .inputContainer input{font-family: 'DIN Regular';}





.background-img{
    width:100%;
    height:292px;
    background-image:url(../images/marketPlace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 30%;

}
.background-img.alt{background-image:url(../images/partner_banner.png);}

.home_banner .carousel-indicators{bottom: -10px;}

.inputContainer .custom-select{
	background: url(../images/arrow-point_down.png) no-repeat;
	background-position: bottom 4px right 2px;
	background-size: 12px;
}
.inputContainer .custom-select-arrow{position: relative;z-index: 1;}
.inputContainer >textarea.form-control,.inputContainer.focused >textarea.form-control{padding: 20px 0 0;}

/**************FADE EFFECT START***********/

.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-next,
    .carousel-fade .carousel-inner > .carousel-item.active.carousel-item-right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-prev,
    .carousel-fade .carousel-inner > .carousel-item.active.carousel-item-left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-next.carousel-item-left,
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

    .carousel,
    .carousel-inner,
    .carousel-inner .carousel-item {
      height: 100%;
    }

/**************FADE EFFECT END***********/


/***************FIREFOX HACK FOR TEXT INDENT*************/
@-moz-document url-prefix() {
 .inputContainer  select{
     text-indent: -2px;
  }
}
/***************FIREFOX HACK FOR TEXT INDENT END*************/

.cat_list_container{
    position: relative;
    margin-bottom: 15px;
}
.admin_banner.view-apps{
    padding-bottom: 55px;
}
.btn_add_new_app{
    padding-bottom: 35px;
}
.banner_add_new{
    padding-bottom: 25px;
    display: block;
}
.add_category_line{
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
}
.add_category_line a{
    font-family: 'DIN Medium';
    font-size: 13px;
    color: #a8407f !important;
    text-transform: uppercase;
    background: #EFEFEF;
    padding: 0px 10px;
    cursor: pointer;
}
.add_category_line:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 11px;
  left: 0;
  right: 0;
  border-top: 1px solid #a8407f;
}
.appstore_added_banners .add_img{
    margin: 15px 0;
    cursor: move;
    padding: 0;
    background: #fff;
}
.appstore_added_banners .add_img .add_new_banner_text{
    font-size: 14px;
    color: #a8407f;
    padding: 0 0 11px 0;
    text-transform: uppercase;
}
.appstore_added_banners img{
    max-width: 100%
}
.appstore_added_banners .add_img_click{
    padding: 40px 0;
    cursor: pointer;
}
.admin_banner .container{
    position: relative;
}
.appstore_edit_slider{
    /*background: rgba(0,0,0,0.6);*/

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 50%, rgba(0,0,0,0.91) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.64) 50%,rgba(0,0,0,0.91) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.64) 50%,rgba(0,0,0,0.91) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e8000000',GradientType=0 );

    text-align: center;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right:15px;
    border-radius: 0 0 5px 5px;
    transition: all 0.5s ease;
    opacity: 0;
}
.appstore_edit_slider a{
    margin: 130px 0 0 0;
    display: block;
    cursor: pointer;
}
.admin_banner.view-apps .container:hover .appstore_edit_slider{
    opacity: 1;
    transition: all 0.5s ease;
}
.appstore_banner:hover .appstore_edit_slider{
  opacity: 1;
  transition: all 0.5s ease;
}
.create_partner_profile{
background: #fff;
border-radius: 5px;
padding: 40px 60px 100px 60px;
margin: 0 0 30px 0;
}
.section_details{margin-top: 10px;
float: left;}

.section_details h4{
	color:#555;
	text-transform: capitalize;
}
.section_details p{
	color:#555;
	font-family: "DIN Light";
}
.company_detail_container .user_pic{max-width: 320px;}
.upload_user_pic{
	background-color: #efefef;
	border-radius: 2px;
	text-align: center;
}
.upload_company_pic{
	width:320px;
	height: 100px;



}
.user_pic{
	width: 100px;
	padding:10px;
	float: right;
	background-color: #efefef;
	border-radius: 2px;
}


.create_partner_profile .row{
	margin-left: -30px;
	margin-right: -30px;
}
.create_partner_profile [class*=col]{
	padding-left: 30px;
	padding-right: 30px;
}
.company_detail_container{margin-top: 180px;margin-bottom: 100px;}
.upload_user_pic_inner{
	width: 100%;
    height: 65px;
    background-color: #fff;
    padding-top:0px;
    position: relative;
}


.upload_user_pic .material-icons{color:#dbdbdb;font-size: 82px; line-height: 65px;}

.upload_helper{

color: #a8407f;
font-size:10px;
font-family:"DIN Medium";
text-transform:uppercase;
display: inline-block;
line-height: 8.5px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.personal_detail_row{margin-bottom: 25px;}
.personal_detail_input{margin-bottom: 120px;}
.company_details .user_pic{width:320px;}
.company_details .upload_user_pic .material-icons{font-size: 44px;color: #efefef;}
.company_detail_input{margin-bottom: 85px;}
.partner_profile_completion_popup .company_detail_input{margin-bottom: 30px;}
.partner_profile_completion_popup{width:800px;overflow: hidden;}
.alt-modal-header{padding:15px 25px;background-color: #efefef;}
.partner_profile_completion_popup .alt-modal-body{max-height:525px;overflow: auto;padding: 0;}
.alt-modal-header h3{font-family: "DIN Medium";margin: 0;}
.partner_profile_completion_popup .alt-modal-close{top:17px;right:17px;color:#000;}
.partner_profile_completion_popup .create_partner_profile{padding: 30px 40px;}
.partner_profile_completion_popup .section_details,.partner_profile_completion_popup .user_pic{float: none;}
.partner_profile_completion_popup .user_pic{margin: 40px auto 0;}
.partner_profile_completion_popup .upload_user_pic_inner{padding-top: 0;}
.partner_profile_completion_popup .fixed-bottom .btn_group {
    padding:0 0 15px 0;
    background:  -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
    background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
    background: -ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
    /*width:710px;*/
    margin: 0 auto;
}
.partner_profile_completion_popup .personal_detail_input{margin-bottom: 40px;}
/*.alt-modal-header{border-radius: 6px;}*/
/*.alt-modal {position: fixed;top: 20px;}*/
.overlay-border-radius{
	height: 325px;
    width: 800px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
}
.alt-modal.partner_profile_completion_popup{padding: 0;}
.profile_popup_btn_group{padding-right: 45px;}
.upload_user_pic a+a{border-left:1px solid; padding-left: 3px;}

.madatory_star{
    color: #f00;
}
.btn_group_space{
    margin: 40px 0 0 0;
}
.get_in_touch{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}
.get_in_touch img{
    max-width: 100%;
}
.banner_pic{
    max-width: 500px;
	width: 100%;
    margin: 40px auto 0;
	padding:10px;
	background-color: #efefef;
	border-radius: 2px;
    text-align: center;
}
.banner_pic img{
	width: 100%;
}
.user_pic img{
	max-width: 100%;
}
.carousel.slide{
 outline: none;
}
.carousel-control-next, .carousel-control-prev {
    display: none;}
.banner_pic a+a{
    border-left:1px solid;
    padding-left:3px;
}
.admin_home_banner .company_details .user_pic.banner_img{
	width: 390px;
	max-width: 100%;
	float: left;
  text-align: center;
  position: relative;
}
.admin_home_banner .company_details .user_pic.thumb_img{
	width: 200px;
	max-width: 100%;
  text-align: center;
  position: relative;
}
.admin_home_banner .company_details .user_pic.banner_img img{
	width:100%;

}
.admin_home_banner .company_details .user_pic.thumb_img img{
	width:100%;
}
.user_pic.thumb_img a+a, .user_pic.banner_img a+a{border-left:1px solid; padding-left: 3px;}


/*.admin_home_banner_edit .company_details .banner_img{
	width: 390px;
	max-width: 100%;
}
.admin_home_banner_edit .company_details .thumb_img{
	width: 200px;
	max-width: 100%;

}*/


.banner-title .menu-click .material-icons{
    width: 21px;
    color: #a8407f;
}
.cat_edit_icon{
    margin: 0 0 0 7px;
    color: #a8407f;
    transition: all 0.5s ease;
    opacity: 0;
}
.banner-title h3:hover .cat_edit_icon{
    opacity: 1;
}
.add_cat_container{
    display: none;
}
.sub_cat_edit_icon{
    margin: 0 0 0 7px;
    font-size: 18px;
    color: #a8407f;
    transition: all 0.5s ease;
    opacity: 0;
}
.apps_block_title h3:hover .sub_cat_edit_icon{
    opacity: 1;
}
.more_apps{
    padding: 0 45px;
    margin: 0;
    text-align: right;
}
.more_apps .view_more{
    color: #800052;
    padding: 0;
    margin-top: -25px !important;
    margin-bottom: 25px !important;
    display: block;
}

.slides-wrapper .col-sm-3{
    padding-left: 45px;
    padding-right: 45px;
}

.banner-text-block.partner_text{
	top:9%;
}
.banner-text-block.partner_text .banner-text-title-1{
	font-size: 36px;
  line-height:40px;
  color: #800152;
}
.banner-text-block.partner_text .banner-text-title-2{
	font-size: 54px;
  line-height:54px;
  color: #800152;
}


.categories_list_home{
    padding: 50px 0 25px;
    text-align: center;
}
.categories_list_home h3{
    font-size: 24px;
}
.categories_list_home ul{
    padding: 0;
    margin: 0;
}
.categories_list_home ul li{
    list-style: none;
    width: 19%;
    padding: 25px 0;
    display: inline-block;
    vertical-align: top;
}
.categories_list_home ul li .cat_icon{
    width: 70px;
    transition: all .2s ease;
}
.categories_list_home ul li .cat_icon:hover{
    transform: scale(1.2);
}
.categories_list_home ul li p{
    color: #a8407f;
    padding: 7px 0 0 0;
}


@media (max-width: 1340px){
    main{
        padding: 0 1rem;
    }
    main.pad_0{
        padding: 0;
    }
    .partner_apps_list{
        margin: 0 -15px;
    }
    .partner_apps_list .col-sm-3{
        /*padding: 15px 15px 35px 15px;*/
    }
    .more_apps{
        padding: 0 15px;
    }

    .space-45{
        margin: 0 -15px;
    }
    .space-45 .col-sm{
        padding: 15px 15px 35px 15px;
    }
    .space-45 .col-sm .row{
        margin: 0 -15px;
    }
    .col-space-45{
        padding: 15px 15px 35px 15px;
    }
    .appstore_banner_thumb{
        display: none;
    }
    .appstore_banner_images{
        padding-right: 15px;
    }
    .appstore_banner_images img{
        border-radius: 0 0 5px 5px;
    }
}

/************************ Developer CSS ************************/
.error_msg{
    font-size: 11px;
    color: #f00;
}
.contact_msg{
    padding: 7px 20px 2px;
    margin: 30px 0 0 0;
    float: right;
    text-align: center;
}
.edit_app_msg .contact_msg{
    margin: 0px 0 0 0;
}
.ng2-carouselamos-wrapper{
  width: 925px  !important;
}
.btn-primary.disabled, .btn-primary:disabled{
    background-color: #000;
    border-color: #000;
}
.open_media_popup iframe>img{width:100%;}
/*
alliance section start */
.future_alliances{
  overflow: hidden;
}
.future_alliances_content{
  margin: 7px 0 0;
  position: relative;
}
.future_alliances_content ul{
  list-style: none;
  padding: 0;
  margin: 0 -1%;
  overflow: hidden;
  text-align: center;
}
.future_alliances_content ul li{
  list-style: none;
  background: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 1%;
  padding: 13px 13px;
  width: 17.7%;

}
.future_alliances_content ul li img{
  max-width: 100%;
  width: auto;
  height: auto;
}

/* s */

pre{
white-space: pre-wrap;       /* Since CSS 2.1 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.embed-responsive{
  height: 450px;
  background: #f1f1f1;
}
.admin_banner_pic:hover .remove_img{
  opacity: 1;
}
.admin_banner_pic .remove_img i{
  font-size: 20px;
  line-height: 20px;
}
