<main role="main">
  <div class="container">
      <div class="page_title">
          <h3>Contact us</h3>
      </div>
      
      <div class="add_new_app">
         <form name="contactDetailsForm" (ngSubmit)="saveContactUsDetails(contactDetailForm)" novalidate #contactDetailForm="ngForm">
          <div class="row">
              <div class="col-sm-12 get_in_touch text-center">
                  <img src="assets/images/get_in_touch.jpg" alt="" title="">
              </div>
          
             <div class="col-sm-4 ">
              <div  class="inputContainer focused">
                  <label>Name<span class="madatory_star">*</span></label>
                  <input name="name_" #name_="ngModel" [(ngModel)]="contactDetails.name" required type="text" class="form-control" >
                  <span class="error_msg" *ngIf="name_?.touched && !name_?.valid">Name can't be blank</span>
                  
             </div>
              </div>
              <div class="col-sm-4 ">
              <div class="inputContainer focused">
                  <label>Company Name<span class="madatory_star">*</span></label>
                  <input name="companyName" #companyName="ngModel" [(ngModel)]="contactDetails.companyName" required type="text" class="form-control" >
                  <span class="error_msg" *ngIf="companyName?.touched && !companyName?.valid">Company Name can't be blank</span>
                  
            </div>
              </div>
              <div class="col-sm-4 ">
              <div  class="inputContainer focused">
                  <label>Company Address<span class="madatory_star">*</span></label>
                  <input name="companyAddress" #companyAddress="ngModel" [(ngModel)]="contactDetails.companyAddress" required type="text" class="form-control" >
                  <span class="error_msg" *ngIf="companyAddress?.touched && !companyAddress?.valid">Company Address can't be blank</span>
                  
                </div>
              </div>
              <div class="col-sm-4 ">
              <div  class="inputContainer focused">
                  <label>Email<span class="madatory_star">*</span></label>
                  <input  name="email" #email="ngModel" [(ngModel)]="contactDetails.email" required email type="email" class="form-control" >
                  <span class="error_msg" *ngIf="email?.touched && !email?.valid">Invalid Email address</span>
                  
                </div>
              </div>
              <div class="col-sm-4 ">
              <div  class="inputContainer focused">
                  <label>Mobile No.<span class="madatory_star">*</span></label>
                  <input name="mobile" #mobile="ngModel"  [(ngModel)]="contactDetails.mobileNumber" type="number" required class="form-control" >
                  <span class="error_msg" *ngIf="mobile?.touched && !mobile?.valid">Mobile number can't be blank</span>
                  
                </div>
              </div>
              
              <div class="col-sm-4 ">
              <div  class="inputContainer focused">
                  <label>Company Website</label>
                  <input name="website" [(ngModel)]="contactDetails.companyWebsite" type="text" class="form-control" >
              </div>
              </div>
              
              <div class="col-sm-4 ">
              <div  class="inputContainer focused">
                  <label>Best Time to Call</label>
                  <input name="bestTime" [(ngModel)]="contactDetails.bestTimeToCall" type="text" class="form-control" >
                  
                </div>
              </div>
              
              <div class="col-sm-8 ">
                  <div  class="inputContainer focused">
                      <label>Comment</label>
                      <input name="comment"  [(ngModel)]="contactDetails.comment" type="text" class="form-control" >
                      
                    </div>
              </div>
              
              <div class="col-sm-12">
                    <span class="alert alert-success contact_msg" *ngIf="showMessage">
                        <label>{{message}}</label>
                    </span>
              </div>
              
              <div class="col-sm-12 text-right btn_group btn_group_space">
                    
                  <button class="btn btn-default btn_gray" type="reset" (click)="clearAll()">Cancel</button>
                  <button class="btn btn-default btn-primary" type="submit" [disabled]="contactDetailForm.invalid" required>Submit</button>
              </div>
              
                
              </div>
            </form>
          </div>          
        
      </div>
</main>