<div class="row desktop-only">
    <div class="card-pagination clearfix">
        <label class="pagination-text" for="showingTop">showing {{offset+1}} to {{offset+presentRecords}} of {{totalRecords}} records</label>
    </div>
</div>

<div class="document_table">
    <div class="table-download table-outer">
        <div class="table-responsive">
            <table class="table document-table mgn-b0 table_filter">
                <thead>
                    <tr>
                        <th class="table-cell-3 filter_th">
                            ID <span class="clickFilter filter_icon"></span>
                        </th>
                        <ng-container *ngIf="meta">
                            <th *ngFor="let attribute of meta?.attributes" class="table-cell-3 filter_th">
                                {{attribute.attributeName}} <span class="clickFilter filter_icon"></span>
                            </th>
                        </ng-container>
                        <th *ngIf="!meta" class="table-cell-3 filter_th">
                            Name <span class="clickFilter filter_icon"></span>
                        </th>
                        <th *ngIf="!meta" class="table-cell-3 filter_th">
                            Package Codes <span class="clickFilter filter_icon"></span>
                        </th>
                        <th class="table-cell-6 filter_th">
                            Created On <span class="clickFilter filter_icon"></span>
                        </th>
                        <th class="table-cell-6 filter_th">
                            Created By <span class="clickFilter filter_icon"></span>
                        </th>
                        <th class="table-cell-6 filter_th">
                            Status <span class="clickFilter filter_icon"></span>
                        </th>
                        <th class="table-cell-6 pos_relative">
                            <span class="filter_btn"></span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data">
                        <td (click)="openChildListEvent(item.id)" class="table-cell-3">{{item.id}}</td>

                        <ng-container *ngIf="meta">
                            <td class="table-cell-3 font-bold" *ngFor="let attribute of meta.attributes">
                                <ng-container *ngIf="item.attributes[attribute.attributeName]['value']">
                                    {{item.attributes[attribute.attributeName]['value']}}
                                </ng-container>
                                <ng-container *ngIf="!item.attributes[attribute.attributeName]['value']">
                                    -
                                </ng-container>
                            </td>
                        </ng-container>
                        <td class="table-cell-3 font-bold" *ngIf="!meta">
                            {{item.name}}
                        </td>
                        <td class="table-cell-3 font-bold" *ngIf="!meta">
                            <a href="class.html">{{item.packageCodes | commaseparated}}</a>
                        </td>
                        <td class="table-cell-3">
                            {{item.createdDate | dateFilter}}
                        </td>
                        <td class="table-cell-3">
                            {{item.createdBy}}
                        </td>
                        <td class="table-cell-6">
                            {{item.status}}
                        </td>
                        <td class="table-cell-6 option-cell">
                            <a href='javascript:void(0);' class="icons-only" (click)="editItem(item)">
                                <span class="menu-style-icon material-icons edit-icon13">edit</span>
                            </a>
                            <a href='javascript:void(0);' class="icons-only" (click)="deleteItem(item)">
                                <span class="menu-style-icon material-icons">delete</span>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<!--  Section Pagination-->
<div class="desktop-only">
    <div class="section-pagination clearfix">
        <div class="card-pagination fl-left">
            <label class="pagination-text" for="PaginationTop" *ngIf="presentRecords==0">No records present</label>
            <label class="pagination-text" for="PaginationTop" *ngIf="presentRecords!=0">showing {{offset+1}} to {{offset+presentRecords}} of {{totalRecords}} records</label>
        </div>
        <ul class="pagination pull-right">
            <li class="page-item" (click)="getFirstPage()"><span>first</span></li>
            <li class="perview" (click)="getPreviousPage()"><a href='javascript:void(0);'><span class="mdi mdi-chevron-left md24"></span></a></li>
            <li class="nextview" (click)="getNextPage()"><a href='javascript:void(0);'><span class="mdi mdi-chevron-right md24"></span></a></li>
            <li class="page-item" (click)="getLastPage()"><span>last</span></li>
        </ul>
    </div>
</div>
<!-- \\ End Section Pagination-->