<div class="main-container">
    <div class="container-inner">
        <div class="content">
            <div class="main-title-row">
                <h1 class="main-title">Home Builder</h1>
            </div>
            <div class="home_builder_tab_container">
                <ul class="home_builder_tab_menu">
                    <li>
                        <a href="javascript:void(0);" (click)="routeToModules()">Module</a>
                    </li>
                    <li>
                        <a class="active" href="javascript:void(0);">Home Builder</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"  (click)="routeToFormList()">Forms</a>
                    </li>
                </ul>


                <!--  Section Card-->
                <div class="section-card clearfix">
                    <!-- Card Block -->
                    <div class="card-block card-flip text-center card-4">
                        <!-- Flip Card Front -->
                        <div class="front card-flip-block">
                            <div class="card-block-inner alt-card-inner profile_card clearfix">
                                <div class="profile_top_bg"></div>
                                <div class="card_profile_pic">
                                    <img src="../../assets/images/default_img.png" alt="">
                                </div>
                                <div class="home_profile_content">
                                    <h3>
                                        <span>Welcome</span>
                                        <br>User Name</h3>
                                    <p class="mob_mail">+91 - 98*******0
                                        <br>dummy@example.com</p>
                                    <p class="home_date">Dec 5, 2018</p>
                                </div>
                            </div>
                        </div>
                        <!-- \\ End Flip Card Front -->
                        <!-- Flip Card Back -->
                        <div hidden=true class="back card-flip-details ">
                            <div class="card-block-inner alt-card-inner card-flip-details-inner alt-white-gradient-bottom clearfix">
                            </div>
                        </div>
                        <!-- \\ End Flip Card Back -->
                    </div>

                    <ng-container *ngIf="showlisting">
                            <ng-container  *ngFor="let prefilledCard of homeCardsPrefilled">
                                    <!-- Card Block -->
                                    <div class="card-block card-flip card-4 add_card_details">
                                        <!-- Flip Card Front -->
                                        <div class="front card-flip-block">
                                            <div class="card-block-inner alt-card-inner clearfix auto_scroll">
            
                                                    <div class="card_actions_icons">
                                                            <a href="javascript:void(0);">
                                                                <span class="material-icons edit_icon fl" (click)="editHomeCard(prefilledCard)">edit</span>
                                                            </a>
                                                            <a href="javascript:void(0);">
                                                                <span class="material-icons fl" (click)="deleteHomeCard(prefilledCard)">delete</span>
                                                            </a>
                                                    </div>
            
                                                <div class="clearfix">
                                                    <span class="icon_sheet LeaveStatus_icon"></span>
                                                </div>
                                                <div class="title_outer">
                                                    <h3 class="card_title">{{prefilledCard.title}}</h3>
                                                </div>
                                                <div class="card_dynamic_img">
                                                    <img [src]="prefilledCard.image" >
                                                </div>
                                                <div class="card_dynamic_text">
                                                   {{prefilledCard.description}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End Flip Card Front -->
                                        <!--  Flip Card Back -->
                                        <div hidden=false class="back card-flip-details">
                                            <div class="card-block-inner alt-card-inner clearfix">
                                                <div class="card-flip-details-inner alt-white-gradient-bottom">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- \\ End Flip Card Back -->
                                    </div>
                                    <!-- \\ End Card Block -->
                                </ng-container>
                    </ng-container>
                    


                    <!-- Card Block -->
                    <div class="card-block card-flip card-4 new_card_form" *ngIf="!hideForm">
                        <!-- Flip Card Front -->
                        <div class="front card-flip-block">
                            <div class="card-block-inner alt-card-inner clearfix">

                                <div class="form-group">
                                    <label class="control-label">Title</label>
                                    <input type="text" [(ngModel)]="title" class="form-control" placeholder="">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea class="form-control" [(ngModel)]="description" placeholder=""></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Image</label>
                                    <input type="file" (change)="uploadAppLogo('thumbnail',$event)" class="form-control" placeholder="">
                                </div>

                                <div class="form-group">
                                    <div class="group_btn btn-row-2 mgn-t15">
                                        <button type="reset" (click)="submit()" class="btn btn-primary new_card_form_save">Save</button>
                                        <button type="button" (click)="cancel()" class="btn btn-white new_card_form_cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \\ End Flip Card Front -->
                        <!--  Flip Card Back -->
                        <div hidden=true class="back card-flip-details">
                            <div class="card-block-inner alt-card-inner clearfix">
                                <div class="card-flip-details-inner alt-white-gradient-bottom">
                                </div>
                            </div>
                        </div>
                        <!-- \\ End Flip Card Back -->
                    </div>
                    <!-- \\ End Card Block -->

                    <!-- Card Block -->
                    <div class="card-block card-flip card-4 add_card">
                        <!-- Flip Card Front -->
                        <div class="front card-flip-block">
                            <div class="card-block-inner alt-card-inner clearfix">
                                <div class="home-add-card">
                                    <div class="add_card_container">
                                        <a class="add_card_click" (click)="insertCard()">
                                            <img src="../../assets/images/add-card.png" />
                                            <br> Add Card
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- \\ End Flip Card Front -->
                        <!--  Flip Card Back -->
                        <div hidden=true class="back card-flip-details">
                            <div class="card-block-inner alt-card-inner clearfix">
                                <div class="card-flip-details-inner alt-white-gradient-bottom">
                                </div>
                            </div>
                        </div>
                        <!-- \\ End Flip Card Back -->
                    </div>
                    <!-- \\ End Card Block -->



                </div>
                <!-- \\End Card Block -->

            </div>
        </div>
    </div>
</div>