<!-- Section Main Templet -->
<div class="layout-main layout-right-sidebar">
    <div class="site-width">
        <div class="main-container">
            <div class="container-inner">
                <!-- Section content -->
                <div class="content without-fixed-sidebar">
                    <div class="main-title-row">
                        <h1 class="main-title">Apps</h1>
                    </div>



                    <!-- apps list start -->
                    <div class="section-card clearfix">
                        <div class="app-list clearfix">

                            <div class="card-block col-5"  *ngFor="let app of apps;let i = index">
                                <a href="javascript:void(0)" (click)="getPreview(app)" class="card-sm-inner">
                                    <div class="apps_icon-holder">
                                        <div class="app_list_img_align">
                                            <img [src]=photoUrl(app) class="portal_logo" />
                                        </div>
                                    </div>
                                    <div class="app-name">{{removeDoubleQuotes(app.appName)}}</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- apps list end -->




                </div>
                <!-- \\ End Section Content -->

            </div>
        </div>
    </div>
</div>
<!-- \\ End Section Main Templet -->