/*new table css starts*/

.document_table .table-responsive{
    cursor: auto;
}
.altone-tables {
    background:#fff;
    border-radius:5px;
    width:100%;
    table-layout:auto;
    border-collapse:collapse;
    display:table;
    margin: 10px 0;
    cursor: auto;
    border: solid 1px #e7e7e7;
}
.altone-tables .tr {
    display:table-row;
    border-top:solid 1px #e7e7e7;
}
.altone-tables .tr:hover {
    /*background: #f5f5f5;*/
    background: #f9f9f9;
}
.altone-tables .tr:hover .td,
.altone-tables .tr:hover .table_action_icons,
.altone-tables .tr:hover .menu-style-icon{
    color: #4282be !important;
}

.altone-tables .thead {
    border-bottom:solid 1px #e7e7e7;
}
.altone-tables .thead {
    height: 50px;
    border-radius:5px;
    display:table-header-group;
}
.altone-tables .thead .th:first-child {
    border-radius: 5px 0 0 0;
}
.altone-tables .thead .th:last-child {
    border-radius: 0 5px 0 0;
}
.altone-tables .td, .altone-tables .th {
    padding:10px;
    position:relative;
    display:table-cell;
}
.td, .th {
    display:table-cell;
}
.altone-tables .td {
    color: #494949;
    font-size:12px;
    vertical-align:middle;
    word-break: break-all;
}
.altone-tables .th {
    color: #404040;
    font-size:12px;
    background-color: #f5f5f5;
    vertical-align:middle;
}

.action-w95{ width:95px;}

.check-box-col { 
    max-width:25px;
    padding-right:0px !important; 
}
.altone-tables .td .c100 {
    margin:3px 8px 0 0;
}
.profile-c100 {
    padding-left:48px !important;
}
.altone-tables .th label {
    margin-bottom:0px;
    /*cursor:pointer;*/
    font-weight: bold;
}
.altone-tables .list-reset a {
   padding-top: 7px;padding-bottom: 7px;
}
.altone-tables .list-reset {
   margin-top: 10px;
}
.theme-color {
    color: #4282be;
}
.altone-tables .td .td-name-label {
    font-family:'DIN bold';
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 0px;
    margin-left: -20px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 15px;
    color: #555555;
}
.altone-tables .thead:hover .filter_btn{display: block;}
.altone-tables .td-emp-status, .altone-tables .td-emp-position-label, .altone-tables .td-year-month-label, .color_777 {
    color:#777;
}
.td-emp-status {
    text-transform:uppercase;
}
.td-more-options {
    display:inline-block;
    float:right;
    position:relative;
}
.td-more-options .material-icons {
    color: #adadad;
    font-size:22px;
}
.rewards-text-outer {
    display:inline-block;
    float:left;
    min-width:70px;
    margin-top: 5px;
}

.td-emp-info {
    min-width:240px;
}

.altone-tables .dropdown-menu .md-icons {
    max-width:12px;
    max-height:12px;
    margin-right:20px;
    margin-left:5px;
}
.altone-tables .sorter-icon {
    display:inline-block;
    margin-left:7px;
    margin-right:2px;
    width:12px;
    height:12px;
    background:url(../images/svg/sorter.svg) no-repeat;
    background-size:12px 12px;
    margin-bottom:-2px;
}

.td-emp-status .ls-second-half, .td-emp-status .ls-first-half, .td-emp-status .danger-indicator, .td-emp-status .ls-unfilled {
    margin-left:7px;
}
.td-emp-status .tool-tpst-info .ls-second-half, .td-emp-status .tool-tpst-info .ls-first-half, .td-emp-status .tool-tpst-info .danger-indicator, .td-emp-status .tool-tpst-info .ls-unfilled {
    margin-left:0px;
}

.td-emp-code { text-transform:uppercase; }
.tab-row {
    margin-bottom: 7px;
    border-bottom:solid 1px #adadad;
    position: relative;
    font-family: 'DIN Medium';
    text-transform: uppercase;
    color: #494949;
    font-size:12px;
}

.load-more-section {
    padding:20px 0;
    text-align:center;
}


/************ responsive css style ***************/
@media screen and (max-width:1023px) {

    /* table card css */
    .td.m-position-col.one{order:1;width: 50%;border-right: solid 1px #f0f0f0;border-bottom: solid 1px #f0f0f0;}
    .td.m-position-col.two{order:2;width: 50%;border-bottom: solid 1px #f0f0f0;}
    .td.m-position-col.three{order:3;width: 50%;border-right: solid 1px #f0f0f0;border-bottom: solid 1px #f0f0f0;}
    .td.m-position-col.four{order:4;width: 50%;border-bottom: solid 1px #f0f0f0;}
    .td.m-position-col.five{order:5;width: 50%;}
    .table-outer-row {
        margin-left:-1%;
        margin-right:-1%;
    }
    .altone-tables {
        background:none;
        border: 0;
    }
    .altone-tables .thead { display:none; }
    .altone-tables .tr {
        border-top:none;
        margin-bottom:10px;
        background: #fff;
        border-radius: 5px;
        position:relative;
        border: 1px solid #f0f0f0;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07);
        display: flex;
        flex-wrap: wrap;
        width:100%;
        float:left;
    }
    .altone-tables .check-box {
        margin-top:0px;
    }
    .altone-tables .tr .td {
        position:static;
        vertical-align:top;
    }
    .altone-tables .tr .td .td-more-options {
        position:absolute;
        top:10px;
        right:0px;
    }
    .td-more-options .material-icons {
        height:15px;
        line-height:15px;
    }
    .check-box-col, .m-profile-col {
        max-width:100%;
        width:100%;
    }
    .m-profile-col {
        border-bottom:solid 1px #f0f0f0;
    }
    .m-position-col, .m-contact-col, .m-doj-col, .m-task-col {
        border:solid 1px #f0f0f0;
    }
    .m-contact-col {
        order:2;
        width:60%;
    }
    .m-position-col {
        order:1;
        width:100%;
        border:0px;
    }
    .m-doj-col {
        order:2;
        width:30%;
        border-right:0px;
    }
    .m-task-col {
        order:3;
        width:40%;
        border-right:0px;
        border-bottom:0px;
    }
    .m-task-col .mobile-only {
        font-size:11px;
    }
    /* table card css end */
    .bulk-actionblock .mdi {
        position:absolute; 
        right:0px;
        top:12px;
    }
    .desktop-inline-only { display:none; }
}
@media screen and (max-width: 767px) {	
    .header-profile-inner {
        max-height: 56px;
        padding: 0px 0px 0px 0px;
    }
    .punch-wrap {
        padding: 20px 0 5px 80px;
        min-height:56px;
    }
    .p-img-b-outer {
        height:56px;
        background: #fff;
        padding: 10px 25px 10px 10px;
    }
    .tab-row {
        /*overflow-x: auto;
        overflow-y: hidden;*/
        margin-left:-10px;
        margin-right:-10px;
        overflow:hidden;
    }
    .st-jinie-block {
        margin-left:-10px;
        margin-right:-10px;
    }
    .tab-list {
        display:table;
        width:100%;
    }
    .tab-list li {
        display:table-cell;
    }

    .tab-list li a {
        display:block;
        word-break:keep-all;
        white-space:nowrap;
    }
    .sort-by-block {
        display:block;
    }

    .sb-section {
        display: flex;
        flex-wrap: wrap;
    }
    .sb-section-outer {
        margin-left:-5px;
        margin-right:-5px;
    }

    
    .default-dropdown {
        min-width: 197px;
        width:100%;
        margin-top:-2px;
        border-radius: 0px 4px 4px 4px !important;
        overflow: hidden;
        right:inherit;
        left: 0px;
        background-color: #4282be;
    }
    .dropdown-10 {
        width:100%;
        margin-top:-2px;
    }
    .bar-navigation:after, .task_inbox_btn:after, .bar-navigation:before, .task_inbox_btn:before {
        content:'';
        display:table;
        clear:both;
        visibility:hidden;
    }
    .task_inbox_btn {
        display:block;
        background:#f4f4f4;
        padding:20px 30px;
        text-align:right;
    }
    .card-pagination {
        padding:0 0 5px 0;
    }
    .table-outer-row {
        margin-left: 0px;
        margin-right:0px;
    }
    .altone-tables .tr {
        width:100%;
        float:inherit;
        margin:0 0 10px 0;
    }
    .desktop-inline-only { display:none; }
    
}

/*new table css ends*/