.fl{float: left !important;}
.fr{float: right !important;}

.mgn-0{margin: 0 !important;}
.mgn-t0{margin-top: 0 !important;}
.mgn-b0{margin-bottom: 0 !important;}
.mgn-l0{margin-left: 0 !important;}
.mgn-r0{margin-right: 0 !important;}
.mgn-b20{margin-bottom: 20px !important;}

.pad-0{padding: 0 !important;}
.pad-t0{padding-top: 0 !important;}
.pad-b0{padding-bottom: 0 !important;}
.pad-l0{padding-left: 0 !important;}
.pad-r0{padding-right: 0 !important;}

.mgn-r5{margin-right: 5px !important;}
.mgn-t15{margin-top: 15px !important;}



.header-right-inner.fixed-header-right{
    position: fixed;
    width: 240px;
    transition: all 0.5s ease;
}
.fixed-sidebar.right-sidebar{
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    background: #494949;
    transition: all 0.3s ease;
}
.fixed-sidebar.right-sidebar .right-sidebar-inner{
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 118px;
    bottom: 0;
    width: 240px;
    max-height: 100%;
    background: #494949;
}
.fixed-sidebar.right-sidebar .right-sidebar-inner .sidebar_top_space{
    padding: 0;
}
.fixed-sidebar.right-sidebar .right-sidebar-inner .tabs_heading{
    position: fixed;
    width: 240px;
    top: 79px;
}
.with-fixed-sidebar{
    position: relative;
    display: block !important;
    /*padding: 10px 32px 0 0 !important;*/
    padding: 12.5px 0px 33px 0 !important;
    transition: all 0.5s ease;
    width:calc(100vw - 272px)!important;


}
.without-fixed-sidebar{
    width: 100% !important;
}
.right-sidebar-hide{
    width: 0 !important;
}
.without-sidebar-arrow{
    /*margin-left: 210px !important;
    transition: all 0.3s ease;*/
}
.tab-section-tabbed-panel .btn-material{padding: 4px;margin: 8px 0;}

.width90{width: 90px !important;}

.pos_relative{position: relative !important;}

.dis_table{display: table;}
.dis_cell{display: table-cell;}

.gray{color: #B4B4B4 !important;}

.btn-material{padding: 4px 10px ;}

.border-0{border: none !important;}

.blue_link{color: #6da4d8 !important; cursor: pointer;}


a{transition: all 0.5s ease;}



.sidebar_top_space{
    background: #404040;
    padding: 10px 10px 15px;
    width: 240px;
}
.content_popup{
    position: relative;
}
.alt_one_form .popup-small-inner{
    border-top: solid 1px #ddd !important;
    padding: 0 0 15px 15px;
    margin: 10px 0 0 0;
}
.content_description{
    padding: 10px 0 0 0;
    font-family:'DIN Regular';
    font-size: 12px;
    color: #777 !important;
    line-height: 20px;
}
.content-click{
    color: #777;
    max-height: 36px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
}
.document_table .table-responsive tbody > tr td a{
    color: #777;
}
.document_table .table-responsive tbody > tr.active td, .document_table .table-responsive tbody > tr:hover td, .document_table .table-responsive tbody > tr:hover td .content-click, .document_table .table-responsive tbody > tr:hover td a{
    color: #4282be !important;
    font-weight: normal!important;
}
.document_table .table.document-table tbody td{
    border-top:1px solid #e3e3e3;
    border-right:0px solid #e3e3e3;
}
.document_table .table.document-table thead th, .document_table .table.document-table tbody td{
    padding: 8px;
}



.document_table .table-responsive .action_more{
    font-size: 30px;
    color: #494949;
    width: 30px;
}
.document_table .table-responsive{
    overflow-x: visible;
}
.action-more-style{
    right: 5px !important;
}

.alt_one_form .item_list .info_title{
    line-height: 28px;
}
.thead_border{
    border: 1px solid #e3e3e3;
}
.tbody_border{
    border: 1px solid #e3e3e3;
}
.alt_one_form .item_list .section-pagination {
    border: 0px;
    padding-top: 0px;
}
.alt_one_form .item_list .item_list_block {
    margin-bottom: 20px;
}

.alt_one_form .listing-popup-block{
    max-height: 400px;
    height: 100%;
}

.alt_one_form .popup-small{
    width: 500px;
    right: 0;
    left: auto;
    top: 27px;
}
.alt_one_form .popup-small .form-control{
    background: #f5f5f5 !important;
}
.alt_one_form .popup-small .radio, .alt_one_form .popup-small .checkbox{
    margin-bottom: 0px;
    height: 30px;
}

.breadcrumb{
    background: none;
    color: #b5b5b5;
    padding: 0;
    margin: -5px 0 20px 0;
}
.breadcrumb a{
    color: #999;
}
.breadcrumb a:hover{
    color: #ee3e80;
}


.filter_textbox{
    max-width: 90%;
    height: 32px;
    margin: 5px 0 5px;
    border-radius: 3px;
    background: #fff;
    font-weight: normal;
    display: block;
}


.filter_btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url("../images/svg/filter/filter_inactive.svg") no-repeat;
    display: none;
}
.filter_btn.active{
    background: url("../images/svg/filter/filter_active.svg") no-repeat;
}
.table_filter thead:hover .filter_btn{
    display: block;
}
.filter_icon{
    background: url("../images/svg/filter/arrow_up_down.svg") no-repeat;
    width: 11px;
    height: 11px;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
}
.filter_up{
    background: url("../images/svg/filter/arrow_up.svg") no-repeat;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
}
.filter_down{
    background: url("../images/svg/filter/arrow_down.svg") no-repeat;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
}



/*************************** forms page css start ***************************/
.tab_controls{
    clear: both;
}
.right-sidebar .tab_controls .content-block{
    padding: 0 0 10px;
    clear: both;
}
.fixed-sidebar .sidebar_top_space{
    padding-bottom: 3px;
}
.tab_controls_widtets .tabs_heading a{
    float: left;
    width: 50%;
    text-align: center;
    padding: 8px 0;
    margin: 0 0 0px 0;
    font-size: 16px;
    color: #DBDBDB;
    text-transform: uppercase;
    background: #494949;
    border-bottom: solid 1px #777777;
    cursor: pointer;
}
.tab_controls_widtets .tabs_heading a.active{
    color: #fff;
    background: #494949;
    font-weight: bold;
    border-bottom: solid 3px #4282be;
    margin-top: -1px;

}
.tab_widgets{
    /*display: none;*/
}
.controls-listing{
    clear: both;
}
.controls-listing li:hover{
    color: #fff;
    border:dashed 1px #cccccc;
}
.controls-listing li{
    color: #aaa;
    /*padding: 13px 15px 9px;*/
    padding: 8px 8px 8px;
    margin: 1.5% 0% 0 1.7%;
    width: 47.5%;
    border: dashed 1px #777;
    float: left;
    font-size: 11px;
    line-height: 15px;
    /*cursor: move;*/
}


.controls-icon{
    width: 15px !important;
    height: 15px !important;
    float: left;
    margin: 0px 5px 0 0;
}
.panel-icon{background: url("../images/svg/form_controls/panel.svg") no-repeat;}
.tabbed-Panel-icon{background: url("../images/svg/form_controls/tabbed_panel.svg") no-repeat;}
.autocomplete-icon{background: url("../images/svg/form_controls/auto_complete.svg") no-repeat;}
.button-icon{background: url("../images/svg/form_controls/buttons.svg") no-repeat;}
.checkbox-icon{background: url("../images/svg/form_controls/checkbox.svg") no-repeat;}
.checkbox-group-icon{background: url("../images/svg/form_controls/checkbox_group.svg") no-repeat;}
.date-field-icon{background: url("../images/svg/form_controls/date_field.svg") no-repeat;}
.file-upload-icon{background: url("../images/svg/form_controls/file_upload.svg") no-repeat;}
.header-icon{background: url("../images/svg/form_controls/header.svg") no-repeat;}
.hidden-input-icon{background: url("../images/svg/form_controls/hidden_input.svg") no-repeat;}
.paragraph-icon{background: url("../images/svg/form_controls/paragraph.svg") no-repeat;}
.number-icon{background: url("../images/svg/form_controls/number.svg") no-repeat;}
.radio-group-icon{background: url("../images/svg/form_controls/radio_group.svg") no-repeat;}
.select-icon{background: url("../images/svg/form_controls/select.svg") no-repeat;}
.text-field-icon{background: url("../images/svg/form_controls/text_field.svg") no-repeat;}
.textarea-icon{background: url("../images/svg/form_controls/text_area.svg") no-repeat;}
.filters-icon{background: url("../images/svg/form_controls/filters.svg") no-repeat;}
.group-icon{background: url("../images/svg/form_controls/group.svg") no-repeat;}
.tag-icon{background: url("../images/svg/form_controls/tag.svg") no-repeat;}
.table-icon{background: url("../images/svg/form_controls/table.svg") no-repeat;}

.card-icon{background: url("../images/svg/form_controls/card.svg") no-repeat;}
.accordian-icon{background: url("../images/svg/form_controls/accord.svg") no-repeat;}
.calendar-icon{background: url("../images/svg/form_controls/calendar.svg") no-repeat;}
.charts-icon{background: url("../images/svg/form_controls/charts.svg") no-repeat;}








.choose-layout-row{
    margin: 20px 0 20px 0;
}
.choose-layout-row label{
    float: left;
    line-height: 40px;
    margin: 0 0 0 0;
    font-family: "DIN Regular";
    font-weight: normal;
    color: #4282be;   
}
.choose-layout-row .dropdown-11{
    float: left;
    margin: 0 10px;
    max-width: 180px;
}




.form_content{
    width: 100%;
    margin: 20px 0 0 0;
}

.form_content .right_panel{
    background: #494949;
    width: 25%;
    vertical-align: top;
    display: table-cell;
}
.form_content .right_panel .section-calendar{
    width: 100%;
    padding: 10px 0 30px 0;
}
.form_content .right_panel .right_panel_inner{
    padding: 15px;
    color: #fff;
}
.right_panel .right_panel_inner .widget_title{
    font-family:'DIN Regular';
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 8px;
    text-transform: uppercase;
}
.right_panel .right_panel_inner .drop_here{
    background: #B3B3B3;
    border-radius: 7px;
    border: dashed 1px #333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
}
.right_panel .right_panel_inner .drop_here .drop_text{
    font-family:'DIN Regular';
    color: #999;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    align-items: center;
}


.form_content .left_panel{
    /* width: 75%;
    display: table-cell;*/
}
.form_content .left_panel .panel-full{
    padding: 0 20px 0px 0;
    clear: both;
}

.layout_4_col{
    width: 100% !important;
}
.layout_3_col{
    width: 75% !important;
}
.layout_2_col{
    width: 50% !important;
}
.layout_1_col{
    width: 25% !important;
}
.layout_1by8_col{
    width: 12% !important;
}

.white_container{
    background: #fff;
    width: 100%;
    float: left;
    padding: 20px 20px 20px 20px;
    margin: 0 0 20px;
}
.white_container .main-title{
    border-bottom: 1px solid #aeaeae;
    margin: 0 20px 12px 0;
    padding:4px 0 10px;
    font-size: 16px;
    letter-spacing: 0;
}
.white_container .title{
    margin: 0 0 0;
    padding:4px 0 10px;
    font-size: 16px;
    letter-spacing: 0;
    width: 100%;
}


.form_container{
    list-style: none;
    padding: 0 5px 0 0;
    margin: 0;
}
.input_box{
    float: left;
    /*cursor: move;*/
    border: solid 1px transparent;
    /*padding: 15px;
    min-height: 87px;*/
    padding: 15px 15px 0px 15px;
    min-height: 72px;
}
.left_panel .input_box .form-group{
    margin: 0;
    /*
    background: transparent;
    border: solid 1px transparent;
    padding: 5px;
    border-radius: 5px;    
    float: left;
    width: 100%;
    transition: all 0.5s ease;
    */
}
.left_panel .input_box:hover{
    /*background: #ddd;*/
}
.left_panel .input_box:hover .attachment .material-icons{
    background: #ffffff!important;
    border: solid 1px #d7d7d7!important;
}
.left_panel .input_box:hover .form-control, .left_panel .input_box:hover .dropdown-11 .btn.dropdown-toggle, .left_panel .input_box:hover .form-control.dropdown-calendar{
    /*background: #fff;
    border: solid 1px #d7d7d7;*/
}
.left_panel .input_box:hover .actions{
    display: block;
}
.left_panel .input_box:hover .form-control.dropdown-calendar .input-item.form-control{
    border: none;
}






.left_panel label{
    font-family:'DIN Regular';
}
.left_panel .input_box .form-group .control-label{
    line-height: 18px;
    /*cursor: move;*/
}

.left_panel .input_box .form-group .checkbox .control-label{
    line-height: 15px;
}
.left_panel .input_box .form-group textarea{
    height: 70px;
}
.left_panel .input_box .form-group .form-control.dropdown-calendar{
    border: 1px solid #f5f5f5;
}
.left_panel .input_box .form-group .form-control.dropdown-calendar .sort-label{
    width: auto;
    line-height: 17px;
}
.left_panel .input_box .form-group .form-control.dropdown-calendar .cal-icon{
    margin-top: 2px;
}
.left_panel .input_box .actions {
    display: none;
    height: 16px;
}
.left_panel .input_box .attachment{
    color: #6da4d8;
    margin: 0;
    display: block;
}
.left_panel .input_box .form-group .attachment .material-icons{
    margin: 0 4px 0 0;
    vertical-align: middle;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
}

.left_panel .group_btn {
    width: 100%;
    display: block;
    text-align: right;
}

.layout_4_col .input_box{
    width: 25%;
}

.layout_3_col .input_box{
    width: 33.33%;
}
.layout_3_col .input_box:nth-child(3n+1){
    clear: both;
}
.layout_2_col .input_box{
    width: 50%;
}
.layout_2_col .input_box:nth-child(2n+1){
    clear: both;
}
.layout_1_col .input_box{
    width: 100%;
    padding: 0 0px 15px 0;
}
.layout_1_col .input_box:nth-child(1n+1){
    clear: both;
}

.input_box .dropdown-menu li{
    width: 100%;
    margin: 0;
    padding: 0;
}
.form-group label{
    width: 100%;
}
.input_box .form-group label .edit{
    font-size: 14px;
}
.actions .menu-style-icon{
    font-size: 16px;
}
.actions .saprator{
    background: #ccc;
    width: 1px;
    height: 14px;
    margin: 2px 0 0 0;
    vertical-align: top;
    display: inline-block;
}


.tab-section-tabbed-panel .tab-bar{
    padding: 0;
    display: block;
}
.tab-section-tabbed-panel .tab-bar{
    padding: 0;
    display: inline;
}

.tab-section-tabbed-panel .tab-details{
    box-shadow: none;
    border-top: 2px solid #4282be;
    margin: 0px 0 0 0;
    padding: 15px 8px 0;
    border: solid 1px #e3e3e3;
    overflow: hidden;
}

.blank_container {
    display: inline-block;
    width: 100%;
    padding:0 20px 20px 0px;
}

.card-block-inner.box-shadow{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.heading-control{
    /*border-bottom: solid 1px #aeaeae;*/
    padding-bottom: 15px;
    padding-top: 6px;
    margin-bottom: 8px;
    position: relative;
}
.heading-control h2{
    font-size: 18px;
    color: #494949;
    line-height: 17px;
    letter-spacing: 0.80px;
    padding: 0px;
    margin: 0px;
}
.paragraph{
    margin-bottom: 0;
}
/*
.input_box .selected{
background: #e3e3e3;
}
*/
.module_row{
    border-bottom: solid 1px #e3e3e3;
}

.emp_lifecycle_table .table.document-table tbody .menu_group td{
    background: #EBEBEB !important;
}
.emp_lifecycle_table .table.document-table tbody .menu_group .menu_group_name{
    text-transform: uppercase;
    color: #000 !important;
}
.emp_lifecycle_table .table.document-table tbody tr td.module_name{
    /*background: #fff !important;
    border-top: solid 0px #fff !important;
    border-bottom: solid 0px #fff !important;*/
    border-right: solid 1px #e3e3e3 !important;
    font-weight: bold !important;
    color: #4282be !important;
    vertical-align: top!important;
}

.emp_lifecycle_table .table.document-table tbody tr:hover .module_name{
    background: #fff !important;
}
.emp_lifecycle_table .table.document-table tbody tr td.module_name .material-icons{
    color: #000;
    line-height: 18px;
    padding: 0 0 2px 0;
}

.emp_lifecycle_table .table-responsive tbody > tr.active td, .emp_lifecycle_table .table-responsive tbody > tr:hover td, .emp_lifecycle_table .table-responsive tbody > tr:hover td .content-click, .emp_lifecycle_table .table-responsive tbody > tr:hover td a{
    color: #777 !important;
    font-weight: auto !important;
}
.emp_lifecycle_table .table-responsive tbody > tr:hover td {
    background: #fff !important;
}
.emp_lifecycle_table .table-responsive tbody > tr:hover .blue_link{
    color: #6da4d8 !important;
}

.emp_lifecycle_table .table.document-table tbody td {
    border-bottom:1px solid #e3e3e3;
}
.emp_lifecycle_table .table.document-table tbody td table tr:last-child td{
    border-bottom:0px solid #e3e3e3;
}

.module_row td{
    border-bottom: solid 1px #e3e3e3;
}
.module_row tr:last-child td{
    border-bottom: solid 0px #e3e3e3;
}
.module_input{
    border: solid 0px #4282be;
    border-bottom: solid 1px #4282be;
    color: #777;
    font-weight: normal;
    width: 70%;
    padding: 3px 4px;
}
.menu_group .module_input{
    background: #ebebeb;
}
.module_name .module_input{
    background: #fff;
}
.insert_icon{
    color: #777;
    font-size: 16px !important;
    padding: 0 0 2px 0;
}
.insert_options a{
    margin: 0 15px 0 0;
}


.menu_level_1{padding-left: 28px !important;}
.menu_level_2{padding-left: 48px !important;}
.menu_level_3{padding-left: 68px !important;}
.menu_level_4{padding-left: 88px !important;}


.emp_lifecycle_table .group_btn{
    padding: 10px 0 20px;
}
.module_action{
    position: relative;
}
.module_action .dropdown-menu .divider{
    margin: 0;
}
.module_action .menu-style-3 ul li a{
    margin: 0;
    display: block;
}

.module-action-style{
    padding: 0px 0 !important;
    border-radius: 5px;
    overflow: hidden;
}
.selected_actions{
    float: right;
}
.selected_actions .material-icons{
    font-size: 16px !important;
    color: #6da4d8;
}
.attach_icon{
    max-height: 30px;
    margin: -2px 0 0 0;
    font-size: 26px !important;
}
.module_move{
    height: 16px;
    /*cursor: move;*/
}
.add_menu_group{
    display: none;
}
.add_menu{
    display: none;
}


.form_content .left_panel.without_right_panel .panel-full {
    padding-right: 0;
}
.form_content .left_panel.without_right_panel .blank_container {
    padding-right: 0;
}
/*
.form_content .left_panel.without_right_panel .blank_container .input_box{
padding-right: 15px;
}
*/
.panel-full.panel-50{
    width: 49%;
    display: inline-block;
}
.panel-full.panel-50 .input_box{
    width: 50%;
    /*padding-right: 0;*/
}
.panel-full.panel-50 .input_box:nth-child(3n+1){
    clear: none;
}
.panel-full.panel-50 .input_box:nth-child(2n+1){
    clear: both;
}


.full_box{
    /*padding: 15px;*/
    padding: 0;
    margin: 0 0 0px 0;
    float: left;
    width: 100%;
    clear: both;
    /*cursor: move;*/
}
.left_panel .full_box .form-group .control-label{
    /*cursor: move;*/
}
.left_panel .full_box .form-group{
    margin: 0;
    /*
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #fff;
    float: left;
    width: 100%;
    transition: all 0.5s ease;
    */
}
.left_panel .full_box:hover{

    /*background: #ddd;*/
    /*
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #d7d7d7;*/
}
.left_panel .full_box .actions {
    display: none;
    height: 16px;
    transition: width 2s linear 1s;
}
.left_panel .full_box:hover .actions{
    display: block;
}
.left_panel .full_box .form-group .control-label{
    line-height: 16px;
}
.left_panel .input_box .form-group .progress, .left_panel .full_box .form-group .progress{
    margin-bottom: 5px;
}


.table-download.hover-bg-none .table.document-table tbody tr:hover td{
    background: #fff;
}
.panel-heading .actions{
    padding: 3px 0 0 0;
    display: none;
}
.panel:hover .panel-heading .actions{
    display: block;
}
.sidebar_arrow{
    float: right;
    padding: 0px 0;
    margin: 0 0 0 -30px;
    top: 75px;
    position: fixed;
    width: 30px;
    height: 30px;
}
.sidebar_arrow .material-icons{
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 1.3;
    color:#ffffff;
    cursor: pointer;
    background: #4282be;
    /*border-top-left-radius: 4px;*/
    line-height: 28px;
}
.hide_sidebar_text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 90px;
    height: 30px;
    display: block;
    position: relative;
    margin: 28px 0 0 -30px;
    padding: 0px 0px 0 0px;
    line-height: 28px;
    background: #fff;
    text-align: center;
    /*display:none;*/
    transition: all 0.3s ease;
    border-top-left-radius:4px;
}
.hide_controls:hover .hide_sidebar_text {
    display: block;
}
.show_controls{
    /*display:none;*/
}
.show_controls:hover .hide_sidebar_text {
    display: block;
}

.sidebar_heading{
    /*background: #494949;*/
    font-family: 'DIN Regular';
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    padding: 15px 5px 7px;
    margin: 0;
}
.setting-listing{
    clear: both;
}
.setting-listing li{
    padding: 15px 10px 0px;
    width: 100%;
    float: left;
}
.setting-listing li .form-group{
    margin-bottom: 0;
}
.setting-listing li .form-group .control-label{
    color: #fff;
}
.setting-listing li .form-group .radio, .setting-listing li .form-group .checkbox{
    margin-top: 0px;
    margin-bottom: 0px;
}
.setting-listing li .form-group textarea{
    height: 70px;
    resize: none;
}

.setting-listing li .form-group .bootstrap-select.btn-group .dropdown-menu li{
    padding: 0;
}



.left_panel .input_box.selected{

    background: #4282be1c;
    border: solid 1px #4282be54;
    box-shadow: 0px 0px 3px 1px #4282be7a;
    /*margin: 0;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #e0c91c;*/
}
.left_panel .input_box.selected .form-control, .left_panel .input_box.selected .dropdown-11 .btn.dropdown-toggle, .left_panel .input_box.selected .form-control.dropdown-calendar{
    background: #fff;
    border: solid 1px #e0c91c;
}
.left_panel .input_box.selected .actions{
    display: block;
}
.left_panel .input_box.selected .form-control.dropdown-calendar .input-item.form-control{
    border: none;
}
.left_panel .full_box.selected{
   background: #4282be1c;
    border: solid 1px #4282be54;
    /*
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    */    
}
.panel.selected .panel-heading .actions{
    display: block;
}


.left_panel .full_box.selected .actions{
    display: block;
}
.border-panel{
    width: 100%;
    border: 1px dashed #ccc;
    background: #EAEAEA;
    /*padding: 0;
    margin: 0 0 20px 0;*/
    padding: 0 0 15px 0;
    margin: 0 0 0px 0;
    float: left;
    min-height: 100px;
}
/*
.border-panel .input_box .form-group{
background: none;
border-color: transparent;
}
.border-panel .full_box .form-group{
background: none;
border-color: transparent;
}
*/
.drop-here{
    background: transparent !important;
    border: dashed 1px #aaa !important;
    padding: 27px 0 !important;
    text-align: center;
    color: #aaa;
    border-radius: 7px;
}

.sub-tabs-head{
    float: left;
    width: 96%;
    padding: 25px 8px 0px 8px;
    margin: 0px 0 0;
    clear: both;
    list-style: none;
}
.sub-tabs-head .sub-tab{
    float: left;
    padding: 0;
    margin: 2px 2px;
    border: solid 1px #999999;
    border-radius: 4px;
    background: #494949;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sub-tabs-head .sub-tab a{
    padding: 5px 9px;
    color: #efefef;
    display: block;
}
.sub-tabs-head .sub-tab:hover{
    border: solid 1px #4282be;
    background: #4282be;
}
.sub-tabs-head .sub-tab.active{
    border: solid 1px #4282be;
    background: #4282be;
}
.options-block .icon-top-block{
    min-height: 35px !important;
}
.formline{
    float: left;
    width: 100%;
}

/*
.formline{
float: left;
width: 100%;
min-height: 40px;
display: -webkit-box;
position: relative;
border-bottom: dashed 1px #d6d6d6;
}
.formline .input_box{
display: block;
float: left;
width: 100%;
padding: 15px;
border-right: dashed 1px #d6d6d6;
cursor: move;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
position: relative;
}
.formline .input_box:last-child{
border-right: none;
}
*/

/*************************** forms page css end ***************************/

/*************************** attach form popup start ***************************/
.attach_form_click{

}
.alt-module-true {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1005;
    /*display:none;*/
}
.alt-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1009;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.attach-form-dialog {
    width: 800px;
    min-height: 380px;
    margin-left: -400px;
    margin-top: -270px;

}

.alt-modal .alt-modal-title {
    background: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    display: block;
    text-align:left;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
}
.alt-modal-body {
    padding: 20px;
    max-height: 510px;
    overflow-x: hidden;
    overflow-y: auto;
}
.alt-modal-close {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 13px;
    width:20px;
    height:20px;
    cursor: pointer;
}

.attach-form-dialog  .toggle-element{
    background: #fff;
}
/*************************** attach form popup end ***************************/
.right-sidebar .tab_widgets .content-block{
    padding: 0;
}
.right-sidebar .tab_widgets .content-block .sidebar_heading{
    padding: 15px 0px 7px;
    margin: 0px 10px 0px;
    border-bottom: dashed 1px #777;
    clear: both;
}
.right-sidebar .tab_widgets .content-block .list-reset{
    margin: 0 0 20px 0;
}
.sub-tab-content{
    /*display:none;*/
}
.open_tab{
    display: block;
}

.form-group .instruction{
    display: block;
    padding: 3px 0 0 3px;
}
.form-group .info-container{
    float: right;
    position: relative;
}
.form-group .info-icon{
    float: right;
    cursor: default;
    font-size: 16px;
    color: #a8a8a8;
    margin: 0 0 0 0;
}
.form-group .info-icon:hover{
    color: #777;
}
.form-group .info-icon-content{
    display: block;
    position: absolute;
    background: #333;
    border-radius: 5px;
    padding: 6px 10px;
    color: #fff;
    line-height: 14px;
    top: 10px;
    right: -66px;
    float: right;
    width: 150px;
    z-index: 9999;
    text-align: center;
}
.form-group .tooltip.bottom{
    margin-top: 0px !important;
    font-size: 11px;
}
.add_webservice{
    float: right;
    font-size: 16px !important;
    color: #fff;
    cursor: pointer;
}
.add_webservice .material-icons{
    font-size: 16px;
}
.add_webservice:hover{
    color: #ccc;
}
.add_service{
    margin-top: 15px;
}
.service_attribute{
    padding-top: 10px;
    clear: both;
}
.remaining{
    font-size: 10px;
    color: #ccc;
    float: right;
}
.button_write_backend{
    display: none;
}
.panel-body .panel_content{
    min-height: 50px;
}
.panel-body .panel_btn{
    float: right;
    padding: 15px 15px 15px 15px !important;
}
.full_box .form-group .group_btn{
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
.full_box:hover .form-group .group_btn, .full_box.selected .form-group .group_btn{
    height: 40px;
}

/*************************** Navigation dropdown css start ***************************/

.bar-navigation{
    float:left;
}
.bar-navigation>li{
    display:block;
    position:relative;
    float:left;
}
.bar-navigation li a{
    display:block;
    font-size:12px;
    color:#777777;
    padding:30px 19px 30px 19px;
    text-transform:uppercase;
    font-family: 'DIN Bold';
    -webkit-transition:none;
    transition:none;
    line-height: 1.17;
    letter-spacing: 0.5px;
    float:left;
    max-height: 75px;
    cursor: pointer;
}
.bar-navigation .md24{
    margin-left:6px;	 
}
.bar-navigation li.open a,
.bar-navigation li.open a:focus ,
.bar-navigation li.open a:active,
.bar-navigation li.open a.active{
    background-color:#fff;	
    position:relative;
    z-index:103;
    -webkit-box-shadow: 0 -18px 16px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 -18px 16px 0 rgba(0, 0, 0, 0.18);
}
.navigation .dropdown-menu{
    background-color:#fff;
    border-radius:0px 0px 4px 4px;
    border:none;
    overflow:hidden;
    min-width:144px;
    z-index:101;	
    -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);	
}
.navigation .menu-icon{
    display:none;
}
.navigation .dropdown-menu li{
    float:none;	
}
.navigation .dropdown-menu li a{
    padding:13px 20px;	
    font-size:12px;
    color:#777777;
    display:block;
    box-shadow:0px 0px 0px;
    font-family:'DIN Regular';
    text-transform:capitalize;
    float:none;
}
.navigation .dropdown-menu li:last-child a{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
} 
.navigation li.active a{
    color:#4282be;
}
.navigation li.active.open a{
    color:#777777;
}
.navigation li.dropdown-menu-1 a{
    min-width:144px;
}
.navigation li.dropdown-menu-1 .dropdown-menu{
    min-width:144px;
}
.navigation .dropdown-menu-2 .dropdown-menu{
    border-radius:0px 4px 4px 4px;
}
.navigation .dropdown-menu-2 .dropdown-menu li:first-child a{
    border-top-right-radius: 5px;
}
.navigation li.dropdown-menu-3 a{
    min-width:145px;
}
.navigation li.dropdown-menu-3 .dropdown-menu{
    min-width:145px;
}
.navigation .bar-navigation .dropdown-menu li:hover a, 
.navigation .bar-navigation .dropdown-menu li:focus a ,
.navigation .bar-navigation .dropdown-menu li:active a ,
.navigation .bar-navigation .dropdown-menu li.active a{
    background-color:#f5f5f5;
    color:#4282be;
    font-family:'DIN Regular';
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.navigation .open .mdi-chevron-down:before {
    content: "\F143";
}
.bar-navigation li.nav-mobile{
    display:none;
}



.bar-navigation li.open > a,
.bar-navigation li.alt-dropdown:hover > a,
.bar-navigation li.open > a:focus ,
.bar-navigation li.open > a:active,
.bar-navigation li.open > a.active{
    background-color:#fff;	
    position:relative;
    z-index:103;
    -webkit-box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.18);
}
.alt-dropdown > a {
    position: relative;
}
.alt-dropdown:hover > a:after {
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background: #fff;
}
.alt-side-menu, .alt-side-menu .alt-side-menu, .alt-dropdown-menu {
    display: none;
}
.alt-sub-menu li:hover > .alt-side-menu {
    display: block;
    position: fixed;
    margin-left: 244px;
    width:200px;
}
.alt-side-menu li:hover .alt-side-menu {
    margin-left: 200px;
}
.alt-dropdown-menu, .alt-side-menu {
    background-color:#fff;
    border-radius: 6px;
    border:none;
    padding: 10px 0;
    z-index:101;	
    -webkit-box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.18); 
}
.navigation .alt-dropdown:hover .alt-dropdown-menu {
    position: absolute;
    display: block;
    top:75px;
    left: 0;
    /*overflow: hidden;*/
    width:244px;
}
.site-header-fixed {
    padding-top: 75px;
}
.site-header-fixed .site-header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
}
.alt-menu-scroller {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-scroller-bottom {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0px;
    padding: 20px 10px 5px 10px;
    height: 50px;
    text-align: right;
    background: linear-gradient(to top, rgba(255,255,255,1) 30%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.9) 61%,rgba(255,255,255,0.6) 76%,rgba(255,255,255,0) 100%);
}
.dropdown-scroller-top {
    position: absolute;
    display: none;
    width: 100%;
    top: 0px;
    padding: 5px 10px 20px 10px;
    height: 50px;
    z-index: 99;
    text-align: right;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.9) 61%,rgba(255,255,255,0.6) 76%,rgba(255,255,255,0) 100%);

}
.dropdown-scroller-bottom .material-icons, .dropdown-scroller-top .material-icons {
    font-size: 30px;
    height: 24px;
    cursor: pointer;
}

.navigation .alt-dropdown-menu.alt-dropdown-menu-fixed .dropdown-scroller-bottom {
    display: block;
}
.navigation .alt-dropdown-menu .alt-sub-menu li > .alt-sub-menu {
    border:none;
}
.navigation .alt-dropdown-menu .alt-sub-menu li > .alt-sub-menu li a {
    padding-left: 30px;
    font-size: 13px;
}
.corner_bottom_right_none {
    border-bottom-right-radius: 0px !important;
}
.mdi20 {
    font-size: 17px;
}
.header-right .material-icons, .header-right .mdi {
    color: #4282be;
}
.last_login_info {
    text-align: center;
    color: #494949;
    font-size: 10px;
    line-height: 20px;
}
.navigation .alt-dropdown-menu li {
    display: block;
    clear: both;
    position: relative;
}
.navigation .alt-dropdown-menu li.submenu_title {
    padding:10px 20px 10px 40px;
    color: #4282be;
    text-transform: uppercase;
    font-family: 'DIN Bold';
}
.alt-dropdown-menu .alt-sub-menu li a{
    display:block;
    font-size:14px;
    color:#757575;
    padding:7px 20px 7px 40px;
    text-transform:none;
    font-family: 'DIN Regular';
    -webkit-transition:none;
    transition:none;
    line-height: 1.17;
    letter-spacing: 0.5px;
}
.alt-side-menu .alt-sub-menu li a{

    padding:7px 20px 7px 20px;
}
.navigation .alt-dropdown-menu .alt-sub-menu {
    display:block;
}
.navigation .alt-dropdown-menu .alt-sub-menu li:hover > a {
    background: #dadada;
}
.navigation .alt-dropdown-menu .alt-sub-menu li a {
    text-transform:none;
    box-shadow: none;
    display: block;
    width: 100%;
}
.navigation .alt-dropdown-menu .alt-sub-menu li {
    box-shadow: none;
    display: block;
    width: 100%;
}
.navigation .alt-dropdown-menu .alt-sub-menu:first-child {
    border-left: none;
}
.alt-dropdown.moreModules .material-icons {
    line-height: 15px;
}

.table_files_list .checkbox{
    float: left;
}
.table_files_list .material-icons{
    font-size: 16px;
    color: #ccc;
    float: right;
    cursor: pointer;
    margin: 1px 0 0 2px;
}
.table_files_list .material-icons:hover{
    color: #fff;
}
.hyperlink_textbox{
    /*display:none;*/
}
.select_tableData{
    /*display:none;*/
}
.show_new_table{
    display: block;
}
.select_tableData .list-reset, .select_table_rule .list-reset{
    margin: 0 !important;
}
.table_fields, .table_rule_fields{
    margin: 0 0 10px 0;
    /*display:none;*/
}
.add_new_table, .add_new_rule{
    margin: 8px 10px 0;
    text-align: right;
}
.add_new_table a, .add_new_rule a{
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    cursor: pointer;
}
.add_new_table a:hover, .add_new_rule a:hover{
    color: #ccc;
}
.add_new_table .material-icons, .add_new_rule .material-icons{
    font-size: 14px;
    line-height: 16px;
    vertical-align: bottom;
}
.table_backend{
    /*display:none;*/
}
.rule_half_input{
    width: 44%;
    display: inline-block;
}
.rule_mid_text{
    width: 12%;
    float: left;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
#add_rule_2{
    /*display:none;*/
}
.rule_dailog{
    
}
.rule_dailog_footer{
    width: 100%;
    text-align: right;
}
.rule_fields ul{
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    border-bottom: dashed 1px #ccc;
    float: left;
    width: 100%;
}
.rule_fields ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
}
.rule_fields ul li label{
    width: 30%;
    float: left;
    margin: 0;
    padding: 4px 15px 0 0;
    text-align: right;
    font-family: 'DIN Regular';
    font-size: 14px;
    color: #494949;
}
.rule_fields ul li .form-group{
    width: 70%;
    float: left;
}
.rule_text{
    padding: 4px 0 0 0;
    margin: 0;
}
.rule_fields ul li .form-group .rule_half_input{
    width: 46%;
    display: inline-block;
}
.rule_fields ul li .form-group .rule_mid_text{
    width: 8%;
    color: #494949;
    text-align: center;
}
.rule_fields ul li .form-group textarea{
    height: 80px;
    resize: none;
}

.rule_fields .new_rule_add, .rule_fields .new_case_add{
    width: 100%;
    float: right;
    text-align: right;
    margin: 0px 0 15px 0;
}
.rule_fields .new_rule_add a, .rule_fields .new_case_add a{
    color: #494949;
    cursor: pointer;
}
.rule_fields .new_rule_add a:hover, .rule_fields .new_case_add a:hover{
    color: #4282be;
}
.rule_fields .new_rule_add a .material-icons, .rule_fields .new_case_add a .material-icons{
    font-size: 14px;
    line-height: 16px;
    vertical-align: bottom;
}
.rule_fields .new_case_add{
    margin: 0 0 15px;
}
#case_fields_2, #case_fields_4{
    /*display:none;*/
}
#new_rule_2{
    /*display:none;*/
}
.add_rule_btn{
    float: left;
    width: 100%;
    padding: 20px 10px 0;
}
.add_rule_btn button{
    background: none;
    border-radius: 5px;
    border: dashed 1px #fff;
    padding: 5px 10px;
    margin: 0;
    color: #fff;
    line-height: 14px;
}
.add_rule_btn .material-icons{
        font-size: 14px;
    vertical-align: middle;
    line-height: 14px;
    padding: 0px 0 1px 0;
}
.rule_list{
    width: 100%;
    float: left;
    padding: 10px;
}
.rule_list ul{
    width: 100%;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
.rule_list ul li{
    width: 100%;
    float: left;
    padding: 9px 0;
    font-size: 12px;
    color: #ccc;
    line-height: 18px;
    border-bottom: dashed 1px #777;
}
.rule_list ul li:hover{
    color: #ddd;
    border-bottom: dashed 1px #ddd;
}

.rule_edit_icon, .rule_delete_icon{
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin: 0 0 0 3px;
}
.rule_edit_icon:hover, .rule_delete_icon:hover{
    color: #fff;
}

.left_panel .full_box .input-group.search-block, .left_panel .full_box .input-group.search-block .form-control{
    /*background: #f5f5f5;
    border-color: #f5f5f5 !important;*/
}
.alt-modal-body .form_content {
    margin: 0;
    background: #fff;
}
.alt-modal-body .border-panel {
    margin: 0;
}
.alt-modal-body .panel-body {
    padding: 0 0 15px;
}
.alt-modal-body .full_box{
    padding: 0;
}
.alt-modal-body .panel-body .panel_content{
    min-height: 50px;
}

.panel .form-control{
    background: #fff;
    border: solid 1px #d7d7d7;
}
.card-3.search-block-section .search-block{
    background: #fff;
    border: solid 1px #d7d7d7;
}


/*************************** Navigation dropdown css end ***************************/

@media (max-width:1023px){
    .panel-full.panel-50{width: 100%;}
    .alt_one_form .form-group .form-control, .alt_one_form .form-group .dropdown-11, .alt_one_form .form-group .checkbox{
        margin-bottom: 13px;
    }

    .layout_4_col .input_box{
        width: 50%;
    }


    .layout_3_col .input_box{
        width: 50%;
    }
    .layout_3_col .input_box:nth-child(3n+1){
        clear: none;
    }
    .layout_3_col .input_box:nth-child(2n+1){
        clear: both;
    }

}

@media (max-width:767px) {
    .tab-section-tabbed-panel .tab-bar ul li a{width: auto;font-size: 12px;padding: 18px 12px 0;}
    .document_table .table-download.table-outer{
        max-width: 100%;
    }
    .document_table .table-responsive{
        overflow-y: auto;
        z-index: 0;
        position: relative;
    }
    .content-click{
        width: 250px;
    }
    .alt_one_form .popup-small{
        width: 290px !important;
    }

    .navigation{
        padding-top: 10px !important;
    }

    .form_content .left_panel{
        display: block;
        width: 100%;
    }
    .form_content .right_panel{
        display: block;
        width: 100%;
    }
    .form_content .left_panel .panel-full{
        padding: 0 0px 10px 0;
    }
    .blank_container{
        padding: 0 0px 20px 0;
    }

}
@media (max-width:480px) { 
    .layout_4_col .input_box{
        width: 100%!important;
    }
    .panel-full.panel-50 .input_box{width:100%!important;}
}
